@use 'scss/colors';
@use 'scss/breakpoints';
@use 'scss/z-indexes';

.root {
  // make it appear above everything
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // rest of the styles
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: colors.$kobo-light-storm;
}

.top {
  width: 100%;
  background-color: colors.$kobo-white;
  z-index: z-indexes.$z-processing-top;
  box-shadow: 0 1px 0 colors.$kobo-light-storm;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom {
  overflow-y: auto;
  width: 100%;
  flex: 1;
  padding-top: 0; // This needs to be 0 for sticky scroll elements
  padding-bottom: 12px;
}

@include breakpoints.breakpoint(veryNarrow) {
  .top {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include breakpoints.breakpoint(narrow) {
  .bottom {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@include breakpoints.breakpoint(narrowAndUp) {
  .top {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@include breakpoints.breakpoint(mediumAndUp) {
  .bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 60px;
    padding-right: 60px;
  }

  .bottomLeft {
    flex: 61;
    max-width: 60vw; // ensure very long words don't murder the UI
    margin-right: 16px;
  }

  .bottomRight {
    flex: 39;
    min-width: 30vw; // ensure very long words don't murder the UI
    // used for details
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
