@use "scss/_colors";
@use "scss/sizes";
@use "./singleProcessingVariables";

.single-processing-submission-details {
  padding-top: singleProcessingVariables.$s-single-processing-tabs;
  display: flex;
  flex-direction: column;
}

.single-processing-submission-details__media-wrapper {
  background-color: colors.$kobo-white;
  border-radius: sizes.$x6;
  margin-bottom: sizes.$x20;
  // right padding is for the audio player to appear centered
  padding: sizes.$x6 sizes.$x12 0 0;
}
