@use "scss/_colors";
@use "scss/sizes";
@use "./singleProcessingVariables";

.single-processing-media-wrapper {
  background-color: colors.$kobo-white;
  border-radius: sizes.$x6;
  // right padding is for the audio player to appear centered
  padding: sizes.$x6 sizes.$x12 0 0;

  &:first-child {
    margin-top: singleProcessingVariables.$s-single-processing-tabs;
  }

  &:not(:first-child) {
    margin-top: sizes.$x20;
  }
}

.single-processing-data-list-wrapper {
  flex: 1;
  overflow-y: auto;
  min-height: sizes.$x100;
  margin-top: sizes.$x20;
}
