@use 'scss/colors';
@use 'scss/sizes';
@use 'scss/mixins';
@use 'scss/breakpoints';

.root {
  @include mixins.centerRowFlex;
  height: 100%;
  color: colors.$kobo-gray-800;
  gap: 10px;
  min-height: 60px;
}

.submissions {
  @include mixins.centerRowFlex;
  gap: sizes.$x5;
}


@include breakpoints.breakpoint(veryNarrow) {
  .root {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .column.columnMain {
    width: 100%;
  }
}

@include breakpoints.breakpoint(narrowAndUp) {
  .submissions {
    font-size: sizes.$x18;
  }

  .count {
    margin-left: sizes.$x50;
  }

  .column.columnMain {
    flex: 1;

    // HACK: this ensures this element doesn't push other flex items off screen
    // when the content is too long.
    min-width: 0;
  }
}
