@use "scss/_colors";
@use "scss/sizes";
@use "scss/mixins";
@use "js/components/common/button";

.single-processing-header {
  @include mixins.centerRowFlex;
  color: colors.$kobo-gray-40;
  background-color: colors.$kobo-white;
}

.single-processing-header__type-icon {
  @include mixins.centerRowFlex;
  justify-content: center;
  color: colors.$kobo-white;
  background-color: colors.$kobo-teal;
  width: sizes.$x52;
  height: sizes.$x52;
  border-radius: sizes.$x8;

  .k-icon {
    font-size: sizes.$x24;
  }
}

.single-processing-header__count {
  font-size: sizes.$x16;
}

.single-processing-header__question {
  font-size: sizes.$x21;
  font-weight: 500;
  margin: sizes.$x4 0 0;
}

.single-processing-header__column {
  &.single-processing-header__column--icon {
    margin: sizes.$x12;
  }

  &.single-processing-header__column--main {
    flex: 1;
    margin: 0 sizes.$x12;
  }

  &.single-processing-header__column--navigation {
    @include mixins.centerRowFlex;
    margin-right: sizes.$x18;
  }
}

.single-processing-header__number {
  border-radius: sizes.$x8;
  height: button.$button-height-l;
  line-height: button.$button-height-l - (2 * sizes.$x1); // minus the border
  font-size: button.$button-font-l;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 sizes.$x6;
  min-width: button.$button-height-l;
  text-align: center;
  border-color: colors.$kobo-gray-92;
  cursor: default;
  border-width: sizes.$x1;
  border-style: solid;
}

.single-processing-header__column.single-processing-header__column--navigation {
  > *:not(:last-child) {
    margin-right: sizes.$x4;
  }
}
