@import "scss/_colors";

.single-processing-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.single-processing-content__tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .single-processing-content__tab {
    cursor: pointer;
    color: $kobo-gray-55;
    position: relative;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 0;

    &:not(:first-of-type) {
      margin-left: 42px;
    }

    &:hover {
      color: $kobo-gray-40;
    }

    &:active:not(.single-processing-content__tab--active) {
      transform: translateY(1px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 8px;
    }

    &.single-processing-content__tab--active {
      color: $kobo-gray-24;

      &::after {
        background-color: $kobo-teal;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.single-processing-content__body {
  background-color: $kobo-white;
  border-radius: 6px 6px 0 0;
  flex: 1;
}
