-r requirements.in

Fabric
coverage
coveralls
ipython==8.12.3 # Max supported version by Python 3.8
mock
model-bakery
mongomock
pytest
pytest-cov
pytest-django
pytest-env


# Kobocat
httmock
simplejson
