-r requirements.in

Fabric
coverage
coveralls
ddt
ipython
mock
model-bakery
mongomock
pytest
pytest-cov
pytest-django
pytest-env
pytest-xdist
freezegun

# KoboCAT
httmock
simplejson

# Formatter and linters
ruff
flake8
flake8-quotes
darker[isort]
