# File for use with `pip-compile`; see https://github.com/nvie/pip-tools
# https://github.com/bndr/pipreqs is a handy utility, too.

# Formpack
-e git+https://github.com/kobotoolbox/formpack.git@eb7d723eb2b54dbfd56a1c32d72e0008bbb29149#egg=formpack

# More up-to-date version of django-digest than PyPI seems to have.
# Also, python-digest is an unlisted dependency thereof.
python-digest==1.7
-e git+https://github.com/dimagi/django-digest@0eb1c921329dd187c343b61acfbec4e98450136e#egg=django_digest

# Regular PyPI packages
Django<1.9
Markdown
Pygments
amqp
anyjson
billiard
boto
boto3
celery>=4.0,<5.0
celery[redis]
dj-static
dj-database-url
django-braces
django-celery-beat
django-constance[database]
django-cors-headers
django-debug-toolbar==1.4 # DO NOT UPGRADE TO 1.6 WITHOUT TESTING!
django-extensions
django-jsonbfield
django-oauth-toolkit
django-registration-redux==1.3 # DO NOT UPGRADE TO 1.4 WITHOUT TESTING!
django-ses
django-toolbelt
django-webpack-loader
django-haystack
django-loginas==0.2.3
django-markdownx
django-markitup
django-mptt
django-reversion
django-taggit
django-storages
django-private-storage
djangorestframework
djangorestframework-xml
drf-extensions
gunicorn
jsonfield
kombu
lxml
mock
oauthlib
py-gfm
pymongo
python-dateutil
pytz
pyxform
requests
responses
shortuuid
six
sqlparse
static3
tabulate
unicodecsv
uWSGI
whitenoise
Whoosh==2.7.4
xlrd
xlwt

# These packages allow `requests` to support SNI
pyopenssl
ndg-httpsclient
pyasn1

# Force new version of redis
redis==3.2.0
