# File for use with `pip-compile`; see https://github.com/nvie/pip-tools
# https://github.com/bndr/pipreqs is a handy utility, too.

# formpack
git+https://github.com/kobotoolbox/formpack.git@6f0c7601625f6bf962008b518eab934ca0fdbd57#egg=formpack

# More up-to-date version of django-digest than PyPI seems to have.
# Also, python-digest is an unlisted dependency thereof.
git+https://github.com/dimagi/python-digest@5c94bb74516b977b60180ee832765c0695ff2b56#egg=python_digest
git+https://github.com/kobotoolbox/django-digest@3995226ed8e5bd1cb32c640aae970f8c104f6156#egg=django_digest

# ssrf protect
git+https://github.com/kobotoolbox/ssrf-protect@9b97d3f0fd8f737a38dd7a6b64efeffc03ab3cdd#egg=ssrf_protect

# django-dont-vary-on
# using a fork for django > 1.1.0 compatibility
git+https://github.com/trevoriancox/django-dont-vary-on.git@01a804122b7ddcdc22f50b40993f91c27b03bef6#egg=django-dont-vary-on

# Regular PyPI packages
Django>=4.2,<4.3
Markdown
Pygments
amqp
billiard
celery
celery[redis]
dict2xml
defusedxml
dj-static
dj-stripe
django-allauth>=65.11.2
django-allauth[mfa]
django-braces
django-celery-beat
django-constance<4  # temporary 20260226
django-cors-headers
django-csp<4  # temporary 20260226
django-debug-toolbar<5  # temporary 20260226
django-environ
django-filter<25  # temporary 20260226
django-import-export
django-import-export-celery
django-extensions<4  # temporary 20260226
django-oauth-toolkit<3  # temporary 20260226
django-organizations
django-redis<6  # temporary 20260226
django-storages[azure,boto3]
django-amazon-ses
django-webpack-loader
django-loginas
django-markdownx
django-prometheus

django-reversion<6  # temporary 20260226
django-taggit<6  # temporary 20260226
django-private-storage
djangorestframework
djangorestframework-xml
django-redis-sessions
django-request-cache
drf-extensions
flower
future
geojson-rewind
google-api-python-client
google-cloud-speech
google-cloud-storage<3  # temporary 20260226
google-cloud-translate
jsonfield
jsonschema
kombu
lxml<6  # temporary 20260226
more-itertools
oauthlib
objgraph
openpyxl
#py-gfm # Incompatible with markdown 3.x
pillow-heif<1  # temporary 20260226
psycopg
pymongo<4.11.0  # for compatibility with unmaintained mongomock; see https://github.com/mongomock/mongomock/issues/912
python-dateutil
pyxform==3.0.0
psutil
requests
regex
responses
shortuuid
sqlparse
static3
tabulate
ua-parser<1  # temporary 20260226
uWSGI
Werkzeug
xlrd
xlwt
xlutils
XlsxWriter

# These packages allow `requests` to support SNI
pyopenssl<25  # temporary 20260226
ndg-httpsclient
pyasn1

# This package is only needed for unit tests but MockBackend is loaded even on production environment
deepmerge<2  # temporary 20260226

# MFA
django-trench

# Sentry
sentry-sdk<2  # temporary 20260226

# Kobocat
django-guardian<3  # temporary 20260226
modilabs-python-utils
djangorestframework-csv
djangorestframework-jsonp
pandas<3  # temporary 20260226

# Api Documentation
drf-spectacular
