@use "scss/colors";

.content {
  padding: 0 24px;

  a {
    color: colors.$kobo-dark-blue;
    text-decoration: underline;
  }
}

.messageGreeting {
  margin-bottom: 20px;
}

.warningBanner {
  display: flex;
  background-color: colors.$kobo-light-red;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 1em;
  gap: 1em;
}

.modalBody {
  line-height: 24px;
  padding: 0 24px;
}
