@use 'scss/colors';
@use 'scss/breakpoints';

.limitBannerContainer {
  background-color: colors.$kobo-light-red;
  display: flex;
  padding: 0 2%;
  align-items: center;
  justify-content: flex-start;
  min-height: 75px;
  flex-shrink: 0;
  border-radius: 0.5em;
  margin: 2% 1% 0%;
}

.accountPage {
  margin: 0;
}

.warningBanner {
  background-color: colors.$kobo-light-amber;
}

.bannerContent {
  padding: 16px 2%;
}

.bannerContent p {
  margin: 0;
}

.bannerContent a {
  color: colors.$kobo-dark-blue;
}

.bannerLink {
  color: colors.$kobo-dark-blue;
  text-decoration: underline;
}

.bannerBtn {
  flex-shrink: 0;
  min-width: 100px !important;
  height: 32px;
  margin-inline: auto 0;
  font-weight: bold;
}

@include breakpoints.breakpoint(mediumAndUp) {
  .bannerBtn {
    min-width: 120px !important;
  }

  .bannerContent {
    padding: 16px 2%;
  }
}
