@use '~kobo-common/src/styles/colors';

.button {
  text-transform: uppercase;
  gap: 1rem;
  justify-content: center;

  & span {
    flex-shrink: 0;
  }
}

.consequences {
  background-color: colors.$kobo-light-red;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 1em 1em;
  gap: 1em;
}
