@use 'scss/colors';

.content a {
  color: colors.$kobo-dark-blue;
  text-decoration: underline;
}

.messageGreeting {
  margin-bottom: 20px;
}

.consequences {
  background-color: colors.$kobo-light-red;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 1em;
  gap: 1em;
}

.warningIcon {
  align-self: flex-start;
}
