// ==========================================================================
// Card settings tabs
// ==========================================================================

// TODO: this element might not be necessary

.card__settings {
  @extend %card-expansion;
}

.card--selectquestion__expansion {
  padding: 23px 10px 23px 60px;
}

//== ul.card__settings__tabs
.card__settings__tabs {
  float: left;
  width: 20%;
}

// note: this rule is only used with '@extend'
%card__settings__tabs__tab {
  padding: 6px 10px;
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
}

//== ul.card__settings__tabs li.card__settings__tabs__tab
// proposed: .card__settings__tabs__tab
.card__settings__tabs li {
  @extend %card__settings__tabs__tab;

  &.card__settings__tabs__tab--active {
    background: $kobo-gray-92;
    font-weight: 600;
  }
}

//== ul.card__settings__tabs li.card__settings__tabs__heading
// proposed: .card__settings__tabs__heading
.card__settings__tabs .heading {
  @extend %card__settings__tabs__tab;

  border-bottom: $thinBorderStyle;
  font-size: 13px;
  padding: 8px 10px;
  font-weight: 600;
  margin-bottom: 3px;

  .k-icon {
    color: $kobo-gray-40;
    margin-right: 5px;
    font-size: 21px;
    display: inline-block;
    vertical-align: -6px;
  }
}

.card__settings__content {
  padding: 20px 30px;
  margin-left: 20%;
  border-left: $thinBorderStyle;
  min-height: 152px;
}

.card__settings__fields {
  display: none;
  transition: height .3s;

  // Temporary
  &.card__settings__fields--active, &.active {
    display: block;
    transition: height .3s;
  }
}

.card__settings__fields__field {
  padding: 5px 0;

  > label {
    text-align: right;
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.2em;

    &.align-top {
      vertical-align: top;
      margin-top: 5px;
    }
  }

  input[type="text"] {
    width: 85%;
    background: inherit;
    border-width: 1px;
    border-color: $kobo-gray-92;
    border-style: solid;
    padding: 4px 10px;
    font-size: 15px;
    color: inherit;

    &:focus {
      border-color: $kobo-blue;
    }
  }

  .settings__input {
    width: 65%;
    display: inline-block;
    vertical-align: middle;

    input.text {
      display: inline-block;
    }
  }
}

.card__settings-close {
  background: $kobo-gray-65;
  position: absolute;
  right: 6px;
  top: 6px;
  color: $kobo-white;
  padding: 3px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;

  &:hover {
    background: $linkColor;
  }

  &:active {
    transform: translateY(1px);
  }
}

// ==========================================================================
// Overrides
// --------------------------------------------------------------------------

.card {
  .card__settings {
    display: none;
  }

  &.card--expanded-settings {
    .card__settings {
      display: block;
    }

    .card__buttons__button--settings {
      color: $kobo-gray-40;
      background-color: $kobo-gray-92;
    }
  }
}

// ==========================================================================
// HXL Tags
// ==========================================================================

.settings__hxl {
    background: $kobo-gray-96;
    display: table-row;
    .hxlTag {
      width: 120px;
    }

    .hxlAttrs {
      min-width: 200px;
      width: calc(100% - 124px);
    }

    .select2-container-multi {
        vertical-align: top;
        display: table-cell;
        border: 1px solid $kobo-gray-65;
        padding: 2px;

        .select2-choices {
            background-image: none !important;
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
            .select2-search-choice {
              border-radius: 5px;
              font-weight: normal;
              background: $kobo-gray-92;
              color: $kobo-gray-24;
              padding-left: 5px;
              padding-right: 18px;
              .select2-search-choice-close {
                left: auto;
                right: 3px;
                color: $kobo-gray-40;
                &:before {
                  content: '\00d7';
                }
              }
            }
            .select2-search-field input {
              padding-bottom: 2px;
              padding-top: 2px;
            }
            .select2-search-field input.select2-input {
              min-width: 100px;
            }
        }

    }
    .select2-container-multi.select2-container-disabled {
      .select2-choices .select2-search-choice {
        opacity: 0.5;
      }
    }
    .hxlAttrs.select2-container-multi {
        background: inherit;
        border-left: 0px;
    }
}
