// ==========================================================================
// Multiple choice cards
// ==========================================================================

.card--selectquestion__expansion {
  @extend %card-expansion;
}

.survey__row--selected {
  .card--selectquestion__expansion,
  .card__settings {
    border-left-color: $linkColor;
    border-right-color: $linkColor;
    border-bottom-color: $linkColor;
  }
}

// ==========================================================================
// Overrides
// ==========================================================================

.card--selectquestion {
  .row__multioptions {
    display: none;
  }

  &.card--expandedchoices {
    .row__multioptions {
      display: block;
    }
  }
}

.option-placeholder {
  height: 32px;
  margin-bottom: 10px;
  border: 2px solid $kobo-gray-65;
  border-radius: 4px;
  margin-right: 25px;
  margin-left: 5px;
}

// ==========================================================================
// Single/multiple select questions
// ==========================================================================

// .xlf-option-view BECOMES .multioptions__option
.multioptions__option {
  margin-bottom: 4px;
  margin-left: 4px;
  position: relative;

  div.editable-wrapper {
    font-weight: 600;
    border-radius: 5px;
    border: $thinBorderStyle;
    padding: 5px;
    font-size: 13px;
    display: inline-block;
    width: 72%;
    vertical-align: top;
    height: auto;
    position: relative;
    min-height: 18px;

    .list-view .ui-sortable.js-sortable-enabled & {
      cursor: move;
    }

    &:focus {
      border-color: lighten($kobo-blue, 10%);
      color: lighten($kobo-blue, 10%);
    }

    span {
      cursor: text;
    }

    .editable-input input {
      line-height: 1em;
      vertical-align: middle;
      margin-top: -3px;
    }
  }

  code {
    font-weight: 600;
    font-size: 11px;
    font-family: $font;
    background-color: $kobo-gray-92;
    padding: 2px;
    margin: 2px;
    width: 25%;
    text-align: left;
    display: inline-block;
    margin-left: 2%;
    overflow: hidden;

    label {
      display: inline-block;
      width: 40%;
      padding-left: 4px;
      color: $kobo-gray-40;
    }

    span {
      text-align: right;
      display: inline-block;
      float: right;
      width: 60%;
      padding-right: 4px;
      color: $kobo-gray-40;
      overflow-wrap: break-word;
      cursor: text;
    }

    .editable-unsaved {
      color: $linkColor;
    }

    input {
      text-align: right;
      display: inline-block;
      float: right;
      width: 60% !important;
      color: $linkColor;
      line-height: inherit;
      font-size: 11px;
    }
  }

  .k-icon.k-icon-trash {
    position: absolute;
    left: -20px;
    top: 8px;
    color: $kobo-red;
    font-size: 18px;
    cursor: pointer;
  }
}

.card__addoptions {
  position: relative;
}

.card__addoptions__layer {
  cursor: pointer !important;
  background: rgba($kobo-white, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1;
}
