.formbuilder-wrap.container {
  .container__fixed {
    display: none;
  }
}

.form__settings {
  border:2px solid #D9DDE1;
  float: left;
  background: white;
  width: 430px;
  height: auto;
  display: none;
  padding:20px;
  font-size: 13px;
  > label {
    font-weight: 600;
  }
  .editable-container .editable-input input {
    font-weight: normal;
  }
}

.btn--utility.active__settings {
    color: #5DB0EC;
}

// Probably should be somewhere global
span.poshytip {
  float: right;
  font-size: 15px;
  font-weight: 600;
  color: #8595A5;
  cursor: pointer;
  padding: 2px 4px;
}

.form__settings-meta__questions {
  border:2px solid #CCC;
  background: #F6F6F6;
  padding: 10px;
  margin-bottom: 15px;
  h4 {
    margin:0;
    padding-bottom: 5px;
    line-height: 1.1em;
  }
}

.settings__first-meta {
  margin-top: 15px;
  margin-bottom: 30px;
}
.form__settings__field {
  margin-bottom: 8px;
  select {
    width: 100%;
  }
}
.form__settings-formid {
  display: block;
  margin-bottom: 15px;
}

.form__settings-fields {
  @extend %incomplete;
  padding-bottom: 15px;
  label {
    font-weight: 600;
    display: inline-block;
    width: 120px;
    padding-bottom: 15px;
  }
  span.editable {
    border-bottom: 1px dashed gray;
  }
}

.form__settings-submission-url {
  @extend %incomplete;
  padding-bottom: 15px;
  label {
    font-weight: 600;
  }
}

.form__settings-public-key {
  @extend %incomplete;
  padding-bottom: 15px;
  label {
    font-weight: 600;
    display: inline-block;
    width: 120px;
    padding-bottom: 15px;
  }
  span.editable {
    border-bottom: 1px dashed gray;
  }
}
// legacy
.survey-header__options-table-title {
    margin-top: 0;
}

.survey-header__options-table {
    margin-bottom: 50px;
    font-size: 13px;

    tr {
        height: 65px;
    }

    tr:nth-of-type(2n) {
        background-color: rgba(255, 255, 255, 0.5);
    }

    td {
        padding-right: 10px;
        padding-left: 10px;
    }

    td:first-child {
        width: 140px;
    }

    td:nth-child(2) {
        width: 200px;
    }

    .editable-buttons {
        display: none;
    }
}

.survey-header__option {
    margin-right: 20px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 13px;
}
