.mandatory-setting {
  .mandatory-setting__row {
    // &.mandatory-setting__row--true {}
    // &.mandatory-setting__row--false {}
    &.mandatory-setting__row--custom {
      .text-box {
        margin-top: 5px;
        display: block;
      }

      .radio__input:not(:checked) ~ .text-box {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        margin-top: 0;
      }
    }
  }
}
