@use 'scss/_variables';
@use 'scss/stylesheets/partials/form_builder/_common';

.params-view__simple-wrapper {
  @extend %card-content !optional;

  .params-view {
    padding: 10px;

    .param-option {
      padding: 5px 10px;
      display: inline-block;
    }
  }
}

.params-view__settings-wrapper.card__settings__fields__field > label {
  vertical-align: top;
  margin-top: 2px;
}

.survey__row--selected {
  .params-view__simple-wrapper {
    border-left-color: variables.$linkColor;
    border-right-color: variables.$linkColor;
    border-bottom-color: variables.$linkColor;
  }
}

.card__settings__fields__field {
  .params-view {
    .param-option {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
