// ==========================================================================
// Add new question
// ==========================================================================

// .expanding-spacer-between-rows BECOMES .survey__row__spacer
.survey__row__spacer {
  position: relative;
  .line {
    height: 0px;
  }
}

.row__questiontypes {
  border: 1px solid $kobo-blue;
  padding: 0px;
  padding-top: 20px;
  background: $kobo-white;
  margin: 4px 0px;
}

.row__questiontypes__list {
  margin-top: 20px;
  border-top: 1px solid $kobo-blue;
  padding: 3px;
  position: relative;
  line-height: 20px;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba($kobo-white, 0);
    border-bottom-color: $kobo-white;
    border-width: 8px;
    margin-left: -8px;
  }
  &:before {
    border-color: rgba(217, 221, 225, 0);
    border-bottom-color: $kobo-blue-light;
    border-width: 11px;
    margin-left: -11px;
  }
}

.row__questiontypes__close {
  position: absolute;
  top: -3px;
  right: 1px;
  color: $kobo-gray-40;
  background: transparent;
  border: 0 none;
  font-family: $font;
  font-weight: 600;
  padding: 4px;
  line-height: 1em;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    color: $kobo-gray-24;
  }
}

.survey-editor--singlequestion .row__questiontypes__close {
  display: none;
}

input.row__questiontypes__new-question-name {
  border: 0;
  border-radius: 0px;
  font-weight: 600;
  padding: 0px 40px;
  min-width: 99%;
}

.row__questiontypes--namer {
  height: 68px;
  padding: 15px 10px;
  margin-bottom: 20px;
  form {
    input {
      width: 72%;
      padding: 9px;
      border: 1px solid $kobo-blue;
      font-size: 15px;
    }
    button {
      width: 25%;
      margin-left: 2%;
    }
    input, button {
      float: left;
    }
  }
}

// ==========================================================================
// The question type selector icon menu
// ==========================================================================

// .menu-row BECOMES .questiontypelist__row
.questiontypelist__row {
  width: 25%;
  padding-right: 1px;
  float: left;
}

// .menu-item BECOMES .questiontypelist__item
.questiontypelist__item {
  margin-bottom: 1px;
  padding: 10px 5px;
  font-size: 11px;
  font-family: $font;
  font-weight: 600;
  cursor: pointer;
  color: $kobo-gray-24;

  .k-icon {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: top;
  }

  &:hover {
    border-color: $cardInSortBorderColor;
    color: $cardInSortBorderColor;
  }
}

// Force hover through jQuery for arrow key navigation
.questiontypelist__item-force-hover {
  @include form-builder-focus();

  color: $cardInSortBorderColor;
}
