// ==========================================================================
// Skip logic
// ==========================================================================

.skiplogic__criterion {
  margin-bottom: 12px;
  position: relative;

  &.skiplogic__criterion--unspecified-question {
    .skiplogic__expressionselect {
      display: none;
    }
  }
}

.skiplogic__rowselect {
  width: 60%;
  margin-right: 2%;
  font-weight: normal;
}

.skiplogic__expressionselect {
  width: 10%;
  margin-right: 2%;
  font-weight: 600;
  color: $kobo-gray-24;
}

.skiplogic__expressionselect--no-response-value {
  width: 37%;
  margin-right: 0%;

  & + .skiplogic__responseval {
    display: none;
  }
}

.skiplogic__responseval-wrapper {
  display: inline;
}

input[type=text].skiplogic__responseval, select.skiplogic__responseval {
  width: 25%;
  font-weight: normal;
  display: inline-block;
  border-bottom: 1px solid $kobo-gray-65;
}

input[type=text].skiplogic__responseval {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $kobo-gray-65;
  padding: 1px;
  height: 30px;
  vertical-align: bottom;
}

div.skiplogic__responseval {
  display: inline-block;
  width: 25% !important;
}

.skiplogic__deletecriterion {
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 3px;
  right: -16px;
  color: $kobo-red;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    opacity: 1;
  }
}

.skiplogic__handcode-edit {
  width: 100%;
  min-height: 70px;
  padding: 6px;
  margin-top: 20px;
}

.skiplogic-handcode__cancel {
  background: none;
  border: medium none;
  color: $kobo-red;
  font-size: 21px;
  position: absolute;
  right: -21px;
  text-align: center;
  top: 18px;
  width: 18px;
  padding: 0;
  cursor: pointer;
}

.skiplogic__main {
  position: relative;

  .kobo-button {
    width: 100%;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.skiplogic__addnew {
  margin: 0;
  margin-top: 10px;
  height: 36px;
  min-width: 180px;
  display: inline-block;
}

select.skiplogic__delimselect {
  max-width: 350px;
  margin-top: 10px;
  background: transparent;
  border-radius: 0px !important;
  border: none;
  border-bottom: 1px solid $kobo-gray-65;
  padding: 4px 2px;
  font-size: 13px;
  font-weight: 400;
}

.constraint__editor {
  padding-top: 14px;
  position: relative;
}

// Select2 overrides for skip logic

.skiplogic__criterialist {
  .select2-container .select2-choice {
    border-bottom: 1px solid $kobo-gray-65;
  }

  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    border-bottom: 1px solid $kobo-gray-65;
    border-radius: 0px;
  }
}
