// ==========================================================================
// Survey header
// ==========================================================================

.survey-header {
    margin-bottom: 30px;
    background-color: $kobo-white;
    padding:20px 0px;
    padding-top: 70px;
    .container {
        transition:all .3s;
    }
}

//== h1.survey-header__title
.survey-header__title {
    margin-top: 0;
    input {
        font-size: 32px;
        min-height: 44px;
        padding:0px;
        border:none;
        font-weight: 600;
    }
}
