@font-face {
  font-family: 'k-icons';
  src: url("../fonts/k-icons.eot?70811610");
  src: url("../fonts/k-icons.eot?70811610#iefix") format("embedded-opentype"), url("../fonts/k-icons.woff2?70811610") format("woff2"), url("../fonts/k-icons.woff?70811610") format("woff"), url("../fonts/k-icons.ttf?70811610") format("truetype"), url("../fonts/k-icons.svg?70811610#k-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'k-icons';
    src: url('../font/k-icons.svg?70811610#k-icons') format('svg');
  }
}
*/

.k-icon {
  font-family: "k-icons";
  font-style: normal;
  font-weight: normal;
}

.k-icon:before,
[class^="k-icon-"]:before,
[class*=" k-icon-"]:before {
  font-family: "k-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-icon-alert:before { content: '\e81c'; } /* '' */
.k-icon-archived:before { content: '\e800'; } /* '' */
.k-icon-arrow-first:before { content: '\e81e'; } /* '' */
.k-icon-arrow-last:before { content: '\e83a'; } /* '' */
.k-icon-attach:before { content: '\e81a'; } /* '' */
.k-icon-camera:before { content: '\e83c'; } /* '' */
.k-icon-cascading:before { content: '\e837'; } /* '' */
.k-icon-clone:before { content: '\e836'; } /* '' */
.k-icon-close:before { content: '\e806'; } /* '' */
.k-icon-comment-reply:before { content: '\e83e'; } /* '' */
.k-icon-comment:before { content: '\e809'; } /* '' */
.k-icon-data-sync:before { content: '\e83f'; } /* '' */
.k-icon-date-and-time:before { content: '\e840'; } /* '' */
.k-icon-date:before { content: '\e841'; } /* '' */
.k-icon-deploy:before { content: '\e805'; } /* '' */
.k-icon-deployed:before { content: '\e824'; } /* '' */
.k-icon-download:before { content: '\e82c'; } /* '' */
.k-icon-drafts:before { content: '\e819'; } /* '' */
.k-icon-dropdown-arrow:before { content: '\e858'; } /* '' */
.k-icon-edit:before { content: '\e814'; } /* '' */
.k-icon-email:before { content: '\e808'; } /* '' */
.k-icon-expand:before { content: '\e811'; } /* '' */
.k-icon-folder-move-to:before { content: '\e818'; } /* '' */
.k-icon-folder-public:before { content: '\e812'; } /* '' */
.k-icon-folder-shared:before { content: '\e81b'; } /* '' */
.k-icon-folder:before { content: '\e822'; } /* '' */
.k-icon-follow:before { content: '\e80e'; } /* '' */
.k-icon-form-overview:before { content: '\e842'; } /* '' */
.k-icon-form:before { content: '\e82d'; } /* '' */
.k-icon-forms:before { content: '\e82f'; } /* '' */
.k-icon-github:before { content: '\e82b'; } /* '' */
.k-icon-globe:before { content: '\e81d'; } /* '' */
.k-icon-gps:before { content: '\e843'; } /* '' */
.k-icon-grid:before { content: '\e835'; } /* '' */
.k-icon-group:before { content: '\e828'; } /* '' */
.k-icon-heatmap:before { content: '\e844'; } /* '' */
.k-icon-help:before { content: '\e82a'; } /* '' */
.k-icon-inactive:before { content: '\e825'; } /* '' */
.k-icon-information:before { content: '\e845'; } /* '' */
.k-icon-instagram:before { content: '\e846'; } /* '' */
.k-icon-language:before { content: '\e80c'; } /* '' */
.k-icon-layer:before { content: '\e847'; } /* '' */
.k-icon-library:before { content: '\e816'; } /* '' */
.k-icon-link-anyone:before { content: '\e838'; } /* '' */
.k-icon-link-off:before { content: '\e839'; } /* '' */
.k-icon-link:before { content: '\e848'; } /* '' */
.k-icon-linkedin:before { content: '\e807'; } /* '' */
.k-icon-lock:before { content: '\e80f'; } /* '' */
.k-icon-logout:before { content: '\e817'; } /* '' */
.k-icon-map-view:before { content: '\e831'; } /* '' */
.k-icon-menu:before { content: '\e849'; } /* '' */
.k-icon-mobile-form:before { content: '\e84b'; } /* '' */
.k-icon-more:before { content: '\e820'; } /* '' */
.k-icon-next:before { content: '\e80a'; } /* '' */
.k-icon-notification:before { content: '\e827'; } /* '' */
.k-icon-number:before { content: '\e84c'; } /* '' */
.k-icon-photo-gallery:before { content: '\e829'; } /* '' */
.k-icon-pins:before { content: '\e84d'; } /* '' */
.k-icon-plus:before { content: '\e84e'; } /* '' */
.k-icon-prev:before { content: '\e80b'; } /* '' */
.k-icon-print:before { content: '\e802'; } /* '' */
.k-icon-projects:before { content: '\e833'; } /* '' */
.k-icon-public-collection:before { content: '\e84f'; } /* '' */
.k-icon-question:before { content: '\e81f'; } /* '' */
.k-icon-questions-block:before { content: '\e826'; } /* '' */
.k-icon-remove:before { content: '\e850'; } /* '' */
.k-icon-replace:before { content: '\e813'; } /* '' */
.k-icon-report-menu:before { content: '\e851'; } /* '' */
.k-icon-report:before { content: '\e804'; } /* '' */
.k-icon-restore:before { content: '\e852'; } /* '' */
.k-icon-search:before { content: '\e853'; } /* '' */
.k-icon-select-many:before { content: '\e854'; } /* '' */
.k-icon-select-one:before { content: '\e855'; } /* '' */
.k-icon-settings:before { content: '\e803'; } /* '' */
.k-icon-share:before { content: '\e821'; } /* '' */
.k-icon-subscribe:before { content: '\e810'; } /* '' */
.k-icon-table:before { content: '\e834'; } /* '' */
.k-icon-tag:before { content: '\e801'; } /* '' */
.k-icon-text:before { content: '\e857'; } /* '' */
.k-icon-time:before { content: '\e823'; } /* '' */
.k-icon-trash:before { content: '\e815'; } /* '' */
.k-icon-twitter:before { content: '\e80d'; } /* '' */
.k-icon-upload:before { content: '\e859'; } /* '' */
.k-icon-video:before { content: '\e85a'; } /* '' */
.k-icon-view-all:before { content: '\e82e'; } /* '' */
.k-icon-view:before { content: '\e830'; } /* '' */
.k-icon-webform:before { content: '\e85b'; } /* '' */
.k-icon-xls-file:before { content: '\e85c'; } /* '' */
.k-icon-xml-file:before { content: '\e85d'; } /* '' */
