.activityMessage {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.seeDetailsButton {
  background: transparent;
  border: none;
  color: var(--mantine-color-gray-1);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}
