@use 'scss/sizes';
@use 'scss/mixins';
@use 'scss/breakpoints';
@use 'scss/colors';

.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: colors.$kobo-white !important;

  .header {
    width: 100%;
    display: flex;
    gap: sizes.$x8;
    align-items: center;
    padding: 0 sizes.$x20;

    h1 {
      color: colors.$kobo-gray-800;
    }

    .header-actions {
      flex: 1;
      display: flex;
      gap: sizes.$x8;
      justify-content: flex-end;
    }

    .filter-select {
      width: sizes.$x150;
    }
  }

  .table-container {
    flex: 1;
    overflow: auto;
    padding: sizes.$x20;

    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    td {
      color: colors.$kobo-gray-700;
    }

    .event-description {
      display: flex;
      align-items: center;
      gap: sizes.$x8;
      font-size: sizes.$x14;

      .profile-picture {
        background: colors.$kobo-gray-800;
        border-radius: 50%;
        color: colors.$kobo-white;
        width: sizes.$x24;
        height: sizes.$x24;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .description {
        .who {
          font-style: normal;
          font-weight: bold;
        }

        .action {
          font-style: italic;
        }
      }

      .see-details {
        background: transparent;
        border: none;
        color: colors.$kobo-gray-900;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
