@use 'scss/_colors';
@use 'scss/sizes';
@use 'scss/libs/_mdl';

.root {
  margin-top: sizes.$x20;
  margin-bottom: sizes.$x60;
  padding-top: sizes.$x14;
  display: flex;
  border-top: sizes.$x1 solid;
  border-color: colors.$kobo-gray-92;
}

.titleSection {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  color: colors.$kobo-gray-40;
  font-weight: 600;
}

.bodySection {
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  label {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    input {
      font-family: mdl.$font_mono;
    }
  }
}

.optionsSection {
  // TODO: Not sure why this is needed for right align
  display: ruby;
  text-align: right;
  flex: 3;
}

.optionsSection > * {
  margin-left: 12px;
}
