{% load i18n %}
{% load strings %}
{% trans "Projects:" as projects_label %}

<p>{% trans "Dear" %} {{ username }},</p>

{% if transfers|length == 1 %}
  <p>{% blocktrans with asset_uid=transfers.0.asset_uid asset_name=transfers.0.asset_name  %}{{ sender_username }} ({{ sender_email }}) has requested to transfer ownership of the project <a href="{{ base_url }}/#/forms/{{ asset_uid }}/landing">{{ asset_name }}</a> to you.{% endblocktrans %}</p>

  <p>{% trans "Because you are part of a team, this project will be owned by the team, but you will retain the ability to manage project permissions. If you do not want the team to own this project, then don’t click on the link below." %}</p>

  <p>{% blocktrans %}
    If you accept the transfer:
    <ul>
      <li>All submissions, data storage, and transcription/translation usage for this project will count toward the team’s plan limits</li>
      <li>If you leave the team in the future, your account will still retain manage project permissions for this project</li>
    </ul>
    {% endblocktrans %}
  </p>
{% else %}
  <p>{% blocktrans %}{{ sender_username }} ({{ sender_email }}) has requested to transfer ownership of the following projects to you:{% endblocktrans %}
    <ul>
    {% for transfer in transfers %}
      <li><a href="{{ base_url }}/#/forms/{{ transfer.asset_uid }}/landing">{{ transfer.asset_name }}</a></li>
    {% endfor %}
    </ul>
  </p>

  <p>{% trans "Because you are part of a team, this project will be owned by the team, but you will retain the ability to manage project permissions. If you do not want the team to own this project, then don’t click on the link below." %}</p>

  <p>{% blocktrans %}
    If you accept the transfer:
    <ul>
      <li>All submissions, data storage, and transcription/translation usage for these projects will count toward the team’s plan limits</li>
    </ul>
    {% endblocktrans %}
  </p>
{% endif %}

<p>{% trans "If you are unsure, please contact the current owner." %}</p>

<p>{% blocktrans %}This transfer request will expire in {{ invite_expiry }} days.{% endblocktrans %}</p>

<p>{% blocktrans %}To respond to this transfer request, please use the following link: {{ base_url }}/#/projects/home?invite={{ invite_uid }}{% endblocktrans %}</p>

<p>
&nbsp;-&nbsp;KoboToolbox
</p>
