@use 'scss/mixins';
@use 'scss/sizes';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  @include mixins.centerRowFlex;
  gap: sizes.$x30;
  padding: sizes.$x30 sizes.$x30 sizes.$x40;
}
