## This is a comment.
## Each line is a file pattern followed by one or more owners.
## Last matching line wins.




## Default owner for all missed files by more specific matches below.
*                                   @magicznyleszek @noliveleger



################
#### Global section.
/.editorconfig                      @magicznyleszek
/.git-blame-ignore-revs             @magicznyleszek
/.gitattributes                     @magicznyleszek @noliveleger
/.gitignore                         @magicznyleszek @noliveleger
/dependabot.yml                     @magicznyleszek
/kpi.code-workspace                 @p2edwards
/LICENSE                            @jnm @tinok

## Translations
/.gitmodules                        @jamesrkiger
/.tx/                               @jamesrkiger




################
#### Frontend section.

# Default owner
/.storybook/                        @magicznyleszek
/jsapp/                             @magicznyleszek
/patches/                           @p2edwards
/static/                            @magicznyleszek
/static/js/                         @magicznyleszek @p2edwards
/test/                              @magicznyleszek @p2edwards
/webpack/                           @magicznyleszek @p2edwards
/.babelrc.json                      @magicznyleszek @p2edwards
/.browserslistrc                    @magicznyleszek @p2edwards
/.node-version                      @magicznyleszek @p2edwards
/.nvmrc                             @magicznyleszek @p2edwards
/.stylelintrc.js                    @magicznyleszek @p2edwards
/.swcrc                             @magicznyleszek @p2edwards
/.coffeelint.json                   @magicznyleszek @p2edwards
/biome.jsonc                        @jamesrkiger
/eslint.config.mjs                  @jamesrkiger
/package-lock.json                  @magicznyleszek @p2edwards
/package.json                       @magicznyleszek @p2edwards
/tsconfig.json                      @magicznyleszek @p2edwards

# Billing
/jsapp/js/account/                  @jamesrkiger
/jsapp/js/components/usageLimits    @jamesrkiger




################
#### Backend section

# Default owner
/dependencies/                      @noliveleger
/hub/                               @noliveleger
/hub/tests/                         @noliveleger
/kobo/                              @noliveleger
/kobo/apps/audit_log/               @rgraber
/kobo/apps/subsequences/            @Guitlle
/kpi/                               @noliveleger
/kpi/tests/                         @noliveleger
/.coveragerc                        @p2edwards
/.dockerignore                      @noliveleger
/format-python.sh                   @noliveleger
/manage.py                          @noliveleger
/pip-compile.sh                     @noliveleger
/pyproject.toml                     @noliveleger

# Django Static Templates, HTML, JS, CSS
/kobo/apps/accounts/templates/      @magicznyleszek @p2edwards @noliveleger
/kpi/templates/                     @magicznyleszek @p2edwards @noliveleger
/kpi/static/css/                    @magicznyleszek @p2edwards
_registration.scss                  @magicznyleszek @p2edwards




################
#### Infrastructure section

/docker/                            @olive-KTB @noliveleger
/scripts/                           @olive-KTB @noliveleger
/scripts/eslintBiome.mjs            @jamesrkiger
/scripts/*.js                       @magicznyleszek @p2edwards
/.github/                           @olive-KTB @noliveleger @magicznyleszek
/.github/workflows/npm-test.yml     @magicznyleszek @p2edwards
/.gitlab-ci.yml                     @olive-KTB
/Dockerfile                         @olive-KTB @noliveleger




################
#### Documentation section
/CODING_STYLE_BE.md                 @noliveleger
/CODING_STYLE_FE.md                 @jamesrkiger @magicznyleszek
/CONTRIBUTING.md                    @jamesrkiger @magicznyleszek @noliveleger
/README.md                          @jamesrkiger @jnm @magicznyleszek @noliveleger
/.github/CODEOWNERS                 @jamesrkiger @jnm @noliveleger @magicznyleszek
/.github/FUNDING.yml                @jamesrkiger @jnm @noliveleger @magicznyleszek
/.github/ISSUE_TEMPLATE.md          @jamesrkiger @jnm @noliveleger @magicznyleszek
/.github/PULL_REQUEST_TEMPLATE.md   @jamesrkiger @jnm @noliveleger @magicznyleszek


