@use 'scss/colors';

.modalBody {
  line-height: 24px;
  padding: 0 24px;

  p:first-of-type {
    margin-top: 0;
  }
}

.note {
  display: flex;
  padding: 12px;
  margin: 24px 0 0 0;
  background-color: colors.$kobo-light-blue;
  border-radius: 5px;
}

.note.declinedNote {
  margin-bottom: 30px;
}

.noteIcon {
  margin-right: 8px;
}

