@use '~kobo-common/src/styles/colors';
@use 'scss/breakpoints';

.header {
  font-size: 1.125em;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
}

.caption {
  text-align: start;
}

.table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1em;

  & td {
    padding-block: 0.5em;
    font-weight: 700;
    overflow: hidden;
  }
}

.row:first-child > td:not(:last-child) {
  border-top: 1px solid colors.$kobo-cloud;
}

.product,
.price {
  width: 40%;
}

.buy {
  width: max(20%, 40em);
}

@media screen and (min-width: breakpoints.$b1140) {
  .table {
    padding: 1em;
  }

  .product {
    width: 65%;
  }

  .price {
    width: auto;
  }

  .buy {
    width: 15%;
  }

  .table td:nth-child(2) {
    margin-inline-end: 10em;
  }
}
