{% extends "base_simple.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block head_scripts %}
  {% render_bundle 'app' 'js' %}
{% endblock %}

{% block head_stylesheets %}
  {% render_bundle 'app' 'css' %}
{% endblock %}

{% block body %}
  <div class="registration__bg">
    {% block language_selector %}{% endblock %}

    {% block content %}{% endblock %}

    {% if livereload_address %}
      <script src="{{livereload_address}}"></script>
    {% endif %}

    <div class="registration__footer">
      {% block background_credit %}
        {{ block.super }}
      {% endblock %}
    </div>
  </div>

  {% block extra_javascript %}{% endblock %}

  {% if google_analytics_token %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_token}}"></script>
    <!-- The rest of the setup is in main.es6 file -->
  {% endif %}
{% endblock %}
