<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% load static %}
    {% load render_bundle from webpack_loader %}
    {% include "global_t.html" %}
    {% render_bundle 'app' 'css' %}
    {% render_bundle 'app' 'js' %}
    {% render_bundle 'vendors' 'js' %}

<link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>KoBoToolbox {% block title %}{% endblock %}</title>
<meta name="description" content="KoBoToolbox is a free toolkit for collecting and managing data in challenging environments and is the most widely-used tool in humanitarian emergencies">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
<!-- iPhone + iPad icons -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
{% block head %}{% endblock %}
</head>
<body>
<div class="registration__bg">
{% block content %}{% endblock %}
{% if livereload_address %}
<script src="{{livereload_address}}"></script>
{% endif %}

{% load i18n %}
{% block foot %}
  <div class="registration__footer">
    <div class="registration__legal">
      {% if config.TERMS_OF_SERVICE_URL %}
      <a href="{{config.TERMS_OF_SERVICE_URL}}" target="_blank">{% trans "Terms and Conditions" %}</a>
      {% endif %}
      {% if config.PRIVACY_POLICY_URL %}
      <a href="{{config.PRIVACY_POLICY_URL}}" target="_blank">{% trans "Privacy Policy" %}</a>
      {% endif %}
    </div>
    {% block background_credit %}
      {{ block.super }}
    {% endblock %}
  </div>
{% endblock %}
</div>

{% include "global_t.html" %}

{% if google_analytics_token %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{google_analytics_token}}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
