{% load static %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <!-- Setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <!-- Title and description -->
    <title>KoboToolbox {% block title %}{% endblock %}</title>
    <meta name="description" content="KoboToolbox is a free toolkit for collecting and managing data in challenging environments and is the most widely-used tool in humanitarian emergencies">

    <!-- Icons -->
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#2095f3" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/kpi_simple.css' %}">

    {% block head %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
