<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<head lang="en">
    <meta charset="UTF-8">
    <title>kpi tests</title>
    <link rel="stylesheet" href="{% static 'mocha/mocha.css' %}"/>
</head>
<body>
    <div id="mocha"></div>
    <script src="{% static 'mocha/mocha.js' %}"></script>
    <script>mocha.setup('bdd')</script>
    {% render_bundle 'tests' 'js' %}
    <script>
        if (window.mochaPhantomJS) {
            mochaPhantomJS.run();
        } else {
            mocha.run();
        }
    </script>
</body>
</html>
