<!doctype html>
<html>
  <head>
    <title>Design System @ KoBoToolbox</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load render_bundle from webpack_loader %}
    {% load static %}

    <link rel="icon" href="{% static 'favicon.png' %}" />

    {% render_bundle 'app' 'css' %}
  </head>
  <body>
    {% block content %}
      <div id="design-system-app"></div>
    {% endblock content %}

    {% block footer %}
      <!-- Make Django's internationalization functionality available in client code. -->
      <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

      {% include "global_t.html" %}

      {% render_bundle 'app' 'js' %}
      {% render_bundle 'vendors' 'js' %}

    {% endblock footer %}
  </body>
</html>
