{% extends "base_simple.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block head_meta %}
  {# From the Django documentation: the `url` tag "Returns an absolute path reference (a URL without the domain name)" #}
  <meta name="kpi-root-path" content="{% url 'kpi-root' %}">
  {% if csrf_token %}
    <meta name="csrf-token" content="{{csrf_token}}">
  {% endif %}
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block head_scripts %}
  <script src="{% static 'js/redirect_obsolete_browsers.js' %}"></script>

  <!-- Sentry setup -->
  {% if sentry_js_dsn %}
    <meta name="sentry-dsn" content="{{ sentry_js_dsn }}">
  {% endif %}
{% endblock %}

{% block head_stylesheets %}
  {% render_bundle 'app' 'css' %}
{% endblock %}

{% block head_end %}
  <!-- Logo overrides -->
  {% if config.logo %}
    <style>
      .mdl-layout__header .header__logo {
        background-image: url('{{ config.logo }}') !important;
      }
    </style>
  {% endif %}
  {% if config.logo_small %}
    <style>
      @media screen and (width < 768px) {
        .mdl-layout__header .header__logo {
          background-image: url('{{ config.logo_small }}') !important;
        }
      }
    </style>
  {% endif %}
{% endblock %}

{% block body %}
  {# Here the `/jsapp/js/main.js` file will create and inject some HTML element, so that React SPA would render inside of it. #}

  {# We load the main js file here, not in the head, because we need the body element to exist in order to inject stuff into it with JS. #}
  {% render_bundle 'app' 'js' %}

  {% if google_analytics_token %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_token}}"></script>
    <!-- The rest of the GA setup is in `/jsapp/js/main.js` file -->
  {% endif %}

  <!-- Hubspot -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/21396257.js"></script>

{% endblock %}
