{% extends "base.html" %}

{%block head %}
  {% load static %}
  {% if config.login_background %}
  <style>
  .registration__bg {
    background: url("{{ config.login_background }}");
    background-size: cover;
    background-repeat: no-repeat;
  }
  </style>
  {% endif %}
{% endblock %}

{% block logo %}
    {% if dark_background %}
        <img src="{% static 'img/kobologo-light.svg' %}"/>
    {% elif config.logo %}
        <img src="{{ config.logo }}"/>
    {% else %}
        <img src="{% static 'img/kobologo.svg' %}"/>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
