root = true

# only apply to frontend files
[*.{es6,js,jsx,ts,tsx,coffee,scss,css,html}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
