{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "quotes": [ 1, "single" ],
    "no-undef": false,
    "no-console": false,
    "camelcase": false,
    "global-strict": false,
    "no-extra-semi": 1,
    "comma-dangle": 0,
    "no-underscore-dangle": false
  }
}
