export KPI_DATABASE_URL_DESTINATION=postgis://u:p@localhost:5432/koboform
export KC_DATABASE_URL_DESTINATION=postgis://u:p@localhost:5432/kobotoolbox
export DJANGO_SETTINGS_MODULE=kobo.settings.hittheroad
