Django==1.7.4
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.2.2
django-extensions==1.5.0
django-mptt==0.6.1
django-registration-redux==1.2
django-reversion==1.8.5
django-taggit==0.12.3
django-toolbelt==0.0.1
djangorestframework==3.1.1
jsonfield==1.0.3
gunicorn==19.2.1
Markdown==2.6
psycopg2==2.6
Pygments==2.0.2
python-dateutil==2.4.1
-e git+https://github.com/kobotoolbox/pyxform.git@master#egg=pyxform
requests==2.5.1
shortuuid==0.4.2
six==1.9.0
static3==0.5.1
unicodecsv==0.13.0
whitenoise==1.0.6
wsgiref==0.1.2
#Whoosh==2.7.0 # https://bitbucket.org/mchaput/whoosh/issues/386/keyerror-1l
https://bitbucket.org/kobojohn/whoosh/get/8a3b596c57fd.zip#egg=Whoosh
django-haystack==2.4.0
celery==3.1.18
django-cachebuster==0.2.1
django-ses==0.7.0
raven==5.5.0
django-markitup==2.2.2
django-oauth-toolkit==0.9.0
