@use 'js/components/common/icon';

.root {
  font-weight: 500;

  &[data-size='sm'] {
    min-width: 28px;
  }

  &[data-size='md'] {
    min-width: 32px;
  }

  &[data-size='lg'] {
    min-width: 38px;
  }

  &[data-disabled] {
    color: var(--button-color);
    background: var(--button-bg);
    opacity: 0.5;
    border: none;
  }

  &[data-variant='outline'] {
    &:active {
      background-color: var(--button-bg);
      border-color: var(--mantine-color-gray-5);
    }

    &[data-disabled] {
      border: 1px solid var(--mantine-color-gray-6);
    }
  }
}

.section {
  &[data-position='left'] {
    margin-inline-end: calc(var(--button-height) * 0.2);
  }

  &[data-position='right'] {
    margin-inline-start: calc(var(--button-height) * 0.2);
  }
}

.root:focus-visible {
  outline: var(--kobo-focus-ring);
  outline-offset: var(--kobo-focus-ring-offset);

  &[data-variant='danger'],
  &[data-variant='danger-secondary'],
  &[data-variant='danger-transparent'] {
    outline-color: var(--kobo-focus-ring-color-danger);
  }
}
