.root {
  width: var(--cb-size);
  height: var(--cb-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  color: var(--cb-color);

  &:hover:not(:disabled) {
    color: var(--cb-hover-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.root:focus-visible {
  outline: var(--kobo-focus-ring);
  outline-offset: var(--kobo-focus-ring-offset);
}
