.pill {
  background-color: var(--mantine-color-gray-7);

  /* Make pill sizes smaller in multi select */
  --pill-fz-md: var(--pill-fz-sm);
  --pill-height-md: var(--pill-height-sm);
}

.inputField::placeholder {
  color: var(--mantine-color-gray-4);
  opacity: 1;
}

/* With pills in the box the placeholder is not as needed, let's remove it to make more room */
.pillsList:has(.pill) .inputField::placeholder {
  color: transparent;
}
