.input:focus-within {
  box-shadow: 0 0 0 2px var(--mantine-color-blue-7);
}

.input {
  border-color: var(--mantine-color-gray-6);

  &::placeholder {
    color: var(--mantine-color-gray-3);
    opacity: 1;
  }
}

.controls {
  border-color: var(--mantine-color-gray-6);

  &::placeholder {
    color: var(--mantine-color-gray-3);
    opacity: 1;
  }
  z-index: -1;
}

.control {
  color: red;
}
