.label {
  padding-left: 6px;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-1);
}

.radio {
  cursor: pointer;
}

.radio:focus-visible {
  outline: var(--kobo-focus-ring);
  outline-offset: var(--kobo-focus-ring-offset);
}

.radio:disabled {
  background-color: var(--mantine-color-gray-7);
  border-color: var(--mantine-color-gray-3);
}
