.root,
.body,
.inner,
.label {
  cursor: pointer;
}

.label {
  padding-left: 6px;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-1);
}

.radio {
  cursor: pointer;
}

.radio:focus-visible {
  outline: var(--kobo-focus-ring);
  outline-offset: var(--kobo-focus-ring-offset);
}

.root[data-disabled],
.body[data-disabled],
.inner[data-disabled],
.radio[data-disabled],
.label[data-disabled] {
  cursor: not-allowed;
}

.input[data-disabled],
.input:disabled {
  background-color: var(--mantine-color-gray-8);
  border-color: var(--mantine-color-gray-5);
}

.icon[data-disabled] {
  color: var(--mantine-color-gray-4);
}

.label[data-disabled] {
  color: var(--mantine-color-gray-2);
  opacity: 1;
}
