.pill {
  background-color: var(--mantine-color-gray-6);
  border-radius: var(--mantine-radius-sm);
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-1);
}

.input {
  border-color: var(--mantine-color-gray-6);

  &::placeholder {
    color: var(--mantine-color-gray-3);
    opacity: 1;
  }
}

.input:has(input:disabled) {
  background-color: var(--mantine-color-gray-7);
  border-color: var(--mantine-color-gray-3);

  &::placeholder {
    color: var(--mantine-color-gray-2);
  }
}

.dropdown {
  border-color: transparent;
  box-shadow: 3px 3px 37px 0 var(--mantine-color-blue-8);
}

.option {
  &:hover {
    background-color: var(--mantine-color-gray-8);
  }
}
