.label {
  color: var(--mantine-color-gray-1);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 3px;
}

.input:focus-visible {
  box-shadow: 0 0 0 2px var(--mantine-color-blue-7);
}

.input::placeholder {
  color: var(--mantine-color-gray-3);
}

.input:disabled {
  background-color: var(--mantine-color-gray-7);
}
