@use 'scss/mixins';
@use 'scss/_colors';
@use 'scss/sizes';

.security-row {
  margin-bottom: sizes.$x60;

  .security-row__header {
    margin-top: sizes.$x20;
    padding-top: sizes.$x14;
    display: flex;
    align-items: baseline;
    column-gap: sizes.$x16;
    border-top: sizes.$x1 solid;
    border-color: colors.$kobo-gray-92;

    > * {
      margin: 0;
    }
  }

  .security-row__title {
    flex: 2;
    color: colors.$kobo-gray-40;
    font-weight: 600;
    line-height: 1.6;
  }

  .security-row__description {
    flex: 6;
    padding-left: sizes.$x16;
  }

  .security-row__switch {
    flex: 2;
    text-align: right;
  }

  .security-row__buttons {
    margin-right: sizes.$x20;

    .toggle-switch__wrapper {
      display: flex;
    }

    .toggle-switch__label {
      font-weight: 600;
      color: colors.$kobo-gray-40;
    }
  }
}

.mfa-options {
  .mfa-options__buttons {
    margin: sizes.$x14 0;
    padding: 0 sizes.$x14 0 sizes.$x28;
  }

  .mfa-options__row {
    @include mixins.centerRowFlex;

    margin: sizes.$x14 0;
    padding: 0 sizes.$x14 0 sizes.$x28;
    justify-content: space-between;
    background-color: colors.$kobo-gray-92;
  }

  .mfa-options__label {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: sizes.$x16;
  }
}
