{% extends "drf_spectacular/swagger_ui.html" %}
{%  load static %}

{% block head %}
  {{ block.super }}

{% endblock %}

{% block body %}
  {% csrf_token %}
  <div id="swagger-ui"
       data-schema-url="{{ data_schema_url }}"
       data-csrf-header-name="X-CSRFToken"
       data-swagger-settings="{{ data_swagger_ui_settings }}"
  ></div>
  <script src="{{ swagger_ui_bundle }}"></script>
  <script src="{{ swagger_ui_standalone }}"></script>
  <script src="{{ script_url }}"></script>
  <script src="{% static 'js/swagger/swagger-smart-search.js' %}"></script>
{% endblock %}
