@use 'scss/z-indexes';

// All variables are now in kobo.scss

// ==========================================================================
// General Styling
// ==========================================================================

// NOTE: className changes
// (In the html, css classes which are slated for removal are duped with '--depr')
//   .expanding-spacer-between-rows   ->  .survey__row__spacer
//   .add-row-btn                     ->  .btn--addrow
//   .row-extras                      ->  .card__settings
//   .group__carat                    ->  .group__caret
//   .menu-row                        ->  .questiontypelist__row
//   .menu-item                       ->  .questiontypelist__item


/*
This was previously a mix of few other legacy selectors:
- ui-panel
- ui-panel--fixed
- ui-panel--transparent
- ui-panel__body
Due to the fact that it was some very ancient code, and to avoid going too deep
into understanding it, I simply gathered the sum of the styles below:
*/
.form-builder-wrapper {
  z-index: z-indexes.$z-form-builder-wrapper;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  align-items: stretch;

  > .form-builder {
    box-sizing: border-box;
    flex-flow: column;
    margin: 0px !important;
    height: 100%;
  }
}

@import "../partials/form_builder/common";

@import "../partials/form_builder/survey_row";
@import "../partials/form_builder/row_questiontypes";
@import "../partials/form_builder/card";
@import "../partials/form_builder/card_settings";
@import "../partials/form_builder/card_multichoice";
@import "../partials/form_builder/group";
@import "../partials/form_builder/settings_skiplogic";
@import "../partials/form_builder/params_view";
@import "../partials/form_builder/mandatory_setting";
@import "../partials/form_builder/misc";
