@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.root {
  display: flex;
  align-items: flex-start;
  padding-bottom: sizes.$x12;
  padding-top: sizes.$x8;
  border-bottom: 1px solid colors.$kobo-gray-96;
}

.root > *:not(:last-child) {
  margin-right: sizes.$x8;
}
