@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.root {
  display: flex;
  padding-bottom: sizes.$x12;
  padding-top: sizes.$x8;
  border-bottom: 1px solid colors.$kobo-gray-96;
}

a {
  margin-left: sizes.$x8;
}
