@use 'scss/colors';

.form-builder-meta {
  .form-builder-meta__columns {
    display: flex;
    flex-direction: row;
  }

  .form-builder-meta__row {
    margin-top: 10px;
  }

  .form-builder-meta__row--background-audio {
    margin-top: 20px;

    .form-builder-aside__header {
      margin-bottom: 0;
    }

    .toggle-switch {
      margin-top: 10px;
    }

    label {
      font-weight: 500;
    }
  }

  .form-builder-meta__column {
    flex: 1;
    margin-right: 10px;

    .checkbox:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

.form-builder-meta__label-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  line-height: 1.4;

  &:hover {
    color: colors.$kobo-dark-blue;
  }
}
