@use 'scss/colors';
@use 'scss/sizes';

.root {
  width: 100%;
  font-size: 0.9em;
}

.title,
.bar {
  margin-bottom: sizes.$x10;
}

.bar {
  width: 100%;
  height: sizes.$x5;
  position: relative;
  box-shadow: inset 0 0 0 sizes.$x1 colors.$kobo-gray-500;

  .indicator {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.25s;
  }

  &[data-password-score='0'] {
    .indicator {
      width: 1%;
      background-color: colors.$kobo-mid-red;
    }
  }

  &[data-password-score='1'] {
    .indicator {
      width: 25%;
      background-color: colors.$kobo-mid-red;
    }
  }

  &[data-password-score='2'] {
    .indicator {
      width: 50%;
      background-color: colors.$kobo-amber;
    }
  }

  &[data-password-score='3'] {
    .indicator {
      width: 75%;
      background-color: colors.$kobo-green;
    }
  }

  &[data-password-score='4'] {
    .indicator {
      width: 100%;
      background-color: colors.$kobo-blue;
    }
  }
}

.message {
  &.messageWarning {
    color: colors.$kobo-mid-red;
  }
}

// reduce layout jumping while making password
.messages {
  height: sizes.$x80; // fits up to 4 lines of text
  transition: height 0.25s, margin-bottom 0.25s;
}

.messagesNone {
  height: sizes.$x2;
  margin-bottom: -1 * sizes.$x12;
  transition: height 0.25s, margin-bottom 0.25s;
}
