@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.usage {
  display: grid;
  grid: 1fr / auto-flow;
  width: 100%;
  margin-top: sizes.$x18;
  justify-content: space-between;
  align-items: center;
}

.usageRow {
  border-radius: sizes.$x6;
  padding: sizes.$x6;
  display: flex;
  gap: 0.25rem;
  align-items: center
}

.warning {
  background-color: adjust-color(colors.$kobo-amber, $alpha: -0.875);
}

.warningIcon {
  color: colors.$kobo-red;
}

.overlimit {
  background-color: adjust-color(colors.$kobo-light-red, $alpha: -0.4);
}

.description {
  color: colors.$kobo-storm;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
