@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.usage {
  display: grid;
  grid: 1fr / auto auto;
  width: 100%;
  margin-top: sizes.$x18;
  align-items: center;
  justify-content: space-between;
}

.usageRow {
  border-radius: sizes.$x6;
  padding: sizes.$x6;
  box-sizing: content-box;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.warning {
  background-color: colors.$kobo-light-amber;
}

.warningIcon {
  color: colors.$kobo-red;
}

.overlimit {
  background-color: colors.$kobo-light-red;
}

.description {
  color: colors.$kobo-storm;
}
