@use 'scss/colors';
@use 'scss/mixins';
@use 'scss/breakpoints';

.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 12px;
}

.tab {
  cursor: pointer;
  color: colors.$kobo-gray-600;
  position: relative;
  font-weight: 900;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;

  &:hover {
    color: colors.$kobo-gray-700;
  }

  &:active:not(.activeTab) {
    transform: translateY(#{1px});
  }

  // We need this for covering the border radius of the white box underneath
  // the tabbed menu - for the first element.
  &::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    height: 6px;
  }

  &.activeTab {
    color: colors.$kobo-gray-800;
    background-color: colors.$kobo-white;

    &::after {
      background-color: inherit;
    }
  }
}

.body {
  background-color: colors.$kobo-white;
  border-radius: 6px;
  flex: 1;
}

@include breakpoints.breakpoint(veryNarrow) {
  .tab {
    padding: 0 12px;
    flex: 1;
    text-align: center;
  }
}

@include breakpoints.breakpoint(narrowAndUp) {
  .tab {
    padding: 0 24px;
  }

  .body {
    // Only add scrolling if layout is multi column
    overflow-y: auto;
  }
}
