@use 'scss/colors';
@use 'scss/mixins';
@use 'scss/breakpoints';

.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding-top: 12px; // Common padding for the content and settings sections
}

.body {
  background-color: colors.$kobo-white;
  border-radius: 0 6px 6px 6px;
  flex: 1;
}

@include breakpoints.breakpoint(narrowAndUp) {
  .body {
    // Only add scrolling if layout is multi column
    overflow-y: auto;
  }
}
