{% extends "admin/change_list.html" %}
{% block extrahead %}
    <style>
        #changelist table {
            width: calc(100% - 250px);
        }
    </style>
{% endblock %}
{% load i18n %}

{% block content_title %}
    <h1>Submissions By Country</h1>
{% endblock %}

{% block result_list %}
    <table>
        <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Country</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Count</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.country }} </td>
                    <td> {{ row.count }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}{% endblock %}
