@use "scss/_colors";

.audio-player {
  display: flex;
  justify-content: center;

  .audio-player__controls {
    margin-top: 8px;
    // this % calculates to around 8px for regular modal size, will be a bit
    // smaller on mobile
    margin-right: 2.3%;
  }
}
