@use 'scss/colors';
@use 'scss/mixins';

$avatar-size-s: 20px;
$avatar-size-m: 32px;

@mixin avatar-size($size) {
  // This is the gap between the initials and the (optional) username
  gap: $size * 0.375; // We want the gap to be 12px for "m" size

  .initials {
    width: $size;
    height: $size;
    border-radius: $size;
    line-height: $size;
    font-size: $size * 0.6875; // We want the initial to have 22px for "m" size
    font-weight: 500;
  }

  .text {
    line-height: $size * 0.6875; // We want it to be 22px for "m" size
  }
}

.avatar {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.avatar-size-s {@include avatar-size($avatar-size-s);}
.avatar-size-m {@include avatar-size($avatar-size-m);}

.initials {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: colors.$kobo-white;
  // actual background color is provided by JS, this is just safeguard
  background-color: colors.$kobo-storm;
}

.text {
  flex: 1;
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 8px;
  font-size: 14px;
}

// If `fullName` is being displayed, we want the username to be less prominent
// and to have "@" prefix
.text.hasFullName .username {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: colors.$kobo-gray-700;

  &::before {
    content: '@';
  }
}

.fullName,
// If `fullName` is missing, we want the username to be more visible
.text:not(.hasFullName) .username {
  font-weight: 600;
  color: colors.$kobo-gray-800;
}

.email {
  font-weight: 400;
  color: colors.$kobo-gray-700;
  // Force email to always wrap to new line:
  flex-basis: 100%;
  width: 0;
}
