@use 'scss/sizes';
@use 'scss/colors';
@use 'scss/mixins';

$avatar-size-s: 24px;
$avatar-size-m: 32px;
$avatar-size-l: 48px;

@mixin avatar-size($size) {
  // This is the gap between the initials and the (optional) username
  gap: $size * 0.25;

  .initials {
    width: $size;
    height: $size;
    border-radius: $size;
    line-height: $size;
    font-size: $size * 0.6;
  }
}

.avatar {
  @include mixins.centerRowFlex;
}

.avatar-size-s {
  @include avatar-size($avatar-size-s);
}

.avatar-size-m {
  @include avatar-size($avatar-size-m);
}

.avatar-size-l {
  @include avatar-size($avatar-size-l);
}

.initials {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: colors.$kobo-white;
  // actual background color is provided by JS, this is just safeguard
  background-color: colors.$kobo-storm;
}
