@use '~kobo-common/src/styles/colors';

@keyframes rotate {
  from {transform: rotateZ(360deg);}
  to {transform: rotateZ(0deg);}
}

$spinner-size: 64px;
$spinner-line-size: 10px;

.bigSpinner {
  margin: 0 auto;
  position: relative;
  height: $spinner-size;
  width: $spinner-size;
  border-radius: 50%;
  background: conic-gradient(#{colors.$kobo-blue}, transparent);
  animation: rotate 1s linear infinite;
}

.bigSpinner::before,
.bigSpinner::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.bigSpinner::before {
  width: $spinner-size - (2 * $spinner-line-size);
  height: $spinner-size - (2 * $spinner-line-size);
  top: $spinner-line-size;
  left: $spinner-line-size;
  background-color: colors.$kobo-white;
}

.bigSpinner::after {
  height: $spinner-line-size;
  width: $spinner-line-size;
  background-color: colors.$kobo-blue;
  top: 0;
  left: ($spinner-size - $spinner-line-size) * 0.5;
}
