@use 'scss/colors';
@use 'scss/_variables';
@use 'scss/mixins';

// Note: we can't change this into a CSS Module, because some Data Table and
// `utils.ts` code relies on `.checkbox__input` being available.

.checkbox {
  .checkbox__wrapper {
    padding: 0;
    cursor: pointer;
    display: block;
  }

  // Disabled state
  &.checkbox--disabled {
    pointer-events: none;

    .checkbox__wrapper {
      cursor: default;
    }

    .checkbox__input,
    .checkbox__label {
      opacity: 0.5;
    }

    .checkbox__input:checked {
      color: colors.$kobo-white;
      border-color: colors.$kobo-gray-700;
      background-color: colors.$kobo-gray-700;
    }
  }

  // Hover states
  .checkbox__wrapper:hover {
    // Unchecked
    .checkbox__input:not(:checked) {
      border-color: colors.$kobo-gray-700;
      background-color: colors.$kobo-bg-blue;
    }

    // Checked
    .checkbox__input:checked {
      color: colors.$kobo-white;
      border-color: colors.$kobo-mid-blue;
      background-color: colors.$kobo-mid-blue;
    }
  }

  .checkbox__input,
  .checkbox__label {
    display: inline-block;
    vertical-align: top;
  }

  .checkbox__label {
    max-width: calc(100% - 32px);
    color: colors.$kobo-gray-800;
    font-size: variables.$base-font-size;
  }

  .checkbox__input + .checkbox__label {
    margin-inline-start: 6px;
  }

  .checkbox__input {
    border-radius: 4px;
    appearance: none;
    position: relative;
    margin: 0;
    color: colors.$kobo-gray-500;
    border: 1px solid colors.$kobo-gray-500;
    background-color: colors.$kobo-white;
    width: 20px;
    height: 20px;
    outline: 0;
    cursor: pointer;
    overflow: hidden; // HACK FIX to not cause scrollbar when near the edge

    // This is the CSS checkbox :)
    &::after {
      display: block;
      position: absolute;
      opacity: 0;
      content: '';
      top: calc(50% - 5px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      border: 3px solid currentcolor;
      border-top: none;
      border-right: none;
      width: 10px;
      height: 4px;
      background-color: transparent;
      border-radius: 1px;
      box-sizing: content-box;
    }

    &:checked {
      color: colors.$kobo-white;
      border-color: colors.$kobo-blue;
      background-color: colors.$kobo-blue;

      &::after {opacity: 1;}
    }

    // Keyboard focus styles
    &:focus-visible {
      @include mixins.default-ui-focus;
    }
  }
}
