$s-icon-xxs: 10px;
$s-icon-xs: 14px;
$s-icon-s: 18px;
$s-icon-m: 20px;
$s-icon-l: 22px;
$s-icon-xl: 28px;

.k-icon--size-xxs { font-size: $s-icon-xxs; }

.k-icon--size-xs { font-size: $s-icon-xs; }

.k-icon--size-s { font-size: $s-icon-s; }

.k-icon--size-m { font-size: $s-icon-m; }

.k-icon--size-l { font-size: $s-icon-l; }

.k-icon--size-xl { font-size: $s-icon-xl; }
