@use 'scss/colors';
@use 'scss/mixins';

.k-inline-message {
  @include mixins.centerRowFlex;
  align-items: flex-start;
  gap: 12px;
  margin: 0;
  padding: 12px 24px;
  width: 100%;
  border-radius: 6px;
  color: colors.$kobo-gray-800;
  line-height: 22px;

  a {
    text-decoration: none;
    color: colors.$kobo-dark-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.k-inline-message--type-default {
  background-color: colors.$kobo-gray-200;
  .k-icon {color: colors.$kobo-gray-500;}
}

.k-inline-message--type-error {
  background-color: colors.$kobo-light-red;
  .k-icon {color: colors.$kobo-mid-red;}
}

.k-inline-message--type-success {
  background-color: colors.$kobo-light-teal;
  .k-icon {color: colors.$kobo-teal;}
}

.k-inline-message--type-warning {
  background-color: colors.$kobo-light-amber;
  .k-icon {color: colors.$kobo-amber;}
}

.k-inline-message--type-info {
  background-color: colors.$kobo-bg-blue;
  .k-icon {color: colors.$kobo-blue;}
}

// We need a bit stronger specificity here
.k-inline-message p.k-inline-message__message {
  margin: 0;
  text-align: initial;
  font-size: 14px;
  line-height: inherit;
}
