@use 'scss/_colors';
@use 'scss/sizes';

.mini-audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: colors.$kobo-blue;
}

.mini-audio-player.mini-audio-player--is-loading {
  color: colors.$kobo-gray-40;
}

.mini-audio-player.mini-audio-player--is-broken {
  color: colors.$kobo-red;
}

.mini-audio-player__time {
  font-size: sizes.$x14;
  margin-left: sizes.$x5;
}
