@use 'scss/colors';
@use 'js/components/common/button';

.mini-audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: colors.$kobo-blue;
  height: button.$button-height-s;

  > audio {
    display: none;
  }
}

.mini-audio-player.mini-audio-player--is-loading {
  color: colors.$kobo-gray-700;
}

.mini-audio-player.mini-audio-player--is-broken {
  color: colors.$kobo-red;

  > .k-icon {
    width: button.$button-height-s;
  }
}

.mini-audio-player__time {
  font-size: 14px;
  margin-left: 5px;
}
