@use 'scss/colors';
@use 'scss/breakpoints';
@use 'scss/libs/_mdl';
@use 'scss/_variables';
@use 'scss/mixins';

$z-modal-backdrop: 1101;
$z-enketo-iframe-icon: 1100;
$z-modal-x: 10;

// -----------------------------------------------------------------------------
// common modal parts
// -----------------------------------------------------------------------------

.modal__backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: $z-modal-backdrop;
  top: 0px;
  left: 0px;
  background-color: rgba(colors.$kobo-gray-800, 0.4) !important;
}

.modal {
  @include mdl.box-shadow-top;

  align-items: stretch;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  max-width: 90%;
  max-height: 95%;
  overflow-x: auto;
  visibility: hidden;

  &.modal--open {
    visibility: visible;
  }

  &.modal--large {
    height: 80%;
    width: 80%;
    max-width: 1240px;

    &.modal--large-shorter {
      max-width: 960px;
    }

    .modal__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .modal__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .enketo-holder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      iframe {
        flex-grow: 1;
        border: 1px solid white;
        width: 100%;
      }

      .modal__footer {
        margin-bottom: 30px;
      }
    }
  }
}

.modal__body {
  // we use margin for bottom to make it stack with modal__footer
  padding: 30px 30px 0;
  margin-bottom: 30px;

  // in some cases adding custom footer requires it to be inside modal__body and
  // then padding is not needed (it is partially needed when in .modal--large)
  .modal__footer {
    padding: 0;
  }
}

.modal__content {
  overflow: auto;
  background-color: colors.$kobo-white;
  width: 100%;
}

.modal__tabs {
  background: colors.$kobo-blue;
  color: colors.$kobo-white;
}

.modal__header {
  min-height: 70px;
  background: colors.$kobo-blue;
  color: colors.$kobo-white;
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin: 0px;
  padding: 24px 30px;
  font-size: 18px;
  line-height: 22px;
}

.modal__x {
  z-index: $z-modal-x;
  color: colors.$kobo-white;
  background-color: inherit;
  padding: 8px;
  margin: 11px 15px 11px 11px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;

  i {
    display: block;
    font-size: 24px;
  }

  &:hover {opacity: 0.7;}

  // Some modals have light background for the header, so we need some other
  // color than white
  .modal-submission &,
  .modal--media-preview &,
  .modal--mfa-setup & {
    color: colors.$kobo-gray-600;
  }
}

// NOTE: Subheader element is weirdly positioned because it is inside a padded
// containter but has to appear as if it was outside of it.
// Unfortunately we can't rely on `overflow: hidden` being there, so negative
// margins hack isn't good enough. Other hacks are no good too.
.modal__subheader {
  background: colors.$kobo-gray-200;
  padding: 20px 30px;
  margin: -30px -30px 20px;
  color: colors.$kobo-gray-700;

  i {
    margin: 5px 10px 10px 3px;
    font-size: 24px;
    float: left;
  }
}

.modal__footer {
  padding: 0 30px 30px;
  margin-top: 20px;
  text-align: right;

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
    margin-bottom: 20px;
  }

  button:not(:first-of-type) {
    margin-left: 10px;
  }
}

.modal__hr {
  margin: 20px -30px;
  border: 0;
  background-color: colors.$kobo-gray-300;
  height: 1px;
}

// -----------------------------------------------------------------------------
// custom parts and overrides
// -----------------------------------------------------------------------------

$modal-custom-header-height: 60px;

// TODO: Make a better generic modal component
// Refactor common CSS for modals with custom headers
// See: https://github.com/kobotoolbox/kpi/issues/3643
.modal.modal--custom-header {
  border-radius: 6px;

  .modal__content {
    display: flex;
    flex-direction: column;
  }

  .modal__header {
    color: colors.$kobo-gray-800;
    height: $modal-custom-header-height;

    .modal__x {
      padding: 0;
      margin: 2px 0 0 0;
    }
  }

  .modal__body {
    padding: 0;
    margin: 0;
    overflow: auto;
    flex: 1;
  }
}

.modal.modal--mfa-setup {
  // FIXME: Fixed size for standardization
  width: 570px;
  height: 700px;
  // Overwrite regular modal % based sizes
  min-width: 0;
  min-height: 0;

  .modal__header {
    background-color: colors.$kobo-gray-100;
    font-size: 24px;
    padding: 32px 32px 48px 32px;

    .modal__x {
      font-size: 12px;
      color: rgba(colors.$kobo-gray-800, 0.4);
    }
  }

  .modal__body {
    overflow: hidden;

    .mfa-setup {
      padding: 0 32px 32px 32px;
      margin: auto;
    }
  }
}

.modal.modal--media-preview {
  min-width: 25%;

  .modal__content {
    background-color: colors.$kobo-gray-100;
  }

  .modal__header {
    background-color: colors.$kobo-white;
    padding: 16px;

    .table-media-preview-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: variables.$base-font-size;
      font-weight: 600;
      margin-right: 12px;

      .table-media-preview-header__title {
        display: flex;
        align-items: center;
        margin-right: 6px;

        i.k-icon {
          color: colors.$kobo-gray-500;
          margin-right: 6px;
          font-size: 20px;
        }
      }
    }
  }

  .modal__body {
    max-height: 600px;
    height: calc(100% - #{$modal-custom-header-height});
    overflow: auto;
  }
}

.enketo-holder {
  // resets modal window paddings
  margin: -30px -30px;

  .enketo-loading-message {
    p {
      text-align: center;
      font-weight: 600;
    }

    .k-icon {
      color: colors.$kobo-blue;
      font-size: 24px;
    }
  }

  .touch & {
    width: 94%;
    left: 3%;
    margin-left: 0px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

.enketo-iframe-icon {
  color: colors.$kobo-white;
  background-image: url("~/node_modules/jquery-ui/themes/base/images/ui-icons_ffffff_256x240.png");
  background-color: colors.$kobo-gray-500;
  background-position: -81px -129px;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 3px;
  z-index: $z-enketo-iframe-icon;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

// TODO: This class has been removed from the actual ProjectSettings component,
// but this rule is still used in a few places. We should remove it once we have
// switched them to style modules.
.project-settings {
  // make sure it doesn't get too small (but only inside modal)
  .modal & {
    width: 100%;

    @media screen and (min-width: breakpoints.$b768) {
      min-width: 600px;
    }
  }

  .form-view & {
    margin-bottom: 30px;
  }

  .intro {
    margin-bottom: 20px;
    text-align: initial;
  }

  .form-modal__item[disabled] {
    pointer-events: none;
  }

  $buttons-spacing: 10px;

  .form-modal__item--form-source-buttons {
    margin: 0 auto;
    max-width: 500px;

    button {
      display: inline-block;
      vertical-align: top;
      border: none;
      background: colors.$kobo-gray-200;
      border-radius: 6px;
      color: colors.$kobo-gray-700;
      cursor: pointer;
      margin: 0.5*$buttons-spacing;
      padding: $buttons-spacing;
      width: calc(50% - #{$buttons-spacing});
      min-height: 120px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

      @media screen and (min-width: breakpoints.$b768) {
        margin: $buttons-spacing;
        padding: 2*$buttons-spacing;
        width: calc(50% - #{2*$buttons-spacing});
      }

      i {
        display: block;
        margin: 3px auto;
        font-size: 34px;
        color: currentColor;
      }

      &:hover {
        color: colors.$kobo-gray-800;
        background-color: colors.$kobo-gray-300;
      }

      &:active {
        // makes the shadow smaller and moves button down by small bit
        // to make it look pressed-in
        transform: translateY(1px);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
  .dropzone {
    background: colors.$kobo-gray-200;
    padding: 30px;
    border: 2px dashed colors.$kobo-gray-300;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;

    i {
      display: block;
      margin: 5px auto;
      font-size: 52px;
      opacity: 0.5;
    }

    .loading {
      font-size: inherit;
    }

    .loading i {
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 16px;
    }

    &:hover {border-color: colors.$kobo-blue;}
    &.dropzone-active {border-color: colors.$kobo-blue;}
    &.dropzone-reject {border-color: colors.$kobo-red;}
  }
}

.form-modal__item--http-headers {
  .form-modal__item--http-header-row {
    @include mixins.centerRowFlex;
    gap: 10px;

    margin-top: 10px;

    input[type="text"] {
      background-color: rgba(colors.$kobo-gray-800, 0.05);
      padding: 5px;
    }
  }
}

.form-modal--translation-settings {
  @media (min-width: 600px) {
    min-width: 500px;
  }

  .form-view__cell--label {
    padding-bottom: 10px;
  }

  .form-view__cell--translation-note {
    padding-bottom: 20px;

    p {
      margin: 0;
    }
  }
  .form-view__cell--translation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid colors.$kobo-gray-300;
    padding: 6px 0px;

    .form-view__cell--translation-name {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .form-view__cell--translation-actions {
    @include mixins.centerRowFlex;

    white-space: nowrap;
    gap: 5px;
  }

  .form-view__label--default-language {
    display: inline;
    font-weight: 700;
    margin-left: 6px;
  }

  .form-view__cell--add-language {
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid colors.$kobo-gray-300;
  }

  .form-view__cell--add-language-form {
    margin-top: 20px;
  }
}

.form-modal--translation-table {
  // assumption: parent is display flex
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  .translation-table-container {
    flex: 1;
    overflow-y: auto;
    border: 1px solid colors.$kobo-gray-300;
  }

  .form-view__cell--add-language-form,
  .form-view__cell--update-language-form {
    .add-language-form-close {
      position: absolute;
      right: 5px;
      top: 5px;

      i {
        font-size: 18px;
        margin: 3px;
      }
    }
  }

  .form-view__cell--update-language-form {
    max-width: 70%;
    margin-left: auto;
  }

  .ReactTable {
    width: 100%;

    .rt-thead.-header {
      box-shadow: none;
      border-bottom: 2px solid colors.$kobo-gray-300;
    }

    .rt-thead > .rt-tr,
    .rt-tr-group > .rt-tr {
      .rt-td {
        white-space: normal;

        .rt-td--disabled {
          color: colors.$kobo-gray-500;
        }
      }
      > .rt-th:first-child,
      > .rt-td:first-child {
        min-width: 30%;
        color: colors.$kobo-gray-700;
      }

      > .rt-th:last-child,
      > .rt-td:last-child {
        min-width: 70%;
      }
      .translation {
        padding: 0px;
        color: colors.$kobo-gray-700;
        textarea {
          background: colors.$kobo-light-green;
          display: block;
          padding: 10px;
          border: none;
          width: 100%;
          height: 100% !important;
          color: colors.$kobo-gray-800;
          &:focus {
            background: colors.$kobo-white;
          }
          &:disabled {
            color: colors.$kobo-gray-500;
            background-color: colors.$kobo-gray-200;
          }
        }
      }
    }
  }
}

.form-modal--translation-settings,
.form-modal--translation-table {
  .form-view__form--add-language-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;

    .form-view__cell {
      &.form-view__cell--lang-name {flex: 3;}
      &.form-view__cell--lang-code {flex: 2;}
    }
  }

  .form-view__cell--add-language-form,
  .form-view__cell--update-language-form {
    background: colors.$kobo-gray-200;
    padding: 15px;
    position: relative;

    .add-language-form-close {
      position: absolute;
      right: 5px;
      top: 5px;

      i {
        font-size: 18px;
        margin: 3px;
      }
    }
  }
}

.form-view__cell--encrypt-key {
  padding-bottom: 12px;
}

.encrypt-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}

.encrypt-form-footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

// Tab button - styles were copied from the deprecated `mdl-button`
.legacy-modal-tab-button {
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: variables.$base-font-size;
  letter-spacing: 0;
  margin: 0;
  border: none;
  vertical-align: middle;
  background: transparent;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  color: colors.$kobo-white;
  opacity: 0.7;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 32px;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    opacity: 1;
    color: colors.$kobo-white;
  }

  &.legacy-modal-tab-button--active {
    opacity: 1;
    border-bottom: 2px solid white;
  }
}

// TODO: rework all these media queries to mobile first
@media screen and (width < 480px) {
  .table-media-preview-header {
    margin-right: 0 !important;
    display: block !important;

    .table-media-preview-header__title {
      display: flex;
    }
  }
}

@media screen and (width < breakpoints.$b768) {
  .modal.modal--open {
    min-width: 90%;
    max-width: 90%;
  }
}

@media screen and (width < 1175px) {
  .form-media__upload-url {
    width: 100%;
  }
}

@media screen and (width < 597px) {
  .form-media__upload-url {
    width: 100%;
    padding-left: 0px;

    button {
      width: 100%;
      margin-left: 0px !important;
      margin-top: 12px;
    }
  }
}

// FIXME: Due to the need to hardcode height of mfa modals, we allow scrolling
// on mobile until we standardize all modals (see comment on mfaModals.scss)
@media screen and (height < 800px) {
  .modal.modal--mfa-setup {
    .modal__body {
      overflow-y: auto;
    }
  }
}
