@use '~kobo-common/src/styles/colors';
@use 'scss/_variables';
@use 'scss/sizes';

.radio {
  .radio__row {
    padding: 0;
    cursor: pointer;
    display: block;

    &:hover .radio__input:not([disabled]) {
      &:checked::after { opacity: 0.8; }
      &:not(:checked)::after { opacity: 0.1; }
    }

    &:active .radio__input:not([disabled]) {
      &:checked::after { opacity: 0.6; }
      &:not(:checked)::after { opacity: 0.3; }
    }
  }

  .radio__row.radio__row--title,
  &.radio--disabled .radio__row {
    cursor: default;
  }

  .radio__row {
    padding: sizes.$x4 0;
  }

  .radio__input,
  .radio__label {
    display: inline-block;
    vertical-align: top;
  }

  .radio__label {
    max-width: calc(100% - sizes.$x32);
    color: colors.$kobo-gray-24;
    font-size: variables.$base-font-size;
  }

  .radio__input + .radio__label {
    margin-left: sizes.$x8;
  }

  .radio__input {
    border-radius: 50%;

    &::after {
      content: '';
      top: sizes.$x4;
      left: sizes.$x4;
      border-radius: 50%;
      width: sizes.$x10;
      height: sizes.$x10;
      background-color: colors.$kobo-blue;
    }
  }

  .radio__input {
    appearance: none;
    position: relative;
    margin: 0;
    border: sizes.$x1 solid colors.$kobo-gray-40;
    width: sizes.$x20;
    height: sizes.$x20;
    outline: 0;
    background-color: colors.$kobo-white;
    color: colors.$kobo-gray-40;
    cursor: pointer;
    overflow: hidden; // HACK FIX to not cause scrollbar when near the edge

    &::after {
      display: block;
      position: absolute;
      opacity: 0;
    }

    &:checked {
      border-color: colors.$kobo-blue;

      &::after { opacity: 1; }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;

      & + .radio__label {
        opacity: 0.5;
      }
    }
  }
}
