@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';
@use 'scss/_variables';

// Note: this needs to override a lot of styles defined in `_kobo.bem.ui.scss`,
// for the context of `.form-modal__item`. Plus we fight the specificity battle
// because of too general styles of Form Builder.
// See: https://github.com/kobotoolbox/kpi/issues/3914

label.text-box {
  &.text-box--error {
    color: colors.$kobo-red;

    textarea.text-box__input,
    input.text-box__input {
      // Don't type red if there is an error
      color: colors.$kobo-gray-24;
      border-color: colors.$kobo-red;
    }
  }

  .text-box__label .text-box__label-link {
    display: inline-block;
    vertical-align: bottom;

    .k-icon {
      font-size: sizes.$x18;
      display: block;
      margin: sizes.$x1;
    }
  }

  .text-box__label {
    font-size: sizes.$x12;
    line-height: 1.6;
    margin-bottom: sizes.$x3;
  }

  textarea.text-box__input,
  input.text-box__input {
    width: 100%;
    margin: 0;
    font-size: sizes.$x14;
    color: colors.$kobo-gray-24;
    background-color: colors.$kobo-white;
    border: sizes.$x1 solid colors.$kobo-gray-92;
    padding: sizes.$x10 sizes.$x14;
    border-radius: sizes.$x6;

    &:focus {
      border-color: colors.$kobo-blue;
    }

    &:disabled {
      color: colors.$kobo-gray-65;
      pointer-events: none;

      &::placeholder {
        color: colors.$kobo-gray-65;
      }
    }

    &::placeholder {
      color: colors.$kobo-gray-65;
      opacity: 1;
    }
  }

  .text-box__error {
    font-size: sizes.$x12;
    line-height: 1.6;
    font-weight: 400;
    font-style: normal;
    color: colors.$kobo-red;
    margin-top: sizes.$x3;
  }
}
