{% load socialaccount %}


{% comment "Usage" %}

Variables
- process: (Required) "login" or "connect". Part of the link href.
- css_classes: Add classes to the <a/> tags.
  - Default: kobo-button, kobo-button--sso, kobo-button--fullwidth
- label_text: If present, overrides brand/provider name in the label
- label_prefix: If present, adds string before label_text or provider.name

TODO: Change default label_text to the SocialApplication.name, since it can be customized in the Django Admin interface.

{% endcomment %}

{% with default_css_classes="kobo-button kobo-button--sso kobo-button--fullwidth" %}

{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
  {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
      <li>
        {% with default_label=brand.name %}
        <a title="{{default_label}}" 
           class="socialaccount_provider {{provider.id}} {{brand.id}} {{css_classes|default:default_css_classes}}" 
           href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
           >{{label_prefix}} {{label_text|default:default_label}}</a>
        }
        {% endwith %}
      </li>
    {% endfor %}
  {% endif %}
  
  <li>
    {% with default_label=provider.name %}
    <a title="{{default_label}}"
       class="socialaccount_provider {{provider.id}} {{css_classes|default:default_css_classes}}"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
       >{{label_prefix}} {{label_text|default:default_label}}</a>
    {% endwith %}
  </li>
{% endfor %}

{% endwith %}
