@use "scss/_colors";
@use "scss/_variables";

.breadcrumbs {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &.breadcrumbs--gray-wrapper {
    background: colors.$kobo-gray-96;
    padding: #{(variables.$s-breadcrumbs-height - 40px) * 0.5} 20px;
    height: variables.$s-breadcrumbs-height;
  }

  .breadcrumbs__crumb,
  .breadcrumbs__divider {
    color: colors.$kobo-gray-40;
  }

  .breadcrumbs__crumb {
    &:last-of-type {
      color: colors.$kobo-gray-24;
    }
  }

  .k-icon.k-icon-angle-right {
    font-size: 24px;
    margin: 0 3px;
  }
}
