@use 'scss/_colors';
@use 'scss/sizes';
@use 'scss/mixins';
@use 'js/components/common/button';

.region-selector {
  @include mixins.centerRowFlex;

  justify-content: center;
}

.region-selector .k-select {
  max-width: sizes.$x200;
}

.region-selector__root-language {
  @include mixins.centerRowFlex;

  height: button.$button-height-m;
  padding: 0 sizes.$x1 0 sizes.$x10;
  border-width: button.$button-border-width;
  border-style: solid;
  border-color: colors.$kobo-gray-92;
  border-radius: button.$button-border-radius;

  &:not(:last-child) {
    margin-right: sizes.$x10;
  }
}

.region-selector__root-language label {
  min-width: sizes.$x100;
  max-width: sizes.$x200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 sizes.$x10;
}

.region-selector__loading {
  @include mixins.centerRowFlex;

  height: button.$button-height-m;
}
