@use 'scss/colors';
@use 'scss/mixins';
@use 'js/components/common/button';

.region-selector {
  @include mixins.centerRowFlex;

  justify-content: center;
}

.region-selector .k-select {
  max-width: 200px;
}

.region-selector__root-language {
  @include mixins.centerRowFlex;

  height: button.$button-height-m;
  padding: 0 1px 0 10px;
  border-width: button.$button-border-width;
  border-style: solid;
  border-color: colors.$kobo-gray-300;
  border-radius: button.$button-border-radius;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.region-selector__root-language label {
  @include mixins.textEllipsis;

  min-width: 100px;
  max-width: 200px;
  margin: 0 10px;
}

.region-selector__loading {
  @include mixins.centerRowFlex;

  height: button.$button-height-m;
}
