@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';
@use 'scss/mixins';

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: sizes.$x20;
}

.style {
  width: sizes.$x140;
  min-height: sizes.$x140;
  text-align: center;
  background-size: auto sizes.$x80;
  background-position: center sizes.$x15;
  background-repeat: no-repeat;

  &[data-name='vertical'] {
    background-image: url('~../../../img/chart-vertical.svg');
  }

  &[data-name='horizontal'] {
    background-image: url('~../../../img/chart-horizontal.svg');
  }

  &[data-name='donut'] {
    background-image: url('~../../../img/chart-donut.svg');
  }

  &[data-name='area'] {
    background-image: url('~../../../img/chart-area.svg');
  }

  &[data-name='pie'] {
    background-image: url('~../../../img/chart-pie.svg');
  }

  &[data-name='line'] {
    background-image: url('~../../../img/chart-line.svg');
  }

  &[data-name='polar'] {
    background-image: url('~../../../img/chart-polar.svg');
  }

  &[data-name='radar'] {
    background-image: url('~../../../img/chart-radar.svg');
  }
}

// <input>
.styleInput {
  display: none;
}

// <label>
.styleLabel {
  padding-top: sizes.$x100;
  font-weight: 400;
  line-height: sizes.$x20;
  min-height: inherit;
  border: sizes.$x2 solid transparent;
  border-radius: sizes.$x6;
  display: block;
  width: 100%;
  cursor: pointer;
}

.styleInput:checked + .styleLabel {
  border-color: colors.$kobo-blue;
}

.styleInput:not(:checked):hover + .styleLabel {
  border-color: colors.$kobo-gray-85;
}
