// This is our current pallete of colors.
//
// It should be the only source of colors in styles (i.e. no one-shot colors,
// all `color`, `background-color` etc. should use variables defined here).
//
// NOTE: the hue and saturation is identical in all grays, keep it this way

/*
  Group 1: Blueish grays
*/

// (accessible) our black, very very rare, only use if necessary for contrast
$kobo-gray-14: hsl(225, 16%, 14%);

// (accessible) active text, important text, text on background, top navigation
// background
$kobo-gray-24: hsl(225, 16%, 24%);

// (accessible) default text, inactive text, options text, buttons text,
// tabs text, notifications background, hover for popups and dropdowns
$kobo-gray-40: hsl(225, 16%, 40%);

// (readable) clickable icons on hover
$kobo-gray-55: hsl(225, 16%, 55%);

// icons default (clickable), arrows and indicators default
$kobo-gray-65: hsl(225, 16%, 65%);

// inactive icons, some decorative icons
$kobo-gray-85: hsl(225, 16%, 85%);

// scroll bars, table lines, dividers, background of clickable icons on hover
// when also in a highlighted table row
$kobo-gray-92: hsl(225, 16%, 92%);

// default light background, icons on hover, sidebar menu, table headings, …
$kobo-gray-96: hsl(225, 16%, 96%);

// table row highlight on hover
$kobo-gray-98: hsl(225, 16%, 98%);

// white background
$kobo-white: hsl(225, 16%, 100%);

// DEPRACATED COLORS
//
// please use this migration guide if your PR uses one of them:
//
// $kobo-black --> $kobo-gray-24;
// $kobo-darkgray --> $kobo-gray-40;
// $kobo-midgray --> $kobo-gray-65;
// $kobo-lightgray --> $kobo-gray-92;
// $kobo-whitegray --> $kobo-gray-96;

/*
  Group 2: Accent colors
*/

$kobo-blue: hsl(195, 27%, 18%); // hsl(206, 90%, 55%);
$kobo-blue-darker: 	hsl(195, 27%, 10%);
$kobo-blue-dark: hsl(195, 90%, 15%);
$kobo-blue-light: 	hsl(195, 27%, 30%);
$kobo-blue-pale:  #A1D5AB;

$kobo-teal: hsl(185, 70%, 45%);
$kobo-teal-light: hsl(185, 70%, 95%); // the row hover color
$kobo-teal-pale: hsl(185, 60%, 60%);
// the row hover color
$kobo-teal-light: hsl(185, 70%, 95%);

// positive colors
$kobo-green: hsl(149, 65%, 45%);
$kobo-green-dark: hsl(149, 65%, 35%);
$kobo-green-light: hsl(149, 65%, 90%);

// error/negative colors
$kobo-red: hsl(352, 77%, 60%);
$kobo-red-dark: hsl(352, 70%, 40%);
$kobo-red-light: hsl(352, 70%, 90%);

// warning colors
$kobo-orange: hsl(30, 80%, 50%);
$kobo-orange-dark: hsl(30, 80%, 40%);
$kobo-orange-light: hsl(30, 80%, 95%);
