// TODO: this is our ciurrent pallete of colors
// we neeed to clean this up and merge/cut out some colors

// blueish grays palette
$c-charade: #2c2f3a; // 19%
$c-bright-gray: #3a3d4b; // 26%
$black: #414453; // 29% // "black" is our original base text color
$cool-charcoal: #575b70; // 39%
$c-storm-gray: #666b85; // 45%
$cool-darkgray: #6e738c; // 49%
$c-waterloo: #7a7e94; // 52%
$cool-gray: #8a8ea3; // 59%
$cool-silver: #a6aaba; // 69%
$c-ghost: #cbced7; // 82%
$c-iron: #d8d9df; // 86%
$cool-lightgray: #e0e1e6; // 89%
$divider-color: #e8e9ed; // 91%
$c-athens-gray: #eff0f1; // 94%
$cool-whitegray: #f4f4f6; // 96%
$white: #ffffff; // 100%

// pure gray palette
$c-alabaster: #f9f9f9; // 97%
$c-desert-storm: #f8f8f8; // 97%
$c-alto: #dedede; // 87%
$c-silver: #bbbbbb; // 73%

$c-pearl-lusta: #fcf8e3;
$c-shadow: #8a6d3b;
$c-sorrell-brown: #cfb98b;

$cool-blue: #2095f3;
$cool-blue-light: #3fa2ee;
$cool-blue-lighter: #a1d2f7;
$cool-green: #52c5d0;
$warm-green: #52ce7b;
$warm-green-light: #afe9c2;
$cool-red: #ff556a;
$cool-red-light: #ffadb7;
$cool-red-washed: #cd8991;
$c-red: #ff0000;
$cool-orange: #ffaa56;
$c-river-bed: #454e54;
