/*
 * Responsive breakpoints for usage in media queries
 */
$b480: 480px;
$b600: 600px;
$b530: 530px;
$b700: 700px;
$b768: 768px;
$b860: 860px;
$b960: 960px;
$b1000: 1000px;
$b1140: 1140px;
$b1440: 1440px;
