// Variable declarations here to make them available to all stylesheets

// Colors 
// ==========================================================================
$cardBorderColor: #d9dde1;
$cardInSortBorderColor: #3fa2ee;

$wellTextColor: #7a8692;
$addButtonColor: #bec9d0;
$addButtonColorHover: #5cb2ee;

$linkColor: #3fa2ee;
$indicatorColor: #8595a5;

// Borders
// ==========================================================================
$cardBorderStyle: 1px solid $cardBorderColor;
$cardInSortBorderStyle: 1px solid $cardInSortBorderColor;
$cardInSortThinBorderStyle: 1px solid $cardInSortBorderColor;

$thinBorderStyle: 1px solid $cardBorderColor;

$buttonBorderRadius: 5px;

// Included files
// ==========================================================================

@import "stylesheets/partials/select2_override";
@import "stylesheets/partials/tagsinput_override";

@import "stylesheets/partials/base";
@import "stylesheets/partials/icons";
@import "stylesheets/partials/buttons";
@import "stylesheets/partials/misc";
@import "stylesheets/partials/modals_iframes";

@import "stylesheets/partials/content";
@import "stylesheets/partials/registration";
@import "stylesheets/partials/sidenote";

@import "stylesheets/pages/form_builder";

@import "stylesheets/partials/helpers";