// Variable declarations here to make them available to all stylesheets

@import "colors";
@import "variables";

// Colors
// ==========================================================================
$cardBorderColor: $kobo-midgray;
$cardInSortBorderColor: $kobo-blue-light;

$addButtonColor: $kobo-midgray;
$addButtonColorHover: $kobo-blue-light;

$linkColor: $kobo-blue-light;

// Borders
// ==========================================================================
$cardBorderStyle: 1px solid $cardBorderColor;
$cardInSortBorderStyle: 1px solid $cardInSortBorderColor;
$cardInSortThinBorderStyle: 1px solid $cardInSortBorderColor;

$thinBorderStyle: 1px solid $cardBorderColor;

$buttonBorderRadius: 5px;

// Included files
// ==========================================================================

@import "stylesheets/partials/select2_override";
@import "stylesheets/partials/tagsinput_override";

@import "stylesheets/partials/base";
@import "stylesheets/partials/icons";
@import "stylesheets/partials/buttons";
@import "stylesheets/partials/misc";

@import "stylesheets/partials/content";
@import "stylesheets/partials/registration";

@import "stylesheets/pages/form_builder";

@import "stylesheets/partials/helpers";
