@import "colors";
@import "variables";

@import "./libs/mdl";

@import "./fonts/roboto";
@import "../fonts/k-icons";
@import "~select2/select2.css";
@import "~react-table/react-table.css";
@import "~alertifyjs/build/css/alertify.css";

@import "./libs/alertify.overrides";
@import "./libs/react-select.overrides";
@import "./libs/react-tagsinput";

@import "./components/kobo.bem.ui";
@import "./components/kobo.button";
@import "./components/kobo.light-button";
@import "./components/kobo.text-button";
@import "./components/kobo.checkbox-and-radio";
@import "./components/kobo.toggle-switch";
@import "./components/kobo.multi-checkbox";
@import "./components/kobo.modal";
@import "./components/kobo.tooltips";
@import "./components/kobo.tooltips-big";
@import "./components/kobo.navigation";
@import "./components/kobo.drawer";
@import "./components/kobo.drawer.sidebar";
@import "./components/kobo.help-bubble";
@import "./kobo";
@import "./components/kobo.form-builder";
@import "./components/kobo.form-builder-message-box";
@import "./components/kobo.locking";
@import "./components/kobo.collection-asset-list";
@import "./components/kobo.asset-name";
@import "./components/kobo.asset-row";
@import "./components/kobo.assets-table";
@import "./components/kobo.asset-action-buttons";
@import "./components/kobo.lib-nav";
@import "./components/kobo.lib-list";
@import "./components/kobo.form-view";
@import "./components/kobo.form-summary";
@import "./components/kobo.password-strength";
@import "./components/kobo.report-view";
@import "./components/kobo.project-downloads";
@import "./components/kobo.table";
@import "./components/kobo.table-meta";
@import "./components/kobo.account-settings";
@import "./components/kobo.sharing-modal";
@import "./components/kobo.map";
@import "./components/kobo.rest-services";
@import "./components/kobo.service-row";
@import "./components/kobo.empty-content";
@import "./components/kobo.map.marker-colors";
@import "./components/kobo.templates-list";
@import "./components/kobo.text-box";
@import "./components/kobo.submission-data-table";
@import "./components/kobo.simple-table";
@import "./components/kobo.bulk-edit";
@import "./components/kobo.breadcrumbs";
@import "./components/kobo.asset-info-box";
@import "./components/kobo.multi-checkbox";
@import "./components/kobo.form-media";
@import "./components/kobo.connect-projects";
@import "./components/kobo.background-audio-player";
@import "./components/kobo.dropzone";

@import "./formbuild/kobomatrix";

.k-invisible {
  visibility: hidden;
}

// Print stylesheet
@import "./libs/print";
