// Material Icons font
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/static/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Color definitions
@import '../../node_modules/material-design-lite/src/_color-definitions';

// Variables overriden here
$color-primary: $palette-indigo-400 !default;
$color-primary-dark: $palette-indigo-600 !default;
$color-accent: $palette-indigo-A200 !default; 
$layout-header-bg-color: unquote("rgb(#{$palette-blue-grey-800})") !default;
$preferred_font: 'Open Sans', 'Helvetica', 'Arial', sans-serif !default;
$performance_font: 'Open Sans', 'Helvetica', 'Arial', sans-serif !default; 

$layout-text-color: #FFF !default;
$layout-drawer-navigation-color: #FFF !default;
$layout-nav-color: unquote("rgb(#{$palette-blue-grey-400})") !default;

@import '../../node_modules/material-design-lite/src/material-design-lite';

.row {
  @extend .mui-row;
}

body {
  @extend .mdl-color--grey-100;
}

.drawer-separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 8px 0;
}

.mdl-layout__drawer {
  border-right:1px solid rgba(255, 255, 255, 0.2);
}
.mdl-layout__drawer > .mdl-layout-title {
  color: $layout-drawer-navigation-color;
}

.mdl-checkbox__tick-outline {
  mask: url("/static/img/tick-mask.svg?embed");

  .mdl-checkbox.is-checked & {
    background: $checkbox-color url("/static/img/tick.svg?embed");
  }

  .mdl-checkbox.is-checked.is-disabled & {
    background: $checkbox-disabled-color url("/static/img/tick.svg?embed");
  }
}
