@use "scss/sizes";

@mixin centerRowFlex() {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

@mixin textEllipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
