/*
 * A temporary-ish file for defining all the sizes we use in the app to avoid
 * creating unnecessary new ones. Ultimately we would like to have a small
 * nice palette and start merging similar ones. This will also help us find
 * how many of each of them we use.
 */

$s1: 1px;
$s2: 2px;
$s4: 4px;
$s6: 6px;
$s8: 8px;
$s12: 12px;
$s16: 16px;
$s18: 18px;
$s21: 21px;
$s24: 24px;
$s42: 42px;
$s52: 52px;
