/*
 * A temporary-ish file for defining all the sizes we use in the app to avoid
 * creating unnecessary new ones. Ultimately we would like to have a small
 * nice palette and start merging similar ones. This will also help us find
 * how many of each of them we use.
 */
@use 'sass:math';

// absolute sizes
$x1: 1px;
$x2: 2px;
$x3: 3px;
$x4: 4px;
$x5: 5px;
$x6: 6px;
$x8: 8px;
$x10: 10px;
$x12: 12px;
$x13: 13px;
$x14: 14px;
$x15: 15px;
$x16: 16px;
$x18: 18px;
$x20: 20px;
$x21: 21px;
$x22: 22px;
$x24: 24px;
$x28: 28px;
$x30: 30px;
$x32: 32px;
$x36: 36px;
$x38: 38px;
$x40: 40px;
$x48: 48px;
$x50: 50px;
$x60: 60px;
$x80: 80px;
$x100: 100px;
$x120: 120px;
$x140: 140px;
$x150: 150px;
$x180: 180px;
$x200: 200px;
$x300: 300px;
$x350: 350px;
$x400: 400px;
$x600: 600px;
$x800: 800px;

// takes a pixel dimension and returns it in rem
@function pxToRem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

// relative sizes (rem units - scales with root document font size)
$r12: pxToRem($x12);
$r14: pxToRem($x14);
$r16: pxToRem($x16); // 1em at default font size of 16px
$r18: pxToRem($x18);

