// Depth variables (for z-indexes)

$z-modal: 3000;

$z-help-bubble-popup: 2000;

$z-account-menu: 1101;

$z-form-builder-wrapper: 1052;
$z-fullscreen: 1051;
$z-kobo-drawer: 1050; // must be over leaflet

$z-map-overlay: 1001; // leaflet interface elements
$z-map-list: 689;
$z-map-settings: 699;
$z-map-settings-2: 700;
$z-map-settings-3: 701;

$z-dropzone: 200;
$z-form-builder-add-row: 101;
$z-dropdown: 100;

$z-processing-top: 80;

$z-tooltip: 60;

$z-table-row-header: 30;
$z-table-row-buttons: 20;
$z-table-row-link: 10;

$z-form-builder-header: 20;
$z-form-builder-aside: 10;

$z-service-row-link: 10;

$z-data-table-frozen-column: 10;

$z-form-builder-card-buttons: 3;
$z-form-builder-card-shade: 2;
