@use 'scss/colors';

.body {
  flex: 6;
}

.options {
  text-align: right;
  flex: 2;

  button,
  a {
    display: inline-block;
  }
}

.ssoSetup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
