@use 'scss/mixins';

.cell {
  @include mixins.textEllipsis;

  width: 100%;
  height: 100%;
  align-content: center;

  > * {
    display: inline;
  }
}

@media print {
  .cell {
    // Avoid trimming data from cells
    @include mixins.undoTextEllipsis;
  }
}
