@use 'scss/_colors';
@use 'scss/sizes';
@use 'scss/libs/_mdl';

.root {
  margin-top: sizes.$x20;
  margin-bottom: sizes.$x60;
  padding-top: sizes.$x14;
  display: flex;
  align-items: baseline;
  column-gap: sizes.$x16;
  border-top: sizes.$x1 solid;
  border-color: colors.$kobo-gray-92;
}

.titleSection {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  color: colors.$kobo-gray-40;
  font-weight: 600;
  line-height: 1.6;
}

.bodySection {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: sizes.$x16;

  .passwordDisplay {
    margin: 0;

    // gray circles
    color: colors.$kobo-gray-65;
    cursor: default;
    font-size: sizes.$x14;
    // Allow cutoff if low on space
    overflow-y: hidden;
    height: sizes.$x20;
  }
}

.optionsSection {
  text-align: right;
  flex: 5;

  a {
    display: inline-block;
    margin-bottom: sizes.$x12;

    &:hover {
      text-decoration: underline;
    }
  }
}

.optionsSection > *:not(:first-child) {
  margin-left: sizes.$x12;
}
