@use 'scss/colors';
@use 'scss/sizes';
@use 'scss/mixins';

.passwordDisplay {
  margin: 0;

  // gray circles
  color: colors.$kobo-gray-500;
  cursor: default;
  font-size: sizes.$x14;
  // Allow cutoff if low on space
  overflow-y: hidden;
  height: sizes.$x20;
}

.options {
  @include mixins.centerRowFlex;
  gap: 10px;
  flex: 5;
  justify-content: flex-end;
}
