@use 'scss/_colors';
@use 'scss/sizes';
@use 'scss/libs/_mdl';

.securityRowHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: sizes.$x14;
  border-bottom: sizes.$x1 solid;
  border-color: colors.$kobo-gray-85;
}

.title {
  color: colors.$kobo-gray-40;
  font-weight: 600;
}

.root {
  margin-top: sizes.$x20;
  margin-bottom: sizes.$x20;
}
