@use 'scss/sizes';

.root {
  width: 100%;
  max-width: sizes.$x350;
}

.row + .row {
  margin-top: sizes.$x16;
}

.forgotLink {
  font-size: sizes.$x12;
}

// Note: we allow all markdown-generated HTML inside this, so we might need to
// add some more styles here.
.guidanceText :global p {
  margin: 0;

  &:not(:first-child) {
    margin-top: sizes.$x16;
  }
}
