.root {
  width: 100%;
  max-width: 350px;
}

.row + .row {
  margin-top: 16px;
}

.forgotLink {
  font-size: 12px;
}

// Note: we allow all markdown-generated HTML inside this, so we might need to
// add some more styles here.
.guidanceText :global p {
  margin: 0;

  &:not(:first-child) {
    margin-top: 16px;
  }
}
