@use 'scss/sizes';
@use 'scss/colors';


.oneTimeAddOnListContainer {
  .oneTimeAddOnListEntry + .oneTimeAddOnListEntry {
    margin-top: sizes.$x8;
  }
}

.oneTimeAddOnListEntry {
  display: flex;
  justify-content: space-between;
  padding: sizes.$x16;
  border: sizes.$x1 solid colors.$kobo-gray-300;
  border-radius: sizes.$x6;

  label {
    margin-right: sizes.$x30;
    font-weight: 600;
  }
}
