{% load i18n %}
<p>{% trans "Hello," %}</p>

<p>{% blocktrans %}{{ sender_username }} ({{ sender_email }}, username {{ sender_username }}) has invited you (username {{ invitee_username }}) to join {{ organization_name }}’s organization.{% endblocktrans %}</p>

<p>{% trans "What joining the organization means for you:" %}</p>
<ul>
  <li>{% trans "You will benefit from higher usage limits and additional features, as well as priority user support." %}</li>
  <li>{% trans "Any projects owned by your account will be transferred to the organization and all admins in that organization will have access to your projects and data." %}</li>
  <li>{% trans "You will continue to have full management permission of all projects previously owned by you." %}</li>
</ul>

<p>{% trans "If you want to transfer any projects to another account or remove a project, please do so before accepting the invitation. This action cannot be undone." %}</p>

<p>{% blocktrans %}To respond to this invitation, please use the following link: {{ base_url }}/#/projects/home?organization-invite={{ invite_uid }}{% endblocktrans %}</p>

<p>
&nbsp;-&nbsp;KoboToolbox
</p>
