@use 'scss/colors';
@use 'scss/breakpoints';

.gallery {
  background-color: colors.$kobo-white;
}

.gallery__wrapper {
  margin: 8px 14px;

  .gallery__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4px;
  }
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid colors.$kobo-gray-300;
}

.gallery__header-icons {
  display: flex;
}

.gallery__filters {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__filters-select {
  flex: 1;
  margin-right: 8px;
}

.gallery__filters-dates input {
  margin-left: 5px;
  margin-right: 5px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

@include breakpoints.breakpoint(mediumAndUp) {
  .gallery__wrapper {
    margin: 20px 50px;
  }
}
