@use 'scss/colors';
@use 'scss/sizes';
@use 'scss/breakpoints';
@use 'scss/mixins';

.gallery {
  background-color: colors.$kobo-white;
}

.gallery__wrapper {
  margin: 8px 14px;

  .gallery__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: sizes.$x4;
  }
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: sizes.$x1 solid colors.$kobo-gray-300;
}

.gallery__header-icons {
  display: flex;
}

.gallery__filters {
  margin-top: sizes.$x20;
  margin-bottom: sizes.$x20;
  display: flex;
  align-items: center;
  gap: sizes.$x6;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__filters-select {
  flex: 1;
  margin-right: sizes.$x8;
}

.gallery__filters-dates input {
  margin-left: sizes.$x5;
  margin-right: sizes.$x5;
}

.gallery__grid {
  display: flex;
  flex-wrap: wrap;
  gap: sizes.$x3;
}

.gallery-grid-deleted-attachment {
  @include mixins.centerRowFlex;
  justify-content: center;
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  background-color: colors.$kobo-gray-92;
}

@include breakpoints.breakpoint(mediumAndUp) {
  .gallery__wrapper {
    margin: 20px 50px;
  }
}
