@use 'scss/mixins';
@use 'scss/sizes';
@use 'js/components/common/button';
@use '../analysisVariables';

$s-choice-width: 66.66%;

.choice {
  @include mixins.centerRowFlex;
  gap: analysisVariables.$inner-horizontal-gap;
  width: $s-choice-width;

  &:not(:last-child) {
    margin-bottom: analysisVariables.$inner-vertical-gap;
  }

  :global .text-box {
    flex: 1;
  }
}

.addOption {
  // We make it shorter to take the trash icon buttons from choices above into
  // the picture
  width: calc($s-choice-width - button.$button-height-s - sizes.$x6);

  :global .k-button {
    width: 100%;
  }
}
