@use 'scss/sizes';
@use 'scss/colors';

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.displays {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: sizes.$x20;
  overflow: auto;
}

.emptyMessage {
  background-color: colors.$kobo-white;
  border-radius: sizes.$x6;
  padding: sizes.$x30;
}
