@use '../singleProcessingVariables';

.root {
  height: 100%;
}

.displays {
  padding-bottom: singleProcessingVariables.$s-single-processing-tabs;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.displays > :first-child {
  margin-top: 0 !important;
}
