@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';

.root {
  height: 100%;
}

.displays {
  padding-bottom: sizes.$x60;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.displays > :first-child {
  margin-top: 0 !important;
}
