@use 'scss/colors';
@use 'scss/sizes';

.mediaWrapper {
  border-radius: sizes.$x6;
  background-color: colors.$kobo-white;

  &.mediaWrapperDeleted {
    padding: 14px;
  }

  &.mediaWrapperAudio {
    // right padding is for the audio player to appear centered
    padding: sizes.$x20 #{sizes.$x20 + sizes.$x12} sizes.$x14 sizes.$x20;
  }

  &.mediaWrapperVideo {
    overflow: hidden;
  }
}

.videoPreview {
  width: 100%;
  object-fit: contain;
}
