@use 'scss/colors';

.mediaWrapper {
  &.mediaWrapperAudio {
    background-color: colors.$kobo-white;
    border-radius: 6px;
    // right padding is for the audio player to appear centered
    padding: 20px #{20px + 12px} 14px 20px;
  }

  &.mediaWrapperVideo {
    border-radius: 6px;
    overflow: hidden;
  }
}

.videoPreview {
  width: 100%;
  object-fit: contain;
}
