@use "scss/_colors";
@use "sass:math";

$s-gallery-spacing: 10px;
$gallery-transition: 250ms ease-in-out;

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: math.div($height, $width) * 100%;
  }

  > div, a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.one-one {
  @include aspect-ratio(1, 1);
}

.asset-gallery {
  height: 100%;
  overflow: auto;
  padding: 3 * $s-gallery-spacing;

  > .asset-gallery-grid:not(:first-child) {
    margin-top: 2 * $s-gallery-spacing;
  }

  > .asset-gallery__load-more:not(:first-child) {
    margin-top: 3 * $s-gallery-spacing;
  }

  > .asset-gallery__load-more--grid:not(:first-child) {
    margin-top: $s-gallery-spacing;
  }

  > h2:not(:first-child) {
    margin-top: 3 * $s-gallery-spacing;
  }

  > h2 {
    color: colors.$kobo-gray-40;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;

    small {
      display: block;
      font-size: 12px;
      margin-top: $s-gallery-spacing;
    }
  }

  .asset-gallery__heading {
    @media screen and (max-width: 1199px) {
      position: relative;

      .text-box,
      .kobo-select {
        width: 100%;
      }

      .asset-gallery__heading__icon-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .asset-gallery__heading__count {
        flex: 1;
      }

      .text-box,
      .kobo-select {
        width: 160px;
      }
    }

    .asset-gallery__heading__count {
      color: colors.$kobo-gray-24;
    }

    .text-box,
    .text-box__input,
    .asset-gallery__heading__count {
      height: 38px;
    }

    .asset-gallery__heading__count {
      line-height: 38px;
    }

    .text-box,
    .kobo-select {
      margin-right: $s-gallery-spacing;
    }

    .asset-gallery__heading__icon-button {
      @extend .mdl-button, .mdl-button--icon;
      overflow: visible;
    }

    .checkbox {
      display: block;
      width: 100%;
      margin-top: $s-gallery-spacing;
      text-align: right;

      &[disabled] {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

.asset-gallery__load-more {
  width: 100%;
  margin-top: $s-gallery-spacing;

  .asset-gallery__load-more__button,
  .asset-gallery__load-more__message {
    @extend .mdl-button, .mdl-button--colored;
    width: 100%;
    background: white;
  }

  .asset-gallery__load-more__message {
    color: colors.$kobo-gray-40;
    pointer-events: none;
  }
}

.asset-gallery__empty-message {
  color: colors.$kobo-gray-40;
  text-align: center;
  padding: $s-gallery-spacing;
}

.asset-gallery-grid {
  display: flex;
  flex-wrap: wrap;

  h5, h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: $s-gallery-spacing 0px;
    font-weight: normal;
  }

  &.asset-gallery-grid--6-per-row .asset-gallery-grid__item {
    width: calc(100%/6 - #{$s-gallery-spacing} * 5/6);
    height: calc(100%/6);
    margin-right: $s-gallery-spacing;

    &:nth-child(6n) {
      margin-right: 0;
    }

    &:nth-child(n + 7) {
      margin-top: $s-gallery-spacing;;
    }
  }

  &.asset-gallery-grid--12-per-row .asset-gallery-grid__item {
    width: calc(100%/12 - #{$s-gallery-spacing} * 11/12);
    height: calc(100%/12);
    margin-right: $s-gallery-spacing;

    &:nth-child(12n) {
      margin-right: 0;
    }

    &:nth-child(n + 13) {
      margin-top: $s-gallery-spacing;;
    }
  }

  .asset-gallery-grid__item {
    display: inline-block;
    cursor: pointer;
    background-color: colors.$kobo-gray-65;

    .asset-gallery-grid__item__overlay {
      opacity: 0;
      visibility: hidden;
      transition: $gallery-transition;
      background: rgba(0, 0, 0, 0.6);
    }

    &:hover .asset-gallery-grid__item__overlay {
      opacity: 1;
      visibility: visible;
    }

    .asset-gallery-grid__item__overlay-text {
      color: #fff;
      position: absolute;
      top: $s-gallery-spacing;
      right: $s-gallery-spacing;
      bottom: $s-gallery-spacing;
      left: $s-gallery-spacing;

      h5 {
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        line-height: 1.25em;
        max-height: 3.75em;
        overflow: hidden;
      }

      p {
        position: absolute;
        margin: 0;
        bottom: 0;
        font-size: 0.85em;
        line-height: 1.1em;
        opacity: 0.7;
      }
    }
  }
}

.gallery-media-modal {
  // absolute positioning forces it to take whole modal space
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: row;

  .gallery-media-modal__content {
    height: 100%;
    flex: 1;
    position: relative;
    background: rgb(0, 0, 0);
    overflow: hidden;

    &:hover .gallery-media-modal__content-arrow {
      &.gallery-media-modal__content-arrow--left {left: 0;}
      &.gallery-media-modal__content-arrow--right {right: 0;}
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .gallery-media-modal__content-arrow {
      cursor: pointer;
      display: block;
      position: absolute;
      border: 0;
      padding: 0;
      height: 100%;
      width: 60px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 8;
      transition: $gallery-transition;
      transition-property: left, right;

      &.gallery-media-modal__content-arrow--left {left: -60px;}

      &.gallery-media-modal__content-arrow--right {right: -60px;}

      .k-icon {
        color: #fff;
        font-size: 60px;
        opacity: 0.6;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.8);
        .k-icon {opacity: 0.8;}
      }

      &:active {
        .k-icon {opacity: 1;}
      }

      &[disabled] {
        pointer-events: none;
        .k-icon {
          opacity: 0.3;
        }
      }
    }
  }

  .gallery-media-modal__content-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.gallery-media-modal__content-image--hidden {
      opacity: 0;
      transition: 0s;
    }

    &.gallery-media-modal__content-image--visible {
      opacity: 1;
      transition: $gallery-transition;
    }
  }

  .gallery-media-modal__sidebar {
    width: 25%;
    min-width: 250px;
    padding: 50px 30px 30px;
    background: #fff;
    overflow: auto;

    button {
      margin-top: 2 * $s-gallery-spacing;
    }
  }

  .gallery-media-modal__sidebar-info {
    padding: $s-gallery-spacing 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid colors.$kobo-gray-65;
    }
  }

  .gallery-media-modal__sidebar-title {
    font-size: 18px;
  }

  .gallery-media-modal__sidebar-subtitle {
    font-weight: bold;
    font-size: 16px;
  }

  .gallery-media-modal__sidebar-title,
  .gallery-media-modal__sidebar-subtitle,
  .gallery-media-modal__sidebar p {
    margin-top: 0;
    margin-bottom: $s-gallery-spacing;
  }
}
