.collection-sidebar {
  &__itemlink {
    display: none;
    clear: both;
    margin-left:5px;
    font-size: 0.9em;
  }
  &__item {
    color:$cool-gray;
    padding:3px;
    border:1px solid #FFF;
    cursor: pointer;
    &--info {
      cursor: default;
      border: 0 none;
      box-shadow: none;
      color: #2136A9;
      font-size: 11px;
      background-color: transparent;
    }
    &--selected {
      border:1px solid #DEDEDE;
      > .collection-sidebar__itemlink {
        display: inline-block;
      }
    }
    &--allitems {
      text-align: center;
      i {
        display: none;
        margin-right:0px;
      }
    }
    > i {
      @extend .fa, .fa-fw;
      margin-right: 8px;
    }
    &--collection {
      > i {
        @extend .fa-folder;
      }
    }

  }
}

