$mult: 0.5;

%demo-panel {
  width: 650px * $mult;
  height: 1280px * $mult;
  float: left;
}

.list-view {
  // @extend %demo-panel;
}

.list-view__attr {}

.list-view__attr--name {
  font-size: larger;
}

.list-view__headerbutton {
  // @extend .btn, .btn-primary;
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
}

.list-view__search {
  clear: both;
}

.list-view__searchcriteria {
  list-style-type: none;
  padding: 0;

  .list-view__searchcriterion + .list-view__searchcriterion {
    margin-left: 12px;
  }
}

.list-view__searchcriterion {
  display: inline-block;
}

.list-view__headerbutton--add {
  border-radius: 40px;
  padding: 6px 9px;

  > i:first-child {
    @extend .fa, .fa-fw, .fa-plus;
  }

  float: right;
}