.account-settings {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow-y: auto;
  @include box-shadow;

  .form-modal__item--column {
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;

    .form-modal__item--fields {
      height: calc(100% - 90px);
      padding-right: 40px;
      overflow: auto;
    }

    .form-modal__item--username {
      min-height: 40px;

      .account-box__initials {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
      }

      h4 {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
      }
    }

    .form-modal__item--actions {
      position: absolute;
      top: -12px;
      right: 0px;
    }
  }

  h4 {
    margin: 0px;
    font-weight: 400;
    color: #454e54;
  }

  .account-settings__desc {
    color: $cool-gray;
  }

  .form-modal__item--city {
    width: 46%;
    margin-right: 2%;
    float: left;
  }

  .form-modal__item--country {
    width: 52%;
    float: left;
  }

  .form-modal__item--social {
    clear: both;

    label {
      position: relative;

      i {
        position: absolute;
        font-size: 24px;
        top: 10px;
        left: 4px;
      }

      input {
        margin-top: 8px;
        padding-left: 40px;
        max-width: 400px;
      }
    }
  }
}

.change-password {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;

  .form-modal__item--username {
    min-height: 40px;

    .account-box__initials {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
    }

    h4 {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }
}
