.help-bubble {
  position: relative;
}

.help-bubble__trigger {
  cursor: pointer;
  text-align: center;
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
  width: 100%;
  display: block;
  font-weight: normal;
  color: $cool-silver;

  &:hover {
    color: $cool-blue;
  }

  .k-icon {
    font-size: 38px;
    display: block;
  }
}

.help-bubble__bubble {
  position: absolute;
}
