// bem.CollectionNav = bem('collection-nav');
// bem.CollectionNav__search = bem.CollectionNav.__('search');
// bem.CollectionNav__searchcriteria = bem.CollectionNav.__('searchcriteria');
// bem.CollectionNav__actions = bem.CollectionNav.__('actions');

.collection-nav {
  width:100%;
}

.collection-nav__search {
  @extend .mdl-grid;
  width: 100%;
}

.search__summary {
  width: 100%;
}

.collection-nav__searchcriteria {}

.collection-nav__actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.collection-nav__button {
  @extend .mdl-button;
  min-width: 100%;
  > i {
    @extend .fa, .fa-cloud, .fa-fw;
    margin-right: 12px;
  }
}

.collection-nav__link {
  @extend .mdl-button;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-plus;
    margin-right: 12px;
  }
}

.collection-nav__search {
  > .search {
    @extend .mdl-cell, .mdl-cell--8-col;
  }

  > .Select {
    @extend .mdl-cell, .mdl-cell--4-col;
  }

  .Select-control {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #DDD;
    margin-top: 10px;
    border-radius: 0;
  }
}
