.asset-list-sorts {
  padding: 0px 12px;
  white-space: nowrap;
  border-bottom: 1px solid transparentize($cool-gray, 0.7);
  > .asset-list-sorts__item {
    color: $cool-gray;
    font-weight: 500;
    position: relative;
    padding: 10px 0px;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    &:after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: transparentize($cool-gray, 0.7);
      right: -4px;
      top: 0px;
      position: absolute;
    }
    &.asset-list-sorts__item--questions, 
    &.asset-list-sorts__item--submissions {
      letter-spacing: -0.02em;
      &:after {
        display: none;
      }
    }
  }
}

.search__summary {
  background-color: #F0F0F0;
  height: 50px;
  width: 100%;
  flex-grow: 0;
  color: $greyish-brown;
  text-align: right;
  padding: 15px;
  > div {
    display: inline;
  }
  div + div {
    margin-left: 5px;
  }
}

// regular, non-grouped list for library
div.library {
  height:100%;
  margin-left: 8px;
}

.library__breadcrumb {
  height:36px;
  font-size: 18px;
  line-height: 30px;
  color: $cool-gray;
  span {
    padding-right: 8px;
  }
}

.list--regular {
  flex-flow: column;
  margin: 0px !important;
  position: relative;
  height: calc(100% - 50px);
  width:100%;
  .asset-list {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
  .asset-row > .asset-row__buttons {
    width: 33%;
    top: 10px;
  }
  .asset-list, .asset-list-sorts {
    background-color: #FFF;
  }

  .library__breadcrumb:not(.hidden) + .asset-list-sorts + .asset-list {
    height: calc(100% - 86px); 
  }
}


// grouped list for Projects

.list--grouped {
  height: 100%;
  margin: 0px 8px;
  overflow-y: auto;
  width: calc(100% - 0.8em);
  overflow-x:hidden;
  .asset-list {
    min-height: 300px;
    margin-bottom: 4px;
    > .loading {
      margin-top:110px;
    }
  }
  .asset-list__heading {
    margin: 10px;
    font-size: 18px;
    color: $cool-gray;
    // cursor: pointer;
  }
  .asset-items {
    @extend .mdl-shadow--2dp;
    background: #FFF;
    position: relative;
    &--visible {
    }
    &--collapsed {
      max-height: 0px;
      overflow: hidden;
    }
    + .asset-list__heading {
      margin-top: 20px;
    }
  }
}

// fixed headings when scrolling asset list

.asset-list--fixed-headings {
  .asset-list-sorts {
    display: none;
  }
  > :nth-child(2) {
    .asset-list-sorts {
      display: flex;
      position: fixed;
      width:calc(100% - 270px);
      top:62px;
      background: #FFF;
      z-index:99;
      overflow: hidden;
      box-shadow: 0px 2px 4px 2px rgba( 0, 0, 0, 0.04);
    }
  }
}

@media screen and (max-width: 767px) {
  .asset-list--fixed-headings {
    > :nth-child(2) .asset-list-sorts {
      width:calc(100% - 22px);
    }
  }
}
