.kpiapp,
.mdl-wrapper,
.mdl-layout {
  height: 100%;
}

.mdl-layout {
  max-width: 1440px;
  margin: 0 auto;
}

.mdl-layout__content {
  height: calc(100% - 72px);
  overflow: visible;
  position: relative;
  margin-top: 8px;
  // transition removed due to printing bug in Chrome
}

.ui-panel {
  height: 100%;
  margin: 0px 8px;
}

.ui-panel__body {
  @extend .mdl-grid, .mdl-grid--no-spacing, .mdl-shadow--2dp;
  background: #FFF;
  padding: 0;
  height: 100%;
  flex-direction: column;
  > .asset-view__content,
  > .formBuilder {
    @extend .mdl-cell, .mdl-cell--12-col;
    flex-flow: column;
    margin: 0px !important;
  }
  > .asset-view__content {
    height: 100%;
  }
  > .formBuilder {
    height: 100%;
  }
}

.ui-panel--transparent .ui-panel__body {
  background: transparent;
  box-shadow: none;
  margin: 0px;
}

.k-form-header__inner {
  max-width: 1200px;
  display: flex;
}

// Focus mode for form builder, disable drawer, header
.mdl-layout.page-wrapper--header-hidden.mdl-layout.page-wrapper--drawer-hidden {
  .mdl-layout__content {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .ui-panel {
    margin: 0px;
  }
}

.text-small {
  font-size: 0.85em;
  opacity: .75;
}

.message {}

.message--error {
  text-decoration: uppercase;
}

.message--loading {
  text-align: center;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-circle-o-notch, .k-spin;
  }
}

// Loading messages
.loading {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 18px;
  opacity: 0.8;
  i:first-child {
    @extend .fa, .k-spin, .fa-circle-o-notch;
    margin-right: 12px;
    vertical-align: middle;
    font-size: 24px;
  }
  &__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}


.popover-menu {
  position: absolute;
  top: 1.5em;
  right: 0;
  min-width:200px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.popover-menu__link, .popover-menu__item {
  background-color: #FFF;
  display: block;
  padding: 10px;
  position: relative;
  color:$cool-gray;
  cursor: pointer;
  white-space: nowrap;

  > i:first-child {
    margin-right: 6px;
    font-size: 18px;
  }

}

.popover-menu__link {
  &--dl-xls, &--dl-xml {
    text-transform: uppercase;
    padding-left: 50px !important;
  }
  &:hover {
    background-color: #eff0f1;
    color:$cool-gray;
  }
  &.active {
    color: unquote("rgb(#{$color-primary})");
  }
}

// bordered button style
.mdl-button.mdl-button--bordered {
  border:1px solid unquote("rgb(#{$color-primary})");
  color: unquote("rgb(#{$color-primary})");
  padding:0px 40px;
  text-transform: uppercase;
  &:hover {
    background:transparent;
  }
}

// bordered button style
.mdl-button.mdl-button--bordered.mdl-button--gray-border {
  border:1px solid $cool-gray;
  color: $cool-gray;
}

// iframe default styles 
iframe {
  border:none;
}

// modal forms 
.form-modal__item {
  margin-bottom: 15px;
  label {
    font-weight: 400;
    font-size:14px;
    color:#4A4A4A;
    &.long {
      padding-top: 5px;
      margin-bottom: 10px;
    }
  }

  label:not(.inline) {
    display: block;
    padding-bottom: 5px;
  }

  input[type="text"], 
  input[type="email"], 
  input[type="password"], 
  select, 
  textarea {
    width:100%;
    padding:6px 10px;
    font-size:15px;
    border:1px solid $cool-gray;
  }

  textarea {
    min-height: 80px;
  }

  input[type="checkbox"] {
    font-size: 20px;
    margin-right: 5px;
  }

  .Select-control {
    border:1px solid $cool-gray;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &--actions {
    text-align: right;
    padding-top: 10px;
  }
}

// UI MDL Popover

.ui-mdl-popover {
  position: relative;
  text-align: left;
  button {
    border:none;
    background-color: transparent;
    margin-left: 4px;
    font-weight: 400;
    color: $cool-gray;
    cursor: pointer;
    padding: 4px 6px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    &:hover {
      background-color: transparent;
      color: unquote("rgb(#{$color-accent})");
    }
  }
  ul {
    text-align: left;
    > a {
      min-width: 200px;
    }
  }
}

// UI Switch toggles -- bem.ToggleSwitch
.toggle-switch {
  min-height: 30px;
}
.toggle-switch input {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.toggle-switch label {
  display: inline-block;
  background: lighten($cool-gray, 20%);
  width: 4em;
  height: 1.5em;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
}

.toggle-switch label .switch {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  margin-top: 0.1em;
  margin-left: 0.1em;
  border-radius: 1.3em;
  background: darken($cool-gray, 10%);
  box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
  transition: transform .2s ease-in;
}

.toggle-switch input:checked + label .switch {
  background: $cool-green;
  transform: translatex(2.5em);
  transition: transform .2s ease-in;
}

.toggle-switch label .text {
  position: absolute;
  height: 1.3em;
  margin-top: 0.2em;
  margin-left: 0.5em;
  text-transform: uppercase;
  left: 1.2em;
  color:darken($cool-gray, 10%);
}

.toggle-switch input:checked + label .text {
  color:$cool-green;
  left: 0px;
}


// Scrollbar overrides

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: #DEDEDE;
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #DEDEDE;
  outline: none;
  border-radius: 8px;
}

