.lib-list {
  list-style-type: none;
  padding: 0;
}

.lib-list--empty {
  .lib-list__item {
    cursor: default;
  }
}

.lib-list--done {
  .lib-list__item {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

.lib-list__item {
  border: 1px solid $kobo-gray-92;
  padding-left: 20px;
  position: relative;
  margin: 5px 0;
  background-color: $kobo-white;

  &.sortable-active {
    &:after {
      content: 'importing...';
    }
  }

  &.ui-sortable-helper {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.ui-sortable-helper {
    background-color: $kobo-white;
  }

  ol {
    font-size: smaller;
    opacity: 0.7;
    margin-bottom: 6px;
    line-height: 1.3em;
  }
}

.lib-list__tags {
  line-height: 14px;
  font-size: 11px;
  padding-left: 5px;
  @extend .clearfix;
}

.lib-list__tag {
  @extend .react-tagsinput-tag;
  max-width: 90%;
  overflow: hidden;
}

.lib-list__dragbox {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 12px;
  height: 12px;
  margin-top: -8px;
  background-color: $kobo-gray-92;
  border-radius: 6px;
}

.lib-list__label {
  padding: 5px;
  line-height: 1.4em;

  .asset-name {
    font-weight: 600;
  }
}

.lib-list__qtype {
  padding: 0 5px;
  font-weight: 600;
  opacity: 0.7;
  font-size: smaller;
}
