/* ==========================================================================
 * AssetsTable
 * ========================================================================== */

.assets-table {
  width: 100%;
  background-color: $white;

  &.assets-table--default {
    .assets-table-row__column--owner {
      width: 10%;
    }

    .assets-table-row__column--status {
      width: 50px;
    }

    .assets-table-row__column--collection {
      width: 10%;
    }

    .assets-table-row__column--primary-sector {
      width: 10%;
    }

    .assets-table-row__column--country {
      width: 10%;
    }

    .assets-table-row__column--last-modified {
      width: 10%;
    }
  }

  &.assets-table--collection-content {
    .assets-table-row__column--owner {
      width: 20%;
    }

    .assets-table-row__column--last-modified {
      width: 20%;
    }
  }
}

/* ==========================================================================
 * AssetsTableRow
 * ========================================================================== */

$z-assets-table-row-link: 10;
$z-assets-table-row-buttons: 20;

.assets-table-row {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;

  &.assets-table-row--asset {
    &:hover {
      background-color: $cool-whitegray;

      .k-icon[data-counter]::after {
        background-color: $cool-whitegray;
      }

      .assets-table-row__buttons {
        opacity: 1;
        visibility: visible;
      }
    }

    .assets-table-row__column--icon {
      padding: 3px 0 0 0;

      .k-icon {
        font-size: 32px;
      }
    }
  }

  &.assets-table-row--header .assets-table-row__column {
    border-top: 0;
    border-bottom: 1px solid $divider-color;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    height: 40px;
    line-height: 20px;

    &:hover {
      background-color: $cool-whitegray;
    }

    &:active {
      border-bottom-color: transparent;
    }

    .k-icon {
      font-size: 20px;
      // to take up space when empty
      min-width: 20px;
      display: inline-block;
    }
  }

  &.assets-table-row--footer {
    display: block;

    .assets-table-row__column {
      border-top: 2px solid $divider-color;
    }
  }

  &.assets-table-row--empty-message {
    padding: 60px 40px;
  }

  .assets-table-row__link {
    cursor: pointer;
    position: absolute;
    z-index: $z-assets-table-row-link;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .assets-table-row__buttons {
    position: absolute;
    z-index: $z-assets-table-row-buttons;
    top: 0;
    right: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    transition: 0.25s;
  }

  .assets-table-row__column {
    border-top: 1px solid $divider-color;
    padding: 10px;

    &.assets-table-row__column--icon {
      width: 40px;
      text-align: center;
    }

    &.assets-table-row__column--name {
      flex: 1;
    }

    &.assets-table-row__column--last-modified {
      text-align: right;
    }

    .k-icon {
      vertical-align: middle;
    }
  }
}
