.asset-type-icon {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-right: 10px;
  vertical-align: middle;

  &--small {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  &--medium {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 22px;
  }

  width: 32px;
  height: 32px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 24px;

  &--block {
    background-color: $cool-green;
    border: 1px solid $cool-green;

    > i {
      &:before {
        content: 'B';
        font-style: normal;
        font-size: 14px;
      }
    }
  }

  &--question {
    background-color: #FFF;
    border: 1px solid $cool-green;
    color: $cool-green;

    > i {
      &:before {
        content: 'Q';
        font-style: normal;
        font-size: 14px;
      }
    }
  }

  &--survey {
    background-color: #FFF;
    border: 2px solid $cool-green;
  }
}

.asset-row--active .asset-type-icon--survey, 
.asset-row .asset-type-icon--survey:hover {
    background-color: $cool-green;
}


