.breadcrumbs {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &.breadcrumbs--gray-wrapper {
    background: $kobo-gray-96;
    padding: #{($s-breadcrumbs-height - 40px) * 0.5} 20px;
    height: $s-breadcrumbs-height;

    justify-content: space-between;
    button {
      @extend .mdl-button; // Why is having the className insufficent?
    }
    i {
      @extend .k-icon, .k-icon-expand;
      font-size: 32px;
      position: fixed;
    }
  }

  .breadcrumbs__crumb,
  .breadcrumbs__divider {
    color: $kobo-gray-40;
  }

  .breadcrumbs__crumb {
    &:last-of-type {
      color: $kobo-gray-24;
    }
  }

  .breadcrumbs__divider {
    @extend .k-icon, .k-icon-next;

    font-size: 24px;
    margin: 0 3px;
  }
}
