@use "scss/_colors";

/*
 * This is a smaller alternative to kobo-button. Modifiers to use:
 * - icon-only
 * - full-width
 * - pending
 * - blue
 * - teal
 * - green
 * - orange
 * - red
 */

@mixin koboLightButtonVariant($mainColor) {
  color: $mainColor;
  border-color: $mainColor;

  &:hover,
  &.kobo-light-button--pending {
    color: colors.$kobo-white;
    background-color: $mainColor;
    border-color: $mainColor;
  }

  // Note: `pending` modifier uses the same base look as hover state.
  &.kobo-light-button--pending .k-icon.k-icon-spinner.k-spin {
    color: colors.$kobo-white;
  }
}

.kobo-light-button,
.kobo-light-badge {
  display: inline-block;
  vertical-align: middle;
  position: relative; // needed for tooltips etc.
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  height: 24px;
  line-height: 14px;
  padding: 4px 12px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap; // for smaller screens

  // icon inside is bigger than the button, so we need cleverness to position it
  i,
  .k-icon {
    vertical-align: top;
    font-size: 18px;
    position: relative;
    top: -2px;
    margin-right: 3px;
  }

  &.kobo-light-button--icon-only,
  &.kobo-light-badge--icon-only {
    // ideally we want a square here
    padding-left: 4px;
    padding-right: 4px;

    & i,
    & .k-icon {
      margin-right: 0;
    }
  }

  &.kobo-light-button--full-width {
    width: 100%;
    text-align: center;
  }
}

.kobo-light-badge {
  color: colors.$kobo-gray-24;
  background-color: colors.$kobo-gray-92;
  border-color: colors.$kobo-gray-92;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}

.kobo-light-button {
  cursor: pointer;
  color: colors.$kobo-gray-40;
  background-color: transparent;
  border-color: currentColor;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover,
  &.kobo-light-button--pending {
    color: colors.$kobo-white;
    background-color: colors.$kobo-gray-40;
    border-color: colors.$kobo-gray-40;
  }

  &:active {
    // makes the shadow smaller and moves button down by small bit
    // to make it look pressed-in
    transform: translateY(1px);
  }

  &.kobo-light-button--blue {
    @include koboLightButtonVariant(colors.$kobo-blue)
  }

  &.kobo-light-button--teal {
    @include koboLightButtonVariant(colors.$kobo-teal)
  }

  &.kobo-light-button--green {
    @include koboLightButtonVariant(colors.$kobo-green)
  }

  &.kobo-light-button--orange {
    @include koboLightButtonVariant(colors.$kobo-orange)
  }

  &.kobo-light-button--red {
    @include koboLightButtonVariant(colors.$kobo-red)
  }

  &.kobo-light-button--gray {
    @include koboLightButtonVariant(colors.$kobo-gray-65)
  }

  // NOTE: this requires `<Icon name='spinner' className='k-spin'/>` to
  // be present inside the button (ideally rendered only when necessary).
  &.kobo-light-button--pending {
    // hide button text
    color: transparent !important;
    position: relative;

    // Disable any interactions (and hover effects).
    pointer-events: none;

    .k-icon.k-icon-spinner.k-spin {
      color: colors.$kobo-white;
      display: block;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 9px);
    }
  }
}
