$drawer-icons-column-width: 56px;

.k-drawer__icons {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 100%;
  background-color: #F0F0F0;
}

.k-drawer__link {
  font-size: 36px;
  text-align: center;
  color: $layout-drawer-nav-link-color;
  padding: 16px 0px;
  span.label {
    display: none;
    font-size: 14px;
    font-weight: 400;
  }
  &:hover {
    color: unquote("rgb(#{$color-primary})");
  }
  &.active {
    color: unquote("rgb(#{$color-primary})");
    background-color: $layout-drawer-nav-link-active-bg;
    span.label {
      display: inline-block;
    }
  }
}

.k-drawer__icons-bottom {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #CDCDCD;
  padding-bottom: 40px;
  .k-drawer__link {
    padding: 12px 0px;
    font-size: 28px;
  }
}

.drawer__sidebar {
  width: calc(100% - 50px);
  height: 100%;
  padding: 15px 10px;
  overflow: hidden;
  .header-breadcrumb__item {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    a {
      color: #8A9AA4;
      font-weight: normal;
    }
    i {
      color: #8A9AA4;
      font-size: 22px;
      vertical-align: middle;
    }
  }
  .k-drawer__close {
    display: none;
  }
}

// collection nav buttons and menu

.collection-nav__actions {
  text-align: center;
  margin-bottom: 10px;
  > button {
    min-width: 120px;
    text-transform: uppercase;
  }
}

.collection-nav__button {
  @extend .mdl-button;
  min-width: 100%;
  > i {
    @extend .fa, .fa-cloud, .fa-fw;
    margin-right: 12px;
  }
}

.collection-nav__link {
  @extend .mdl-button;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-plus;
    margin-right: 12px;
  }
}

// drawer layout size
.k-drawer {
  height: calc(100% - 72px);
  top: $layout-desktop-header-height;
  margin-left: 4px;
  width: $layout-drawer-width;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: row;
  background-color: #FFF;
}

.k-drawer + .mdl-layout__content {
  margin-left: $layout-drawer-width + 8px;
}

@media screen and (max-width: 768px) {
  .k-drawer {
    position: fixed;
    z-index: 4;
    left: -256px;
    transition: left 0.5s;
  }
  .page-wrapper--fixed-drawer .k-drawer {
    left: 0px;
    width: 340px;
  }
  .k-drawer + .mdl-layout__content {
    margin-left: 0px;
  }
  .drawer__sidebar {
    .k-drawer__close {
      font-size: 16px;
      opacity: 0.8;
      position: absolute;
      right: 8px;
      top: 8px;
      display: block;
    }
  }
}
