@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$icon-font-size: 40px;
$s-gallery-spacing: 10px;
$gallery-transition: 250ms ease-in-out;

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: $height / $width * 100%;
  }

  > div, a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.one-one {
  @include aspect-ratio(1, 1);
}

.asset-gallery {
  height: 100%;
  overflow: auto;
  padding: 3 * $s-gallery-spacing;

  > *:not(:first-child) {
    margin-top: 2 * $s-gallery-spacing;
    margin-bottom: 0;
  }

  > h2:not(:first-child) {
    color: $cool-gray;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    margin-top: 3 * $s-gallery-spacing;
  }

  .asset-gallery__heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .asset-gallery__heading__count {
      color: $layout-header-bg-color;
    }

    .asset-gallery__heading__search-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text-box {
        border-radius: 2px;
        height: 33px;
        width: 160px;

        .text-box__input {
          height: 33px;
        }
      }

      .Select {
        margin-left: $s-gallery-spacing;
        width: 160px;
      }
    }
  }
}

.asset-gallery__load-more {
  width: 100%;

  .asset-gallery__load-more__button,
  .asset-gallery__load-more__message {
    @extend .mdl-button, .mdl-button--colored;
    width: 100%;
    background: white;
  }

  .asset-gallery__load-more__message {
    color: $cool-gray;
    pointer-events: none;
  }
}

.asset-gallery-grid {
  display: flex;
  flex-wrap: wrap;

  h5, h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: $s-gallery-spacing 0px;
    font-weight: normal;
  }

  &.asset-gallery-grid--6-per-row .asset-gallery-grid__item {
    width: calc(100%/6 - #{$s-gallery-spacing} * 5/6);
    height: calc(100%/6);
    margin-right: $s-gallery-spacing;

    &:nth-child(6n) {
      margin-right: 0;
    }

    &:nth-child(n + 7) {
      margin-top: $s-gallery-spacing;;
    }
  }

  &.asset-gallery-grid--10-per-row .asset-gallery-grid__item {
    width: calc(100%/10 - #{$s-gallery-spacing} * 9/10);
    height: calc(100%/10);
    margin-right: $s-gallery-spacing;

    &:nth-child(10n) {
      margin-right: 0;
    }

    &:nth-child(n + 11) {
      margin-top: $s-gallery-spacing;;
    }
  }

  .asset-gallery-grid__item {
    display: inline-block;
    cursor: pointer;
    background-color: lighten($cool-gray, 30%);

    .asset-gallery-grid__item__overlay {
      opacity: 0;
      visibility: hidden;
      transition: $gallery-transition;
      // leave overlay for a moment after mouseleave
      transition-delay: 250ms;
      background: rgba($black, 0.6666);
    }

    &:hover .asset-gallery-grid__item__overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0ms;
    }

    .asset-gallery-grid__item__overlay-text {
      color: #fff;
      position: absolute;
      top: $s-gallery-spacing;
      right: $s-gallery-spacing;
      bottom: $s-gallery-spacing;
      left: $s-gallery-spacing;

      h5 {
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        line-height: 1.25em;
        max-height: 3.75em;
        overflow: hidden;
      }

      p {
        position: absolute;
        margin: 0;
        bottom: 0;
        font-size: 0.85em;
        line-height: 1.1em;
        opacity: 0.7;
      }
    }
  }
}

.single-gallery-modal {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: row;

  .slick-slider {
    height: 100%;
    overflow: hidden;

    .slick-list,
    .slick-track,
    .slick-slide {
      height: inherit;
    }

    .slick-current {
      // for accessing title attribute
      z-index: 1;
    }

    /* SLICK ARROWS */
    &:hover .slick-arrow {
      &.slick-prev {left: 0;}
      &.slick-next {right: 0;}
    }

    .slick-arrow {
      display: block;
      height: 100%;
      width: 60px;
      background: rgba($trueblack, 0.6);
      z-index: 8;
      transition: $gallery-transition;
      transition-property: left, right;

      .k-icon-next, .k-icon-prev {
        color: #fff;
        font-size: 60px;
        opacity: 0.6;
      }

      &:hover {
        background: rgba($trueblack, 0.8);
        .k-icon-next, .k-icon-prev {opacity: 0.8;}
      }

      &:active {
        .k-icon-next, .k-icon-prev {opacity: 1;}
      }

      &::before {
        // disable default slick-slider arrow icons
        content: '';
      }

      &.slick-disabled {
        pointer-events: none;
        .k-icon-next, .k-icon-prev {
          opacity: 0.3;
        }
      }

      &.slick-next {right: -60px;}

      &.slick-prev {left: -60px;}
    }
  }

  .single-gallery-modal__carousel {
    width: 75%;
    position: relative;
    background: $trueblack;
  }

  .single-gallery-modal__carousel-image {
    picture {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .single-gallery-modal__sidebar {
    width: 25%;
    background: #fff;
    overflow: auto;

    h3 {
      font-weight: 400;
      font-size: 18px;
      margin-top: $s-gallery-spacing;
    }

    h5 {
      color: $cool-blue;
      margin: 0;
      font-weight: bold;
      font-size: 1.1em;
      cursor: pointer;
    }

    .single-gallery-modal__sidebar__grid {
      display: flex;
      flex-wrap: wrap;
      margin-top: $s-gallery-spacing;

      .single-gallery-modal__sidebar__grid-item {
        width: calc(100%/3 - #{$s-gallery-spacing} * 2/3);
        height: calc(100%/3);
        margin-right: $s-gallery-spacing;
        cursor: pointer;

        .one-one {
          background-color: $cool-lightgray;
        }

        &:hover {
          opacity: 0.6666;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(n + 4) {
          margin-top: $s-gallery-spacing;;
        }

        &.single-gallery-modal__sidebar__grid-item--selected {
          border: 1px solid $cool-blue;
        }
      }
    }
  }

  .single-gallery-modal__sidebar-info {
    margin: 50px 30px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid $divider-color;
  }

  .single-gallery-modal__sidebar-grid-wrap {
    margin: 30px;
  }
}

.paginated-gallery-modal {
  .paginated-gallery-modal__heading {
    border-bottom: 1px solid $cool-lightgray;
    padding: 2* $s-gallery-spacing;
    color: $black;

    h2 {
      margin: 0 0 $s-gallery-spacing;
      color: inherit;
      font-size: 1.75em;
      font-weight: 500;
    }

    h4 {
      margin: 0;
      color: inherit;
      font-size: 1em;
    }
  }

  .paginated-gallery-modal__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2* $s-gallery-spacing;

    label + .Select {
      margin-left: 5px;
    }

    &.paginated-gallery-modal__controls--select-direction-up {
      .Select-menu-outer {
        top: auto;
        bottom: 100%;
      }
    }

    .change-sort {
      .Select-control {
        min-width: 220px;
      }
    }

    .change-offset {
      display: flex;
      align-items: center;

      .Select-control {
        min-width: 70px;
      }
    }

    ul.pagination {
      text-align: center;

      li {
        list-style: none;
        cursor: pointer;
        display: inline-block;

        &:not(:first-child) {
          margin-left: $s-gallery-spacing;
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        a {
          color: $black;
          min-width: 33px;
          line-height: 33px;
          display: block;
        }

        &:hover {
          opacity: 0.75;
        }

        &.active {
          a {
            background: $cool-blue;
            border-radius: 2px;
            color: white;
            font-weight: 600;
          }
        }
      }
    }
  }

  .paginated-gallery-modal__gallery-wrapper {
    margin: 2* $s-gallery-spacing;
  }
}
