// RESTServices custom overrides

.rest-services {
  display: flex;
  flex-direction: column;

  // centers empty content message
  &.rest-services--empty {
    align-items: center;
    justify-items: center;
  }

  .form-view__cell--rest-services-list {
    flex: 1;
  }

  > button {
    display: block;
    align-self: flex-end;
    margin-top: 30px;
  }
}
