$mult: 0.5;

%demo-panel {
  width: 650px * $mult;
  height: 1280px * $mult;
  float: left;
}

.ui-panel--overflowhidden {
  overflow: hidden;
}

// .asset-view {
//   &.asset-view--type-survey {}
//   &.asset-view--type-block {}
//   &.asset-view--type-question {}
// }

.asset-view__content {
  @extend .mdl-card__supporting-text;
}

.asset-view__message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;

  &--loading {
    > i {
      @extend .fa, .fa-fw, .fa-spin, .fa-spinner;

      margin-right: 15px;
    }
  }
}

%has-icon-col {
  @extend .row;

  padding-bottom: 12px;
  min-height: 1.2em;
  border-top: 1px solid #eee;
  padding-top: 6px;
}

.asset-view__row {
  @extend .row;
}

.asset-view__row--header {
  padding: 0 10px 0 12px;

  // reset MDL css effects for buttons
  button:focus:not(:active) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

// .asset-view__row {
//   &--fixed {
//     position: fixed;
//     top: 63px;
//     z-index: 99;
//     margin: -7px -16px;
//     padding: 7px 35px 7px;
//     background-color: #fff;
//     width: calc(100% - 160px);
//     max-width: 894px;
//     border-bottom: 1px solid #D8E3EC;
//   }
// }

.asset-view__ancestors {
  // @extend .col-md-12;
  .asset-view__row & {
    margin-bottom: 0px;
  }

  .asset-view__ancestor {
    margin: 0 3px 1px 0;
  }
}

// .asset-view__ancestor {
//   @extend .label, .label-warning;
// }

.asset-view__key {
  float: left;
  width: 60%;
  margin-right: 5%;
  text-align: right;
}

.asset-view__val {
  float: left;
  width: 30%;
  margin-right: 5%;
}

@mixin assetTypeHeader($col, $iconkls) {
  color: $col;

  // border-bottom: 6px solid $col;
  // margin: -7px -7px 0;
  hr {
    display: none;
  }

  font-size: 16px;

  .asset-view__asset-type {
    > i:first-child {
      @extend .fa, .fa-fw, .fa-#{$iconkls};
    }

    > i[data-tip] {
      opacity: 0.5;
      margin-left: 18px;

      &:hover {
        opacity: 1;
      }

      @extend .fa, .fa-fw, .fa-question;
    }
  }
}

.asset-view__asset-type-wrap {
  &--type-survey {
    @include assetTypeHeader($kcol-clone, "file");
  }

  &--type-question {
    @include assetTypeHeader($kcol-7, "circle-o");
  }

  &--type-block {
    @include assetTypeHeader($kcol-8, "square-o");
  }
}

.asset-view__asset-type {
  text-transform: uppercase;
  line-height: 10px;
  font-weight: 600;
  padding: 7px 4px 4px;

  small {
    color: #bbb;
    font-style: italic;
    font-weight: 400;
    margin-left: 12px;
    text-transform: none;
  }

  > i:first-child {
    @extend .fa, .fa-fw, .fa-question;

    margin-right: 2px;
  }

  &--type-survey {
    color: mix(#999, $kcol-clone, 50%);
    border-color: $kcol-clone;
    background-color: lighten($kcol-clone, 45%);

    > i:first-child {
      @extend .fa-file;
    }
  }

  &--type-question {
    color: mix(#999, $kcol-7, 50%);
    border-color: $kcol-7;
    background-color: lighten($kcol-7, 37%);

    > i:first-child {
      @extend .fa-circle-o;
    }
  }

  &--type-block {
    color: mix(#999, $kcol-8, 50%);
    border-color: $kcol-8;
    background-color: lighten($kcol-8, 60%);

    > i:first-child {
      @extend .fa-square-o;
    }
  }
}

.asset-view__name {
  @extend h3;

  margin-bottom: 0.5em;
  position: relative;
  padding-left: 50px;

  &--untitled {
    color: #666;
  }

  small {
    font-style: italic;
    font-size: smaller;
    color: lighten(#666, 2%);
  }

  .asset-type-icon {
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;
  }
}

.asset-view__tags {
  margin-bottom: 1em;

  .asset-view__iconwrap {
    display: inline-block;
    float: left;
    font-size: 18px;
    vertical-align: baseline;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;

    i {
      @extend .fa, .fa-tag;
    }
  }

  &--empty {
    span {
      font-style: italic;
      color: #bbb;
    }
  }
}

.asset-view__row--meta {
  @extend .mdl-grid;

  .asset-view__col {
    @extend .mdl-cell, .mdl-cell--2-col;
  }

  .asset-view__label {
    font-weight: bold;
    display: block;
    text-transform: capitalize;
  }
}

.asset-view__span {
  &--username, &--can-view, &--can-edit {
    display: block;
  }
}

// buttons

@mixin action-faicon($faClass) {
  > i {
    @extend .fa, .fa-fw, .fa-#{$faClass};
  }
}

.asset-view__buttons {
  @extend .mdl-grid;
}

.asset-view__buttoncol {
  position: relative;

  @extend .mdl-cell, .mdl-cell--2-col;

  .asset-view__link, .asset-view__button {
    display: block;
    width: 100%;
  }
}

// @mixin disableablelink($col) {
//   background-color: $col;
//   color: #fff;

//   &:focus {
//     background-color: $col !important;
//   }

//   &.asset-view__link--disabled, &.asset-view__button--disabled {
//     $bgcol: mix(white, $col, 50%);
//     background-color: $bgcol;
//     cursor: default;
//     box-shadow: none;
//     color: mix(#666, $bgcol, 50%);
//   }
// }
.asset-view__button, .asset-view__link {
  @extend .mdl-button;

  padding: 0;

  i {
    margin-right: 8px;
  }

  &--disabled {
    opacity: 0.5;
  }

  &--preview {
    @extend .mdl-color--purple-800;

    @include action-faicon("eye");
  }

  &--edit {
    // @include disableablelink($kcol-edit);
    @extend .mdl-color--indigo-800;

    @include action-faicon("pencil");
  }

  &--download {
    @extend .mdl-color--light-blue-800;

    @include action-faicon("download");
  }

  &--clone {
    @extend .mdl-color--teal-800;

    @include action-faicon("upload");
  }

  &--sharing {
    @extend .mdl-color--light-green-800;

    @include action-faicon("share-alt");

    > i {
      @extend .fa-share-alt;
    }
  }

  &--deploy {
    // @extend .mdl-color--amber-800;
    @include action-faicon("play");
  }

  &--refresh {
    @extend .mdl-color-text--red;

    @include action-faicon("refresh");
  }

  &--delete {
    @extend .mdl-color-text--red;

    > i {
      @extend .fa, .fa-fw, .fa-trash-o;
    }
  }
}

.asset-view__buttons {
  .asset-view__button, .asset-view__link {
    @extend .mdl-button--raised, .mdl-button--colored;
  }
}

.asset-view__row--secondary-buttons {
  @extend .mdl-grid;

  margin-top: 20px;

  .asset-view__buttoncol--third,
  .asset-view__buttoncol--fourth {
    @extend .mdl-cell--hide-tablet;
  }

  .asset-view__buttoncol--first,
  .asset-view__buttoncol--third,
  .asset-view__buttoncol--fourth {
    @extend .mdl-cell--hide-phone;
  }
}

.asset-view__deployments, .asset-view__langs {
  @extend .mdl-cell, .mdl-cell--12-col;

  text-align: center;
}

.asset-view__langs {
  margin-bottom: 20px;
}