#data-map {
  height: 100%;
  width: 100%;
}

.form-view--map {
  position: relative;

  .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(#FFF, 0.8);
  }

  .form-view__map-button {
    position: absolute;
    right: 12px;
    top: 65px;
    padding: 4px;

    @include box-shadow;

    border-radius: 6px;
    background: white;
    z-index: 700;
    cursor: pointer;
    color: lighten($black, 40%);

    &--heatmap {
      top: 118px;
    }

    &--expand {
      top: 12px;
    }

    &.active,
    &:hover {
      color: $black;
    }

    i {
      font-size: 36px;
    }
  }
}

.leaflet-top.leaflet-right {
  margin-right: 56px;

  // right margin plus icon size
}

.popover-menu--viewby-menu {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 700;

  .popover-menu__toggle {
    min-width: 160px;
    background: #FFF;

    @include box-shadow;

    border-radius: 6px;
    padding: 12px;
    text-align: left;
    color: $cool-gray;
  }

  .popover-menu__content {
    right: auto;
    left: 0px;
    max-width: 240px;
    overflow: auto;
    max-height: 300px;
  }
}

body .leaflet-control-layers,
.leaflet-touch .leaflet-control-layers {
  border: none;
  border-radius: 6px !important;

  @include box-shadow;

  margin-right: 12px;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .popover-menu--viewby-menu {
    max-width: 90%;

    .popover-menu__toggle {
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.form-view__map-list {
  position: absolute;
  bottom: 70px;
  left: 15px;
  z-index: 689;
  height: 250px;
  min-width: 180px;
  padding: 5px;
  background: #FFF;
  overflow: none;

  @include box-shadow;

  border-radius: 6px;

  .maplist-legend {
    padding: 3px 6px;
    cursor: pointer;

    i {
      font-size: 18px;
      margin-right: 6px;
    }
  }

  .maplist-contents {
    display: block;
    margin-bottom: 5px;
    height: calc(100% - 32px);
    overflow: auto;
  }

  &.collapsed {
    height: auto;

    .maplist-contents {
      display: none;
    }
  }

  .map-marker-item {
    padding: 4px 6px;
  }

  span {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
  }

  span.map-marker {
    margin-right: 8px;
    text-align: center;
    line-height: 22px;
    min-width: 24px;
    max-width: 48px;
    width: auto;
    height: 24px;
    padding: 0px 3px;
  }

  span.map-marker-label {
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.form-view__map {
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 701;
  }
}

// autolayers, hide unneeded elements
.leaflet-control-layers-expanded {
  .leaflet-control-autolayers-title,
  .leaflet-control-layers-tab .map-filter,
  .leaflet-control-layers-separator {
    display: none;
  }
}

// marker colors

.map-marker {
  width: 30px;
  height: 30px;
  background: rgba(255, 50, 0, 0.4);
  border: 1px solid #FFF;
  border-radius: 30px;
}

.map-marker {
  &-0 {
    background: rgba(52, 106, 200, 0.4);
  }

  &-1 {
    background: rgba(252, 74, 124, 0.4);
  }

  &-2 {
    background: rgba(250, 213, 99, 0.4);
  }

  &-3 {
    background: rgba(113, 230, 33, 0.4);
  }

  &-4 {
    background: rgba(78, 203, 255, 0.4);
  }

  &-5 {
    background: rgba(253, 35, 4, 0.4);
  }

  &-6 {
    background: rgba(33, 231, 184, 0.4);
  }

  &-7 {
    background: rgba(35, 195, 210, 0.4);
  }

  &-8 {
    background: rgba(128, 21, 246, 0.4);
  }

  &-9 {
    background: rgba(238, 165, 1, 0.4);
  }

  &-10 {
    background: rgba(232, 65, 14, 0.6);
  }

  &-11 {
    background: rgba(196, 196, 196, 0.3);
  }

  &-12 {
    background: rgba(254, 233, 175, 0.6);
  }

  &-13 {
    background: rgba(122, 187, 255, 0.5);
  }

  &-14 {
    background: rgba(90, 90, 90, 0.4);
  }

  &-15 {
    background: rgba(60, 223, 219, 0.5);
  }
}