.form-meta {
  margin: 20px 12px 12px 20px;
  background-color: rgb(247, 247, 247);
}

.form-meta__button--metasummary {
  @extend .mdl-button;

  span {
    margin: 0 5px;
  }
}

.form-meta__button--expand {
  background-color: #F0F0F0;

  @extend .mdl-button;

  > i {
    @extend .fa, .fa-fw, .fa-cog;
  }
}