$mult: 0.5;
%demo-panel {
  width: 650px * $mult;
  height: 1280px * $mult;
  float: left;
}
.ui-panel--overflowhidden {
  overflow: hidden;
}

@mixin iconcol ($faClass) {
  position: relative;
  padding-left: 40px;
  > .asset-view__iconwrap {
    position: absolute;
    top: 4px;
    left: 6px;
    i {
      @extend .fa, .fa-fw, .fa-#{$faClass}, .fa-lg;
    }
  }
}

// .asset-view {
  // @extend %demo-panel;
// }

.asset-view {
  &.asset-view--type-survey {

  }
  &.asset-view--type-block {

  }
  &.asset-view--type-question {

  }
}
.asset-view__message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
  &.asset-view__message--loading {
    > i {
      @extend .fa, .fa-fw, .fa-spin, .fa-spinner;
      margin-right: 15px;
    }
  }
}
%has-icon-col {
  @extend .row;
  padding-bottom: 12px;
  min-height: 1.2em;
  border-top: 1px solid #eee;
  padding-top: 6px;
}
.asset-view__row {
  @extend .row;
  // color: #818181 !important;
}
.asset-view__span {
  &.asset-view__span--can-edit, &.asset-view__span--can-view {
    padding: 10px 20px 11px;
  }
}
.asset-view__row--header {
  padding: 0 20px;
  // reset MDL css effects for buttons
  button:focus:not(:active) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
.asset-view__row {
  &.asset-view__row--fixed {
    position: fixed;
    top: 63px;
    z-index: 99;
    margin: -7px -16px;
    padding: 7px 35px 7px;
    background-color: #fff;
    width: calc(100% - 160px);
    max-width: 894px;
    border-bottom: 1px solid #D8E3EC;
  }
}

.asset-view__ancestors {
  // @extend .col-md-12;
  .asset-view__row & {
    margin-bottom: 0px;
  }
  .asset-view__ancestor {
    margin: 0 3px 1px 0;
  }
}
// .asset-view__ancestor {
//   @extend .label, .label-warning;
// }

.asset-view__key {
  float: left;
  width: 60%;
  margin-right: 5%;
  text-align: right;
}
.asset-view__val {
  float: left;
  width: 30%;
  margin-right: 5%;
}

@mixin assetTypeHeader($col, $iconkls) {
  color: $col;
  // border-bottom: 6px solid $col;
  // margin: -7px -7px 0;
  hr {
    display: none;
  }
  font-size: 16px;
  .asset-view__asset-type {

    > i:first-child {
      @extend .fa, .fa-fw, .fa-#{$iconkls};
    }
    > i[data-tip] {
      opacity: 0.5;
      margin-left: 18px;
      &:hover {
        opacity: 1;
      }
      @extend .fa, .fa-fw, .fa-question;
    }
  }
}
.asset-view__asset-type-wrap {
  &.asset-view__asset-type-wrap--type-survey {
    @include assetTypeHeader($kcol-clone, 'file');
  }
  &.asset-view__asset-type-wrap--type-question {
    @include assetTypeHeader($kcol-7, 'circle-o');
  }
  &.asset-view__asset-type-wrap--type-block {
    @include assetTypeHeader($kcol-8, 'square-o');
  }
}
.asset-view__asset-type {
  text-transform: uppercase;
  line-height: 10px;
  font-weight: 600;
  padding: 7px 4px 4px;
  small {
    color: #bbb;
    font-style: italic;
    font-weight: 400;
    margin-left: 12px;
    text-transform: none;
  }
  > i:first-child {
    @extend .fa, .fa-fw, .fa-question;
    margin-right: 2px;
  }
  &.asset-view__asset-type--type-survey {
    color: mix(#999, $kcol-clone, 50%);
    border-color: $kcol-clone;
    background-color: lighten($kcol-clone, 45%);
    > i:first-child {
      @extend .fa-file;
    }
  }
  &.asset-view__asset-type--type-question {
    color: mix(#999, $kcol-7, 50%);
    border-color: $kcol-7;
    background-color: lighten($kcol-7, 37%);
    > i:first-child {
      @extend .fa-circle-o;
    }
  }
  &.asset-view__asset-type--type-block {
    color: mix(#999, $kcol-8, 50%);
    border-color: $kcol-8;
    background-color: lighten($kcol-8, 60%); 
    > i:first-child {
      @extend .fa-square-o;
    }
  }
}
.asset-view__name {
  @extend h3;
  // padding: 4px 0 8px;
  &.asset-view__name--untitled {
    color: #666;
  }
  small {
    font-style: italic;
    font-size: smaller;
    color: lighten(#666, 2%);
  }
}
.asset-view__times {
  @extend %has-icon-col;
  @include iconcol('clock-o');

  .asset-view__colsubtext {
    color: #bbb;
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 4px;
  }
  .asset-view__col {
    &.asset-view__col--date-modified, &.asset-view__col--date-created {
      @extend .clearfix;
      margin-bottom: 0;
      > * {
        float: left;
      }
      // float: left;
      // clear: left;
      // margin-bottom: 4px;
    }
    &.asset-view__col--revisions {
      // @extend .col-md-1;
      @extend .pull-right;
      text-align: left;
      padding: 0 5px;
      color: #bbb;
    }
  }
}
.asset-view__parent {
  clear: both;
  @extend %has-icon-col;
  @include iconcol('folder');
}
.asset-view__tags {
  min-height: 1.5em;
  @extend %has-icon-col;
  @include iconcol('tag');
  &.asset-view__tags--empty {
    span {
      font-style: italic;
      color: #bbb;
    }
  }
}
.asset-view__users {
  @extend %has-icon-col;
  @include iconcol('users');
  .asset-view__col--users {

  }
}

.asset-view__inlibrary {
  @extend %has-icon-col;
  @include iconcol('globe');
  .asset-view__col--in-library {

  }
}
.asset-view__langs {
  @extend %has-icon-col;
  @include iconcol('flag');
  .asset-view__col--languages {

  }
}

@mixin action-faicon ($faClass) {
  > i {
    @extend .fa;
    @extend .fa-fw;
    @extend .fa-#{$faClass};
  }
}
.asset-view__content {
  @extend .mdl-card__supporting-text;
}
// .asset-view__colsubtext {  }
.asset-view__buttons {
  @extend .mdl-grid;
}
.asset-view__buttoncol {
  position: relative;
  @extend .mdl-cell, .mdl-cell--3-col;
  .asset-view__link, .asset-view__button {
    display: block;
    width: 100%;
  }
}

@mixin disableablelink($col) {
  background-color: $col;
  color: #fff;

  &:focus {
    background-color: $col !important;
  }

  &.asset-view__link--disabled, &.asset-view__button--disabled {
    $bgcol: mix(white, $col, 50%);
    background-color: $bgcol;
    cursor: default;
    box-shadow: none;
    color: mix(#666, $bgcol, 50%);
  }
}
.asset-view__button, .asset-view__link:not(.asset-view__link--sharing) {
  // @extend .btn, .btn-block, .btn-default;
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
  // &.asset-view__button--disabled, &.asset-view__link--disabled {
  //   opacity: 0.3;
  //   @extend %disabled-button;
  // }
  &.asset-view__button--edit, &.asset-view__link--edit {
    @include disableablelink($kcol-edit);
    @include action-faicon('pencil');
  }
  &.asset-view__button--preview, &.asset-view__link--preview {
    @include disableablelink($kcol-preview);
    @include action-faicon('eye');
  }
  &.asset-view__button--download, &.asset-view__link--download {
    @include disableablelink($kcol-view);
    @include action-faicon('download');
  }
  &.asset-view__button--update, &.asset-view__link--update {
    @include disableablelink($kcol-8);
    @include action-faicon('upload');
  }
}
.asset-view__link--sharing {
  display: inline;
}

.asset-view__deployments {
  @extend .mdl-card__actions;
  // @extend %has-icon-col;
  // @include iconcol('edit');

  .asset-view__deploybutton {
    // @extend .pull-right, .btn, .btn-success;
    float: right;
    @extend .mdl-button, .mdl-button--colored;    
    @include action-faicon('play');
  }
}