.asset-list-sorts {
  padding: 0px 12px;
  white-space: nowrap;
  border-bottom: 1px solid transparentize($cool-gray, 0.7);
  > .asset-list-sorts__item {
    color: $cool-gray;
    font-weight: 500;
    position: relative;
    padding: 10px 0px;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    &:after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: transparentize($cool-gray, 0.7);
      right: 2px;
      top: 0px;
      position: absolute;
    }
    &.asset-list-sorts__item--questions {
      text-align: right;
      &:after {
        display: none;
      }
    }
  }
}

.search__summary {
  background-color: #F0F0F0;
  height: 50px;
  width: 100%;
  flex-grow: 0;
  color: $greyish-brown;
  text-align: right;
  padding: 15px;
  > div {
    display: inline;
  }
  div + div {
    margin-left: 5px;
  }
}

// regular, non-grouped list
.list--regular {
  @extend .mdl-cell, .mdl-cell--12-col;
  flex-flow: column;
  margin: 0px !important;
  position: relative;
  height: calc(100% - 50px);
  .asset-list {
    height: calc(100% - 50px);
    overflow: auto;
  }
  .asset-row > .asset-row__buttons {
    max-width: 32%;
    top: 8px;
  }
}


// grouped list

.list--grouped {
  height: 100%;
  margin: 0px 8px;
  overflow-y: auto;
  .asset-list {
    min-height: 300px;
    margin-bottom: 4px;
    > .loading {
      margin-top:110px;
    }
  }
  .asset-list__heading {
    margin: 10px;
    font-size: 18px;
    color: $cool-gray;
    cursor: pointer;
  }
  .asset-items {
    @extend .mdl-shadow--2dp;
    background: #FFF;
    position: relative;
    &--visible {
    }
    &--collapsed {
      max-height: 0px;
      overflow: hidden;
    }
    + .asset-list__heading {
      margin-top: 20px;
    }
  }
}
