/*
this code was not used because backdrop was opaque, needs some tweaking
bem.uiModal_wrap = BEM('ui-modal_wrap');
bem.uiModal = BEM('ui-modal');
bem.uiModal__dialog = bem.uiModal.__('dialog');
bem.uiModal__content = bem.uiModal.__('content');
bem.uiModal__header = bem.uiModal.__('header');

.ui-modal_wrap {
  @extend .modal-backdrop;
}
.ui-modal:not(.ui-modal--open) {
  @extend .modal;
}
.ui-modal--open {
  @extend .modal-open;
}
.ui-modal__header {
  @extend .modal-header;
}
.ui-modal__content {
  @extend .modal-content;
}
.ui-modal__dialog {
  margin-top: 100px;
  @extend .modal-dialog;
}

*/

.ui-panel {}

.ui-panel__body {
  @extend .mdl-grid;
  max-width: 980px;
  padding: 0;

  > .row {
    position: relative;
  }

  > .asset-view__content,
  > .collection-asset-list {
    @extend .mdl-cell, .mdl-cell--12-col;
    @extend .mdl-shadow--2dp, .mdl-color--white;
    flex-flow:column;
  }
}

.page-wrapper__content {
  position:relative;
}

.page-wrapper--asset-nav-present .mdl-layout__content {
  margin-right: 60px;
  transition: all .4s ease 0s;
}

.page-wrapper--asset-nav-open .mdl-layout__content {
  margin-right: 400px;
  transition: all .4s ease 0s;
}

.k-form-header__inner {
  max-width: 980px;
  display: flex;
}

// Sharing form header
.k-sharing__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .user--pill {
    display: flex;
    padding-right:20px;
    span.fa-stack {
      margin-right: 5px;
    }
    a.user-profile-link {
      font-size: 1.1em;
      font-weight: 600;
    }
    .user--pill__name {
      line-height: 1.2em;
      padding-top: 4px;
    }
  }
}

.k-sharing__title {
  width: 100%;
}

.text-small {
  font-size: 0.85em;
  opacity: .75;
}

.message {}

.message--error {
  // @extend .alert, .alert-dismissible, .alert-danger;
  text-decoration: uppercase;
}
.message--loading {
  text-align: center;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-spinner, .fa-spin;
  }
}

.popover-menu {
  position: absolute;
  top: 2.8em;
  left: 7.5%;
  width: 85%;
}
.popover-menu__link {
  display: block;
}
.popover-menu__item, .popover-menu__link {
  @extend .mdl-shadow--6dp, .mdl-color--white;
  padding: 10px 8px 10px 26px;
  position: relative;
  > i:first-child {
    @extend .fa, .fa-fw;
    position: absolute;
    top: 12px;
    left: 4px;
  }
  &.popover-menu__link--dl-xls {
    > i:first-child {
      @extend .fa-file-excel-o;
    }
  }
  &.popover-menu__link--dl-xml {
    > i:first-child {
      @extend .fa-file-code-o;
    }
  }
}
