$hover-asset-row: #F2F2F3;

.asset-row {
  list-style-type: none;
  border-top: 1px solid $divider-color;
  padding: 4px 12px;
  white-space: nowrap;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  min-height: 55px;
  opacity: 1;
  position: relative;

  &:hover {
    background: $hover-asset-row;
  }

  > .asset-row__cell {
    width: 100%;
    display: flex;
    align-items: center;

    > .asset-row__cell {
      min-width: 0;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:last-child {
    border-top: 1px solid $divider-color;
  }

  &--deleting {
    opacity: 0.5;
  }

  &--deleted {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    max-height: 0px;
    min-height: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
  }

  .asset-row__celllink--name {
    display: inline-block;
    width: 98%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    vertical-align: top;
    padding: 4px 0px;
  }

  .row-icon {
    vertical-align: middle;
    border: 1px solid $cool-green;
    font-size: 13px;
    color: $cool-green;
    width: 36px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-style: normal;

    &.block {
      color: white;
      background: $cool-green;
    }
  }

  .row-icon + .asset-row__celllink--name {
    width: calc(100% - 50px);
  }

  .asset-row__description {
    display: block;
    color: $cool-gray;
    font-size: 13px;
    max-width: 96%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .asset-row__cell--tags {
    white-space: normal;
    padding-top: 30px;
  }

  .asset-row__cell--date-created,
  .asset-row__cell--date-modified {
    font-size: 13px;
  }

  .asset-row__cell--submission-count,
  .asset-row__cell--row-count {
    text-align: right;
  }

  > .asset-row__buttons {
    position: absolute;
    top: 8px;
    right: 0px;
    background: $hover-asset-row;
    width: 0;
    overflow: hidden;
    opacity: 0;
    text-align: right;
    transition: 0.3s opacity;
    padding-right: 6px;
    height: calc(100% - 10px);
    max-height: 45px;
  }

  .asset-row__action-icon {
    margin-left: 4px;
    font-weight: 400;
    color: $cool-gray;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      background-color: transparent;
      color: $cool-blue;
    }

    &.asset-row__action-icon--view-collection i {
      @extend .k-icon, .k-icon-folder;
    }

    i:before {
      margin: 0px;
      font-size: 36px;
    }
  }

  &--display-tags .asset-row__action-icon--tagsToggle {
    background-color: transparent;
    color: $cool-blue;
  }

  a.asset-row__celllink {
    color: lighten($black, 20%);
    display: block;
  }

  i.row-icon + a.asset-row__celllink {
    display: inline-block;
    width: calc(100% - 48px);
  }

  &:hover {
    > .asset-row__buttons {
      opacity: 1;
      width: 33%;
      overflow: visible;
      transition: 0.3s opacity;
    }

    .date--modified {
      visibility: hidden;
    }

    a.asset-row__celllink {
      color: $black;
    }
  }
}

@media screen and (max-width: 767px) {
  .asset-row:hover > .asset-row__buttons {
    width: 55%;
  }
}