// FORM BUILDER MAIN LAYOUT

.formBuilder {
  background-color: #FFF;

  &:before {
    content: ' ';
    width: 100%;
    height: 75px;
    background-color: #FFF;
    position: fixed;
    right: 0;
    z-index: -1;
    top: 0px;
  }

  &:after {
    content: ' ';
    width: 100%;
    height: 50px;
    background-color: #DDD;
    position: fixed;
    right: 0;
    z-index: -1;
    top: 75px;
    background-color: #F1F1F1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22);
  }
}

.formBuilder-header {
  height: 125px;
}

.formBuilder__contents {
  height: calc(100% - 125px);
  overflow: auto;
  margin-top: 8px;
  margin-right: 0px;
  transition: margin 0.2s;
}

@media screen and (min-width: 1100px) {
  .lib-nav--visible + .formBuilder {
    .formBuilder__contents {
      margin-right: 400px;
      transition: margin 0.2s;
    }
  }
}

.form-wrap {
  padding: 0px 75px;
  width: 100%;
  min-height: 200px;

  .survey-header, .sub-header-bar {
    display: none;
  }

  input, textarea {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  .loading {
    min-height: 200px;
  }

  .error-message {
    width: 540px;
    margin: 24px auto;
    padding: 12px 20px;

    &__strong {
      border: 1px solid black;
      padding-right: 12px;
    }

    &__link {
      @extend .mdl-button;

      margin-right: 5px;

      &--raised {
        @extend .mdl-button--colored, .mdl-button--raised;
      }

      &--help {
        float: right;

        i {
          @extend .k-icon-help;
        }
      }
    }
  }
}

.formBuilder--formStyleDisplayed {
  > .formBuilder-header {
    height: 280px;
  }

  .formBuilder__contents {
    height: calc(100% - 300px);
  }
}

// FORM BUILDER HEADER

.formBuilder-header {
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &--first {
      background-color: #FFF;
      height: 75px;
      position: relative;
    }

    &--second {
      background-color: #F1F1F1;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22);
    }
  }

  &__cell {
    &--project-icon {
      background-color: $cool-green;
      width: 75px;
      text-align: center;
      vertical-align: middle;
      height: 75px;

      i {
        color: #FFF;
        font-size: 48px;
        padding-top: 14px;
        display: inline-block;
        vertical-align: middle;

        &:before {
          margin-right: 0px;
        }
      }
    }

    &--name {
      width: calc(100% - 350px);
      padding-left: 20px;
      padding-top: 20px;

      input {
        border-radius: 0px;
      }
    }

    &--translations {
      p {
        margin: 0 0 0 10px;
        line-height: 15px;
        padding-top: 10px;
        font-size: 11px;

        small {
          display: block;
          color: #888;

          &:before {
            content: '+ ';
          }
        }
      }
    }

    &--buttonsTopRight {
      width: 270px;
      text-align: right;
      align-self: center;
    }

    &--close {
      width: 45px;
      text-align: right;
      padding: 5px;
      margin-left: 5px;
    }

    // second row
    &--buttons {
      margin-left: 75px;

      .formBuilder-header__item {
        display: inline-block;
        border-left: 1px solid $cool-gray;
        border-right: 1px solid $cool-gray;
        margin: 4px;
        padding: 0px 6px;
      }

      button {
        color: $cool-gray;
        overflow: visible;
        vertical-align: middle;
        padding: 0px 4px;

        &:hover, &:focus, &:focus:not(:active) {
          background-color: transparent;
        }

        &:hover {
          color: $black;
        }

        i {
          font-size: 32px;
          vertical-align: middle;

          &.fa {
            font-size: 20px;
          }
        }
      }
    }

    &--spacer {
      flex-grow: 1;
    }

    &--library-toggle {
      width: 200px;
      padding: 5px;

      button {
        min-width: 146px;
      }
    }
  }
}

.formBuilder-header__close {
  margin-left: 10px;
  margin-top: -12px;
  border: none;
  color: lighten($cool-gray, 20%);
  cursor: pointer;

  @extend .mdl-button, .mdl-button--icon;

  &:hover {
    color: $cool-gray;
  }
}

.formBuilder-header__button {
  @extend .mdl-button;

  > i {
    @extend .fa, .fa-fw;

    margin-right: 5px;
  }

  &.formBuilder-header__button--create,
  &.formBuilder-header__button--save {
    margin-left: 10px;
    text-transform: uppercase;
    min-width: 85px;

    @extend .mdl-button--colored, .mdl-button--raised;

    > i {
      display: none;
    }
  }

  &.formBuilder-header__button--savepending,
  &.formBuilder-header__button--create-pending {
    > i {
      @extend .k-spin, .fa-circle-o-notch;

      font-size: 22px;
      line-height: 35px;
      display: inline-block;
    }

    > i + span {
      display: none;
    }
  }

  &.formBuilder-header__button--savefailed:after, &.formBuilder-header__button--saveneeded:after {
    content: '*';
    color: white;
  }

  &.formBuilder-header__button--share {
    min-width: 85px;
    text-transform: uppercase;

    @extend .mdl-button--raised;

    background: #8595A1;
    color: white;
  }

  &.formBuilder-header__button--showLibrary {
    border: 1px solid #5D6971;
    color: #5D6971;
  }

  &[disabled] {
    color: lighten($cool-gray, 20%) !important;
  }
}

// FORM STYLE SETTINGS

.form-style__panel {
  padding: 12px 12px 20px;
  margin: 12px 0;
  background-color: #eee;
}

.form-style__panelheader {
  font-size: 20px;
  font-weight: bold;
}

.form-style__paneltext {
  margin: 8px 0;
}

// FORM META

.form-meta {
  margin: 8px 75px;
  margin-bottom: 16px;
  margin-right: 60px;

  .form-group {
    margin-bottom: 10px;
  }
}

.form-meta__button--metasummary {
  background-color: #F7F7F7;
  width: calc(100% - 80px);
  text-align: left;
  text-transform: uppercase;

  @extend .mdl-button;

  span {
    margin: 0 5px;
  }
}

.form-meta__button--expand {
  background-color: #F0F0F0;

  @extend .mdl-button;

  > i {
    @extend .fa, .fa-fw, .fa-cog;
  }
}

// CASCADE MODAL CONTENTS

.cascade-popup {
  textarea {
    margin: 15px 0px;
    width: 100%;
    height: 220px;
    border: 2px solid $cool-gray;
  }

  .cascade-popup__buttonWrapper {
    padding-top: 10px;
    text-align: right;

    button {
      @extend .mdl-button, .mdl-button--colored, .mdl-button--raised;

      min-width: 100px;
    }
  }

  .cascade-popup__message {
    &--warning {
      color: #FF5469;
    }

    &--ready {
      color: $cool-green;
    }
  }

  .cascade-help {
    text-align: right;

    i {
      font-size: 26px;
      color: $cool-gray;
    }
  }
}

.survey-editor {
  > ul > li:last-child {
    padding-bottom: 48px;
  }

  .ui-sortable-placeholder.lib-list__item {
    border: 1px dashed #d9dde1;
    visibility: visible !important;
    min-height: 80px;
    padding: 0px;
  }
}

// FORM BUILDER SMALL SCREEN ADJUSTMENTS

@media screen and (max-width: 767px) {
  .formBuilder-header__cell--project-icon {
    display: none;
  }

  .formBuilder-header__cell--name {
    width: calc(100% - 175px);
  }

  .formBuilder-header__cell--buttonsTopRight {
    width: 175px;

    .formBuilder-header__button--save {
      max-width: 120px;
      text-overflow: ellipsis;
    }
  }

  .formBuilder-header__cell--buttons {
    margin-left: 10px;

    button {
      padding: 0px 6px;

      i {
        margin-right: 0px;
      }
    }

    .formBuilder-header__button--formstyle {
      i.fa-angle-down {
        display: none;
      }
    }

    .formBuilder-header__item {
      border-left: none;
      border-right: none;
      margin: 4px 0px;
      padding: 0px;
    }
  }

  .formBuilder-header__cell--library-toggle {
    width: 150px;
    max-width: 35%;

    button {
      min-width: 60px;
      max-width: 100%;
      padding: 0px 12px;
    }
  }

  .form-wrap {
    padding: 0px 25px;
  }

  .form-meta {
    margin: 16px 25px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .formBuilder-header__cell--library-toggle {
    display: none;
  }
}

@media screen and (pointer: coarse) {
  .formBuilder-header__cell--library-toggle {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .formBuilder-header__cell--buttons button {
    padding: 0px;
    border-radius: 0px;
  }

  .form-style__panel {
    margin: 0px;
    padding: 8px 16px;
  }

  .formBuilder-header__button--formstyle {
    span {
      display: none;
    }
  }

  .card--selectquestion__expansion {
    padding-right: 5px;
    padding-left: 25px;
  }

  .multioptions__option {
    div.editable-wrapper {
      width: 65%;
    }

    code {
      width: 33%;
      margin-left: 1%;
      margin-right: 0px;

      label {
        font-size: 10px;
        padding-left: 2px;
        width: 24%;
      }

      span, .editable-container {
        padding-right: 2px;
        width: 64%;
        overflow: hidden;
      }
    }
  }

  .form-wrap {
    padding: 0px 15px;
  }

  .btn--addrow {
    left: -40px;
  }

  .card__settings__content {
    padding: 20px;
    padding-right: 10px;
  }

  .card__settings__fields__field {
    > label {
      text-align: left;
      margin-right: 1%;
    }

    .settings__input {
      input[type="text"] {
        border: 1px solid #DDD;
      }
    }
  }

  .questiontypelist__item {
    text-align: center;
    background: #F8F8F8;

    i {
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }
}