.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-open {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  max-width: 90%;
  max-height: 95%;
  overflow-x: auto;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06), 0 12px 12px 0 rgba(0, 0, 0, 0.12);
}

.modal-content {
  background-color: #FFF;
  padding: 15px 20px;
}

.modal-large {
  .modal-open {
    height: 80%;
    width: 80%;
    max-width: 1240px;
    align-items: stretch;
    display: flex;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .enketo-holder {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    iframe {
      flex-grow: 1;
      border: 1px solid white;
      width: 100%;
    }
  }
}

.modal-title {
  margin: 0px;
  padding: 24px 30px;
  font-size: 18px;
}

.modal-header {
  min-height: 70px;
  margin: -15px -20px 0;
  background: $cool-blue;
  color: #FFF;
}

.modal-body {
  padding: 15px;
  padding-top: 30px;
}

.modal-footer {
  min-height: 60px;
  padding-top: 10px;
  padding-right: 10px;
}

.modal-x {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  padding: 20px;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;

  i {
    font-size: 32px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.modal-footer {
  text-align: right;

  button {
    @extend .mdl-button;

    &.primary {
      @extend .mdl-button--colored, .mdl-button--raised;
    }

    &.reset {
      @extend .mdl-button--colored, .mdl-button--danger;
    }

    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal-submission {
  .modal-open {
    background-color: #FFF;
  }

  .modal-header {
    background-color: #F8F8F8;
    color: $layout-text-color;
  }

  .modal-x {
    color: $layout-text-color;
  }

  .form-modal {
    text-align: right;
    padding-bottom: 20px;
  }

  .mdl-button--raised + .mdl-button--icon {
    margin-left: 30px;
    overflow: visible;
  }

  .form-modal__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .switch--label-language,
    .switch--validation-status {
      width: 50%;
      text-align: left;

      label, div.Select {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        margin-right: 12px;
      }
    }

    .switch--validation-status {
      width: 100%;
      text-align: right;
    }

    .switch--label-language + .switch--validation-status {
      width: 50%;
    }

    input {
      min-width: 100px;
    }

    .Select {
      text-align: left;
      min-width: 120px;
    }
  }

  .submission-pager {
    a {
      display: inline-block;
      cursor: pointer;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  table {
    border: 1px solid #F6F6F6;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
    text-align: left;

    thead tr {
      border-bottom: 1px solid $divider-color;
    }

    thead th {
      font-weight: 600;
      padding: 8px 12px;
      background-color: #F6F6F6;
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: 1px solid $divider-color;
      }

      td {
        padding: 12px;

        ul {
          list-style: disc;
          margin-left: 30px;
        }
      }
    }

    .submission--question-type {
      width: 5%;
    }

    .submission--question {
      width: 45%;
    }

    .submission--response {
      width: 50%;

      img {
        max-width: 100%;
      }
    }

    .submission--repeat-group {
      background: #F8F8F8;
      padding: 0px 30px;

      table {
        background: #FFF;
      }
    }

    .submission--group {
      background: #F8F8F8;

      h4 {
        margin: 0px;
      }
    }

    .submission--end-group {
      background: $divider-color;
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }

  .submission--warning {
    margin-bottom: 30px;
    padding: 10px;
    background: #F5F5F5;
    text-align: center;
    line-height: 1em;

    i {
      color: #FFB775;
      font-size: 40px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      line-height: 1.4em;
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 60px);
    }

    + .submission--warning {
      margin-top: -30px;
      border-top: 1px solid $divider-color;
    }
  }
}

// modal tabs
.modal-tabs {
  background: $cool-blue;
  color: #FFF;
  margin: 0px -20px;
}

.enketo-holder {
  // resets modal window paddings
  margin: -30px -35px;

  .enketo-loading-message {
    p {
      text-align: center;
      font-weight: 600;
    }

    i:before {
      color: #3FA2EE;
      font-size: 20px;
    }
  }
}

.touch .enketo-holder {
  width: 94%;
  left: 3%;
  margin-left: 0px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.enketo-iframe-icon {
  color: #fff;
  background-image: url("~/jquery-ui/themes/humanity/images/ui-icons_ffffff_256x240.png");
  background-color: #C6CBD0;
  background-position: -81px -129px;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 3px;
  z-index: 1000;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

// create new project modal steps
.form-modal__item--upload-note {
  background: #F8F8F8;
  padding: 20px 30px 10px 30px;
  margin: -30px -35px;
  margin-bottom: 20px;

  i {
    margin-right: 10px;
    margin-top: 2px;
    font-size: 32px;
    vertical-align: top;
    display: inline-block;
  }

  label.long {
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 48px);
  }
}

.form-modal__item--newForm-step2 {
  .intro {
    padding-bottom: 20px;
    text-align: left;
  }

  .form-modal__item--new-project--buttons {
    margin: 30px 0px 20px 0px;
    display: flex;
    justify-content: space-around;

    button {
      border: 1px solid $divider-color;
      padding: 20px 10px;
      background: #F8F8F8;
      border-radius: 4px;
      color: $cool-gray;
      cursor: pointer;
      margin: 0px 10px;
      flex-basis: 0;
      flex-grow: 1;

      @media screen and (min-width: 768px) {
        min-width: 200px;
      }

      @media screen and (min-width: 960px) {
        min-width: 220px;
        padding: 20px;
      }

      i {
        display: block;
        margin: 0 auto;
        font-size: 48px;
      }

      &:hover {
        color: $cool-blue;
        border-color: $cool-blue;

        i {
          color: $cool-blue;
        }
      }
    }
  }
}

.form-modal__item--newForm-step3 {
  .dropzone {
    background: #F5F5F5;
    margin: 20px 0px 40px 0;
    padding: 30px;
    border: 2px dashed $divider-color;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;

    i {
      display: block;
      margin: 0 auto;
      font-size: 72px;
      opacity: 0.5;
    }

    &:hover {
      border-color: $cool-blue;
    }

    &.dropzone-active {
      border-color: $cool-blue;
    }

    &.dropzone-reject {
      border-color: $cool-red;
    }
  }

  .form-modal__item--url-import {
    margin: 30px 0px;

    button {
      margin-top: 20px;
      float: right;
    }
  }

  .form-view__link--step3-back {
    font-size: 14px;
    color: $cool-blue;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }
}

.form-modal__item--http-header {
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;

  &:hover i {color: lighten($cool-red, 10%);}

  &:not(:last-of-type) {margin-bottom: 10px;}

  code + code::before {content: ": ";}

  i {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;

    &::before {font-size: inherit;}

    &:hover {color: $cool-red;}
  }
}

.form-modal__item.form-modal__item--http-header-inputs {
  input {
    width: calc(50% - 25px);
    margin-bottom: 10px;
    margin-right: 10px;
  }

  button {
    height: 30px;
    width: 30px;
    min-height: 30px;
    line-height: 30px;
    padding: 0;

    i {font-size: inherit;}
  }
}

@media screen and (max-width: 767px) {
  .modal-open {
    min-width: 90%;
    max-width: 90%;
  }
}
