// FORM BUILDER MAIN LAYOUT

.formBuilder-header {
  height: 110px;
}

.formBuilder__contents {
  height: calc(100% - 126px);
  overflow: auto;
  margin-top:15px;
}

.form-wrap {
  padding:0px 75px;
  width: 100%;
  .survey-header, .sub-header-bar {
    display: none;
  }
  input, textarea {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
}

.formBuilder--formStyleDisplayed {
  > .formBuilder-header {
    height: 280px;
  }
  .formBuilder__contents {
    height: calc(100% - 300px);
  }
}

// FORM BUILDER HEADER

.formBuilder-header {
  &__row {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    border-bottom:1px solid #979797;
    &--first {
      background-color: #FFF;
      height:75px;
    }
  }

  &__cell {
    &--project-icon {
      background-color: $cool-green;
      width:75px;
      text-align: center;
      vertical-align: middle;
      height:74px;
      border-right: 1px solid #979797;

      svg {
        stroke:#FFF;
        margin-top: 15px;
      }
    }

    &--name {
      width:calc(100% - 400px);
      padding:0px 20px;
    }

    &--buttonsTopRight {
      width:280px;
      text-align: right;
      align-self:center;
    }

    &--close {
      width:50px;
      text-align: right;
      padding:5px;
    }

    // second row 
    &--buttons {
      margin-left: 75px;
      border-right: 1px solid #979797;
      .formBuilder-header__item {
        display: inline-block;
        border-left:1px solid #979797;
        border-right:1px solid #979797;
        padding:4px;
      }
      svg {
        width:20px;
        height: 20px;
        stroke:#333;
        + span {
          margin-left: 5px;
        }
      }
    }
    &--spacer {
      flex-grow:1;
    }
    &--library-toggle {
      width:180px;
      border-left: 1px solid #979797;
      padding:4px;
    }
  }

}

.formBuilder-header__close {
  @extend .mdl-button, .mdl-button--icon, .mdl-js-button;
}

.formBuilder-header__button {
  @extend .mdl-button, .mdl-js-button;

  > i {
    @extend .fa, .fa-sm, .fa-fw;
    margin-right: 5px;
  }

  &.formBuilder-header__button--create,
  &.formBuilder-header__button--save {
    margin-left: 10px;
    @extend .mdl-button--colored, .mdl-button--raised;
    > i {
      @extend .fa-save;
    }
  }

  &.formBuilder-header__button--savepending,
  &.formBuilder-header__button--create-pending {
    > i {
      @extend .fa-spin, .fa-spinner;
    }
  }

  &.formBuilder-header__button--save:after {
    content: '_';
    font-family: monospace;
    color: transparent;
  }

  &.formBuilder-header__button--saveneeded:after {
    content: '*';
    color: white;
  }

  &.formBuilder-header__button--showLibrary, 
  &.formBuilder-header__button--share {
    border:1px solid #979797;
  }
}



// .formBuilder-header__button--formstyle {
  // &.formBuilder-header__button--formstyleactive {
  //   background-color: rgba(158, 158, 158, 1);
  // }
// }

// .formBuilder-header__button--show-all {
//   @include formHeaderButton("caret-right");

//   &.formBuilder-header__button--open {
//     @include formHeaderButton("caret-down");
//   }
// }

// .formBuilder-header__button--group {
//   @include formHeaderButton("circle-o");

//   &:not(.formBuilder-header__button--groupable) {
//     @extend .mdl-button--disabled;
//   }
// }

// FORM STYLE SETTINGS

.form-style__panel {
  padding: 12px 12px 20px;
  margin: 12px 0;
  background-color: #eee;
}

.form-style__panelheader {
  font-size: 20px;
  font-weight: bold;
}

.form-style__paneltext {
  margin: 8px 0;
}

// FORM META 

.form-meta {
  background-color: #FFF;
  margin:4px 75px;
  border:1px solid #d9dde1;
  padding:5px;
}

.form-meta__button--metasummary {
  background-color: #F7F7F7;
  width:calc(100% - 80px);
  text-align: left;
  @extend .mdl-button;
  span {
    margin: 0 5px;
  }
}

.form-meta__button--expand {
  background-color: #F0F0F0;
  @extend .mdl-button;
  > i {
    @extend .fa, .fa-fw, .fa-cog;
  }
}
