.empty-content {
  text-align: center;
  padding: 0 30px 30px;
}

.empty-content__icon {
  display: block;
  font-size: 180px;
  opacity: 0.25;
}

.empty-content__title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.empty-content__message {
  margin: 1em 0 0;

  & + button {
    display: block;
    margin: 2em auto 0;
  }
}
