@use 'scss/z-indexes';
@use 'scss/breakpoints';
@use 'scss/colors';

// This is an alternative tooltip component for displaying more complex content;
// if possible use the other one (`data-tip` from `_kobo.tooltips.scss`)
.k-tooltip {
  display: none;
}

@media screen and (min-width: breakpoints.$b768) {
  .k-tooltip__parent {
    position: relative;

    .k-tooltip {
      display: block;
      pointer-events: none;
      position: absolute;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.35em;
      color: colors.$kobo-white;
      background-color: colors.$kobo-gray-700;
      padding: 6px 12px;
      top: calc(100% + 6px);
      left: 50%;
      transform: translate(-50%, 0);
      z-index: z-indexes.$z-tooltip;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      white-space: nowrap;
      text-align: center;

      @include box-shadow;

      strong {
        margin-bottom: 5px;
        font-weight: bold;
      }

      p {
        margin: 0;
      }

      &::before {
        border-bottom: 5px solid colors.$kobo-gray-700;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        top: -5px;
        content: "";
        width: 0;
        height: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: z-indexes.$z-tooltip;
      }
    }

    &:hover > .k-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}
