// All custom Locking feature styles gathered in one place

.locking__ui-locked {
  // pointer-events: none;
  // opacity: 0.5;

  // DEV STYLES, uncomment above
  background-color: blueviolet !important;
}

.locking__ui-hidden {
  // display: none;

  // DEV STYLES, uncomment above
  background-color: hotpink !important;
}

.locking__level-1 {
  color: $kobo-blue-darker;
}

.locking__level-2 {
  color: $kobo-blue;
}

.locking__level-3-plus {
  color: $kobo-teal-pale;
}
