.asset-list-sorts {
  padding: 0px 12px;
  white-space: nowrap;
  background-color: #f7f8fa;
  border-bottom: 1px solid transparentize($cool-gray, 0.7);
  > .asset-list-sorts__item {
    color: $cool-gray;
    font-weight: 500;
    position: relative;
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    &:after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: transparentize($cool-gray, 0.7);
      right: 2px;
      top: 0px;
      position: absolute;
    }
    &.asset-list-sorts__item--questions {
      &:after {
        display: none;
      }
    }
  }
}

.search__summary {
  background-color: #F0F0F0;
  height: 50px;
  width: 100%;
  flex-grow: 0;
  color: $greyish-brown;
  text-align: right;
  > div {
    padding: 15px;
    vertical-align: middle;
  }
}

// regular, non-grouped list
.list--regular {
  @extend .mdl-cell, .mdl-cell--12-col;
  flex-flow: column;
  margin: 0px !important;
  position: relative;
  height: calc(100% - 50px);
}

.list--regular .asset-list {
  height: calc(100% - 50px);
  overflow: auto;
}

// grouped list

.list--grouped {
  height: 100%;
  margin: 0px 8px;
  overflow-y: auto;
  // .asset-list {
  //   height:100%;
  //   border:1px solid green;
  // }
  .asset-list__heading {
    font-weight: 500;
    margin: 10px 0px;
    margin-top: 20px;
    font-size: 22px;
    color: $cool-gray;
    cursor: pointer;
  }
  .asset-items {
    @extend .mdl-shadow--2dp;
    background: #FFF;
    position: relative;
    &--visible {
    }
    &--collapsed {
      max-height: 0px;
      overflow: hidden;
    }
  }
  .asset-row--active {
    position: relative;
    > .asset-row__buttons {
      background:#FFF;
      width:34%;
      box-shadow: none; 
      top:5px;
    }
    .date--modified {
      visibility: hidden;
    }
  }
}
