// Colors 
// ==========================================================================
$cardBorderColor: #d9dde1;
$cardInSortBorderColor: #3FA2EE;

$bodyBackgroundColor: #E9EDF0;
$textColor: #3f3f3f;

$wellTextColor: #7A8692;

$addButtonColor: #BEC9D0;
$addButtonColorHover: #5CB2EE;

$linkColor: #3FA2EE;
$indicatorColor: #8595A5;

// Borders
// ==========================================================================
$cardBorderStyle: 1px solid $cardBorderColor;
$cardInSortBorderStyle: 1px solid $cardInSortBorderColor;
$cardInSortThinBorderStyle: 1px solid $cardInSortBorderColor;

$thinBorderStyle: 1px solid $cardBorderColor;
$buttonBorderRadius: 5px;

@import "../stylesheets/partials/select2_override";
@import "../stylesheets/partials/tagsinput_override";
@import "../stylesheets/partials/misc";
@import "../stylesheets/partials/icons";
@import "../stylesheets/partials/registration";

.form-wrap {
  padding-top: 45px;
  .survey-header,
    .sub-header-bar {
    display: none;
  }
  input, textarea {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  // @import "../stylesheets/partials/normalize";
  @import "../stylesheets/partials/base";

  // @import "../stylesheets/partials/header_and_top_menu";
  @import "../stylesheets/partials/buttons";
  @import "../stylesheets/partials/content";
  @import "../stylesheets/partials/sidenote";

  @import '../stylesheets/pages/form_builder';
  // @import '../stylesheets/pages/form_list';
  // @import "../stylesheets/pages/question_library";
  @import "../stylesheets/partials/helpers";

  .btn--addrow .fa {
    margin-top: 25px;
  }
}

@import "../stylesheets/partials/modals_iframes";
