#data-map {
  height: 100%;
  width: 100%;
}

.form-view--map {
  position: relative;

  .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(#FFF, 0.8);
  }

  .form-view__map-button {
    position: absolute;
    right: 12px;
    top: 65px;
    padding: 4px;

    @include box-shadow;

    border-radius: 6px;
    background: white;
    z-index: 700;
    cursor: pointer;
    color: lighten($black, 40%);

    &--heatmap {
      top: 118px;
      z-index: 699;
    }

    &--expand {
      top: 12px;
      z-index: 701;
    }

    &.active,
    &:hover {
      color: $black;
    }

    i {
      font-size: 36px;
    }
  }
}

.leaflet-top.leaflet-right {
  margin-right: 56px;

  // right margin plus icon size
}

.popover-menu--viewby-menu {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 700;

  .popover-menu__toggle {
    min-width: 180px;
    background: #FFF;

    @include box-shadow;

    border-radius: 6px;
    padding: 12px;
    text-align: left;
    color: $cool-gray;
  }

  .popover-menu__content {
    right: auto;
    left: 0px;
    min-width: 180px;
    max-width: 240px;
    overflow: auto;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    bottom: calc(100% + 10px);

    .popover-menu__link.see-all {
      background: #F9F9F9;
      border-top: 1px solid $divider-color;
    }

    .popover-menu__heading {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

body .leaflet-control-layers,
.leaflet-touch .leaflet-control-layers {
  border: none;
  border-radius: 6px !important;

  @include box-shadow;

  margin-right: 12px;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .popover-menu--viewby-menu {
    max-width: 90%;

    .popover-menu__toggle {
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.form-view__map-list {
  position: absolute;
  bottom: 70px;
  left: 15px;
  z-index: 689;
  height: 250px;
  min-width: 180px;
  max-width: 300px;
  padding: 5px;
  background: #FFF;
  overflow: none;

  @include box-shadow;

  border-radius: 6px;

  .maplist-legend {
    padding: 2px 8px;
    cursor: pointer;

    i {
      font-size: 18px;
      margin-right: 8px;
      margin-left: 3px;
      color: $cool-blue;
    }
  }

  .maplist-contents {
    display: block;
    margin-bottom: 5px;
    height: calc(100% - 30px);
    overflow: auto;
  }

  &.collapsed {
    height: auto;

    .maplist-contents {
      display: none;
    }
  }

  .map-marker-item {
    padding: 4px 6px;

    &.selected {
      background: #F5F5F5;
    }

    &.unselected {
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  span {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
  }

  span.map-marker {
    margin-right: 8px;
    text-align: center;
    line-height: 22px;
    min-width: 24px;
    max-width: 48px;
    width: auto;
    height: 24px;
    padding: 0px 3px;
    position: relative;

    &:after {
      position: absolute;
      width: 10px;
      content: '';
      height: 22px;
      right: 1px;
      top: 1px;
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
      z-index: -1;
    }
  }

  span.map-marker-label {
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
}

.form-view__map {
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 701;
  }
}

// autolayers, hide unneeded elements
.leaflet-control-layers-expanded {
  .leaflet-control-autolayers-title,
  .leaflet-control-layers-tab .map-filter,
  .leaflet-control-layers-separator {
    display: none;
  }
}

// marker colors

.map-marker {
  width: 24px;
  height: 24px;
  background: rgba(255, 50, 0, 0.4);
  border: 1px solid #FFF;
  border-radius: 50%;
  position: relative;

  &.unselected {
    visibility: hidden;
  }
}

.map-marker[class*="map-marker-"] {
  background: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.75);
}

// OLD COLOR LIST
// $color-collection: rgba(255, 50, 0, 0.4), rgba(78, 203, 255, 0.4), rgba(255, 180, 50, 0.4), rgba(113, 230, 33, 0.4), rgba(253, 35, 4, 0.4), rgba(33, 231, 184, 0.4), rgba(55, 40, 210, 0.4), rgba(200, 80, 246, 0.4), rgba(208, 165, 50, 0.4), rgba(232, 65, 14, 0.4), rgba(216, 150, 216, 0.4), rgba(200, 233, 150, 0.4), rgba(200, 233, 150, 0.4), rgba(122, 187, 200, 0.4), rgba(90, 90, 90, 0.4), rgba(60, 223, 219, 0.4), rgba(52, 106, 200, 0.4), rgba(88, 20, 100, 0.4), rgba(50, 90, 10, 0.4), rgba(10, 180, 80, 0.4), rgba(230, 175, 25, 0.4);

$color-collection: rgba(255, 50, 0, 0.4), rgba(125, 245, 46, 0.4), rgba(86, 0, 178, 0.4), rgba(0, 236, 118, 0.4), rgba(202, 0, 188, 0.4), rgba(104, 155, 0, 0.4), rgba(161, 107, 255, 0.4), rgba(191, 184, 0, 0.4), rgba(0, 66, 187, 0.4), rgba(197, 231, 113, 0.4), rgba(239, 0, 161, 0.4), rgba(2, 231, 203, 0.4), rgba(239, 0, 69, 0.4), rgba(2, 153, 148, 0.4), rgba(43, 130, 255, 0.4), rgba(183, 142, 0, 0.4), rgba(60, 46, 126, 0.4), rgba(35, 106, 0, 0.4), rgba(175, 158, 255, 0.4), rgba(198, 116, 0, 0.4), rgba(0, 140, 218, 0.4), rgba(255, 109, 60, 0.4), rgba(1, 76, 140, 0.4), rgba(184, 69, 0, 0.4), rgba(165, 228, 255, 0.4), rgba(112, 31, 9, 0.4), rgba(163, 231, 229, 0.4), rgba(133, 0, 75, 0.4), rgba(167, 234, 188, 0.4), rgba(96, 33, 97, 0.4), rgba(21, 70, 0, 0.4), rgba(255, 110, 148, 0.4), rgba(0, 87, 84, 0.4), rgba(255, 157, 210, 0.4), rgba(51, 64, 37, 0.4), rgba(255, 153, 153, 0.4), rgba(12, 64, 93, 0.4), rgba(255, 194, 186, 0.4), rgba(96, 42, 58, 0.4), rgba(134, 0, 40, 0.4);

$class-slug: map-marker !default;

$colorLength: length($color-collection);

@for $i from 1 through $colorLength {
  .map-marker.#{$class-slug}-#{$i},
  .map-marker.#{$class-slug}-#{$i + $colorLength},
  .map-marker.#{$class-slug}-#{$i + $colorLength * 2},
  .map-marker.#{$class-slug}-#{$i + $colorLength * 3},
  .map-marker.#{$class-slug}-#{$i + $colorLength * 4} {
    background: nth($color-collection, $i);
  }

  .map-marker.#{$class-slug}-#{$i + $colorLength * 2} {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 50%, transparent 50%), linear-gradient(rgba(255, 255, 255, 0.4) 50%, transparent 50%);
    background-size: 6px 6px;
    background-position: center center;
  }

  .map-marker.#{$class-slug}-#{$i + $colorLength} {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.3) 3px, rgba(255, 255, 255, 0.3) 6px);
  }

  .map-marker.#{$class-slug}-#{$i + $colorLength * 3} {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.3) 3px, rgba(255, 255, 255, 0.3) 6px);
  }

  .map-marker.#{$class-slug}-#{$i + $colorLength * 4} {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%), linear-gradient(rgba(0, 0, 0, 0.1) 50%, transparent 50%);
    background-size: 6px 6px;
  }
}

// ClusterMarker overrides

.marker-cluster-small {
  background-color: rgba(253, 187, 132, 0.4);
}

.marker-cluster-small div {
  background-color: rgba(253, 187, 132, 0.5);
}

.marker-cluster-medium {
  background-color: rgba(252, 141, 89, 0.4);
}

.marker-cluster-medium div {
  background-color: rgba(252, 141, 89, 0.5);
}

.marker-cluster-large {
  background-color: rgba(239, 101, 72, 0.4);
}

.marker-cluster-large div {
  background-color: rgba(239, 101, 72, 0.5);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 50%;
}

.marker-cluster div {
  font-size: 12px;
  font-family: $font;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  color: $black;
}

.marker-cluster span {
  line-height: 20px;
}