@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$icon-font-size: 40px;
$s-gallery-spacing: 10px;

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: $height / $width * 100%;
  }

  > div, a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.one-one {
  @include aspect-ratio(1, 1);
}

.asset-gallery {
  height: 100%;
  overflow: auto;
  padding: 3 * $s-gallery-spacing;

  > *:not(:first-child) {
    margin-top: 2 * $s-gallery-spacing;
    margin-bottom: 0;
  }

  > h2:not(:first-child) {
    color: $cool-gray;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    margin-top: 3 * $s-gallery-spacing;
  }

  .asset-gallery__heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .asset-gallery__heading__count {
      color: $layout-header-bg-color;
    }

    .asset-gallery__heading__search-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text-box {
        border-radius: 2px;
        height: 33px;
        width: 160px;

        .text-box__input {
          height: 33px;
        }
      }

      .Select {
        margin-left: $s-gallery-spacing;
        width: 160px;
      }
    }
  }
}

.asset-gallery__load-more {
  width: 100%;

  .mdl-button {
    width: 100%;
    background: white;
  }
}

.asset-gallery-grid {
  display: flex;
  flex-wrap: wrap;

  h5, h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: $s-gallery-spacing 0px;
    font-weight: normal;
  }

  &.asset-gallery-grid--6-per-row .asset-gallery-grid__item {
    width: calc(100%/6 - #{$s-gallery-spacing} * 5/6);
    height: calc(100%/6);
    margin-right: $s-gallery-spacing;

    &:nth-child(6n) {
      margin-right: 0;
    }

    &:nth-child(n + 7) {
      margin-top: $s-gallery-spacing;;
    }
  }

  &.asset-gallery-grid--10-per-row .asset-gallery-grid__item {
    width: calc(100%/10 - #{$s-gallery-spacing} * 9/10);
    height: calc(100%/10);
    margin-right: $s-gallery-spacing;

    &:nth-child(10n) {
      margin-right: 0;
    }

    &:nth-child(n + 11) {
      margin-top: $s-gallery-spacing;;
    }
  }

  .asset-gallery-grid__item {
    display: inline-block;
    cursor: pointer;
    background-color: lighten($cool-gray, 30%);

    .asset-gallery-grid__item__overlay {
      opacity: 0;
      transition: 0.2s all;
      background: rgba($black, 0.6666);
    }

    &:hover .asset-gallery-grid__item__overlay {
      opacity: 1;
      transition: 0.3s all;
    }

    .asset-gallery-grid__item__overlay-text {
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: $s-gallery-spacing;

      h5 {
        font-size: 1em;
        font-weight: normal;
        margin: 0px;
        line-height: 1.25em;
        max-height: 3.75em;
        overflow: hidden;
      }

      p {
        position: absolute;
        bottom: -5px;
        font-size: 0.85em;
        line-height: 1.1em;
        opacity: 0.7;
      }
    }
  }
}

.single-gallery-modal {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: row;

  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide {
          height: auto;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          width: 100%;

          img {
            // vertical-align: middle;
            // display: inline-block;
            // width: 100%;
            // height: auto;
            // max-width: 100%;
            display: block;
            height: 100%;
            margin: 0 auto;
            max-width: 100%;
            object-fit: contain;
          }
        }
      }
    }

    /* SLICK ARROWS */
    .slick-arrow {
      display: block;
      height: 100%;
      width: 60px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 8;

      .k-icon-next, .k-icon-prev {
        color: #fff;
        font-size: 60px;
      }

      &.slick-disabled {
        .k-icon-next, .k-icon-prev {
          opacity: 0.3;
        }
      }

      &.slick-next {
        right: 0;

        &::before {
          content: '';
        }
      }

      &.slick-prev {
        left: 0;

        &::before {
          content: '';
        }
      }
    }
  }

  .single-gallery-modal__carousel {
    width: 75%;
    position: relative;
    background: #000;

    &.full-screen {
      width: 100% !important;
    }
  }

  .single-gallery-modal__sidebar {
    width: 25%;
    background: #fff;
    overflow: auto;

    h3 {
      font-weight: 400;
      font-size: 18px;
      margin-top: $s-gallery-spacing;
    }

    h5 {
      color: #2095F3;
      margin: 0;
      font-weight: bold;
      font-size: 1.1em;
      cursor: pointer;
    }

    .single-gallery-modal__sidebar__grid {
      display: flex;
      flex-wrap: wrap;
      margin-top: $s-gallery-spacing;

      .single-gallery-modal__sidebar__grid-item {
        width: calc(100%/3 - #{$s-gallery-spacing} * 2/3);
        height: calc(100%/3);
        margin-right: $s-gallery-spacing;
        cursor: pointer;

        .one-one {
          background-color: $cool-lightgray;
        }

        &:hover {
          opacity: 0.6666;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(n + 4) {
          margin-top: $s-gallery-spacing;;
        }

        &.single-gallery-modal__sidebar__grid-item--selected {
          border: 1px solid $cool-blue;
        }
      }
    }
  }

  .single-gallery-modal__sidebar-info {
    margin: 50px 30px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid $divider-color;
  }

  .single-gallery-modal__sidebar-grid-wrap {
    margin: 30px;
  }
}

.paginated-gallery-modal {
  .paginated-gallery-modal__heading {
    border-bottom: 1px solid $cool-lightgray;
    padding: 0px 20px 30px 20px;

    > h2 {
      color: $black;
      margin-bottom: 10px;
      font-size: 1.75em;
      margin-top: 0;
      font-weight: 500;
    }

    h4 {
      color: $black;
      margin: 0px;
      font-size: 1em;
    }
  }

  .paginated-gallery-modal__body {
    padding: 0 20px;

    .paginated-gallery-modal__body__gallery-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      flex-wrap: nowrap;
      padding-top: 40px;

      label {
        display: block;
        padding-bottom: 20px;
        font-size: 1.3em;
        padding-right: 10px;
      }

      .change-sort {
        // flex-grow: 1;
        .Select-control {
          min-width: 220px;
        }
      }

      .change-offset {
        display: flex;
        justify-content: center;
        align-items: center;

        .Select-control {
          min-width: 70px;
        }
      }

      &.select-direction-up {
        .Select-menu-outer {
          top: auto;
          bottom: 100%;
        }
      }
    }

    .paginated-gallery-modal__body__gallery-wrapper {
      overflow-y: auto;
      height: 50vh;
    }
  }
}

ul.pagination {
  font-size: 1.2em;
  text-align: center;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px;

    a {
      transition: .3s ease-in-out;
      color: $black;
      padding: 10px;
      min-width: 40px;
      display: block;
    }

    &.active {
      a {
        background: $cool-blue;
        border-radius: 3px;
        color: white;
        font-weight: 600;
      }

      &:hover {
        color: white;
      }
    }
  }

  li.next, li.previous {
    &:hover {
      a {
        color: $cool-blue;
      }
    }

    &.disabled {
      a {
        color: $cool-lightgray;
      }
    }
  }
}
