// header and navigation styling

$headerAccountTextColor: #dbedf7;

.k-header__bar {
  background-color: $layout-header-bg-color;
  @extend .mdl-shadow--2dp;
  position: absolute;
  min-height: 56px;
  width: 100%;
  z-index: 0;
}

.with-formView-header .k-header__bar:after {
  background-color: white;
  content: '';
  height: 37px;
  width: 100%;
  z-index: 0;
  @extend .mdl-shadow--2dp;
  position: absolute;
  top: 56px;
}

.account-box__alert {
  color: rgb(33, 182, 243);
  position: absolute;
  left: 51px;
  top: 4px;
  height: 47px;
  padding: 6px 5px;
  background-color: #414553;
  line-height: 17px;
  font-size: 12px;
  strong {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
  }
  &:hover {
    background-color: #585d6c;
    cursor: pointer;
  }
}

.mdl-layout__header {
  background-color: transparent;
  box-shadow: none !important;
  min-height: 56px;
  margin-left: 0px;
  width: 100%;
  z-index: auto;
  .mdl-layout__header-row {
    height: 56px;
    padding: 0px 20px;
  }
  .mdl-placeholder {
    margin-left: auto;
  }
  .mdl-layout-title {
    width: 230px;
  }
  .account-box {
    margin-left: auto;
    position: relative;
  }
  .account-box__notifications {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 32px;
    margin-top: 4px;
    position: relative;
    i {
      font-size: 18px;
      color: $headerAccountTextColor;
    }
  }
  .account-box__notifications__count {
    background-color: #FF5469;
    color: white;
    padding: 1px 5px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    font-size: 11px;
    line-height: 15px;
    top: -8px;
    left: 10px;
    border: 1px solid $layout-header-bg-color;
  }
  .account-box__name {
    display: inline-block;
    vertical-align: middle;
    color: $layout-nav-color;
    cursor: pointer;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    .account-box__username {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 180px;
      overflow: hidden;
      padding: 0px 8px;
      font-size: 16px;
      color: $headerAccountTextColor;
    }
  }
  .k-account__menu {
    position: absolute;
    top: 22px;
    right: -12px;
    background-color: darken($layout-header-bg-color, 5%);
    margin: 0px;
    padding: 8px 0px;
    &:before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid darken($layout-header-bg-color, 5%);
      position: absolute;
      top: -10px;
      content: '';
      right: 26px;
    }
  }
  .account-box__image {
    width: 24px;
    display: inline-block;
    margin-right: 12px;
    img {
      width: 24px;
      height: 24px;
      border-radius: 12px;
    }
  }
  .account-box__logo {
    width: 185px;
    height: 46px;
    background: url("../img/kobologo.svg") no-repeat left bottom;
    background-size: contain;
    display: block;
  }
  .mdl-menu__item {
    color: $layout-nav-color;
    opacity: 1;
    padding-left: 12px;
    padding-right: 54px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: 16px;
    i {
      font-size: 24px;
      width: 30px;
      margin-right: 12px;
      display: inline-block;
    }
    &:hover {
      background-color: $nav-menu-item-bg-active;
    }
  }
  .k-lang__submenu, .k-account__submenu {
    position: relative;
    ul {
      position: absolute;
      right: 100%;
      top: 0px;
      background-color: darken($layout-header-bg-color, 5%);
      transition: all 0.5s;
      max-height: 0px;
      opacity: 0;
      overflow: hidden;
    }
    &:hover > ul {
      transition: all 0.5s;
      max-height: 1000px;
      opacity: 1;
      overflow: visible;
    }
  }
  .Select {
    width: 100%;
  }
  .Select-control,
  .is-open > .Select-control,
  .is-focused > .Select-control {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    border: none;
    height: 31px;
    .Select-arrow-zone {
      background: transparent;
    }
    .Select-arrow {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #dbedf7;
      right: 4px;
      top: 8px;
    }
    .Select-placeholder {
      color: #CCC;
      padding: 5px 32px;
      text-align: left;
      font-size: 14px;
      opacity: 0.6;
    }
    .Select-input {
      margin: 0px;
      margin-left: 32px;
      border: none;
    }
    .Select-input > input {
      color: white;
      font-size: 14px;
      height: 20px;
      margin: 0;
      margin-top: 4px;
      padding: 0px;
    }
    .Select-item + .Select-input {
      margin-left: 10px;
    }
    .Select-item {
      background-color: darken($nav-menu-item-bg-active, 5%);
      border-radius: 6px;
      padding-right: 4px;
      padding-top: 2px;
      border: none;
      color: #FFF;
      font-size: 0.9em;
      flex-shrink: 1;
      min-width: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      span {
        vertical-align: baseline;
      }
    }
    .Select-item-label {
      display: inline;
    }
    .Select-item-label .Select-item-label__a {
      color: #FFF;
    }
    .Select-item-icon {
      border-right: none;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      color: #dbedf7;
      padding: 0px;
      padding-left: 4px;
      &:hover,
      &:focus {
        background-color: transparent;
        color: #FFF;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
  .is-focused:not(.is-open) > .Select-control {
    border: none;
    box-shadow: none;
  }
  .Select.is-multi .Select-input {
    padding: 0px;
  }
  .Select.is-multi .Select-control {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 25px;
  }
  .Select-menu-outer {
    background-color: darken($nav-menu-item-bg, 5%);
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    color: white;
    margin-top: 6px;
  }
  .Select-option {
    color: #FFF;
  }
  .Select-option.is-focused {
    background-color: $nav-menu-item-bg-active;
    color: #FFF;
  }
  .Select-option.is-disabled {
    color: rgba(255, 255, 255, 0.5);
  }
  .Select-noresults {
    color: #DDD;
  }
  .Select-clear {
    color: #dbedf7;
    background: #717e95;
    font-size: 22px;
    padding: 4px;
    right: 4px;
    border-radius: 0px;
    top: 2px;
    &:hover {
      color: #FFF;
    }
  }
  .mdl-layout__header-searchers {
    flex-grow: 1;
  }
  .search, .tag-select {
    vertical-align: middle;
    margin: 0px 10px;
    display: inline-block;
    width: calc(50% - 20px);
    position: relative;
  }
  .search {
    .k-search__input {
      color: white;
      border: none;
      border-radius: 0px;
      padding: 6px 12px;
      padding-left: 32px;
      background-color: rgba(255, 255, 255, 0.2);
      font-size: 14px;
      position: relative;
      width: 99%;
    }
    .search__icon {
      @extend .fa, .fa-search;
      position: absolute;
      top: 7px;
      left: 8px;
      color: #dbedf7;
      &:before {
        font-size: 18px;
      }
    }
  }
  .tag-select {
    i {
      position: absolute;
      top: 7px;
      left: 8px;
      color: #dbedf7;
      &:before {
        font-size: 18px;
      }
    }
  }
}

.k-burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .k-burger {
    display: block;
    margin-right: 10px;
  }
  .mdl-layout__header {
    .account-box__logo {
      max-width: 90%;
    }
    .mdl-layout-title {
      width: 180px;
    }
    .Select {
      display: none;
    }
    .search {
      width: 90%;
    }
  }
}

// form view header (white bar)

.with-formView-header .mdl-layout__content,
.with-formView-header .k-drawer {
  height: calc(100% - 108px);
}

.with-formView-header .k-drawer {
  top: 105px;
}

.form-view__tabbar {
  width: 100%;
  height: 37px;
  position: relative;
}

.form-view__tabs {
  position: relative;
  margin: 0 auto;
}

.form-view__status {
  position: absolute;
  right: 40px;
  top: 8px;
  display: none;
  color: $cool-gray;
}

@media screen and (min-width: 769px) {
  .form-view__tabbar .form-view__tabs {
    padding-left: 260px;
  }
}

@media screen and (min-width: 481px) {
  .form-view__status {
    display: block;
  }
}

// Form title + desc in header

.form-view__title {
  vertical-align: middle;
  margin: 0px 10px;
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  .form-view__name {
    font-size: 18px;
    padding-top: 8px;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: calc(100% - 5px);
  }
  .form-view__description {
    color: $cool-gray;
    margin: 0px;
    margin-top: -2px;
    padding: 0px;
    line-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    min-height: 18px;
    max-width: calc(100% - 5px);
  }
}

@media screen and (max-width: 768px) {
  .form-view__title {
    display: none;
  }
}

a.form-view__tab {
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 12px 10px 4px;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  color: #444;
  font-weight: normal;
  display: inline-block;
  &.active, &:hover {
    border-bottom: 3px solid $cool-green;
  }
}

.form-view__button--data {
  display: inline;
  position: relative;
  button {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 12px 10px 4px;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    color: #444;
    font-weight: normal;
    > i {
      margin-left: 4px;
      opacity: 0.5;
    }
  }
  .popover-menu__link {
    font-weight: normal;
    i {
      font-size: 24px;
      margin-right: 8px;
    }
  }
}