// -----------------------------------------------------------------------------
// common modal parts
// -----------------------------------------------------------------------------

.modal__backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal {
  &.modal--open {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-width: 90%;
    max-height: 95%;
    overflow-x: auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06), 0 12px 12px 0 rgba(0, 0, 0, 0.12);
  }

  &.modal--large {
    &.modal--open {
      height: 80%;
      width: 80%;
      max-width: 1240px;
      align-items: stretch;
      display: flex;
    }

    .modal__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .modal__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .enketo-holder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      iframe {
        flex-grow: 1;
        border: 1px solid white;
        width: 100%;
      }
    }
  }
}

.modal__body {
  // we use margin for bottom to make it stack with modal__footer
  padding: 30px 30px 0;
  margin-bottom: 30px;

  // in some cases adding custom footer requires it to be inside modal__body and
  // then padding is not needed
  .modal__footer {
    padding: 0;
  }
}

.modal__content {
  overflow: auto;
  background-color: #FFF;
}

.modal__tabs {
  background: $cool-blue;
  color: #FFF;
}

.modal__header {
  position: relative;
  min-height: 70px;
  background: $cool-blue;
  color: #FFF;
}

.modal__title {
  margin: 0px;
  padding: 24px 30px;
  font-size: 18px;
  line-height: 22px;
}

.modal__x {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  padding: 19px;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;

  i {font-size: 32px;}

  &:hover {opacity: 0.7;}
}

.modal__subheader {
  background: #f8f8f8;
  padding: 20px 30px;
  margin: -30px -30px 20px;
  color: $cool-silver;

  i {
    margin: 2px 10px 10px 0;
    font-size: 32px;
    float: left;
  }
}

.modal__footer {
  padding: 0 30px 30px;
  margin-top: 20px;
  overflow: hidden; // clearfix
  text-align: right;

  &:first-child {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .modal__footer-button {
    @extend .mdl-button;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-left: 10px;
    }

    &.modal__footer-button--primary {
      @extend .mdl-button--colored, .mdl-button--raised;
      padding-left: 40px;
      padding-right: 40px;
    }

    &.modal__footer-button--secondary {
      @extend .mdl-button--colored;
    }

    &.modal__footer-button--danger {
      @extend .mdl-button--colored, .mdl-button--danger;
    }

    &.modal__footer-button--back {
      border-radius: 2px;
      color: $cool-blue;
      border: 1px solid currentColor;
      opacity: 1;
      float: left;

      &:hover {
        opacity: 0.8;
        color: $cool-blue;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// custom parts and overrides
// -----------------------------------------------------------------------------

.modal-submission {
  .modal--open {
    background-color: #FFF;
  }

  .modal__header {
    background-color: #F8F8F8;
    color: $layout-text-color;
  }

  .modal__x {
    color: $layout-text-color;
  }

  .form-modal {
    text-align: right;
    padding-bottom: 20px;
  }

  .mdl-button--raised + .mdl-button--icon {
    margin-left: 30px;
    overflow: visible;
  }

  .form-modal__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .switch--label-language,
    .switch--validation-status {
      width: 50%;
      text-align: left;

      label, div.Select {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        margin-right: 12px;
      }
    }

    .switch--validation-status {
      width: 100%;
      text-align: right;
    }

    .switch--label-language + .switch--validation-status {
      width: 50%;
    }

    input {
      min-width: 100px;
    }

    .Select {
      text-align: left;
      min-width: 120px;
    }
  }

  .submission-pager {
    a {
      display: inline-block;
      cursor: pointer;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  table {
    border: 1px solid #F6F6F6;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
    text-align: left;

    thead tr {
      border-bottom: 1px solid $divider-color;
    }

    thead th {
      font-weight: 600;
      padding: 8px 12px;
      background-color: #F6F6F6;
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: 1px solid $divider-color;
      }

      td {
        padding: 12px;

        ul {
          list-style: disc;
          margin-left: 30px;
        }
      }
    }

    .submission--question-type {
      width: 5%;
    }

    .submission--question {
      width: 45%;
    }

    .submission--response {
      width: 50%;

      img {
        max-width: 100%;
      }
    }

    .submission--repeat-group {
      background: #F8F8F8;
      padding: 0px 30px;

      table {
        background: #FFF;
      }
    }

    .submission--group {
      background: #F8F8F8;

      h4 {
        margin: 0px;
      }
    }

    .submission--end-group {
      background: $divider-color;
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }

  .submission--warning {
    margin-bottom: 30px;
    padding: 10px;
    background: $cool-whitegray;
    text-align: center;
    line-height: 1em;

    i {
      color: #FFB775;
      font-size: 40px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      line-height: 1.4em;
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 60px);
    }

    + .submission--warning {
      margin-top: -30px;
      border-top: 1px solid $divider-color;
    }
  }
}

.enketo-holder {
  // resets modal window paddings
  margin: -30px -30px;

  .enketo-loading-message {
    p {
      text-align: center;
      font-weight: 600;
    }

    i:before {
      color: #3FA2EE;
      font-size: 20px;
    }
  }

  .touch & {
    width: 94%;
    left: 3%;
    margin-left: 0px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

.enketo-iframe-icon {
  color: #fff;
  background-image: url("~/jquery-ui/themes/humanity/images/ui-icons_ffffff_256x240.png");
  background-color: #C6CBD0;
  background-position: -81px -129px;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 3px;
  z-index: 1000;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.project-settings {
  // make sure it doesn't get too small (but only inside modal)
  .modal & {
    width: 600px;
    max-width: 100%;
  }

  .intro {
    margin-bottom: 20px;
    text-align: left;
  }

  // override two columns to rows
  &.project-settings--narrow {
    .form-modal__item--sector,
    .form-modal__item--country {
      width: 100%;
      float: none;

      .Select {
        margin-right: 0;
      }
    }
  }

  $buttons-spacing: 10px;

  .form-modal__item--form-source-buttons {
    margin: 0 auto;
    max-width: 500px;

    button {
      display: inline-block;
      vertical-align: top;
      border: 1px solid $divider-color;
      background: #F8F8F8;
      border-radius: 4px;
      color: $cool-gray;
      cursor: pointer;
      margin: 0.5*$buttons-spacing;
      padding: $buttons-spacing;
      width: calc(50% - #{$buttons-spacing});
      min-height: 120px;

      @media screen and (min-width: 768px) {
        margin: $buttons-spacing;
        padding: 2*$buttons-spacing;
        width: calc(50% - #{2*$buttons-spacing});
      }

      i {
        display: block;
        margin: 0 auto;
        font-size: 48px;
      }

      &:hover {
        color: $cool-blue;
        border-color: $cool-blue;
        i {color: $cool-blue;}
      }
    }
  }

  .dropzone {
    background: $cool-whitegray;
    padding: 30px;
    border: 2px dashed $divider-color;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;

    i {
      display: block;
      margin: 0 auto;
      font-size: 72px;
      opacity: 0.5;
    }

    .loading {
      font-size: inherit;
    }

    .loading i {
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 16px;
    }

    &:hover {border-color: $cool-blue;}
    &.dropzone-active {border-color: $cool-blue;}
    &.dropzone-reject {border-color: $cool-red;}
  }
}

@media screen and (min-height: 600px) {
  // on bigger screens make templates-list scrollable to always display back/next buttons
  .project-settings.project-settings--choose-template {
    .templates-list {
      max-height: 380px;
      overflow-y: auto;
    }
  }
}

.form-modal--translation-settings {
  .form-view__cell--translation-note {
    padding-bottom: 20px;
  }
  .form-view__cell--translation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $divider-color;
    padding: 6px 0px;
  }

  .form-view__cell--translation-actions {
    min-width: 150px;
    text-align: right;
  }

  .form-view__cell--add-language {
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid $divider-color;
  }

  .form-view__cell--add-language-form,
  .form-view__cell--update-language-form {
    background: #F8F8F8;
    padding: 15px;
    position: relative;

    .form-view__link--close {
      position: absolute;
      right: 0px;
      top: 6px;

      i {
        font-size: 24px;
      }
    }
  }

  .form-view__cell--add-language-form {
    margin-top: 20px;
  }

  .form-view__cell--add-language-fields {
    display: flex;
    justify-content: space-between;

    .form-view__cell {
      min-width: 100px;

      &--lang-code {
        max-width: 50px;
      }

      input {
        padding-left: 5px;
        max-width: 95%;
      }

      button {
        margin-left: 10px;
        margin-top: 5px;
      }
    }
  }
}

.form-modal--translation-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  .form-modal__item--translation-table--container {
    height: calc(100% - 80px);
    overflow: auto;
    border: 1px solid $divider-color;
  }

  .ReactTable {
    width: 100%;

    .rt-thead.-header {
      box-shadow: none;
      border-bottom: 2px solid $divider-color;
    }

    .rt-thead > .rt-tr,
    .rt-tr-group > .rt-tr {
      .rt-td {
        white-space: normal;
      }
      > .rt-th:first-child,
      > .rt-td:first-child {
        min-width: 30%;
        color: lighten($cool-gray, 10%);
      }

      > .rt-th:last-child,
      > .rt-td:last-child {
        min-width: 70%;
      }
      .translation {
        background: lighten($cool-green, 41%);
        color: lighten($black, 15%);
        padding: 0px;
        textarea {
          padding: 8px;
          border: none;
          background: transparent;
          &:focus {
            background: lighten($cool-green, 35%);
          }
        }
      }
    }
  }

  .form-modal__item--translation-table--actions {
    width: 100%;
    text-align: right;
    padding-top: 20px;
    height: 80px;
  }
}

// alertify overrides

.alertify .ajs-dimmer {
  background-color: #FFF;
  opacity: 0.55;
}

.alertify .ajs-dialog {
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.15);
}

.alertify .ajs-header {
  margin: 0px;
  padding: 0px;
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: bold;
}

.alertify.ajs-closable .ajs-commands button {
  width: 32px;
  height: 32px;
  padding: 0px;
}

.alertify.ajs-closable .ajs-commands button.ajs-close {
  background: transparent;
  font-size: 32px;
  color: lighten($cool-gray, 20%);

  &:hover {
    color: $cool-gray;
  }
}

.alertify.ajs-closable .ajs-commands button.ajs-close:before {
  content: '\E806';
  font-family: 'k-icons';
}

.alertify.ajs-closable .ajs-commands {
  margin: 0px;
  top: 20px;
  right: 20px;
  padding: 0px;
}

.alertify .ajs-body .ajs-content {
  padding: 0px;

  pre {
    max-height: 300px;
    overflow: auto;
    word-wrap: break-word;
    max-width: 100%;
    padding-right: 20px;
    white-space: initial;
    font-size: 12px;
  }
}

.alertify .ajs-dialog {
  max-width: 550px;
  padding: 30px 30px 0 30px;
}

.alertify .ajs-footer {
  margin: -4px;
  padding: 17px 0px;

  .ajs-buttons.ajs-primary {
    text-align: right;
  }

  button {
    @extend .mdl-button;

    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;

    &.ajs-ok {
      @extend .mdl-button--colored, .mdl-button--raised;
    }

    &.ajs-cancel {
      @extend .mdl-button--colored;

      &:focus, &:focus:not(:active) {
        background: transparent;
      }
    }
  }
}

.alertify-notifier {
  .ajs-message,
  .ajs-message.ajs-error,
  .ajs-message.ajs-success,
  .ajs-message.ajs-warning {
    background: #484b5a;
    color: white;
    padding: 17px 24px;
    padding-right: 44px;
    width: auto;
    min-width: 320px;
    max-width: 460px;
    line-height: 1.3em;
  }

  .ajs-message .ajs-close {
    background-image: none;
    background: transparent;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    opacity: 0.5;

    @extend .k-icon, .k-icon-close;

    color: white;
  }
}

.alertify-toggle {
  // border:2px solid red;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;

  input {
    margin-right: 5px;
  }

  &:first-child {
    padding-top: 15px;
  }

  &.alertify-toggle-important {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #EDEDED;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .modal.modal--open {
    min-width: 90%;
    max-width: 90%;
  }
}
