.user-row {
  display: flex;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition:all 0.5s;
  visibility: visible;
  opacity: 1;
  align-items: 'center';

  &--deleted {
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    padding:0px;
    opacity: 0;
    transition:all 0.5s;
  }

  &__avatar {
  	width:40px;
  	height:40px;
  	margin-right: 20px;
  	img {
  		border-radius: 50%;
  		max-width: 85%;
  		height: auto;
  		vertical-align: top;
  	}
  }
  &__name {
  	flex: 1;
  }
  &__role {
    min-width: 130px;
    text-align: right;
  }

  .Select {
    .Select-arrow {
      right:35px;
    }
    .Select-clear {
      right:0px;
    }
    .Select-control {
      border:none !important;
      border-radius: none;
    }
  }

}

.form-modal__item--perms-user {
	margin-top: 30px;
	position: relative;
	input[type="text"] {
		width:calc(100% - 64px);
	}
	button {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}

.form-modal__item--perms-link {
	margin-top: 30px;
	label.toggle-switch {
		cursor: pointer;
    float: right;
	}
}

.form-modal__item--sharing {
  border:1px solid lighten($cool-gray, 20%);
  margin:20px 0px;
  padding:20px;
  a.mdl-button {
    float: right;
  }
  .shared-with:after {
    content: ', ';
  }
  .shared-with:last-child:after {
    content: '';
  }
}
