.asset-type-icon {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-right: 10px;
  vertical-align: middle;

  &--small {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  &--medium {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 22px;
  }

  width: 32px;
  height: 32px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 28px;

  &--block {
    background-color: $cool-green;
    border: 1px solid $cool-green;

    > i {
      &:before {
        content: 'B';
        font-style: normal;
      }
    }
  }

  &--question {
    background-color: #FFF;
    border: 1px solid $cool-green;
    color: $cool-green;

    > i {
      &:before {
        content: 'Q';
        font-style: normal;
      }
    }
  }

  &--survey {
    background-color: #FFF;
    border: 2px solid $cool-green;

    // > i {
    //   font-size: 16px;
    //   font-weight: 600;

    //   @extend .fa, .fa-fw, .fa-file-o;
    // }

    // &.asset-type-icon--small {
    //   > i {
    //     font-size: 11px;
    //   }
    // }

    // &.asset-type-icon--medium {
    //   > i {
    //     margin-left: 2px;
    //     font-size: 12px;
    //   }
    // }
  }
}

// .asset-row .asset-type-icon:hover {
//   background-color: $cool-gray;
//   border: 1px solid $cool-gray;
//   color:$cool-gray;
// }

.asset-row--active .asset-type-icon, 
.asset-row--active .asset-type-icon:hover {
  // border:none;
  // border-radius:0px;
  // background-color: transparent;
  svg.ki-icon {
    display: none;
    // width:31px;
    // height:31px;
    // vertical-align: top;
  }
}
