.kpiapp,
.mdl-wrapper,
.mdl-layout {
  height: 100%;
}

.mdl-layout {
  max-width: 1440px;
  margin: 0 auto;
}

.mdl-layout__content {
  height: calc(100% - 72px);
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  transition: all .4s ease 0s;
}

.ui-panel {
  height: 100%;
  margin: 0px 8px;
}

.ui-panel__body {
  @extend .mdl-grid, .mdl-grid--no-spacing, .mdl-shadow--2dp;
  background: #FFF;
  padding: 0;
  height: 100%;
  flex-direction: column;
  > .asset-view__content,
  > .collection-list,
  > .formBuilder {
    @extend .mdl-cell, .mdl-cell--12-col;
    flex-flow: column;
    margin: 0px !important;
  }
  > .collection-list {
    position: relative;
    height: calc(100% - 50px);
  }
  > .asset-view__content {
    height: 100%;
  }
  > .formBuilder {
    height: 100%;
  }
}

.ui-panel--transparent .ui-panel__body {
  background: transparent;
  box-shadow: none;
  margin: 0px;
}

.page-wrapper--asset-nav-open .mdl-layout__content {
  margin-right: 400px;
}

.k-form-header__inner {
  max-width: 1200px;
  display: flex;
}

// Focus mode for form builder, disable drawer, header
.mdl-layout.page-wrapper--formbuilder-focus {
  .mdl-layout__content {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .ui-panel {
    margin: 0px;
  }
}

// Sharing form header
.k-sharing__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .user--pill {
    display: flex;
    padding-right: 20px;
    span.fa-stack {
      margin-right: 5px;
    }
    a.user-profile-link {
      font-size: 1.1em;
      font-weight: 600;
    }
    .user--pill__name {
      line-height: 1.2em;
      padding-top: 4px;
    }
  }
}

.k-sharing__title {
  width: 100%;
}

.text-small {
  font-size: 0.85em;
  opacity: .75;
}

.message {}

.message--error {
  text-decoration: uppercase;
}

.message--loading {
  text-align: center;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-spinner, .fa-spin;
  }
}

.popover-menu {
  position: absolute;
  top: 2.8em;
  left: 7.5%;
  width: 85%;
}

.popover-menu__link {
  display: block;
}

.popover-menu__item, .popover-menu__link {
  @extend .mdl-shadow--6dp, .mdl-color--white;
  padding: 10px 8px 10px 26px;
  position: relative;
  > i:first-child {
    @extend .fa, .fa-fw;
    position: absolute;
    top: 12px;
    left: 4px;
  }
  &.popover-menu__link--dl-xls {
    > i:first-child {
      @extend .fa-file-excel-o;
    }
  }
  &.popover-menu__link--dl-xml {
    > i:first-child {
      @extend .fa-file-code-o;
    }
  }
}

.reactTooltip.place-bottom {
  background-color: #8a9aa4 !important;
  &:after {
    border-bottom: 8px solid #8a9aa4 !important;
  }
}

.reactTooltip.show {
  opacity: 1 !important;
}