// bem.CollectionNav = bem('collection-nav');
// bem.CollectionNav__search = bem.CollectionNav.__('search');
// bem.CollectionNav__searchcriteria = bem.CollectionNav.__('searchcriteria');
// bem.CollectionNav__actions = bem.CollectionNav.__('actions');

.collection-nav {
  @extend .row;
}

.collection-nav__search {}
.collection-nav__searchcriteria {}

.collection-nav__actions {
  // @extend .col-sm-2;
  padding-top: 5px;
  label {
    color: #b3b3b3;
    margin-right: 12px;
  }
}

.collection-nav__action {}

.collection-nav__button {
  // @extend .btn, .btn-default, .btn-block, .btn-sm;
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
  > i {
    @extend .fa, .fa-cloud, .fa-fw;
    margin-right: 12px;
  }
}

.collection-nav__link {
  // @extend .btn, .btn-default, .btn-block, .btn-sm;
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-plus;
    margin-right: 12px;
  }
}

