.simple-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  .simple-table__header {
    .simple-table__row:nth-child(1) {
      .simple-table__cell {
        background-color: $kobo-gray-96;
        border-bottom: 2px solid $kobo-gray-92;
        font-weight: 600;
      }
    }
  }

  .simple-table__body {
    .simple-table__cell {
      border-bottom: 1px solid $kobo-gray-96;
    }
  }

  .simple-table__cell {
    padding: 10px;
    background-color: $kobo-white;
  }

  .simple-table__message-row {
    .simple-table__cell {
      padding: 20px;
      text-align: center;
    }
  }
}
