.form-sidebar {
  height: calc(100% - 55px);
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .form-sidebar__itemlink {
    display: block;
    line-height: 1.2em;
    padding: 2px 0;
    color: $cool-silver;
    font-weight: normal;
    font-size: 12px;

    &:hover {
      color: $cool-charcoal;
    }
  }

  .form-sidebar__label,
  .form-sidebar__grouping {
    color: $cool-silver;
    cursor: pointer;

    i {
      font-size: 36px;
      margin-right: 0;
      margin-left: -4px;
      vertical-align: middle;
      display: inline-block;

      @extend .k-icon;
    }

    span {
      vertical-align: middle;
    }
  }

  .form-sidebar__label {
    padding: 3px 0;
    position: relative;

    &.form-sidebar__label--selected {
      color: $cool-gray;
    }

    &:hover {
      color: $cool-charcoal;
    }

    .form-sidebar__label-count {
      position: absolute;
      right: 3px;
      top: 11px;
      padding: 0 6px;
      font-size: 12px;
      line-height: 20px;
      min-width: 20px;
      border-radius: 20px;
      background-color: $divider-color;
      text-align: center;
    }
  }

  .form-sidebar__grouping {
    margin-bottom: 10px;

    &.form-sidebar__grouping--collapsed {
      margin: 0;
      height: 0;
      overflow: hidden;
    }
  }

  .form-sidebar__item {
    display: block;
    position: relative;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 4px;

    .form-sidebar__iteminner {
      display: inline-block;

      .form-sidebar__itembyline {
        display: block;
        font-size: 0.85em;
        opacity: 0.6;
      }
    }

    &.form-sidebar__item--collection {
      .form-sidebar__itemlink {
        i {
          font-size: 32px;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    &.form-sidebar__item--selected {
      background: #ededee;

      .popover-menu {
        position: absolute;
        right: -4px;
        top: 4px;
        margin: 0;

        .popover-menu__toggle {
          i {
            margin-left: 0;
            line-height: 1em;
          }
        }

        .popover-menu__content {
          margin-right: 20px;
        }
      }

      .form-sidebar__itemlink {
        color: $cool-green;
        margin-right: 32px;
        text-overflow: clip;
      }
    }

    &.active {
      background: #ededee;

      .form-sidebar__itemlink {
        color: $cool-green;
      }
    }
  }
}
