.form-view {
  height: 100%;
  overflow: auto;
  padding: 8px;
  padding-top: 4px;
}

.form-view__header {
  margin-bottom: 8px;
  @extend .mdl-shadow--2dp;
  background-color: #FFF;
}

.form-view__tabs {
  background-color: #557893;
  position: relative;
}

.form-view__extras {
	float: right;
  button.mdl-button {
    color: white;
    margin-top: 4px;
  }
}

.form-view__tab {
  background: transparent;
  color: #FFF;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 20px;
  opacity: 0.6;
  &.active {
    opacity: 1;
    border-bottom: 3px solid $cool-green;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.form-view__name {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.4em;
  color: unquote("rgb(#{$color-primary})");
}

.form-view__description {
  padding: 10px 15px;
  padding-top: 0px;
}

.form-view__row {
  display: flex;
  justify-content:space-around;
  margin-bottom: 8px;
}

.form-view__cell {
  @extend .mdl-shadow--2dp;
  background-color: #FFF;
  padding: 15px;
  margin-right:8px;
  &--edit {
  	width:50%;
  }
  &--history {
  	width:30%;
    position: relative;
  }
  &--meta {
  	width:20%;
  }
  &:last-child {
  	margin-right: 0px;
  }
  &--collecting-webforms {
    width:65%;
  }
  &--collecting-android {
    width:35%;
  }
}

.form-view__label {
  font-size: 16px;
  color: $cool-gray;
  &--title {
    color: $cool-green;
  }

  &--white {
    color: white;
  }
}

// FIXME: rename this
.form-view__cell {
	.asset-view__label {
		display: block;
		text-align: center;
		padding-bottom: 5px;
	}
	.asset-view__span--val {
		display: block;
		text-align: center;
		font-size: 18px;
		color:$cool-green;
	}
	.asset-view__col--date-modified, 
	.asset-view__langs {
		padding-bottom: 8px;
		margin: 8px;
		margin-top: 0px;
		border-bottom: 1px solid #CCC;
	}
}

.form-view__group {
	text-align: center;
	padding: 8px;
  padding-bottom: 12px;
	&--editpreview {
		border-bottom: 1px solid #CCC;
    margin-bottom: 12px;
	}

  .dropzone {
    display: inline;
  }

  &--actions {
    text-align: right;
  }

}

.form-view__group--deployments-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $cool-gray;
  opacity:0.9;
  left: 0px;
  top: 0px;
  text-align: left;
  padding:10px 15px;
  .form-view__label {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .form-view__group {
    color: white;
    &--desc {
      text-align: left;
      font-size: 16px;
    }
  }
  i {
    font-size: 32px;
  }
}

.form-view__banner {
  height:200px;
  margin:-15px;
  margin-bottom: 15px;
  background-color: $cool-green;
  &--android {
    background-color: #dbeef8;
  }
}

.form-view__cell--collecting-android {
  i {
    font-size: 20px;
    vertical-align: middle;
  }
}

.form-view__row--collecting {
  position: relative;
  .form-view__group--collecting-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: unquote("rgba(#{$color-primary}, 0.9)");
    left: 0px;
    top: 0px;    
    padding:12%;
    @extend .mdl-shadow--2dp;
  }
  .form-view__group--desc {
    max-width: 240px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}

// buttons in forms 

.k-button--bordered {
	background:white;
	color:unquote("rgb(#{$color-primary})");
	border:2px solid unquote("rgb(#{$color-primary})");
	box-shadow: none;
	line-height: 32px;
}

.form-view__link, .form-view__button {
	@extend .mdl-button, .mdl-button--raised;
	margin:4px;
	&--edit, &--download {
		@extend .mdl-button--colored;
	}
	&--preview, &--upload {
		@extend .k-button--bordered;
	}
}

.form-view__link--make-active {
  border:2px solid white;
  background-color: rgba(255,255,255,0.2);
  color: white;
  box-shadow: none;
  height:48px;
  line-height: 44px;
  padding: 0px 24px;
  margin:10px;
  &:hover {
    background-color: #FFF;
    color:unquote("rgb(#{$color-primary})");
  }
}

.form-view__item--download {
  position: relative;
}