$celllink_hovercolor: #f7f7f7;
$celllink_hoverbg: #356A8E;
$highlightedBarColor: #EAEAED;
$highlightedBarTextColor: #25343C;

.asset-row {
  @extend .clearfix;
  list-style-type: none;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  padding: 10px 12px 10px 45px;
  clear: both;
  position: relative;
  a, a:hover {
    text-decoration: none;
  }
}

.asset-row__cell--icon {
  position: absolute;
  left: 10px;
  top: 16px;
}

.asset-row__tags {
  font-size: 11px;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-tag;
    margin-right: 2px;
    float: left;
  }
}
.asset-row__tags__tag {
  @extend .k-tagsinput-tag;
  line-height: 14px;
  // &:after {
  //   content: ',';
  // }
  // &:last-child:after {
  //   content: '';
  // }
}
.asset-row--selected {
  background-color: $highlightedBarColor;
  color: $highlightedBarTextColor;
  a, a:hover {
    color: $highlightedBarTextColor;
    background-color: transparent;
  }
}
.asset-row--selected {
  .asset-row__celllink--name {
    border-bottom: 1px solid #DADAEC;
    cursor: pointer;
  }
  cursor: default;
}
.asset-row--deleted {
  opacity: 0.5;
  background-color: rgba(255, 200, 200, 0.1);
}

@mixin bt-theme($col) {
  .asset-row:not(.asset-row--selected) & {
    // border-color: rgba($col, 0.2);
    // background-color: rgba($col, 0.05);
    border-color: lighten(rgb(223, 223, 223), 30%);
    background-color: lighten(rgb(223, 223, 223), 50%);

    > * {
      color: lighten(#555, 60%)
    }
  }
  .asset-row--selected & {
    border-color: rgba($col, 0.7);
    background-color: rgba($col, 0.05);
    cursor: pointer;
    > * {
      color: darken($col, 5%);
    }
  }
}

@mixin action-faicon ($faClass) {
  > i {
    @extend .fa-#{$faClass};
  }
}
%inner-fa-icon {
  > i {
    @extend .fa;
    @extend .fa-fw;
  }
}
.asset-row__action-icon {
  border-style: solid;
  border-width: 1px;
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 4px;
  text-align: center;
  line-height: 27px;
  border-radius: 2px;
  padding: 4px;
  background-color: rgba(255,255,255,0.8);

  @extend %inner-fa-icon;

  &.asset-row__action-icon--view {
    @include bt-theme($kcol-view);
    @include action-faicon('eye')
  }
  &.asset-row__action-icon--view-collection {
    @include bt-theme($kcol-view);
    @include action-faicon('folder-o')
  }
  &.asset-row__action-icon--edit {
    @include bt-theme($kcol-edit);
    @include action-faicon('pencil');
  }
  &.asset-row__action-icon--preview {
    @include bt-theme($kcol-preview);
    @include action-faicon('eye');
  }
  &.asset-row__action-icon--clone {
    @include bt-theme($kcol-clone);
    @include action-faicon('copy');
  }
  &.asset-row__action-icon--delete {
    @include bt-theme($kcol-delete);
    @include action-faicon('trash-o');
  }
  &.asset-row__action-icon--sharing {
    @include bt-theme($kcol-preview);
    @include action-faicon('users');
  }
  &.asset-row__action-icon--download {
    @include bt-theme($kcol-download);
    @include action-faicon('download');
  }
}

.asset-row__sharingIcon {
  i {
    @extend .fa, .fa-fw, .fa-user;
  }
  &.asset-row__sharingIcon--multi-user {
    i {
      @extend .fa, .fa-fw, .fa-users;
    }
  }
  &.asset-row__sharingIcon--self-owned {
    i {
      display: none;
    }
  }
  &.asset-row__sharingIcon--public-owned {
    span {
      display: none;
    }
    i {
      @extend .fa, .fa-fw, .fa-question;
    }
  }
}

// TODO: update col number when questions count added
$colcount: 3;
$colwidth: (100% / $colcount) - 1%;
%rowcell {
  float: left;
  width: $colwidth;
  @media(max-width:767px) {
    width: 50%;
  }
}

%rowbar {
  @media(min-width:768px) {
    float: left;
    width: 70%;
  }
}

.asset-row__celllink {
  @extend %rowbar;
  font-size: 1.4em;
  display: block;
  line-height: 1.5em;
  color: #333;
  @media(min-width:768px) {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    height: 1.5em;
  }
}
.asset-row__cellmeta {
  @extend %rowbar;
  &.asset-row__cellmeta--wide {
    width: 100%;
  }
  .asset-row__cell:not(.asset-row__cell--tags) {
    @extend %rowcell;
  }
}
.asset-row__cell--tags {
  margin: 8px 8px 4px 0px;
  width: 100%;
}

.asset-row__cell {
  // indicating the asset type
  &.asset-row__cell--icon {
    @extend %inner-fa-icon;
    > i {
      @extend .fa-lg;
    }

    &.asset-row__cell--assettype-empty {
      @include action-faicon('lemon-o');
      > i {
        @extend .fa-spin;
      }
      opacity: 0.8;
    }
    &.asset-row__cell--assettype-question {
      @include action-faicon('circle-o');
    }
    &.asset-row__cell--assettype-block {
      @include action-faicon('square-o');
    }
    &.asset-row__cell--assettype-survey {
      @include action-faicon('file-o');
    }
    &.asset-row__cell--kind-collection {
      @include action-faicon('folder-o');
    }
  }
  &.asset-row__cell--deploy-button {
    i {
      @extend .fa, .fa-fw, .fa-play;
    }
    button {
      @extend .mdl-button;
    }
    .asset-row:not(.asset-row--selected) & {
      button {
        @extend .mdl-button;
        @extend .mdl--disabled;
      }
    }
    .asset-row--selected & {
      button {
        opacity: 1;
        @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
      }
    }
  }
}
.asset-row__celllink--name {
  margin-bottom: 6px;
  border-bottom: 1px dotted transparent;
}

.asset-row__cell--asset-buttons {
  text-align: right;
  width: 29%; // 100% - rowbar width
  float: right;
  margin-top: -10px;
  opacity: 0;
  transition:all 0.3s;

  .asset-row__cell {
    display: inline;
  }

  .asset-row:hover & {
    opacity: 1;
    height: auto;
    transition:all 0.3s;
  }
}

@media(max-width:767px) {
  .asset-row__cell--asset-buttons {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding:5px;
  }
}
