.asset-name {
  &.asset-name--empty {
    font-style: italic;
  }

  small {
    color: inherit;
    opacity: 0.5;
    margin-left: 0.4em;
    font-size: smaller;
    font-style: italic;
  }
}

.sidebar-asset-name {
  &.asset-name--noname {
    font-style: italic;
  }
}
