.form-view__toptabs {
  background: white;
  text-align: center;
  height: 48px;
  border-bottom: 1px solid $divider-color;
}

.form-view__sidetabs {
  border-right: 1px solid $divider-color;
  width: 170px;
  height: 100%;
  overflow: hidden;
  float: left;
  background: white;
  padding-top: 20px;
}

.form-view {
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  background: #F8F8F8;
}

.form-view__sidetabs + .form-view,
.form-view__sidetabs + .report-view {
  width: calc(100% - 170px);
  height: calc(100% - 48px);
  overflow: auto;
  overflow-x: hidden;
}

.form-view__sidetabs + .form-view--table {
  overflow: hidden;
}

.form-view__toptabs {
  position: relative;

  a.form-view__tab {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 13px 30px;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    color: lighten($cool-gray, 10%);
    font-weight: normal;
    display: inline-block;

    &.active {
      color: $black;
      border-bottom: 2px solid $cool-green;
    }

    &:hover {
      color: $black;
    }
  }

  a.form-view__link--close {
    position: absolute;
    right: 0px;
    top: 5px;
  }
}

.form-view__sidetabs {
  a.form-view__tab {
    background: transparent;
    border: none;
    padding: 6px;
    border-left: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    color: lighten($cool-gray, 10%);
    font-weight: normal;
    letter-spacing: -0.01em;
    display: block;

    &.active {
      color: $cool-green;
      border-left: 2px solid $cool-green;
    }

    &:hover {
      color: $cool-green;
    }

    i {
      font-size: 36px;
      vertical-align: middle;
      margin-right: 4px;
    }

    span {
      vertical-align: middle;
    }
  }
}

.page-wrapper--header-hidden.page-wrapper--drawer-hidden {
  .form-view__sidetabs {
    width: 0px;
  }

  .form-view__sidetabs + .form-view,
  .form-view__sidetabs + .report-view {
    width: calc(100% - 1px);
    height: 100%;
    background: #F8F8F8;
  }

  .form-view__toptabs {
    display: none;
  }
}

.form-view__row {
  margin: 40px;
  margin-right: 44px;

  + .form-view__row {
    margin-top: 0px;
  }

  &.historyHidden {
    margin-top: -15px;
  }

  &.historyHidden .form-view__cell--history-label,
  &.historyHidden .form-view__cell--history-table {
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s max-height;
  }

  &.historyExpanded .form-view__cell--history-label,
  &.historyExpanded .form-view__cell--history-table {
    transition: 0.2s max-height;
    max-height: 1250px;
  }

  &.historyExpanded .form-view__cell--history-table + .form-view__cell {
    padding-top: 20px;
  }
}

.form-view__cell {
  &--box {
    @include box-shadow;

    background-color: #FFF;
  }

  &--columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--bordertop {
    border-top: 1px solid #DDD;
  }

  &--padding {
    padding: 20px;
  }

  &--label {
    font-size: 14px;
    color: $black;
    font-weight: 500;
    padding-bottom: 20px;
  }

  &--first {
    position: relative;

    .form-view__group {
      position: absolute;
      right: 0px;
      top: -12px;
      min-width: 200px;
      text-align: right;
    }
  }

  &--buttons {
    a.mdl-button {
      text-transform: uppercase;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &--version {
    font-weight: 600;
    display: inline-block;
  }

  &--undeployed {
    display: inline-block;
  }

  &--date {
    font-weight: normal;
    opacity: 0.8;
    display: inline-block;
    margin-left: 6px;
  }

  &--languages {
    span:first-child {
      font-weight: bold;
    }
  }

  &--langButton {
    margin-left: 15px;
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
  }

  &--langButton.active {
    background: #E6E6E8;
  }

  &--questions {
    align-items: flex-start;

    .question-count {
      font-size: 36px;
      padding-top: 15px;
    }
  }

  &--question-list {
    margin-left: 40px;
    max-height: 260px;
    padding: 10px 0px;
    overflow: auto;
    flex-grow: 2;

    > div {
      margin-bottom: 15px;
      font-size: 14px;
    }

    > div > i {
      margin-right: 25px;
      opacity: 0.3;
      display: inline-block;
      vertical-align: middle;
    }

    > div > span {
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - 60px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--centered {
    text-align: center;

    button {
      text-transform: uppercase;
    }
  }

  &--deployed {
    margin-left: 10px;
    display: inline-block;
    padding: 6px;
    background-color: #daf6f9;
    border-radius: 2px;
  }

  &--warning {
    margin: 10px 20px;
    margin-top: 0px;
    border-top: 15px solid #FFF;
    padding: 10px;
    background: #F8F8F8;

    i {
      color: #FFB775;
      font-size: 32px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - 48px);
    }
  }

  &--collect-row {
    position: relative;
    padding: 24px;
    padding-right: 100px;

    a.collect-link {
      display: block;
      margin-bottom: 10px;
      color: $black;
      font-weight: 500;
    }

    &:hover {
      background: #F2F2F3;
    }

    a.copy {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 0px 12px;
      cursor: pointer;
      display: none;
      text-transform: uppercase;
    }

    &:hover a.copy {
      display: block;
    }

    + .form-view__cell--collect-row {
      border-top: 1px solid #DDD;
    }

    code {
      display: block;
      background: #F8F8F8;
      padding: 10px;
      margin-top: 15px;
      border: 1px solid #DDD;
      font-size: 0.9em;
    }
  }
}

// buttons in forms
.form-view__link {
  font-size: 36px;
  line-height: 18px;
  padding: 0px 5px;
  color: $cool-gray;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: $cool-blue;
  }

  &--disabled, &--disabled:hover {
    color: lighten($cool-gray, 15%);
  }
}

.form-view__group {
  .dropzone {
    display: inline;
  }

  &--items {
    padding: 0px;
    border-top: 1px solid $divider-color;
    display: flex;
    align-items: center;

    > .form-view__label {
      text-align: right;
      width: 30%;
      padding: 10px;
      vertical-align: middle;

      &--version {
        width: 39%;
        text-align: left;
      }
    }

    &:hover {
      background: $hover-asset-row;
    }
  }

  &--headings {
    font-weight: 600;
    border-top: none;

    &:hover {
      background: transparent;
    }
  }
}

.form-view--form-settings,
.form-view--settings-sharing {
  background: #FFF;
  padding: 40px;
}

.form-view.form-view--form-settings {
  overflow: initial;

  .form-modal__form {
    height: 100%;

    .form-modal__item--wrapper {
      height: calc(100% - 70px);
      overflow: auto;

      .form-view__cell--iframe {
        height: 820px;
      }
    }
  }
}

.form-view.form-view--form-data-downloads {
  .form-modal__item {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .form-view__cell--exports-table {
    .form-view__label {
      text-align: left;

      &--type {
        width: 10%;
        text-transform: uppercase;
      }

      &--action {
        flex-grow: 1;
        text-align: right;
      }

      &--lang {
        flex-shrink: 1;
      }
    }

    .form-view__group--headings {
      .form-view__label--type {
        text-transform: none;
      }
    }

    @media screen and (max-width: 980px) {
      .form-view__label--date,
      .form-view__label--include-groups {
        display: none;
      }
    }
  }
}

.form-view__cell--iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 5px;
  }
}

.form-modal__item--downloads {
  iframe {
    min-width: 100%;
    min-height: 400px;
  }
}

.form-view__cell--collect-meta {
  pre {
    display: block;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid $divider-color;
    background: #F8F8F8;
    font-size: 13px;
    white-space: normal;
  }

  ol {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 25px;

    li {
      margin-bottom: 5px;
      padding: 5px;
    }

    i {
      margin: 0px 6px;
      font-size: 18px;
      display: inline-block;
    }
  }

  code {
    padding: 4px;
    border: 1px solid $divider-color;
    background: #F8F8F8;
    margin-left: 5px;
    margin-right: 5px;
  }

  .form-view__cell {
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .form-view__sidetabs {
    width: 50px;
    padding-top: 0px;

    a.form-view__tab {
      padding: 3px;
      padding-left: 1px;
      font-size: 10px;
      text-align: center;
      display: block;
      letter-spacing: -0.05em;

      span {
        display: none;
      }
    }
  }

  .form-view__toptabs {
    height: 39px;

    a.form-view__tab {
      font-size: 12px;
      padding: 8px 14px;
    }

    a.form-view__link {
      font-size: 28px;
    }
  }

  .form-view__sidetabs + .form-view, .form-view__sidetabs + .report-view {
    width: calc(100% - 50px);
    overflow-x: hidden;
  }

  .form-view {
    height: calc(100% - 39px);
    overflow-x: hidden;

    a.form-view__link {
      font-size: 32px;
      padding: 0px 3px;
    }
  }

  .form-view__row {
    margin: 16px;
    margin-bottom: 24px;
  }

  .form-view__cell--question-list {
    margin-left: 20px;
  }

  .form-view--form-settings,
  .form-view--settings-sharing {
    padding: 20px;
  }

  .form-view__cell--warning i {
    display: none;
  }

  .form-view__cell--date {
    display: block;
    margin-left: 0px;
  }
}