@use 'sass:math';
@use 'scss/z-indexes';
@use 'scss/mixins';
@use 'scss/colors';

$s-service-row-actions: 100px;
$s-service-row-column-spacing: 10px;

.service-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 36px;
  box-sizing: content-box;
  position: relative;

  &:not(:last-of-type) {
    border-bottom: 1px solid colors.$kobo-gray-300;
  }

  &:not(.service-row--header):hover {
    background-color: colors.$kobo-gray-200;
    color: colors.$kobo-gray-800;
  }

  &.service-row--clickable {
    cursor: pointer;
  }

  &.service-row--header {
    font-weight: 600;
    border-bottom-width: 2px;
  }

  &.service-row--active {
    color: colors.$kobo-gray-700;
  }

  &.service-row--inactive {
    color: colors.$kobo-gray-500;
  }
}

.service-row__link-overlay {
  position: absolute;
  z-index: z-indexes.$z-service-row-link;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.service-row__column {
  padding: $s-service-row-column-spacing;

  &.service-row__column--name {
    flex: 6;
  }

  &.service-row__column--count {
    flex: 1;
  }

  &.service-row__column--actions {
    @include mixins.centerRowFlex;
    gap: 5px;
    justify-content: flex-end;
    position: relative;
    z-index: z-indexes.$z-service-row-link + 1;
    min-width: $s-service-row-actions;
    padding: 0 $s-service-row-column-spacing;
    white-space: nowrap;
  }

  &.service-row__column--status {
    @include mixins.centerRowFlex;
    gap: 5px;
  }

  &.service-row__column--submission,
  &.service-row__column--status {
    flex: 1;
    padding: 0 $s-service-row-column-spacing;
    white-space: nowrap;
  }

  &.service-row__column--date {
    flex: 1;
  }

  &.service-row__column--success {
    color: colors.$kobo-gray-700;
  }

  &.service-row__column--pending {
    color: colors.$kobo-teal;
  }

  &.service-row__column--failed {
    color: colors.$kobo-red;
  }
}
