.asset-action-buttons {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: right;

  .k-icon {
    font-size: 32px;
    color: inherit;
  }

  .popover-menu__toggle .k-icon {
    display: block;
  }
}

.asset-action-buttons__button,
.asset-action-buttons__icon-button {
  display: block;
  cursor: pointer;

  .k-icon { display: block; }
}

.asset-action-buttons__button {
  @include box-shadow;

  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  padding: 5px 8px 5px 30px;
  color: $white;
  background-color: $cool-gray;
  text-shadow: -1px -1px 1px rgba($black, 0.125);
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: darken($cool-gray, 5%);
  }

  .k-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &.asset-action-buttons__button--subscribe {
    background-color: $cool-green;

    &:hover {
      background-color: darken($cool-green, 5%);
    }
  }

  &.asset-action-buttons__button--unsubscribe {
    background-color: $cool-red;

    &:hover {
      background-color: darken($cool-red, 5%);
    }
  }
}

.asset-action-buttons__icon-button {
  color: $cool-gray;

  &:hover {
    color: $cool-blue;
  }
}

.asset-action-buttons__button + .asset-action-buttons__icon-button {
  margin-left: 5px;
}
