.account-box__image {
  width:24px;
  display: inline-block;
  margin-left: 6px;
  img {
    opacity: 0.7;
    max-width: 24px;
    max-height: 24px;
  }
}

.account-box__logo {
  width: 120px;
  height: 28px;
  background: url('../img/kobologo.svg') no-repeat;
  background-size: contain;
  display: block;
}
