$celllink_hovercolor: #f7f7f7;
$celllink_hoverbg: #356A8E;
$assetRowTextColor: #888;

.collection-asset-list.list-group {
  display: table;
}
.asset-row {
  display: table-row;
  // transition: all 0.3s ease 0s;
  // @extend .clearfix;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 0;
  > a {
    display: table-cell;
  }
  a {
    padding: 5px;
    text-decoration: none;
    color: $assetRowTextColor;
    &:hover {
      text-decoration: none;
    }
    &.asset-row__action-icon {
      display: inline-block;
      padding: 0;
    }
  }
}


.asset-row__tags {
  > i:first-child {
    @extend .fa, .fa-fw, .fa-tag;
    margin-right: 6px;
    opacity: 0.5;
  }
}
.asset-row__tags__tag {
  color: #bababa;
  margin-right: 3px;
  &:after {
    content: ',';
  }
  &:last-child:after {
    content: '';
  }
}
.asset-row--selected {
  padding: 8px 0 12px;
  background-color: $highlightedBarColor;
  a, a:hover {
    background-color: transparent;
  }
}
.asset-row--deleted {
  opacity: 0.5;
  background-color: rgba(255, 200, 200, 0.1);
}

@mixin bt-theme($col) {
  .asset-row:not(.asset-row--selected) & {
    // border-color: rgba($col, 0.2);
    // background-color: rgba($col, 0.05);
    border-color: lighten(rgb(223, 223, 223), 30%);
    background-color: lighten(rgb(223, 223, 223), 50%);

    > * {
      color: lighten(#555, 60%)
    }
  }
  .asset-row--selected & {
    border-color: rgba($col, 0.7);
    background-color: rgba($col, 0.05);
    cursor: pointer;
    > * {
      color: darken($col, 5%);
    }
  }
}

@mixin action-faicon ($faClass) {
  > i {
    @extend .fa-#{$faClass};
  }
}
%inner-fa-icon {
  > i {
    @extend .fa;
    @extend .fa-fw;
  }
}
.asset-row__action-icon {
  border-style: solid;
  border-width: 1px;
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 4px;
  text-align: center;
  line-height: 27px;
  border-radius: 15px;
  padding: 4px;

  @extend %inner-fa-icon;

  &.asset-row__action-icon--view {
    @include bt-theme($kcol-view);
    @include action-faicon('file-o')
  }
  &.asset-row__action-icon--edit {
    @include bt-theme($kcol-edit);
    @include action-faicon('pencil');
  }
  &.asset-row__action-icon--preview {
    @include bt-theme($kcol-preview);
    @include action-faicon('eye');
  }
  &.asset-row__action-icon--clone {
    @include bt-theme($kcol-clone);
    @include action-faicon('copy');
  }
  &.asset-row__action-icon--delete {
    @include bt-theme($kcol-delete);
    @include action-faicon('trash-o');
  }
  &.asset-row__action-icon--download {
    @include bt-theme($kcol-download);
    @include action-faicon('download');
  }
}

.asset-row__sharingIcon {
  color: lighten(#000, 30%);
  i {
    @extend .fa, .fa-fw, .fa-user;
  }
  &.asset-row__sharingIcon--multi-user {
    i {
      @extend .fa, .fa-fw, .fa-users;
    }
  }
  &.asset-row__sharingIcon--public-owned {
    span {
      display: none;
    }
    i {
      @extend .fa, .fa-fw, .fa-question;
    }
  }
}
// not including the 
$colcount: 4;
$colwidth: (100% / $colcount) - 1%;
%rowcell {
  display: table-cell;
  width: $colwidth;

  margin-left: 1%;
  padding: 4px 2px;
}
.asset-row__celllink {
  @extend %rowcell;
  .asset-row--selected & {
    &.asset-row__celllink--name {
      color: $celllink_hovercolor;
      background-color: $celllink_hoverbg;
      &:hover {
        color: lighten($celllink_hovercolor, 5%);
        background-color: lighten($celllink_hoverbg, 5%);
      }
    }
    cursor: pointer;
  }
  &.asset-row__celllink--named {
    font-weight: bold;
  }
}
// consider extending .col-md-3, etc.
.asset-row__cell {
  @extend %rowcell;

  // indicating the asset type
  &.asset-row__cell--icon {
    width: 1%;
    @extend %inner-fa-icon;
    .asset-row--selected & {
      background-color: $celllink_hoverbg;
      color: $celllink_hovercolor;
    }

    &.asset-row__cell--assettype-empty {
      @include action-faicon('lemon-o');
      > i {
        @extend .fa-spin;
      }
      opacity: 0.8;
    }
    &.asset-row__cell--assettype-question {
      @include action-faicon('circle-o');
    }
    &.asset-row__cell--assettype-block {
      @include action-faicon('square');
    }
    &.asset-row__cell--assettype-survey {
      @include action-faicon('file');
    }
    // &.asset-row__cell--kind-asset {
    //  @include action-faicon('file-o');
    // }
    &.asset-row__cell--kind-collection {
      @include action-faicon('folder-o');
    }
  }
  &.asset-row__cell--userlink {
    width: 12%;
  }
  &.asset-row__cell--deploy-button {
    width: 6%;
    text-align: right;

    i {
      @extend .fa, .fa-fw, .fa-play;
    }
    button {
      @extend .btn;
    }
    .asset-row:not(.asset-row--selected) & {
      button {
        @extend .btn-default;
        @extend .disabled;
      }
    }
    .asset-row--selected & {
      button {
        opacity: 1;
        @extend .btn-success;
      }
    }
  }
  &.asset-row__cell--date-modified {
    width: 14%;
    color: #aaa;
  }
  &.asset-row__cell--name {
    width: 37%;
    overflow: hidden;
    text-overflow: ellipsis;
    // &.asset-row__cell--titled {
    //   a {
    //     font-weight: bold;
    //   }
    // }
  }
}

.asset-row__celllink--name {
  // .asset-row--selected & {
  //   a {
  //     border: 1px solid mix($highlightedBarColor, lighten($kcol-view, 15%), 60%);
  //     background-color: mix($highlightedBarColor, lighten($kcol-view, 25%), 90%);
  //     border-radius: 6px;
  //     cursor: pointer;
  //     color: mix($assetRowTextColor, darken($kcol-view, 5%), 50%);
  //     text-decoration: none;
  //     &:hover {
  //       border-color: mix($highlightedBarColor, darken($kcol-view, 15%), 60%);
  //       color: mix($assetRowTextColor, darken($kcol-view, 5%), 50%);
  //       background-color: mix($highlightedBarColor, lighten($kcol-view, 25%), 80%);
  //     }
  //   }
  // }
}
.asset-row__cell--action-icons {
  text-align: right;
}