.collection-sidebar {
  height: calc(100% - 80px);
  overflow: auto;
  margin-right: -5px;

  &__itemlink {
    margin-left: 5px;
    font-size: 0.9em;
  }

  &__itembyline {
    margin-left: 27px;
    font-size: 11px;
    color: #bbb;
    margin-bottom: -10px;
  }

  &__itemactions {
    margin-left: 20px;
    display: none;
  }

  &__item {
    color: #5C676E;
    padding: 0px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left; 
    direction: ltr;

    &--info {
      cursor: default;
      border: 0 none;
      box-shadow: none;
      color: #2136A9;
      font-size: 11px;
      background-color: transparent;
    }

    &--selected {
      color:#555B6E;
      position: relative;

      > .collection-sidebar__itemactions {
        display: inline-block;
      }

      .collection-cog {
        position: absolute;
        left: -24px;
        top: 1px;
        padding:0px;
        border:none;
        background-color: transparent;
        cursor: pointer;
        button {
          border: none;
          background-color: transparent;
          padding:0px;
          margin:0px;
          cursor: pointer;
        }
         i:before {
          font-size: 24px;
        }
      }

    }

    &--toplevel {
      margin-left: 0px;
      color: darken($cool-gray, 15%);
    }

    &:hover {
      color:#555B6E;
    }

    > i {
      margin-right: 10px;
      vertical-align: top;
      padding-top: 3px;
      display: inline-block;
      &.fa {
        margin-right: 4px;
        padding-top: 6px;
      }

      &.fa-caret-down {
        display: none;
      }
    }

    > span {
      max-width: 80%;
      display: inline-block;
      line-height: 1.3em;
      padding-top: 5px;
    }
  }

  .collection-sidebar__item--toplevel.collection-sidebar__item--selected {
    > i {
      color: $cool-green;
      &.fa-caret-down {
        display: inline-block;
      }
    }
  }
}

.form-sidebar {
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  &__item {
    margin-bottom: 15px;
    overflow-x:hidden;
  }

  &__itemlink {
    display: block;
    // start multiline ellipsis webkit only
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.2em;
    word-wrap: break-word;
    // end multiline ellipsis webkit only
    color: #5C676E;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.4em;
    &:hover {
      color:unquote("rgb(#{$color-primary})");
    }
  }

  &__label {
    color: #5C676E;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 15px;
    font-size: 0.9em;
    cursor: pointer;

    i {
      font-size:18px;
      margin-right:6px;
      vertical-align: middle;
      display: inline-block;
      @extend .k-icon;
    }

    &--Deployed i {
      @extend .k-icon-active;
    }
    &--Draft i {
      @extend .k-icon-drafts;
    }
    &--Archived i {
      @extend .k-icon-archived;
    }

    &--visible {
      opacity: 1;
    }
  }
}

.form-sidebar__grouping {
  padding-left: 28px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  font-size:0.9em;
  &--collapsed {
    height: 0px;
    overflow: hidden;
  }
}
