@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > div, a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.asset-gallery{
  >div{
    padding: 40px 40px 0px 40px;
  }
  .styled-select {
    select {
      background: transparent;
      border: none;
      font-size: 14px;
      height: 29px;
      padding: 5px; /* If you add too much padding here, the options won't show in IE */
      width: 268px;
    }
  }

  &__grid, &__heading{
    display: flex;
  }
  &__grid{
    flex-wrap: wrap;
    &-item{
      $root: &;
      margin: 0 15px 15px 0;

      // &:nth-child(3n){
      //   margin-right: 0;
      // }
      &.one-one{
        @include aspect-ratio(1,1)
      }
      &.col6{
        width: 50%;
      }
      &.col4{
        width: 31%;
      }
      &__overlay{
        opacity: 0;
        transition: 0.3s all ease-in-out;
        background: -webkit-gradient(linear, 0% 40%, 0% 110%, from(transparent), to(#000));
        .text{
          color: #fff;
          position: absolute;
          bottom: 0;
          left: 10px;
        }
        #{$root}:hover & {
          opacity: 1;
        }
      }
    }
  }
  &__heading{
    flex-wrap: nowrap;
    justify-content: space-between;
    &__search-filter{
      min-width: 300px;
    }
  }
}
