svg.ki-icon {
  width: 42px;
  height: 38px;
  display: inline-block;
  stroke: $cool-gray;
  fill: transparent;
  &.ki-github,
  &.ki-folder,
  &.ki-check-round,
  &.ki-drafts,
  &.ki-inactive,
  &.ki-edit {
    fill: $cool-gray;
  }
  &.ki-view, &.ki-edit {
    stroke: transparent;
    fill: $cool-gray;
  }
}

svg path {
  fill: inherit;
}