// RESTServices custom overrides

.rest-services {
  // center empty content message
  &.rest-services--empty {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  > button {
    display: block;
    float: right;
  }
}
