.kpiapp,
.mdl-wrapper,
.mdl-layout {
  height: 100%;
}

.mdl-layout {
  max-width: $mdl-layout-width;
  margin: 0 auto;
  overflow: hidden;
}

.mdl-layout__content {
  height: calc(100% - #{$layout-desktop-header-height});
  position: relative;
  flex-grow: 0;
  overflow: hidden;

  > .dropzone,
  .public-collections-wrapper {
    height: 100%;
    overflow: hidden;
  }
}

.ui-panel {
  height: 100%;
  margin: 0px 8px;

  // useful if you want to avoid weird Flexbox bug with pushing things outside viewport
  &.ui-panel--fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.ui-panel__body {
  @extend .mdl-grid, .mdl-grid--no-spacing;

  padding: 0;
  height: 100%;
  flex-direction: column;

  > .asset-view__content,
  > .form-builder {
    @extend .mdl-cell, .mdl-cell--12-col;

    flex-flow: column;
    margin: 0px !important;
  }

  > .asset-view__content {
    height: 100%;
  }

  > .form-builder {
    height: 100%;
  }
}

.ui-panel--transparent .ui-panel__body {
  background: transparent;
  box-shadow: none;
  margin: 0px;
}

// Focus mode for form builder, disable drawer, header
.mdl-layout.page-wrapper--in-formbuilder {
  .mdl-layout__content {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  .ui-panel {
    margin: 0px;
  }
}

.text-small {
  font-size: 0.85em;
  opacity: .75;
}

// Popover menu
.popover-menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.popover-menu__toggle {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $kobo-gray-40;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    color: $kobo-blue;
  }

  i {
    margin: 3px;
    font-size: 26px;
  }
}

.popover-menu__content {
  @include box-shadow-mid;

  overflow: hidden;
  position: absolute;
  min-width: 160px;
  max-width: 300px;
  text-align: left;
  background: $kobo-white;
  z-index: 10;
  right: -10px;
  transition: opacity 0.35s;
  opacity: 1;

  &--hiding {
    opacity: 0;
    transition: opacity 0.35s;
  }

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }
}

.popover-menu--below .popover-menu__content {
  top: 100%;
}

.popover-menu--right .popover-menu__content {
  right: auto;
  left: -10px;
}

.popover-menu--above .popover-menu__content,
.popover-menu--viewby-menu .popover-menu__content {
  bottom: 100%;
  top: auto;
}

.popover-menu__link,
.popover-menu__item {
  background-color: $kobo-white;
  display: block;
  padding: 6px 12px 6px 6px;
  position: relative;
  color: $kobo-gray-40;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > i:first-child {
    margin-right: 5px;
    font-size: 28px;
    width: 28px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

  &:hover {
    background-color: $kobo-gray-96;
    color: $kobo-gray-24;
  }

  &.active {
    color: $kobo-blue;
  }

  &.divider {
    border-top: 1px solid $kobo-gray-92;
  }
}

@media screen and (max-height: 475px) {
  .popover-menu__link,
  .popover-menu__item {
    i.k-icon:first-child {
      font-size: 22px;
    }
  }
}

.popover-menu__moveTo {
  max-height: 120px;
  overflow: auto;
  overflow-x: hidden;
  background-color: $kobo-gray-96;
  border-bottom: 1px solid $kobo-gray-92;
}

.popover-menu__item--move-coll-item {
  background-color: $kobo-gray-96;
  position: relative;
  text-align: left;
  padding: 3px 8px 3px 5px;

  span {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  &.popover-menu__item--move-coll-item-parent {
    pointer-events: none;
    font-weight: 700;
    color: $kobo-gray-24;
  }
}

.popover-menu__heading {
  padding: 8px 15px;
  color: $kobo-gray-40;
  border-top: 1px solid $kobo-gray-92;
  background-color: $kobo-gray-96;
  margin: 0px;
}

.popover-menu--assetrow-menu .popover-menu__content {
  right: 0px;
}

.popover-menu--formLanding-menu {
  margin-left: 4px;

  .popover-menu__content {
    right: 10px;
  }
}

.popover-menu--new-menu {
  width: 100%;
  margin-bottom: 10px;

  .popover-menu__content {
    right: 0px;
    width: 100%;
  }
}

.popover-menu--new-menu .popover-menu__toggle {
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
  border-radius: 6px;

  width: 100%;
}

.popover-menu--assets-table {
  .popover-menu__content {
    max-height: 26px * 7.5;
    overflow: auto;
  }
}

.popover-menu--bulkUpdate-menu {
  .popover-menu__toggle {
    color: $kobo-blue;

    &:hover {
      color: lighten($kobo-blue, 10%);
    }

    &::after {
      content: "\25BC";
      font-size: 8px;
      margin-left: 3px;
      display: inline-block;
      vertical-align: 1px;
    }
  }

  .popover-menu__content {
    line-height: 20px;
  }
}

.popover-menu--custom-reports {
  .popover-menu__toggle {
    @extend .mdl-button;

    text-transform: uppercase;
    padding-left: 0px;

    &::after {
      content: "\25BC";
      font-size: 10px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: 1px;
    }
  }

  .popover-menu__content {
    max-height: 500px;
    min-width: 300px;
    overflow: scroll;
    right: auto;
    left: 20px;
  }

  .popover-menu__link {
    white-space: normal;
  }
}

.popover-menu--collectData-menu {
  .popover-menu__toggle {
    padding: 8px 12px;
    padding-right: 90px;
    color: $kobo-gray-40;
    background: $kobo-gray-96;
    position: relative;

    @include box-shadow;

    &:hover {
      color: $kobo-gray-24;
    }

    &::after {
      position: absolute;
      right: 10px;
      top: 9px;
      content: "\25BC";
      font-size: 10px;
    }
  }

  .popover-menu__content {
    min-width: 550px;
    max-width: 780px;
    top: auto;
    bottom: -150px;
    right: auto;
    left: 30px;
    max-height: 400px;
    overflow: auto;

    .popover-menu__link {
      max-width: 100%;
      white-space: normal;
      padding: 12px;
      border-bottom: 1px solid $kobo-gray-92;
      border-left: 2px solid transparent;

      &:last-child {
        border-bottom: none;
      }

      .collect-data-label {
        font-weight: 600;
        color: $kobo-gray-24;
      }

      .collect-data-desc {
        font-size: 12px;
        line-height: 16px;
      }

      &:hover {
        border-left: 2px solid $kobo-teal;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .popover-menu--collectData-menu {
    .popover-menu__toggle {
      padding-right: 40px;
    }

    .popover-menu__content {
      min-width: 320px;
      max-width: 360px;
      left: 0px;

      .collect-data-desc {
        font-size: inherit;
      }
    }
  }
}

// iframe default styles
iframe {
  border: none;
}

// modal forms
.form-modal__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.form-modal__item--inline {
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  &--sector, &--country {
    width: 50%;
    float: left;
  }

  &--sector .kobo-select {
    margin-right: 30px;
  }

  &--metadata-share {
    padding-top: 15px;
    clear: both;
  }

  label {
    font-weight: normal;
    font-size: 12px;
    color: $kobo-gray-40;

    &.long {
      padding-top: 5px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  label:not(.inline) {
    display: block;
  }

  label.next-to-checkbox {
    display: inline-block !important;
    margin-left: 10px;
    max-width: 90%;
    vertical-align: top;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"],
  select,
  textarea {
    width: 100%;
    padding: 4px 10px;
    font-size: 15px;
    border: 1px solid transparent;
    border-bottom-color: $kobo-gray-92;
    transition: border-color 0.3s;

    &:focus {
      transition: border-color 0.3s;
      border-bottom-color: $kobo-blue;
    }
  }

  textarea {
    overflow: hidden;
    resize: none;
    height: auto;

    &.questions {
      height: 60px;
      overflow: auto;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 767px) {
  .form-modal__item {
    select {
      max-width: 90%;
      background: $kobo-gray-65;
    }
  }
}

.ajs-content input[type="text"],
.ajs-content textarea {
  width: 100%;
  padding: 6px 0px;
  font-size: 15px;
  border: 1px solid transparent;
  border-bottom-color: $kobo-gray-92;
  transition: border-color 0.3s;

  &:focus {
    transition: border-color 0.3s;
    border-bottom-color: $kobo-blue;
  }
}

// Misc elements

span.svg-icon {
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// spinning with easing
.k-spin {
  transform-origin: center;
  animation: spinner 1.2s infinite ease-in-out;
}

// Scrollbar overrides

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar:horizontal {
  height: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: $kobo-gray-65;
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $kobo-gray-65;
  outline: none;
  border-radius: 6px;
}

// active dropzone element (above list while dragging)
.dropzone-active-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 120px;
  top: 50%;
  margin-top: -60px;
  left: 0;
  z-index: 2;
  text-align: center;
  font-size: 18px;

  i {
    font-size: 46px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    color: $kobo-blue;
  }
}

.dropzone {
  position: relative;
  min-height: calc(100% - 4px);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba($kobo-white, 0.7);
    border: 2px solid $kobo-blue;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  &.dropzone--active {
    &::after {
      opacity: 1;
      visibility: visible;
      transition: 0.2s;
    }

    .dropzone-active-overlay {
      display: block;
    }
  }
}
