@mixin formHeaderButton($iconCls) {
  > i {
    @extend .fa-#{$iconCls};
  }
}

/*
http://codepen.io/adamaoc/pen/KguLA
 */
.form-header {
  &__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__button {
    flex-grow: 1;
  }

  position: relative;
}

.form-header__close {
  @extend .mdl-button, .mdl-button--icon, .mdl-js-button;

  position: absolute;
  right: -25px;
  top: -15px;
}

.form-header__button {
  @extend .mdl-button, .mdl-button--raised, .mdl-js-button;

  > i {
    @extend .fa, .fa-sm, .fa-fw;

    margin-right: 5px;
  }

  margin-right: 5px;
}

.form-header__button--create {
  @extend .mdl-button--colored;

  @include formHeaderButton("save");

  &.form-header__button--create-pending {
    > i {
      @extend .fa-spin, .fa-spinner;
    }
  }
}

.form-header__button--preview {
  @include formHeaderButton("eye");

  &.form-header__button--previewdisabled {
    @extend .mdl-button--disabled;
  }
}

.form-header__button--close {
  @include formHeaderButton("times");
}

.form-header__button--save {
  @extend .mdl-button--colored;

  @include formHeaderButton("save");

  &.form-header__button--savepending {
    > i {
      @extend .fa-spin, .fa-spinner;
    }
  }

  &:after {
    content: '_';
    font-family: monospace;
    color: transparent;
  }

  &.form-header__button--saveneeded {
    &:after {
      content: '*';
      color: white;
    }
  }
}

.form-header__button--formstyle {
  &.form-header__button--formstyleactive {
    background-color: rgba(158, 158, 158, 1);
  }
}

.form-header__button--show-all {
  @include formHeaderButton("caret-right");

  &.form-header__button--open {
    @include formHeaderButton("caret-down");
  }
}

.form-header__button--group {
  @include formHeaderButton("circle-o");

  &:not(.form-header__button--groupable) {
    @extend .mdl-button--disabled;
  }
}

.form-header__panel {
  padding: 12px 12px 20px;
  margin: 12px 0;
  background-color: #eee;
}

.form-header__panelheader {
  font-size: 20px;
  font-weight: bold;
}

.form-header__paneltext {
  margin: 8px 0;
}