$z-help-bubble-popup: 801;

.help-bubble {
  position: relative;
}

// -----------------------------------------------------------------------------
// trigger styles
// -----------------------------------------------------------------------------

.help-bubble__trigger {
  cursor: pointer;
  text-align: center;
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
  width: 100%;
  display: block;
  font-weight: normal;
  color: $cool-silver;

  &:hover {
    color: $cool-blue;

    .help-bubble__trigger-counter {
      background-color: $cool-blue;
    }
  }

  .k-icon {
    font-size: 38px;
    display: block;
  }
}

.help-bubble__trigger-counter {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: $cool-red;
  color: $white;
  border-radius: 50%;
  border: 2px solid $root-background;
  font-size: 10px;
  line-height: 1.4em;
  width: 1.6em;
  height: 1.6em;
}

// -----------------------------------------------------------------------------
// bubble styles
// -----------------------------------------------------------------------------

// custom styles for first bubble in drawer
.help-bubble:nth-child(1) {
  .help-bubble__popup {
    bottom: 43px * 3;
    max-height: calc(100vh - #{43px * 4});
  }
}

// custom styles for second bubble in drawer
.help-bubble:nth-child(2) {
  .help-bubble__popup {
    bottom: 43px * 2;
    max-height: calc(100vh - #{43px * 3});
  }
}

.help-bubble__popup {
  position: fixed;
  z-index: $z-help-bubble-popup;
  left: $drawer-icons-width - 1px;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  width: 310px;
  max-width: calc(100vw - #{$drawer-icons-width});
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (min-width: #{$mdl-layout-width}) {
    left: calc(50% - #{$mdl-layout-width * 0.5} + #{$drawer-icons-width - 1px});
  }
}

.help-bubble__back,
.help-bubble__close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: transparent;
  color: $cool-silver;
  border: 0;
  padding: 5px;
  line-height: 1;
  font-size: 1.5rem;

  .k-icon {
    display: block;
  }

  &:hover {
    color: $cool-blue;
  }

  &:active {
    color: $cool-green;
  }
}

.help-bubble__back {
  left: 0;
}

.help-bubble__close {
  right: 0;
}

// -----------------------------------------------------------------------------
// bubble content styles
// -----------------------------------------------------------------------------

.help-bubble__row {
  position: relative;
  display: block;
  padding: 10px 30px;

  & + & {
    border-top: 1px solid $divider-color;
  }

  .k-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: $cool-silver;
  }

  header {
    margin: 0;
    font-weight: bold;
  }

  p {
    margin: 0.5em 0 0;
    font-size: 0.8em;
    line-height: 1.33;
  }
}

.help-bubble__row.help-bubble__row--header {
  background-color: $cool-charcoal;
  color: $white;
  font-size: 1.25rem;
}

.help-bubble__row.help-bubble__row--link,
.help-bubble__row.help-bubble__row--message-clickable {
  cursor: pointer;
  color: $cool-darkgray;

  &:hover {
    color: $cool-blue;

    .k-icon {
      color: inherit;
    }
  }

  &:active {
    color: $cool-green;
  }
}

.help-bubble__row.help-bubble__row--message-clickable.help-bubble__row--message-unread {
  border-left: 5px solid $cool-red;
  padding-left: 25px;

  &:hover {
    border-left-color: $cool-blue;
  }

  &:active {
    border-left-color: $cool-green;
  }
}

.help-bubble--support {
  .help-bubble__row.help-bubble__row--link {
    padding-left: 60px;
  }
}

.help-bubble__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $cool-silver;
  margin-right: 5px;
}
