.asset-row {
  list-style-type: none;
  border-top: 1px solid transparentize($cool-gray, 0.7);
  padding: 4px 12px;
  white-space: nowrap;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  max-height: 200px;
  min-height:55px;
  opacity: 1;
  position: relative;
  a, a:hover {
    color: $black;
    text-decoration: none;
    font-weight: 400;
  }
  > .asset-row__cell {
    width: 100%;
    display: flex;
    align-items: center;
    > .asset-row__cell {
      min-width: 0;
      vertical-align: top;
    }
  }
  &:last-child {
    border-bottom: 1px solid transparentize($cool-gray, 0.7);
  }

  &--deleting {
    opacity: 0.5;
  }

  &--deleted {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    max-height: 0px;
    padding: 0px;
    border:none;
  }

  .asset-row__celllink--name {
    display: inline-block;
    max-width:95%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    vertical-align: top;
    padding:4px 0px;
  }

  .asset-type-icon + .asset-row__celllink--name {
    max-width: calc(100% - 50px);
  }

  .asset-row__description {
    display: block;
    color: $cool-gray;
    font-size: 13px;
  }

  .asset-row__cell--tags {
    white-space: normal;
    padding-top: 30px;
  }

  .asset-row__cell--row-count {
    position: relative;
    text-align: right;
  }

  .asset-row__cell--date-created, 
  .asset-row__cell--date-modified {
    font-size: 13px;
  }

  > .asset-row__buttons {
    position: absolute;
    top: 8px;
    right: 0px;
    background:#FFF;
    width:0;
    overflow: hidden;
    opacity: 0;
    text-align: right;
    transition:0.3s opacity;
    padding-right: 6px;
    height: calc(100% - 10px);
  }
  .asset-row__action-icon {
    margin-left: 4px;
    font-weight: 400;
    color: $cool-gray;
    cursor: pointer;
    padding: 4px 6px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    &:hover {
      background-color: transparent;
      color: unquote("rgb(#{$color-accent})");
    }
    &.asset-row__action-icon--view-collection i {
      @extend .k-icon, .k-icon-folder;
    }
    i:before {
      margin:0px;
      font-size: 22px;
    }
    &.asset-row__action-icon--edit i:before {
      font-size: 26px;
      // adjust edit icon (pencil) size, since in font file it is smaller than other fonts
    }
  }
  &--display-tags .asset-row__action-icon--tagsToggle {
    background-color: transparent;
    color: unquote("rgb(#{$color-accent})");      
  }

  .popover-menu__link, 
  .popover-menu__item {
    font-size: 14px;
    padding: 8px 15px;
    color: $cool-gray;
    i {
      width:30px;
      margin-right: 5px;
      display: inline-block;
      &:before {
        font-size: 18px;
      }
    }
  }

  .popover-menu__item--move-coll-item {
    position: relative;
    padding-right: 35px;
    &:hover {
      color: darken($cool-gray, 20%);
    }
    i {
      vertical-align: top;
    }
    i.fa {
      position: absolute;
      font-size: 14px;
      right: -10px;
      margin-right: 0px;
    }
    span {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow:ellipsis;
      word-wrap:break-word;
    }
  }

  &:hover {
    .asset-row__name {
      font-weight: 500;
      color: #222;
    }

    > .asset-row__buttons {
      opacity: 1;
      width:43%;
      overflow: visible;
      transition:0.3s opacity;
    }

    .date--modified {
      visibility: hidden;
    }
  }


  .mdl-menu__container {
    right: 0px;
    overflow: visible;
    margin-top: -4px;
    margin-right: -3px;
    .mdl-menu__outline {
      transition:opacity 0.3s;
      @include shadow-1dp;
    }
    .mdl-menu {
      transition:opacity 0.3s;
      padding-top:0px;
      padding-bottom:0px;
      background-color: #FFF;
      overflow: visible;
    }
  }

  .popover-menu__heading {
    padding:8px 15px;
    color: $cool-gray;
    border-top: 1px solid lighten($cool-gray, 20%);
    border-bottom: 1px solid lighten($cool-gray, 20%);
    margin:5px 0px;
  }

  .popover-menu__moveTo {
    max-height: 250px;
    overflow:auto;
    overflow-x:hidden;
  }
}
