.collection-header {
  position: fixed;
  top: 0;
  z-index: 99;
}

.collection-header__button-row {
  @extend .row;

  padding-top: 15px;
  position: relative;
}

.collection-header__item--name {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;

  .mdl-textfield {
    flex-grow: 1;
  }
}

.collection-header__iconwrap {
  color: dimgrey;

  i {
    @extend .fa, .fa-fw, .fa-folder-o, .fa-2x;
  }
}

.collection-header__input {
  width: 100%;
  font-size: 28px;

  @extend .mdl-textfield__input;

  padding-left: 10px;

  &:focus {
    border-color: unquote("rgb(#{$color-primary})");
    border-bottom-width: 2px;
  }

  &.collection-header__input--saving {
    &:focus {
      border-color: unquote("rgb(#{$color-primary-dark})");
      border-bottom-width: 2px;
    }
  }
}

// .collection-header__button-group--actions {
//   @extend .col-md-9;
//   @extend .col-md-offset-1;
//   > div {
//     @extend .btn-group;
//     @extend .btn-group-justified;
//   }
// }
// .collection-header__button-group--deploy {
//   @extend .col-md-2;
// }
// .collection-header__button--deploy-asset {
//   @extend .btn-block;
//   @extend .btn-success;
// }

// $kcol-view: #7B1FA2;
// $kcol-edit: #009688;
// $kcol-preview: #FFC107;
// $kcol-clone: #2196F3;
// $kcol-delete: #FF5722;
// $kcol-download: #4CAF50;
// $kcol-7: #FF4081;
// $kcol-8: #00BCD4;
// $kcol-deploy: #4CAF50;

@mixin headerbutton($col) {
  &:not(.collection-header__button--disabled) {
    border: 1px solid rgba($col, 0.25);
    color: darken($col, 10%);

    i {
      color: $col;
    }

    background-color: mix($col, white, 5%);
  }

  &.collection-header__button--disabled {
    border: 3px solid transparent;
    color: mix($col, grayscale($col), 80%);
  }
}

@mixin action-faicon($faClass) {
  > i {
    @extend .fa-#{$faClass};
  }
}

.collection-header__button {
  @extend .btn;

  // @extend .btn-sm;
  &:hover {
    color: #fff;
  }

  i {
    @extend .fa;

    @extend .fa-fw;
  }

  span {
    margin-left: 5px;
  }

  &.collection-header__button--disabled {
    @extend .disabled;
  }

  &.collection-header__button--new-asset i {
    &:after {
      content: '+';
    }
  }

  &.collection-header__button--view-asset {
    @include headerbutton($kcol-view);

    @include action-faicon("file-o");
  }

  &.collection-header__button--edit-asset {
    @include headerbutton($kcol-edit);

    @include action-faicon("pencil");
  }

  &.collection-header__button--preview-asset {
    @include headerbutton($kcol-preview);

    @include action-faicon("eye");
  }

  &.collection-header__button--download-asset {
    @include headerbutton($kcol-download);

    @include action-faicon("download");
  }

  &.collection-header__button--clone-asset {
    @include headerbutton($kcol-clone);

    @include action-faicon("copy");
  }

  &.collection-header__button--delete-asset {
    @include headerbutton($kcol-delete);

    @include action-faicon("trash-o");
  }

  &.collection-header__button--deploy-asset {
    @include action-faicon("play");
  }
}

.collection-header__button-group--new {
  position: absolute;
  width: 65px;
  height: 65px;
  padding: 0;
  top: 3px;
  left: 30px;
  margin: 0;
}

.collection-header__button--new-asset {
  background-color: $newformButtonColor;
  padding: 0;
  width: $newformCircleWidthHeight;
  height: $newformCircleWidthHeight;
  font-size: 30px;
  border-radius: $newformCircleWidthHeight / 2;
  line-height: $newformCircleWidthHeight - 4px;
  position: relative;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.2);

  span {
    display: none;
  }

  &:hover {
    -webkit-box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 2px 4px 14px 0px rgba(50, 50, 50, 0.4);
  }

  &.collection-header__button--muted {
    background-color: tint($newformButtonColor, 30%);
    color: #f4f4f4;
    opacity: 0.8;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    &:hover {
      opacity: 1;
    }
  }
}