.asset-view__content {
  width:100%;
}

.form-header {
  width: calc(100% - 70px);
  left: 0px;
  position: fixed;
  z-index: 5;
  background-color: rgb(245,245,245);
  margin: -10px 0px;
  padding: 10px 25px;
  transition: all 0.5s;
  display: flex;
  justify-content:space-between;
  .page-wrapper--asset-nav-open & {
    width: calc(100% - 410px);
  }
}

.form-meta {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 65px;
  .k-header-form-title {
    flex:1;
    padding:0px 10px;
  }
  .k-corner-icon {
    opacity: 0.3;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: lighten($muiBlue, 20%);
    border: 3px solid lighten($muiBlue, 12%);
  }
}


@mixin formHeaderButton($iconCls) {
  > i {
    @extend .fa-#{$iconCls};
  }
}

.form-header__button {
  @extend .mdl-button, .mdl-button--raised, .mdl-js-button;

  > i {
    @extend .fa, .fa-sm, .fa-fw;
    margin-right: 5px;
  }
  margin-right: 5px;
}

.form-header__button--create {
  @extend .mdl-button--colored;
  @include formHeaderButton('save');
  &.form-header__button--create-pending {
    > i {
      @extend .fa-spin, .fa-spinner;
    }
  }
}
.form-header__button--preview {
  @include formHeaderButton('eye');
  &.form-header__button--previewdisabled {
    @extend .mdl-button--disabled;
  }
}
.form-header__button--close {
  @include formHeaderButton('times');
}
.form-header__button--save {
  @extend .mdl-button--colored;
  @include formHeaderButton('save');

  &.form-header__button--savepending {
    > i {
      @extend .fa-spin, .fa-spinner;
    }
  }
  &:after {
    content: '_';
    font-family: monospace;
    color: transparent;
  }
  &.form-header__button--saveneeded {
    &:after {
      content: '*';
      color: white;
    }
  }
}
.form-header__button--show-all {
  @include formHeaderButton('caret-right');
  &.form-header__button--open {
    @include formHeaderButton('caret-down');
  }
}
.form-header__button--group {
  @include formHeaderButton('circle-o');
  &:not(.form-header__button--groupable) {
    @extend .mdl-button--disabled;
  }
}
