.asset-name {
  &.asset-name--empty {
    font-style: italic;
  }

  &.asset-name--has-long-words {
    -ms-word-break: break-all;
     word-break: break-all;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
  }

  small {
    color: inherit;
    opacity: 0.5;
    margin-left: 0.4em;
    font-size: smaller;
    font-style: italic;
  }
}

.sidebar-asset-name {
  &.asset-name--noname {
    font-style: italic;
  }
}
