.asset-navigator {
  transition: all .4s ease 0s;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(50, 50, 50, 0.07);
  -moz-box-shadow:    -5px 0px 5px 0px rgba(50, 50, 50, 0.07);
  box-shadow:         -5px 0px 5px 0px rgba(50, 50, 50, 0.07);
}

$assetNavHeaderHeight: 120px;
$assetNavFooterHeight: 60px;
.asset-navigator {
  position: fixed;
  right: 0;
  top: 0;
  padding: 68px 20px 8px;
  padding: $assetNavHeaderHeight 0 $assetNavFooterHeight;
  width: 400px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid rgba(50,50,50,0.2);
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
}
.asset-navigator__content {
  position: relative;
  padding: 0;
  overflow: hidden;
}


.library-asset-list {
  list-style-type: none;
  padding: 0;
  margin: 0 -10px;
  margin: 0;
}
.library-asset-list__item {
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
  position: relative;
}
.l-a__item__label {
  padding: 5px;
}
.l-a__item__qtype {
  padding: 0 5px;
  width: 25%;
  font-size: smaller;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.l-a__item__draggable {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 12px;
  margin-top: -8px;
  background-color: #e8e8e8;
  border-radius: 6px;
}
.asset-navigator__header {
  padding-left: 60px;
  width: 100%;
  height: $assetNavHeaderHeight;
  margin-top: -1 * $assetNavHeaderHeight;
}
.asset-navigator__footer {
  height: $assetNavFooterHeight;
  margin-bottom: -1 * $assetNavFooterHeight;
}
.asset-navigator__search {
  margin: 0 8px;
  height: 60px;
}
// .asset-navigator__header--deactivated {
//   background-color: rgba(255,255,255,0.2);
// }
.asset-navigator__logo {
  background-color: rgb(228, 228, 228);
  transition: all 0.3s ease 0s;

  .asset-navigator__header--deactivated & {
      background-color: rgba(255,255,255,0.2);
  }
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0 none;
  text-align: center;
  line-height: 75px;
}
.asset-navigator--deactivated {
  margin-right: -340px;
  background-color: rgba(255,255,255,0.2);
}