.form-sidebar {
  height: calc(100% - 55px);
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .form-sidebar__itemlink {
    display: block;
    line-height: 1.2em;
    padding: 2px 0px;
    color: $kobo-darkgray;
    font-weight: normal;
    font-size: 12px;

    &:hover {
      color: $kobo-black;
    }
  }

  .form-sidebar__label,
  .form-sidebar__grouping {
    color: $kobo-darkgray;
    cursor: pointer;

    i {
      font-size: 36px;
      margin-right: 0px;
      margin-left: -4px;
      vertical-align: middle;
      display: inline-block;

      @extend .k-icon;
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      color: $kobo-black;
    }

    &--Deployed i {
      @extend .k-icon-deploy;
    }

    &--Draft i {
      @extend .k-icon-drafts;
    }

    &--Archived i {
      @extend .k-icon-archived;
    }
  }

  .form-sidebar__label {
    padding: 3px 0px;
    position: relative;

    .form-sidebar__label-count {
      position: absolute;
      right: 0px;
      top: 9px;
      padding: 2px 3px;
      width: 32px;
      border-radius: 40px;
      background: $kobo-whitegray;
      text-align: center;
    }
  }

  .form-sidebar__grouping {
    margin-top: 6px;
    margin-bottom: 12px;

    &--collapsed {
      margin: 0px;
      height: 0px;
      overflow: hidden;
    }
  }

  .form-sidebar__item {
    display: block;
    position: relative;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 4px;

    .form-sidebar__iteminner {
      display: inline-block;

      .form-sidebar__itembyline {
        display: block;
        font-size: 0.85em;
        opacity: 0.6;
      }
    }

    &--selected {
      background: $kobo-whitegray;

      .popover-menu {
        position: absolute;
        right: -4px;
        top: -2px;
        margin: 0px;

        .popover-menu__toggle {
          i {
            margin-left: 0px;
            line-height: 1em;
          }
        }

        .popover-menu__content {
          margin-right: 20px;
        }
      }

      .form-sidebar__itemlink {
        color: $kobo-teal;
        margin-right: 32px;
        text-overflow: clip;
      }
    }

    &.active {
      .form-sidebar__itemlink {
        font-weight: 700;
        color: $kobo-teal;
      }
    }
  }

  .form-sidebar__item--collection {
    padding-left: 15px;
    margin: 5px 0px;

    .form-sidebar__itemlink {
      padding: 0px;

      i {
        font-size: 32px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
