.connect-projects {
  margin: 24px;

  .connect-projects__label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: darken($kobo-midgray, 10%);
  }

  .form-modal__item--data-sharing {
    border-bottom: 1px solid;
    border-color: lighten($kobo-midgray, 20%);
    padding-bottom: 24px;
  }

  .form-modal__item {
    margin-left: 10px;
  }

  .connect-projects__header {
    display: flex;
  }

  .form-modal__item--import-data {
    .connect-projects__import-data-form {
      position: relative;
      display: flex;

      .kobo-select__wrapper {
        width: 50%;
        margin-right: 50px;
        label {
          margin-top: 0px;
        }
        .kobo-select__placeholder {
          color: $kobo-black;
        }
      }
      .text-box {
        width: 35%;
        margin-top: 0px;
        margin-right: 24px;
        input {
          padding: 9px 10px;
          background-color: $kobo-white;
          color: $kobo-black;
        }
      }
      .kobo-button {
        max-height: 40px;
      }
    }

    .connect-projects__imported-item {
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid;
      border-color: lighten($kobo-midgray, 15%);

      i.k-icon-check {
        color: $kobo-blue;
        font-weight: bold;
      }
      i.k-icon-trash {
        color: $kobo-red;
        font-weight: bold;
        position: absolute;
        bottom: 6px;
        right: 0;
        cursor: pointer;
      }

      .connect-projects__imported-names {
        position: absolute;
        top: 6px;
        left: 32px;
        font-weight: 500;

        .connect-projects__imported-parent {
          margin-left: 24px;
          font-weight: 400;
          color: darken($kobo-midgray, 20%);
        }
      }
    }

    .loading__inner {
      i {
        vertical-align: text-bottom;
      }
    }

    .connect-projects__no-imports {
      @extend .connect-projects__imported-item;
      font-style: italic;
      color: $kobo-midgray;
      padding-bottom: 10px;
    }
  }

  p {
    margin-top: 0px;
    margin-bottom: 28px;
  }

  i.k-icon {
    font-size: 32px;
    margin-top: 10px;
    margin-right: 5px;
  }
}
