.form-view--table {
  padding: 0px 30px;

  .form-view__group--table-header {
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: 'space-between';
    transition: 0.3s all;
    opacity: 1;

    &.form-view__group--table-loading {
      opacity: 0.25;
    }

    .form-view__item--table-meta {
      flex-grow: 1;
      line-height: 40px;

      a {
        cursor: pointer;
      }
    }

    .form-view__item--table-buttons {
      flex-grow: 1;
      text-align: right;

      button {
        overflow: visible;
      }
    }
  }

  .ReactTable {
    border: none;
    background: transparent;
    height: calc(100% - 50px);

    .rt-table {
      border: 1px solid $divider-color;
      background-color: #FFF;
      font-size: 13px;
    }

    .rt-tbody, .rt-thead {
      overflow-x: hidden;
      overflow-y: scroll;
      direction: rtl;

      > div {
        direction: ltr;
      }

      .table-header-checkbox {
        min-height: 24px;
        display: block;
      }
    }

    .rt-thead {
      &.-filters input {
        padding: 2px 4px;
      }

      &.-filters select {
        margin-top: 2px;
        margin-right: 2px;
      }

      .rt-th:hover,
      .rt-td:hover {
        background: rgba($cool-green, 0.1);
      }

      .rt-th.-sort-desc,
      .rt-td.-sort-desc {
        box-shadow: inset 0 -3px 0 0 rgba($cool-green, 0.8);
      }

      .rt-th.-sort-asc,
      .rt-td.-sort-asc {
        box-shadow: inset 0 3px 0 0 rgba($cool-green, 0.8);
      }
    }

    .rt-tr-group {
      max-height: 50px;
    }

    .rt-tr {
      align-items: stretch;
    }

    .rt-th, .rt-td {
      padding: 2px;
      padding-left: 6px;
      border-right: 1px solid rgba(0, 0, 0, 0.03);
      line-height: 30px;
    }

    .rt-td.rt-status {
      overflow: visible;

      .Select-control {
        background: transparent;
        height: 30px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        .Select-value {
          line-height: 30px;
          padding-left: 5px;
          padding-right: 2px;
          margin-top: 2px;

          .Select-value-label {
            color: lighten($black, 20%);
          }
        }

        .Select-input {
          height: 30px;
          padding-left: 5px;
          padding-right: 2px;
        }

        .Select-arrow {
          opacity: 0.6;
        }
      }
    }

    .rt-link {
      color: $cool-blue;
      cursor: pointer;
    }

    .-pagination {
      box-shadow: none;
      border-top: none;

      .-center {
        flex: 2;
      }

      .-btn {
        @extend .mdl-button, .mdl-button--colored;

        &:hover {
          background: transparent;
        }
      }
    }

    .pagination-bottom {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .-loading {
      background: #F8F8F8;

      .-loading-inner {
        display: block;
        text-align: center;
        font-size: 18px;
        opacity: 0.8;
        color: $cool-gray;

        i {
          margin-right: 12px;
          vertical-align: middle;
          font-size: 24px;
        }
      }
    }

    &.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
      background: rgba($cool-green, 0.1);
    }
  }
}

.page-wrapper--header-hidden.page-wrapper--drawer-hidden {
  .form-view--table {
    padding: 0px;
    overflow: hidden;
    background: transparent !important;

    .form-view__group--table-header {
      padding-top: 0px;
    }
  }
}

@media screen and (max-width: 767px) {
  .form-view--table {
    padding: 0px 20px;
  }

  .form-view--table .ReactTable .pagination-bottom {
    margin-bottom: 10px;
  }
}