// drawer (sidebar)

.k-drawer {
  height: calc(100% - 66px);
  top: 65px;
  width: 270px;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: row;
}

.mdl-layout__content {
  margin-left: 270px;
}

.k-drawer__icons {
  display: flex;
  flex-direction: column;
  width: 58px;
  height: 100%;
  border-right:1px solid #D9DADD;
}

.k-drawer__link {
  font-size: 42px;
  text-align: center;
  color: #bfc0c4;
  padding: 0px;
  border-left: 3px solid transparent;
  &:first-child {
    margin-top:20px;
  }
  &.active {
    color: $cool-green;
    border-left: 3px solid $cool-green;
  }
}

.k-drawer__icons-bottom {
  left: 0px;
  bottom:0px;
  position: absolute;
  width: 58px;
  .k-drawer__link {
    padding: 0px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-weight: normal;
    position: relative;
    color:lighten($black, 50%);
    &:hover {
      color: unquote("rgb(#{$color-primary})");
    }
    i {
      font-size: 32px;
    }
  }
}

.drawer__sidebar {
  width: calc(100% - 58px);
  height: 100%;
  padding: 20px 14px;
  .k-drawer__close {
    display: none;
  }
  .form-sidebar__wrapper, .collections-wrapper {
    height: 100%;
  }
}

// collection nav buttons and menu

.collection-nav__actions {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  > button {
    width: 100%;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
  }
  .mdl-menu__container {
    right: 0px !important;
    margin-top: 2px;
  }
}

.collection-nav__button {
  @extend .mdl-button;
  min-width: 100%;
  > i {
    @extend .fa, .fa-cloud, .fa-fw;
    margin-right: 12px;
  }
}

.collection-nav__link {
  @extend .mdl-button;
  > i:first-child {
    @extend .fa, .fa-fw, .fa-plus;
    margin-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .k-drawer {
    position: fixed;
    z-index: 4;
    left: -256px;
    transition: left 0.5s;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
  }
  .page-wrapper--fixed-drawer .k-drawer {
    left: 0px;
    width: 340px;
  }
  .mdl-layout__content {
    margin-left: 0px;
  }
  .drawer__sidebar {
    .k-drawer__close {
      font-size: 16px;
      opacity: 1;
      position: absolute;
      right: 8px;
      top: 8px;
      display: block;
      color: $layout-drawer-nav-link-color;
      &:hover {
        background-color: transparent;
        opacity: 0.6;
      }
    }
  }
}