$permEditorColor: #999;

.asset-collections-table {
  margin-top: -15px;
}

.assetcollection__row--error {
  td {
    color: #f25858;
    font-style: italic;
    text-align: center;
    span {
      line-height: 40px;
    }
  }
}

.assetcollection__row--loading {
	td {
    color: #aaa;
    font-style: italic;
    text-align: center;
    span {
      line-height: 40px;
    }
  }
}

.hushed {
  font-style: italic;
  color: #ddd;
  text-align: center;
}

.permissions-editor {
  display: inline-block;
  border: 1px solid lighten($permEditorColor, 20%);
  color: $permEditorColor;
  border-radius: 7px;
  padding: 0 8px 0 22px;
  text-align: center;
  position: relative;
  margin-right: 10px;
}
.permissions-editor--unshared {
  .permissions-editor__icon {
    color: $permEditorColor;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}
.permissions-editor__list {
  text-align: left;
}
.permissions-editor__icon {
  color: $permEditorColor;
  position: absolute;
  top: 4px;
  left: 4px;
}