.asset-collections-table {
  margin-top: -15px;
}

.assetcollection__row--error {
  td {
    color: #f25858;
    font-style: italic;
    text-align: center;
    span {
      line-height: 40px;
    }
  }
}

.assetcollection__row--loading {
	td {
    color: #aaa;
    font-style: italic;
    text-align: center;
    span {
      line-height: 40px;
    }
  }
}

.hushed {
  font-style: italic;
  color: #ddd;
  text-align: center;
}
