$permEditorColor: #999;

.asset-collections-table {
  margin-top: -15px;
}

.dropzone:hover {
  opacity: 0.9;
}

.dropzone--active {
  > * {
    opacity: 0.3;
  }
}

.formdrop--active {
  .cutout-placeholder {
    border-color: #f00;
  }
}

.gravatar-img {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.form-preview {
  position: relative;
}

.tag {
  font-size: 11px;
  margin-right: 4px;
  color: #ddd;
}

.assetcollection__row--error {
  td {
    color: #f25858;
    font-style: italic;
    text-align: center;

    span {
      line-height: 40px;
    }
  }
}

.k-history {}

.k-history--empty {
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }
}

.k-col-2-nopadd {
  width: 15.6%;
  padding: 0 0 0 1%;
  float: left;
}

.k-col-3-nopadd {
  width: 24%;
  padding: 0 0 0 1%;
  float: left;
}

.k-col-6-nopadd {
  width: 49%;
  padding: 0 0 0 1%;
  float: left;
}

.cutout-placeholder {
  margin: 30px;
  border: 3px dashed #ddd;
  text-align: center;
  height: 300px;
  border-radius: 15px;

  > span {
    color: #aaa;
    display: block;
    font-size: 30px;
    line-height: 300px;
  }
}

.widget .widget-body table tbody {
  .fa-lg {
    font-size: 1.33333333em !important;
    line-height: 0.75em !important;
    vertical-align: -15% !important;
  }

  .fa-2x {
    font-size: 2em !important;
  }
}

/* ul.k-breadcrumb */
.k-breadcrumb {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;

    a {
      border: 1px solid #eee;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 4px;
      text-transform: uppercase;
      margin-right: 4px;

      &:hover {
        background-color: #eee;
        border-color: #bbb;
      }
    }
  }
}

.k-user-details {
  margin: 0 20px 0 0;

  .a {
    padding: 20.5px 15px;
    line-height: 23px;
    display: inline-block;
  }
}

.k-icon-wrap {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  background-color: #ddd;
  position: relative;

  &.k-icon-wrap--green {
    background-color: #23ae89;
  }

  &.k-icon-wrap--blue {
    background-color: #2361ae;
  }

  i {
    color: #fff;

    &.k-expanded {
      font-size: 30px;
      line-height: 66px;
    }

    &.k-icon-overlay {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

/* a.user-profile-link */
.user-profile-link {
  color: #333;
  text-decoration: none;

  &:hover {
    color: #666;
    text-decoration: underline;
  }

  i {
    margin: 0 8px;
  }
}

.assetcollection__row--loading {
  td {
    color: #aaa;
    font-style: italic;
    text-align: center;

    span {
      line-height: 40px;
    }
  }
}

.hushed {
  font-style: italic;
  color: #ddd;
  text-align: center;
}

.permissions-editor {
  display: inline-block;
  color: $permEditorColor;
  border-radius: 7px;
  padding: 0 8px 0 22px;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.permissions-editor--unshared {
  .permissions-editor__icon {
    color: $permEditorColor;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

.icon--asset {
  .fa-stack-2x {
    color: #364F62;
  }
}

.icon--collection {
  .fa-stack-2x {
    color: #A165AB;
  }
}

.k-search {
  width: 300px;
  margin-top: 15px;
  float: right;
}

.permissions-editor__list {
  text-align: left;
}

.permissions-editor__icon {
  color: $permEditorColor;
  position: absolute;
  top: 4px;
  left: 4px;
}

.kobo-icon {
  display: inline-block;
  width: 70px;
  height: 60px;
  text-align: center;
  background-image: url("../img/kobosquare-small.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }
}
