@use 'scss/colors';

.asset-action-buttons {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: right;

  &:not(:first-child) {
    margin-left: 15px;
  }

  .popover-menu__toggle .k-icon {
    display: block;
  }
}
