@use 'scss/colors';
@use 'scss/mixins';
@use 'scss/breakpoints';
@use 'scss/_variables';

.connect-projects {
  .form-view__cell--page-title {
    font-size: variables.$base-font-size !important;
    display: flex;
    margin-top: 20px !important;

    i.k-icon {
      margin-top: 10px;
      font-size: 32px;
      margin-right: 5px;
    }
  }

  .connect-projects__export {
    display: block;
    margin-top: 20px;

    *[class*='loadingSpinner'] {
      margin-top: 12px;
    }

    .connect-projects__export-options {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      .toggle-switch {
        .toggle-switch__label {
          font-weight: bold;
        }
      }

      .checkbox {
        min-width: 200px;
        width: 100%;
      }
    }
  }
}

.connect-projects__export-multicheckbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  gap: 12px;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid colors.$kobo-gray-300;
}

.connect-projects__import .connect-projects__import-form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  gap: 12px 24px;

  .kobo-select__wrapper {
    flex: 3;
    min-width: 280px;

    .kobo-select__placeholder {
      color: colors.$kobo-gray-800;
    }
  }

  .connect-projects-textbox {
    flex: 2;
    min-width: 200px;
  }
}

.connect-projects__import-list {
  margin-top: 20px;

  label {
    margin-top: 20px;
    font-size: variables.$base-font-size;
    font-weight: bold;
    color: colors.$kobo-gray-700;
  }

  .connect-projects__import-list-item,
  .connect-projects__import-list-item--no-imports {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: colors.$kobo-gray-300;
  }

  .connect-projects__import-list-item--no-imports {
    font-style: italic;
    color: colors.$kobo-gray-500;
    // Match vertcial height of a regular list item
    padding: 11px 0 11px 11px;
  }

  .connect-projects__import-list-item {
    padding-bottom: 10px;

    i.k-icon-check {
      font-size: 32px;
      margin-right: 5px;
      color: colors.$kobo-blue;
    }

    .connect-projects__import-labels {
      position: absolute;
      top: 6px;
      left: 32px;
      font-weight: 500;

      .connect-projects__import-labels-source {
        margin-left: 24px;
        font-weight: 400;
        color: colors.$kobo-gray-700;
      }
    }

    .connect-projects__import-options {
      @include mixins.centerRowFlex;
      gap: 10px;
    }
  }
}

.form-modal__form.form-modal__form--data-attachment-columns {
  color: colors.$kobo-gray-600;

  .bulk-options {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .bulk-options__description {
      font-weight: bold;
    }

    .bulk-options__buttons {
      white-space: nowrap;

      span {
        margin: 12px;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .multi-checkbox {
    margin-top: 12px;
    height: 200px;
  }

  *[class*='loadingSpinner'] {
    margin-top: 12px;
  }

  .modal__footer {
    text-align: center;

    .data-attachment-modal-footer-button {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.data-attachment-columns-multicheckbox {
  overflow-x: auto;
}

@include breakpoints.breakpoint(mediumAndUp) {
  .connect-projects__export .connect-projects__export-option .checkbox {
    max-width: 50%;
  }
}

@include breakpoints.breakpoint(narrowAndUp) {
  .connect-projects__export-multicheckbox .connect-projects__export-hint {
    flex: 1;
    min-width: 280px;
    max-width: 100%;
  }

  .connect-projects__export-multicheckbox .multi-checkbox {
    flex: 1;
    height: 200px;
    min-width: 280px;
    max-width: 100%;
  }
}
