@use '~kobo-common/src/styles/colors';
@use 'scss/breakpoints';
@use 'scss/sizes';
@use 'scss/_variables';

.connect-projects {
  i.k-icon {
    font-size: sizes.$x32;
    margin-right: sizes.$x5;
  }

  .form-view__cell--page-title {
    font-size: variables.$base-font-size !important;
    display: flex;
    margin-top: sizes.$x20 !important;

    i {
      margin-top: sizes.$x10;
    }
  }

  .connect-projects__export {
    display: block;
    margin-top: sizes.$x20;

    .connect-projects__export-options {
      display: flex;
      justify-content: space-between;
      padding-bottom: sizes.$x12;

      .toggle-switch {
        .toggle-switch__label {
          font-weight: bold;
        }
      }

      // TODO: Create a BEM element that acts as column wrappers (and use
      //       modifiers for different columns)
      // See: https://github.com/kobotoolbox/kpi/issues/3912
      .checkbox {
        width: 50%;
      }
    }

    .connect-projects__export-multicheckbox {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: sizes.$x12;
      border-top: sizes.$x1 solid;
      border-color: colors.$kobo-gray-92;

      .connect-projects__export-hint {
        width: 45%;
      }

      .multi-checkbox {
        height: sizes.$x200;
        width: 50%;
      }
    }
  }

  .connect-projects__import {
    .connect-projects__import-form {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      margin-top: sizes.$x10;

      .kobo-select__wrapper {
        width: 50%;
        margin-right: sizes.$x50;

        .kobo-select__placeholder {
          color: colors.$kobo-gray-24;
        }
      }

      .connect-projects-textbox {
        width: 35%;
        margin-right: sizes.$x24;
      }
    }
  }

  .connect-projects__import-list {
    margin-top: sizes.$x20;

    label {
      margin-top: sizes.$x20;
      font-size: variables.$base-font-size;
      font-weight: bold;
      color: colors.$kobo-gray-40;
    }

    .connect-projects__import-list-item,
    .connect-projects__import-list-item--no-imports {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: sizes.$x7;
      margin-bottom: sizes.$x10;
      border-bottom: sizes.$x1 solid;
      border-color: colors.$kobo-gray-92;
    }

    .connect-projects__import-list-item--no-imports {
      font-style: italic;
      color: colors.$kobo-gray-65;
      // Match vertial height of a regular list item
      padding: sizes.$x11 0 sizes.$x11 sizes.$x11;
    }

    .connect-projects__import-list-item {
      padding-bottom: sizes.$x10;

      i.k-icon-check {
        color: colors.$kobo-blue;
      }

      .connect-projects__import-labels {
        position: absolute;
        top: sizes.$x6;
        left: sizes.$x32;
        font-weight: 500;

        i.k-icon-check {
          color: colors.$kobo-blue;
          font-weight: bold;
        }

        .connect-projects__import-labels-source {
          margin-left: sizes.$x24;
          font-weight: 400;
          color: colors.$kobo-gray-40;
        }
      }

      .connect-projects__import-options {
        position: relative;

        .kobo-light-button {
          position: absolute;
          right: 0;
          padding-bottom: sizes.$x25;

          i.k-icon {
            font-size: sizes.$x24;
          }

          &:not(:first-child) {
            margin-right: sizes.$x45;
          }
        }
      }
    }

    .loading__inner {
      i {
        vertical-align: text-bottom;
      }
    }
  }
}

.form-modal__form.form-modal__form--data-attachment-columns {
  color: colors.$kobo-gray-55;

  .bulk-options {
    margin-top: sizes.$x14;
    display: flex;
    justify-content: space-between;

    .bulk-options__description {
      font-weight: bold;
    }

    .bulk-options__buttons {
      span {
        margin: sizes.$x12;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .multi-checkbox {
    margin-top: sizes.$x12;
    height: sizes.$x200;
  }

  .loading {
    margin-top: sizes.$x12;
  }

  .modal__footer {
    text-align: center;

    button {
      padding-left: sizes.$x64;
      padding-right: sizes.$x64;
    }
  }
}

// Compensate for when sidebar(s) messes up modal a bit

// TODO: Clean this up via PR changes
// See: https://github.com/kobotoolbox/kpi/issues/3912
@media
  (min-width: breakpoints.$b1000) and (max-width: breakpoints.$b1140),
  (min-width: breakpoints.$b768) and (max-width: breakpoints.$b860),
  (max-width: breakpoints.$b700) {
  .connect-projects__export-multicheckbox {
    display: block !important;

    .multi-checkbox {
      margin-top: sizes.$x12;
      width: 100% !important;
      overflow-x: scroll;
    }
  }

  .connect-projects__import-form {
    display: block !important;

    .kobo-select__wrapper {
      width: 100% !important;
      margin-bottom: sizes.$x12;
    }

    .kobo-button {
      display: block;
      margin-top: sizes.$x12 auto 0;
      width: 70%;
    }
  }
}

@media screen and (max-width: breakpoints.$b530) {
  .connect-projects__export-options {
    display: block !important;

    .checkbox {
      margin-top: sizes.$x20;
      width: 100% !important;
    }
  }
}
