{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<form class="registration registration--provider-login" method="post">
  {% if process == "connect" %}
    {# "Connect" #}
    <h1>{% trans "Set up Single Sign On" %}</h1>
                   {# "Connect with SSO" #}
    <p>{% blocktrans with provider.name as provider %}Click the button below to connect your KoboToolbox account with your {{ provider }} account.{% endblocktrans %}
    </p>
    <p>{% trans "This will allow you to use single sign-on (SSO) in the future." %}</p>
    <button
      type="submit"
      class="kobo-button kobo-button--blue kobo-button--fullwidth"
    >
      {% blocktrans with provider.name as provider %}Connect with {{provider}}{% endblocktrans %}
    </button>
  {% else %}
    {# "Log in" #}
    <h1>{% trans "Log in with Single Sign On" %}</h1>
    <p>{% blocktrans with provider.name as provider %}Click the button below to log in to KoboToolbox with your {{ provider }} account.{% endblocktrans %}</p>
    <button
      type="submit"
      class="kobo-button kobo-button--blue kobo-button--fullwidth"
    >
      {% blocktrans with provider.name as provider %}Log in with {{provider}}{% endblocktrans %}
    </button>
  {% endif %}
  {% csrf_token %}
  <p class="or-go-back">
    {% trans "or" %} <a href="javascript:history.back()">{% trans "go back" %}</a>
  </p>
</form>
{% endblock %}
