{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<form class="registration registration--social" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {# Friendly welcome message #}
  <h1>{% blocktrans with username=form.username.value %}Welcome to KoboToolbox, {{username}}!{% endblocktrans %}</h1>

  {# Helptext #}
  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to KoboToolbox.{% endblocktrans %} {% trans "As a final step, please complete the following form" %}:</p>

  {% csrf_token %}

  {% for field in form %}
    <p class="field-social--{{ field.name }}">
      {{ field.label_tag }}
      {% if field.field.required %}
        <span class="required">*</span>
      {% endif %}
      {{ field }}
    </p>
  {% endfor %}  

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button
    type="submit"
    class="kobo-button kobo-button--blue kobo-button--fullwidth"
  >
    {% trans "Save and Access" %}
  </button>
</form>

{% endblock %}
