@use 'scss/colors';

.root {
  width: auto;
  padding-bottom: 40px;
  padding-top: 15px;
  margin: 0 40px;
  height: 100%;
  overflow-x: auto;
}

.intervalBanner {
  background-color: colors.$kobo-bg-blue;
  display: flex;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
  border-radius: 0.5em;
  margin: 2% 0%;
}

.intervalBannerContent {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.intervalBannerText {
  padding: 2%;
}

.link {
  color: colors.$kobo-dark-blue;
  font-weight: 600;
}
