@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.usage {
  display: grid;
  grid: 1fr / 100%;
  width: 100%;
  margin-top: sizes.$x18;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  & > li {
    display: flex;
    justify-content: space-between;
  }

  &.hasAddon {
      grid: 1.5em 1.5em 1.5em 1.5em / 100%;
  }
}

.warning {
  background-color: colors.$kobo-light-amber;
}

.warningIcon {
  color: colors.$kobo-red;
}

.overlimit {
  background-color: colors.$kobo-light-red;
}

.description {
  color: colors.$kobo-storm;
}
