@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1.5em;
  border-block: sizes.$x1 solid colors.$kobo-gray-96;
}

.plan {
  font-size: sizes.$r18;
  margin-block-start: 0;
}

.planInfo {
  margin-block: 1.5em;
}

.updateBadge {
  font-weight: bold;
  font-size: sizes.$r12;
  padding-inline: 0.25em;
}

.subscriptionChangeNotice {
  width: 100%;
  padding: sizes.$x12 sizes.$x16;
  background-color: colors.$kobo-gray-96;
  margin-bottom: 1.5em;
}

.start {
  padding-inline-end: 1em;
}
