@use 'scss/colors';

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1.5em;
  border-block: 1px solid colors.$kobo-gray-200;
}

.plan {
  font-size: 18px;
  margin-block-start: 0;
}

.planInfo {
  margin-block: 1.5em;
}

.updateBadge {
  font-weight: bold;
  font-size: 12px;
  padding-inline: 0.25em;
}

.subscriptionChangeNotice {
  width: 100%;
  padding: 12px 16px;
  background-color: colors.$kobo-gray-200;
  margin-bottom: 1.5em;
}

.start {
  padding-inline-end: 1em;
}
