/* ==========================================================================
 * Main
 * ========================================================================== */

.main {
    transition: padding-left 150ms;
    height: 100%;
}

.main > section.content {
    height: 100%;
    padding-top:40px;
}

/* ==========================================================================
 * Content containers
 * ========================================================================== */

.container {
    // max-width: 750px;
    // replaces bootstrap's min-with with auto, fixes smaller windows with sidebars open
    // width:auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    &.empty {
      text-align: center;
      background: $kobo-white;
      padding: 20px;
    }
}

.container__wide {
  max-width: 1024px;
  margin:0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// Used to contain the question library sidebar
.container__fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 10px;
  top:80px;
  width: 100%;
}

// Legacy
.content--centered {
  text-align: center;
}
