/* ==========================================================================
   Header bar
   ========================================================================== */

.header-bar {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    line-height: 40px;
    background-color: #3F3F3F;
    transition: width 150ms, left 150ms;
    .header-bar__title, .header-bar__support {
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        display: inline-block;
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: 600;
        .header-bar__title-text { color: white; }
    }
    .header-bar__support {
      margin-right: 30px;
      color: white;
      &:hover {
        color: #1e8fde;
      }
    }

    .btn {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #3f3f3f;
        &:hover, &:focus { background-color: #4d4d4d; }
    }

    .header-bar__top-logo {
        background: url(/static/img/kobologo.svg);
        background-size: 120px 27px;
        background-repeat: none;
        width: 120px;
        height: 27px;
        margin-top: 5px;
        margin-right: 6px;
    }

}


// ==========================================================================
// Sub header bar
// ==========================================================================

.sub-header-bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    height: 40px;
    border-bottom: 1px solid #E3E8EC;
    padding: 5px 4px;
    z-index: 6;
    background-color: #FFF;
    transition: width 150ms, left 150ms;
}

// in smaller screen sizes, reduce width of buttons to be able to fit
@media screen and (max-width: 1003px) {
    .sub-header-bar .btn {
        font-size: 12px;
        padding-right:0px;
        i {
            margin-right: 3px;
        }
    }
}

/* ==========================================================================
   Top level menu
   ========================================================================== */

.top-level-menu {
    width: 230px;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: -230px;
    background-color: #444;
    transition: left 150ms;
    z-index: 101;
}

.top-level-menu.is-active {
    left: 0;
}

/* Top level menu items
   -------------------------------------------------------------------------- */

.top-level-menu__item > a {
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.top-level-menu__item > a:hover,
.top-level-menu__item > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-level-menu__item.is-active > a {
    color: white;
    background-color: black;
}