// ==========================================================================
// Icons
// ==========================================================================

.header-bar__top-level-menu-button {
  display: inline-block;
  vertical-align: top;
}

.header-bar__top-level-menu-button > .fa {
  padding: 12px 11px;
  cursor: pointer;
  color: rgba(29, 174, 227, 0.8);
}

.header-bar__top-level-menu-button:hover > .fa,
.header-bar__top-level-menu-button:focus > .fa {
  color: $kobo-blue;
}

// ==========================================================================
// custom icons for a few response types
// ==========================================================================

.fa.green {
  color: $kobo-green;
}

.fa-folder-o .fa-plus {
  color: $kobo-green;
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: 0.7em;
  font-weight: normal;
}
