// ==========================================================================
// Icons
// ==========================================================================

.header-bar__top-level-menu-button {
  display: inline-block;
  vertical-align: top;
}

.header-bar__top-level-menu-button > .fa {
  padding: 12px 11px;
  cursor: pointer;
  color: rgba(29, 174, 227, 0.8);
}

.header-bar__top-level-menu-button:hover > .fa,
.header-bar__top-level-menu-button:focus > .fa {
  color: $kobo-blue;
}

// ==========================================================================
// custom icons for a few response types
// ==========================================================================

.fa.green {
  color: $kobo-green;
}

.fa.invert {
  background-color: $kobo-black;
  color: $kobo-white;
  border-radius: 4px;
}

.fa.fa-lato-text::before,
.fa.fa-lato-integer::before,
.fa.fa-lato-decimal::before,
.fa.fa-lato-range::before,
.fa.fa-lato-calculate::before {
  font-family: $font;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.fa.fa-lato-text::before {
  content: "abc";
}

.fa.fa-lato-integer::before {
  content: "123";
  font-size: 0.9em;
}

.fa.fa-lato-decimal::before {
  content: "1.0";
  font-size: 0.9em;
}

.fa.fa-lato-range::before {
  content: "1..1";
  font-size: 0.9em;
}

.fa.fa-lato-calculate::before {
  content: "1+1";
  font-size: 0.9em;
}

.fa.clock-over {
  position: relative;
}

.fa.clock-over::after {
  content: "";
  position: absolute;
  margin-left: -1.25em;
  margin-top: -0.375em;
  background-color: $kobo-white;
  border-radius: 6px;
}

.fa.clock-over::before {
  margin-left: 5px;
}

.fa-folder-o .fa-plus {
  color: $kobo-green;
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: 0.7em;
  font-weight: normal;
}
