// ==========================================================================
// MFA Token form
// ==========================================================================

.mfa-token-form .mfa-token-form__header {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 16px;
}

.mfa-token-form .mfa-token-form__description {
  margin: 0 0 30px;
}

.mfa-token-form .mfa-token-form__help-toggle {
  margin: 0;
}

.mfa-token-form__help-toggle-wrapper:not(:last-child) {
  margin-bottom: 50px;
}

.mfa-token-form__sections {
  position: relative;
}

[data-mfa-token-form-section='form'] .mfa-token-form__help-toggle-wrapper {
  text-align: center;
}

[data-mfa-token-form-section='help'] {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .mfa-token-form__help-text {
    flex: 1;
    margin-bottom: 16px;
    overflow-y: auto;
  }
}

.mfa-token-form__section {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

[data-mfa-token-form-current-section='form'] .mfa-token-form__section[data-mfa-token-form-section='form'],
[data-mfa-token-form-current-section='help'] .mfa-token-form__section[data-mfa-token-form-section='help'] {
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
}
