// READ THIS ABOUT THIS FILE
// -------------------------
//
// It contains style elements that have not yet found a home.
// These styles should be moved or refactored out so that this file is not necessary.

/* ==========================================================================
 * Or
 * ========================================================================== */

.or {
    width: 30px;
    height: 30px;
    margin: -36px auto 0;
    border-bottom: 1px solid;
    border-radius: 5em;
    position: relative;
    top: 65px;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $kobo-white;
    background-color: $kobo-gray-40;
}

.or + hr {
    margin-top: 50px;
    margin-bottom: 40px;
}


/* ==========================================================================
 * Editable
 * ========================================================================== */

.editable {
    cursor: pointer;
}

/* ==========================================================================
 * Select2 styling overrides
 * ========================================================================== */

.select2-container .select2-choice {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 2px dotted $kobo-gray-40;
    color: $kobo-gray-24;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 6px;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: $linkColor;
    }
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 0px;
}

.select2-container .select2-choice .select2-arrow {
  display: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: none;
  border:none;
}

.select2-drop-active {
  border: 1px solid $kobo-gray-92;
  background: $kobo-white;
  font-size: 13px;
  box-shadow: none;
  border-radius: 0px;
  margin-top: 6px;
  min-width: 140px !important;
  &:before {
    content:'';
    position: absolute;
    left: 25px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom:6px solid $kobo-gray-92;
  }
  &.select2-drop-above:before {
    display: none;
  }
  .select2-results .select2-no-results {
    background: $kobo-white;
  }
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top-color: $kobo-gray-92;
}

.select2-results .select2-result-label {
  min-height: 1.2em;
  padding:3px 7px 6px;
  line-height: 1.1em;
}

// Loading messages

.content__message-loading {
  text-align: center;
  padding: 10px 0px;
  i {
    color: $kobo-blue;
  }
}
