/* ==========================================================================
   iframe wrapper
   ========================================================================== */

.iframe-bg-shade {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(51, 51, 51, 0.5);
}

.enketo-holder {
  width: 820px;
  margin-left: -440px;
  position: fixed;
  top: 5%;
  left: 50%;
  height: 80%;
  background: white;
  border:2px solid #5CB5EB;
  padding:20px;
  border-radius: 4px;
  z-index: 101;
  overflow: hidden;
  iframe {
    width: 100%;
    height:100%;
    border:1px solid white;
  }
  .enketo-loading-message {
    margin:35%;
    p {
      text-align: center;
      font-weight: 600;
    }

    i:before {
      color: #3FA2EE;
      font-size: 20px;
    }
  }
}

.touch .enketo-holder {
  width: 94%;
  left: 3%; 
  margin-left: 0px;
  -webkit-overflow-scrolling:touch;
  overflow-y: scroll; 
}

.enketo-iframe-icon {
  color: #fff;
  background-image: url(/static/css/images/ui-icons_ffffff_256x240.png);
  background-color: #C6CBD0;
  background-position: -81px -129px;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 3px;
  z-index: 1000;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/* ==========================================================================
   angular modal
   ========================================================================== */
/*
 * angular-modal v0.0.3
 * (c) 2013 Brian Ford http://briantford.com
 */

.btf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* ==========================================================================
   jquery ui modal overrides
   ========================================================================== */

.ui-widget {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.ui-widget-overlay {
    background: #333;
    background-image:none;
    opacity: 0.5;
}

.ui-widget-content {
    background: #FFF;
    border: 2px solid #5CB5EB;
    color: #333333;
}

.ui-dialog .ui-dialog-content {
    padding-top: 1em;
    font-size: 0.9em;
}

.ui-dialog div.ui-dialog-titlebar, 
.ui-dialog div.ui-dialog-content {
  padding-left:25px;
  padding-right:25px; 
  border-radius: 0;
}

.ui-dialog div.ui-dialog-titlebar {
  padding-top:25px;
}
.ui-widget-header {
    background: transparent;
    border: none;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.ui-widget-header .ui-state-default {
    background: #C6CBD0;
    border: none;
    color: #fff;
}

.ui-widget-header .ui-icon {
    background-image: url("/static/css/images/ui-icons_ffffff_256x240.png"); 
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    width: 18px;
    right: 9px;
    top:9px;
    margin: 0px;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
    padding:0px 25px 25px 25px;
    margin:0px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-widget-content.ui-dialog-buttonpane .ui-state-default {
    background: #39bf6e;
    border:none;
    border-radius: 0px;
    border-bottom: 2px solid #227040;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 2px;
    margin-right: 15px;
    &:hover {
      background: #5CCF88;
    }
    &.cancel-button {
      background: #DC6561;
      border-color: darken(#DC6561, 20%);
      &:hover {
        background: lighten(#DC6561, 10%);
      }
    }
    &.deploying {
      background: #2E9D59;
      border-color: #2E9D59;
    }
}

.ui-widget-content span.error-message {
  color: #d08b8c;
  font-weight: 600;
  background: transparent;
} 