@use "scss/_variables";
@use "sass:color";
@use '~kobo-common/src/styles/colors';

// ==========================================================================
// Registration Forms
// ==========================================================================

.registration__bg {
  background: url("../img/signup_photo.jpg");
  background-size: cover;
  background-repeat: none;
  width: 100%;
  min-height: 100%;
  position: relative;
  color: colors.$kobo-gray-96;
  padding: 20px;
  padding-bottom: 5px;

  form.language-switcher {
    margin: 0 auto;
    position: relative;
    max-width: 400px;
    text-align: right;
    margin-bottom: 10px;
    margin-top: -5px;
  }

  form.registration {
    margin: 0 auto;
    position: relative;
    max-width: 400px;
    background: rgba(colors.$kobo-gray-24, 0.8);
    padding: 20px 30px;
    border-radius: 10px;

    label {
      display: inline-block;
      margin-bottom: 2px;
    }

    a {
      color: colors.$kobo-mid-blue;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-decoration-color: rgba(colors.$kobo-mid-blue, 0.5);

      &:hover {
        // Darken by 6%, like kobo-button hover
        color: color.scale(colors.$kobo-mid-blue, $lightness: -6%);
        text-decoration-color: rgba(color.scale(colors.$kobo-mid-blue, $lightness: -6%), 0.5);
      }
    }

    hr {
      border-top: 1px solid colors.$kobo-storm;
    }

    // accounts/{{provider}}/login variant
    // For "Connect" and "Log in" with SSO provider
    &.registration--provider-login {
      max-width: 480px;

      h1 {
        text-align: center;
      }

      .or-go-back {
        margin-top: 32px;
        margin-bottom: 0;
        padding-left: 48px;
      }
    }

    // accounts/social/signup variant
    &.registration--social {
      max-width: 500px; // to be revised
      padding-bottom: 60px;

      h1 {
        font-weight: bold;
      }

      ul#id_gender {
        margin-top: -12px;
        & > li {
          display: inline-block;
          padding: 4px 12px 4px 4px;
        }
      }
    }

    // SSO section styles
    .registration__sso {
      font-size: variables.$base-font-size;
      padding-bottom: 20px;

      // Login page variant
      &.registration__sso--login {
        h2 {
          margin-top: 20px;
          font-size: variables.$base-font-size;
          text-align: center;
        }

        p {
          font-size: 0.8em;
          text-align: center;
        }
      }

      // Registration page variant
      &.registration__sso--signup {
        h2 {
          margin-top: 20px;
          font-size: variables.$base-font-size;
        }

        p {
          font-size: 0.8em;
        }
      }

      ul.socialaccount_providers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
      }
    }

    // Special button variant only used for SSO
    .kobo-button.kobo-button--sso {
      background-color: colors.$kobo-mid-blue;
      color: colors.$kobo-dark-blue;

      &:focus {
        outline-offset: 0;
      }
    }
  }

  a:focus-visible {
    // ux/accessibility: bring back the tabfocus ring
    outline-color: colors.$kobo-cloud;              // Ours (fallback)
    outline-color: Highlight;                // Firefox
    outline-color: -webkit-focus-ring-color; // Chrome & Safari
    outline-offset: 4px;
    outline-style: auto;
  }

  .registration--logo {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 15px;
    max-width: 100%;

    img {
      max-width: 170px;
      height: auto;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0.8em 0;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  select {
    color: $layout-text-color;
  }

  p.help {
    clear: both;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 0px;
  }
}

.registration__row {
  margin-top: 0;
  margin-bottom: 16px;
}

.registration input[type=text],
.registration input[type=password],
.registration input[type=submit],
.registration input[type=email],
.registration select {
  width: 100%;
  display: block;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  font-size: variables.$base-font-size;
  border-bottom: 3px solid transparent;
  margin-top: 1px;
  background-color: colors.$kobo-cloud;

  &:focus {
    border-bottom-color: colors.$kobo-blue;
    background-color: colors.$kobo-white;
  }
  &[readonly] {
    // Dim readonly fields
    background-color: rgba(colors.$kobo-cloud, 0.7);
  }
}
.registration select {
  &:focus {
    // emulate border-bottom for select inputs
    box-shadow: inset 0 -3px colors.$kobo-blue;
  }
}
.registration ul#id_gender {
  // temporary :focus style, til this becomes a dropdown
  border-radius: 6px;
  transition: background-color 0.5s, box-shadow 0.5s;
  &:focus-within {
    background-color: rgba(colors.$kobo-cloud, 0.05);
    box-shadow: inset 0 -3px colors.$kobo-blue;
    transition: background-color 0.5s, box-shadow 0.5s;
  }
}

.registration button[type="submit"] {
  margin-top: 28px;

  &:focus {
    outline: 2px solid colors.$kobo-cloud;
  }
}

.registration {
  select {
    margin-top: 4px;
    border-bottom: none;
  }

  span.required {
    color: colors.$kobo-red;
    margin-left: 3px;
  }


  .password1 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(colors.$kobo-white, 0.1);
  }

  .passwordreset__cancel {
    color: colors.$kobo-white;
    width: 45%;
    float: left;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    font-size: 12px;
  }

  .gender {
    clear: both;
    margin-bottom: 5px;
  }

  .gender > ul {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    padding-top: 4px;

    li {
      display: inline-block;
      margin-right: 16px;

      input {
        margin-right: 4px;
      }
    }
  }

  ul.errorlist {
    padding: 0px;
    color: colors.$kobo-red;
    margin: 8px 0px;
  }
}

.registration--register {
  .registration--logo {
    text-align: left;
    margin: 0;
    margin-left: -5px;
  }

  h1 {
    margin-top: 0em;
  }

  div.field {
    margin-bottom: 12px;
  }

  input[type=submit] {
    margin-top: 20px;
  }
}

.registration .registration__kc-domain + input {
  display: inline-block;
}

.registration .registration__kc-domain {
  font-size: 13px;
  letter-spacing: -0.04em;
  display: inline-block;
}

.registration__orlogin {
  padding-top: 10px;
  text-align: center;
}

.registration__create-or-forgot {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.registration__footer {
  clear: both;
  text-align: center;
  margin: 20px 10px 10px 10px;
  text-shadow: colors.$kobo-gray-14 0 0 2px; // contrast against photo background

  a {
    color: colors.$kobo-white;

    &:hover {
      color: colors.$kobo-cloud;
    }
  }

  .registration__legal {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.error-message {
  font-size: variables.$base-font-size;
  color: colors.$kobo-red;
  background-color: rgba(colors.$kobo-red, 0.075);
}

.registration__credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;

  a {
    opacity: 0.8;
    color: colors.$kobo-white;

    &:hover {
      opacity: 1;
    }
  }
}

.registration__message {
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration__bg {
    form.registration {
      padding: 30px 40px;
      margin-top: 10px;
    }

    form.registration--login {
      margin-top: 40px;
    }

    form.registration--register,
    form.registration--complete,
    form.language-switcher {
      width: 80%;
      max-width: 860px;
    }

    form.registration--register {
      padding: 30px;

      .registration--logo {
        width: 48%;
        float: right;

        > * {
          padding-left: 60px;
        }
      }
    }

    .registration__first-half {
      width: 52%;
      float: left;

      // Flexbox helps us maintain a layout when some fields may be customized
      // or removed.
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      column-gap: 4%;
      > * {
        min-width: 75%; // Most rows are wide enough to get their own row,
        flex: 1; // and when they do, they grow to occupy full available width.
      }
      > .full_name,
      > .organization,
      > .sector,
      > .country {
        min-width: 40%; // These fields can sit next to each other in pairs.
      }
    }

    .registration__second-half {
      width: 48%;
      float: right;

      > * {
        padding-left: 60px;
      }

      p {
        font-size: 15px;
        line-height: 1.3em;
      }
    }

    .registration--logo img {
      max-height: 100px;
    }
  }

  .registration .registration__kc-domain {
    font-size: variables.$base-font-size;
    letter-spacing: 0em;
  }
}

@media screen and (max-width: 767px) {
  .registration__bg {
    form.registration--register {
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
        margin-top: 0.5em;
      }

      .registration--logo {
        display: block;
        text-align: center;
        order: 1;
      }

      .registration__first-half {
        order: 3;
      }

      .registration__second-half {
        order: 2;
      }
    }
  }
}
