// .sidenote used to 
.sidenote-wrap {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
}
.sidenote-wrap-absrt {
  position: absolute;
  right: 0;
}
.sidenote-wrap-absrt, .sidenote-wrap {
  width: 1px;
  height: 1px;
}
.sidenote {
  margin-right: -170px;
  position: absolute;
  right: 0;
  top: auto;
  width: 150px;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid rgba(50,50,50,0.3);
  font-size: 12px;
  padding: 3px 5px;
  color: #555;
}
