@use 'scss/mixins';
@use 'scss/colors';
@use 'js/components/modals/koboModal.scss';

.root {
  display: inline-block;
  vertical-align: top;
}

.content {
  padding: koboModal.$kobo-modal-padding koboModal.$kobo-modal-padding 0;

  // We want the field and condition selectors to not be confined to
  // the modal content area, but with multiple rows, it becomes impossible
  // to not have scrollable content, thus:
  &.hasManyFilters {
    overflow-y: auto;

    // We need a tiny bit space on bottom to avoid scrollbar appearing
    // unnecessarily, when delete button of last filter row is being pressed.
    padding-bottom: 1px;
  }
}

.footer {
  @include mixins.centerRowFlex;

  justify-content: space-between;
  gap: 8px;
  padding: koboModal.$kobo-modal-padding;

  // To display the first button on the left and the rest on the right.
  > *:first-child {
    margin-right: auto;
  }
}

// We want the button to look distinct if there are any filters enabled, so that
// user is not confused why some of their projects might not appear on the list.
.buttonHasFilters {
  background-color: colors.$kobo-bg-blue;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
