@use 'scss/mixins';
@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: sizes.$x6;

  & + & {
    margin-top: sizes.$x8;
  }
}

.column {
  &:nth-child(1) {
    min-width: 40%;
    max-width: 40%;
  }

  &:nth-child(2) {
    min-width: 30%;
    max-width: 30%;
  }

  &:nth-child(3) {
    flex: 1;
  }

  // delete button column
  &:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.label {
  display: block;
  color: colors.$kobo-storm;
  font-weight: 600;
  font-size: sizes.$x13;
  line-height: 1.2;
  margin-bottom: sizes.$x5;
}
