@use 'scss/colors';
@use 'scss/mixins';

.root {
  display: inline-block;
  vertical-align: top;
}

.root.isMenuVisible .trigger {
  :global {
    .k-icon {
      color: colors.$kobo-blue;
    }
  }
}

.trigger {
  @include mixins.buttonReset;
  @include mixins.centerRowFlex;
  font-size: 20px;
  font-weight: 800;
  color: colors.$kobo-gray-800;
  padding: 2px 16px;
  // we want it to be 32px height
  line-height: 28px;
  max-width: 400px;

  :global .k-icon {
    margin-left: 5px;
  }

  &:active {
    transform: none;
  }
}

.triggerLabel {
  @include mixins.textEllipsis;
  pointer-events: none;
}

.triggerSimple {
  cursor: default;
}

.menu {
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  overflow-y: auto;
}
