@use 'scss/sizes';
@use 'scss/colors';

.addonModalTrigger {
  text-decoration: underline;
  cursor: pointer;
}

.addonUsageDetails {
  ul + .addonTypeHeader {
    margin-top: sizes.$x20;
  }

  margin-bottom: sizes.$x32;
}

.addonTypeHeader {
  font-weight: 600;
  font-size: sizes.$x12;
  color: colors.$kobo-gray-600;
  text-transform: uppercase;
}

.addonModalContent {
  padding: 0 sizes.$x24 sizes.$x24 sizes.$x24
}

.usageBreakdown {
  margin-top: sizes.$x8;
  
  & > li {
    display: flex;
    justify-content: space-between;
  }

  li + li {
    margin-top: sizes.$x8;
  }

  li:last-of-type {
    margin-top: sizes.$x14;
  }
}

.totalAvailable {
  padding: sizes.$x8 0;
  border: colors.$kobo-gray-200 sizes.$x1;
  border-style: solid none;
}

.listHeaderText {
  font-size: sizes.$r18;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
  margin: 0 0 sizes.$x16 0;
}
