
@use 'scss/colors';

.addonModalTrigger {
  text-decoration: underline;
  cursor: pointer;
}

.addonUsageDetails {
  ul + .addonTypeHeader {
    margin-top: 20px;
  }

  margin-bottom: 32px;
}

.addonTypeHeader {
  font-weight: 600;
  font-size: 12px;
  color: colors.$kobo-gray-600;
  text-transform: uppercase;
}

.addonModalContent {
  padding: 0 24px 24px 24px;
}

.usageBreakdown {
  margin-top: 8px;
  
  & > li {
    display: flex;
    justify-content: space-between;
  }

  li + li {
    margin-top: 8x;
  }

  li:last-of-type {
    margin-top: 14px;
  }
}

.totalAvailable {
  padding: 8px 0;
  border: colors.$kobo-gray-200 1px;
  border-style: solid none;
}

.listHeaderText {
  font-size: 18px;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
