@use 'scss/sizes';
@use 'scss/mixins';

.access-denied {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.access-denied__body {
  max-width: 600px;
}

.access-denied__header {
  @include mixins.centerRowFlex;
  gap: sizes.$x5;
  font-size: sizes.$x24;
  justify-content: center;
}

.access-denied__text {
  margin-top: sizes.$x20;

  code {
    margin-left: sizes.$x5;
  }
}
