@use 'scss/sizes';
@use 'scss/mixins';

.root {
  padding: sizes.$x60;
  max-width: sizes.$x800;
  margin: 0 auto;
}

.header {
  @include mixins.centerRowFlex;
  gap: sizes.$x8;
}

.header :global h1 {
  font-weight: 600;
  font-size: sizes.$x20;
  margin: 0;
}

.header + .message {
  margin-top: sizes.$x20;
}

.message + .footer {
  margin-top: sizes.$x40;
}

.message {
  margin: 0;
}
