@use 'scss/mixins';

.root {
  padding: 60px 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header,
.message,
.footer {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  @include mixins.centerRowFlex;
  gap: 8px;
}

.header :global h1 {
  font-weight: 600;
  font-size: 20px;
}

.header + .message {
  margin-top: 20px;
}

.message + .footer {
  margin-top: 40px;
}

.message {
  font-size: 18px;
  line-height: 1.6;
}
