@use 'scss/sizes';
@use 'scss/mixins';

.root {
  padding: sizes.$x60 sizes.$x20;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header,
.message,
.footer {
  max-width: sizes.$x800;
  margin: 0 auto;
}

.header {
  @include mixins.centerRowFlex;
  gap: sizes.$x8;
}

.header :global h1 {
  font-weight: 600;
  font-size: sizes.$x20;
}

.header + .message {
  margin-top: sizes.$x20;
}

.message + .footer {
  margin-top: sizes.$x40;
}

.message {
  font-size: sizes.$x18;
  line-height: 1.6;
}
