@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';
@use 'scss/libs/_mdl';

.root {
  margin-top: sizes.$x20;
  margin-bottom: sizes.$x60;
  padding-top: sizes.$x14;
  display: flex;
  align-items: baseline;
  column-gap: sizes.$x16;
  border-top: sizes.$x1 solid;
  border-color: colors.$kobo-gray-92;
}

.titleSection {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  color: colors.$kobo-gray-40;
  font-weight: 600;
  line-height: 1.6;
}

.bodySection {
  flex: 5;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: sizes.$x16;
}

.optionsSection {
  flex: 3; // widen for email input

  // stack input and button, right-aligned.
  display: flex;
  flex-direction: column;
  row-gap: sizes.$x12;
  align-items: flex-end;

  :global {
    .text-box {
      width: 100%;
    }
  }
}

.currentEmail {
  font-weight: bold;
  margin-top: 0;
}

.unverifiedEmail {
  display: flex;
  column-gap: sizes.$x12;
  padding-right: sizes.$x24;

  p.blurb {
    margin: 0;
  }

  > i {
    color: colors.$kobo-amber;
  }
}
