@use 'scss/colors';
@use 'scss/sizes';

.body {
  flex: 5;
  gap: 10px;
}

.options {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.currentEmail {
  font-weight: bold;
  margin-top: 0;
}

.unverifiedEmail {
  display: flex;
  column-gap: sizes.$x12;
  padding-right: sizes.$x24;

  p.blurb {
    margin: 0;
  }

  > i {
    color: colors.$kobo-amber;
  }
}

.unverifiedEmailButtons {
  display: flex;
  gap: 10px;
}
