@use 'scss/colors';

$mfa-paragraph-spacing: 18px;

// FIXME: should not depend on another header's CSS. Standardize modal headers
.modal--mfa-setup .table-media-preview-header__title {
  font-size: 14px;
  font-weight: 600;

  .k-icon {
    color: colors.$kobo-blue;
    position: relative;
    top: 2px;
    padding-right: 12px;
  }
}

.mfa-modal {
  padding: 30px 60px 0; // bottom padding is handled by footer
  height: 100%;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

// HACK override for TextBox component
.mfa-modals-textbox input {
  text-align: center;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.mfa-modal__body {
  flex: 1;
}

.mfa-modal__p {
  &.mfa-modal__p--align-right {
    text-align: right;
  }
}

.mfa-modal__body,
.mfa-modal__description {
  .mfa-modal__p,
  .mfa-modal__codes-wrapper,
  .mfa-modal__qrcode-wrapper,
  ul {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $mfa-paragraph-spacing;
    }
  }
}

.mfa-modal__description + .mfa-modal__body {
  margin-top: $mfa-paragraph-spacing;
}

// Individual steps separeted out from parent for readability
.mfa-modal--step-qr {
  canvas {
    display: block;
    padding: 14px;
    border: 1px solid colors.$kobo-gray-400;
    border-radius: 3%;
    margin: 0 auto;
  }
}

.mfa-modal__codes {
  text-align: center;
  background-color: colors.$kobo-gray-300;
  border: 1px solid colors.$kobo-gray-400;
  border-radius: 5px;
  padding: 12px;
  line-break: anywhere;

  .mfa-modal__list {
    padding-top: 24px;

    > li {
      padding-bottom: 24px;
    }
  }

  &:not(:last-child) {
    margin-bottom: $mfa-paragraph-spacing;
  }
}

.mfa-modal__help-link {
  cursor: pointer;
}

.mfa-modal__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 60px;

  .mfa-modal__footer-left {
    width: 40%;
  }

  .mfa-modal__footer-right {
    width: 40%;
    margin-left: auto;
    order: 2;
  }
}

.mfa-modal.mfa-modal--step-manual,
.mfa-modal.mfa-modal--step-backup,
.mfa-modal.mfa-modal--step-qr {
  .mfa-modal__body {
    display: flex;
    flex-direction: column;

    .mfa-modal__codes-wrapper,
    .mfa-modal__qrcode-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }
}
