@use 'scss/breakpoints';
@use 'scss/colors';

.form-view__group.form-view__group--items {
  > .form-view__cell {
    .form-view__label {
      font-size: 12px;
      opacity: 0.6;
    }
  }
}

.form-view__cell.form-view__cell--subs-graph {
  padding: 30px;
  padding-bottom: 0;

  .form-view__cell--subs-graph-toggle {
    padding-bottom: 20px;

    a + a {
      margin-left: 15px;
    }

    a {
      display: inline-block;
      padding: 8px;
      color: colors.$kobo-teal;
      cursor: pointer;
      font-size: 16px;
      background: transparent;

      &.active {
        color: colors.$kobo-white;
        background: colors.$kobo-teal;
        position: relative;

        &::after {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid colors.$kobo-teal;
          content: '';
          position: absolute;
          bottom: -9px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }
}

.form-view__group.form-view__group--submission-stats {
  padding: 30px;
  display: flex;

  .form-view__cell {
    border: 1px solid colors.$kobo-gray-300;
    padding: 20px;
    flex: 2;
    margin-right: 10px;

    &:last-child {
      flex: 1;
      margin-right: 0;
    }
  }

  .subs-graph-number {
    font-size: 32px;
    font-weight: 600;
    color: colors.$kobo-teal;
  }
}

.form-view__cell.form-view__cell--data-tabs {
  a,
  button {
    cursor: pointer;
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 6px 10px;
    color: colors.$kobo-gray-700;
    border-bottom: 1px solid colors.$kobo-gray-300;
    position: relative;
    text-align: initial;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: colors.$kobo-gray-800;
    }

    .k-icon:not(.k-icon-angle-right) {
      font-size: 24px;
      width: 24px;
      margin: 4px 10px 4px 4px;
      display: inline-block;
      vertical-align: middle;
    }

    .k-icon.k-icon-angle-right {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.form-view__row.form-view__row--team {
  position: relative;

  .form-view__cell--box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .user-row {
    margin: 0;
    border-bottom: 0;
    margin-right: 0;
  }

  a.team-sharing-button {
    cursor: pointer;
    color: colors.$kobo-gray-700;
    position: absolute;
    right: 0;
    top: -2px;

    .k-icon {
      font-size: 24px;
    }

    &:hover {
      color: colors.$kobo-blue;
    }
  }
}

.form-view__cell.form-view__cell--summary-chart {
  position: relative;
  height: 0;
  overflow: hidden;

  + .form-view__cell--chart-no-data {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid colors.$kobo-gray-300;

    span {
      font-size: 16px;
      margin: 10px;
    }
  }

  &.active {
    height: 275px;
    overflow: visible;

    canvas {
      height: 250px;
    }

    + .form-view__cell--chart-no-data {
      height: 0;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: breakpoints.$b768) {
  .form-view--summary {
    display: flex;
    flex-direction: column;

    .form-view__row--panels {
      display: flex;
      margin: 0;

      .form-view__column--left {
        flex: 1;

        .form-view__row {
          margin-right: 0;
        }
      }
    }

    .form-view__column--right {
      width: 35%;

      .form-view__row {
        margin-left: 30px;
        margin-right: 40px;
      }
    }
  }
}

@media screen and (width >= 1024px) {
  .form-view--summary {
    .form-view__column--right {
      width: 30%;
    }
  }
}
