@use '~kobo-common/src/styles/colors';
@use 'scss/breakpoints';
@use 'scss/sizes';
@use 'scss/_variables';

.header {
  font-size: sizes.$r18;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
}

.caption {
  text-align: start;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  & tr {
    border-top: 1px solid colors.$kobo-light-storm;

    &:last-child {
      border-bottom: 1px solid colors.$kobo-light-storm;
    }
  }

  & td {
    padding-block: 1em;
    font-weight: 600;
    font-size: sizes.$x16;
  }
}

.product {
  width: 60%;
}

.price {
  color: colors.$kobo-gray-40;
  display: flex;
  width: 100%;
  justify-content: center;
}

.oneTimePrice {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: sizes.$x16;
  color: colors.$kobo-gray-40;
  padding-right: sizes.$x15;
}

.productName {
  display: flex;
  margin-right: sizes.$x12;
  font-size: sizes.$x16;
  font-weight: 600;
}

.description {
  display: none;
}

.oneTime {
  display: flex;
  width: 100%;
  justify-content: right;
}

.purchasedAddOns {
  padding-top: 2%;
  padding-bottom: 2%;
}

.activePrice {
  text-align: right;
  font-size: sizes.$x16;
  font-weight: 600;
}

.addonDescription {
  display: flex;
  font-size: sizes.$x14;
  font-weight: 400;
}

.row {
  display: table;
  width: 100%;
  align-items: center;
}

.buy {
  width: sizes.$x200;
}

.mobileView {
  display: flex;
  vertical-align: center;
  flex: 1;
  align-items: center;
}

.fullScreen {
  display: none;
}

@media screen and (min-width: breakpoints.$b600) {
  .table td:nth-child(2) {
    margin-inline-end: 10em;
  }

  .description {
    display: flex;
    font-size: sizes.$x14;
    font-weight: 400;
  }

  .productName {
    display: table-cell;
    width: 40%;
  }

  .fullScreen,
  .price {
    display: table-cell;
    width: 30%;
  }

  .mobileView {
    display: none;
  }

  .oneTimePrice,
  .buy {
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
  }

  .oneTimePrice {
    width: 50%;
  }

  .oneTime {
    justify-content: center;
  }
}
