@use '~kobo-common/src/styles/colors';
@use 'scss/breakpoints';
@use 'scss/sizes';
@use 'scss/_variables';

.header {
  font-size: sizes.$r18;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
}

.caption {
  text-align: start;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: variables.$plans-page-card-width;

  & tr {
    border-top: 1px solid colors.$kobo-light-storm;

    &:last-child {
      border-bottom: 1px solid colors.$kobo-light-storm;
    }
  }

  & td {
    padding-block: 1em;
    font-weight: 600;
    font-size: sizes.$x16;
    overflow: hidden;
  }
}

.product,
.price {
  width: 100%;
  line-height: 2em;
}

.price {
  color: colors.$kobo-gray-40;
}

.productName {
  margin-right: sizes.$x12;
}

.buy {
  width: 30%;
}

@media screen and (min-width: breakpoints.$b1000) {
  .table {
    padding: 1em;
    width: variables.$plans-page-max-width;
  }

  .price {
    margin-left: sizes.$x600;
    margin-top: -(sizes.$x30);
  }

  .buy {
    width: 15%;
  }

  .table td:nth-child(2) {
    margin-inline-end: 10em;
  }
}
