@use 'scss/sizes';
@use 'scss/mixins';
@use 'scss/breakpoints';
@use '~kobo-common/src/styles/colors';
@use 'scss/_variables';

.form-view--form-media {
  background-color: colors.$kobo-white;
}

.form-media {
  padding: 30px 40px;

  .form-media__title {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;

    label.form-media__label {
      float: left;
      padding-right: 12px;
    }

    a.title-help {
      position: absolute;
      top: -2px;
      font-size: 24px;
      height: 24px;
      color: colors.$kobo-gray-40;
      cursor: pointer;
    }
  }

  .form-media__upload {
    .form-media-upload-url {
      color: colors.$kobo-gray-40;
      font-size: 18px;
      font-weight: 500;
      margin: auto;
      margin-top: 36px;
      display: block;

      .form-media-upload-url__label {
        margin: 12px 0;
        text-align: center;
        display: block;
      }

      .form-media-upload-url__form {
        @include mixins.centerRowFlex;
        align-items: flex-start;
        gap: sizes.$x20;
        padding-top: sizes.$x10;

        > label {
          flex: 1;
        }

        .k-button {
          min-width: sizes.$x150;

          .k-button__label {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }

  .form-media__list {
    margin-top: 64px;

    label.form-media__label {
      margin-bottom: 11px;
      padding-bottom: 16px;
      border-bottom: 1px solid colors.$kobo-gray-92;
    }

    .form-media__list-item {
      font-size: 16px;
      position: relative;
      padding-bottom: 12px;
      border-bottom: 1px solid colors.$kobo-gray-92;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;

      // TODO: Find a better way to implement button size without editing parent
      // See: https://github.com/kobotoolbox/kpi/issues/3917
      button.kobo-light-button {
        padding-bottom: 25px;

        i.k-icon-trash {
          font-size: 24px;
        }
      }

      i.form-media__file-type {
        position: absolute;
        left: -5px;
        top: 2px;
        color: colors.$kobo-gray-65;
        font-size: 24px;
      }

      a {
        font-weight: 400;
        padding: 5px;
        margin-left: 25px;
        font-size: 18px;
        display: inline-block;
        min-width: 10px;
        vertical-align: top;
        height: auto;
        position: relative;
        min-height: 18px;
        max-width: 70%;
        overflow-x: hidden;
        cursor: pointer;
      }
    }
  }

  .form-media__label {
    color: colors.$kobo-gray-24;
    font-weight: 500;
    font-size: 22px;
    display: block;
  }
}
