{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <!-- We use registration -->
  <form
    method="post"
    action="{% url 'mfa_token' %}"
    class="registration registration--login mfa-token-form"
    data-mfa-token-form-current-section="form"
    autocomplete="off"
  >
    <div class="registration--logo">
      <a href="/">{% block logo %}{{ block.super }}{% endblock %}</a>
    </div>

    {% csrf_token %}

    <div class="mfa-token-form__sections">
      <section class="mfa-token-form__section" data-mfa-token-form-section="form">
        <h1 class="mfa-token-form__header">
          {% trans "Please enter your verification token" %}
        </h1>

        <p class="mfa-token-form__description">
          {% trans "Please enter the verification token displayed by your authenticator app." %}
        </p>

        {{ form.as_p }}

        <div class="mfa-token-form__help-toggle-wrapper">
          <a href="#" data-mfa-token-form-toggle="help" class="mfa-token-form__help-toggle">
            {% trans "Problems with the token" %}
          </a>
        </div>

        <button type="submit" name="continue" class="kobo-button kobo-button--blue kobo-button--fullwidth">
          {% trans "Continue" %}
        </button>

        <input type="hidden" name="next" value="{{ next }}" />
      </section>

      <section class="mfa-token-form__section" data-mfa-token-form-section="help">
        <h1 class="mfa-token-form__header">
          {% trans "Verification issues" %}
        </h1>

        <div class="mfa-token-form__help-text">
          {{ mfa_help_text | safe }}
        </div>

        <a href="#" data-mfa-token-form-toggle="form" class="mfa-token-form__help-toggle">
          {% trans "Back" %}
        </a>
      </section>
    </div>
  </form>
{% endblock %}
{% block extra_javascript %}
  <script src="{% static 'js/mfa_token.js' %}"></script>
{% endblock %}
