/* ==========================================================================
 * Fonts
 * ========================================================================== */

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Thin'),
        local('Roboto-Thin'),
        url('../fonts/roboto-latin-ext-100-normal.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-100-normal.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Light'),
        local('Roboto-Light'),
        url('../fonts/roboto-latin-ext-300-normal.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src:  local('Roboto LightItalic'),
        local('Roboto-LightItalic'),
        url('../fonts/roboto-latin-ext-300-italic.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-300-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Regular'),
        local('Roboto-Regular'),
        url('../fonts/roboto-latin-ext-400-normal.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto RegularItalic'),
        local('Roboto-RegularItalic'),
        url('../fonts/roboto-latin-ext-400-italic.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-400-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Medium'),
        url('../fonts/roboto-latin-ext-500-normal.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto MediumItalic'),
        local('Roboto-MediumItalic'),
        url('../fonts/roboto-latin-ext-500-italic.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-500-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Bold'),
        local('Roboto-Bold'),
        url('../fonts/roboto-latin-ext-700-normal.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto BoldItalic'),
        local('Roboto-BoldItalic'),
        url('../fonts/roboto-latin-ext-700-italic.woff2') format('woff2'),
        url('../fonts/roboto-latin-ext-700-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  local('Roboto Mono'),
        local('Roboto-Mono'),
        url('../fonts/roboto-mono-latin-ext-400-normal.woff2') format('woff2'),
        url('../fonts/roboto-mono-latin-ext-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono Bold';
  src:  local('Roboto Mono Bold'),
        local('Roboto-Mono-Bold'),
        url('../fonts/roboto-mono-latin-ext-700-normal.woff2') format('woff2'),
        url('../fonts/roboto-mono-latin-ext-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
