@use 'scss/mixins';
@use 'scss/sizes';
@use 'scss/colors';

.projects-fields-selector {
  display: inline-block;
  vertical-align: top;
}

.projects-fields-selector__fields-wrapper {
  max-height: sizes.$x200;
}
