@use 'sass:color';
@use 'scss/mixins';
@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';
@use 'scss/variables';
@use 'scss/z-indexes';

$projects-table-hover-bg: colors.$kobo-gray-98;

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  cursor: pointer;
  margin: 0 sizes.$x30;

  user-select: none;
}

.cell {
  border-bottom: sizes.$x1 solid colors.$kobo-gray-92;
  padding: sizes.$x18;
  color: colors.$kobo-gray-40;
  flex: 1 0 auto;
  // ensures the table columns are same width for all rows
  width: 10%;

  > * {
    cursor: inherit;
  }

  :global label {
    cursor: inherit;
  }

  &[disabled] {
    pointer-events: none;
  }

  &[data-field='checkbox'] {
    max-width: sizes.$x18 + sizes.$x20 + sizes.$x18;
    width: sizes.$x18 + sizes.$x20 + sizes.$x18;
    @include mixins.centerRowFlex;
  }

  &[data-field='countries'],
  &[data-field='description'],
  &[data-field='ownerEmail'],
  &[data-field='ownerOrganization'],
  &[data-field='status'],
  &[data-field='submissions'] {
    width: 13%;
  }

  &[data-field='countries'] {
    width: 15%;

    > *:not(:last-child) {
      margin-right: sizes.$x5;
    }
  }

  &[data-field='ownerFullName'],
  &[data-field='ownerUsername'] {
    width: 12.5%;
    font-weight: 600;
  }

  &[data-field='dateModified'],
  &[data-field='dateDeployed'] {
    width: 18%;
  }

  &[data-field='languages'] {
    width: 15%;
  }

  &[data-field='name'] {
    color: colors.$kobo-dark-blue;
    font-size: sizes.$x16;
    font-weight: 600;
    width: 25%;

    // Setup for underlining the Project Name on row hover.
    // This clarifies the size of the checkbox touch-target
    // and makes full-navigation a little more predictable.
    text-decoration: 1px solid underline color.change(colors.$kobo-alt-blue, $alpha: 0);
    text-underline-offset: 3px;
  }

  &[data-field='sector'] {
    width: 15%;
  }
}

.row.rowTypeProject {
  .cell {
    @include mixins.textEllipsis;
    line-height: sizes.$x36;

    // performance hints for resizing
    contain: inline-size layout paint style;

    // don't show ellipsis by badges
    &[data-field='status'],
    &[data-field='countries'],
    &[data-field='submissions'] {
      text-overflow: clip;
    }

    // To make a more forgiving checkbox interaction, make this cell
    // much wider than it otherwise would be.
    &[data-field='checkbox'] {
      position: relative;
      // create hanging pseudo-elements to expand touch targets
      &::after,
      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
      }
      // right: cover whitespace up to the project name link
      &::after {
        right: 0 - sizes.$x18;
        width: sizes.$x18;
      }
      // left: cover whitespace left of project table
      &::before {
        left: 0 - sizes.$x32;
        width: sizes.$x32;
      }
      // uncrop element
      overflow: visible;
      contain: inline-size style;

      :global input.checkbox__input { // general appearance tweaks
        &::after {border-radius: 1px;} // better-looking inner corners
        &:focus-visible { // add keyboard focus styles
          outline: 3px solid colors.$kobo-alt-blue;
        }
      }
    }
  }

  &:hover .cell {
    background-color: $projects-table-hover-bg;

    &.cellHighlighted {
      background-color: color.change(colors.$kobo-light-blue, $alpha: 0.6);
    }

    // Various hover rules to tell the user what will happen:
    // - click project cell  ->  navigate to project
    // - click other cell    ->  toggle the checkbox for project

    // When hovering anywhere in the row generally, outline the checkbox.
    &[data-field='checkbox'] {
      :global .checkbox {
        border-radius: sizes.$x2;
        outline: sizes.$x1 solid colors.$kobo-alt-blue;
      }
    }
    // … Except don't outline the checkbox if the Project Name box is hovered.
    // Not supported in firefox (uses the :has() selector),
    // but worth including in other browsers for the clarity it adds
    &[data-field='checkbox']:has(~ [data-field='name']:hover) {
      :global .checkbox {
        outline: none;
      }
    }
    // When the project row cell is hovered directly, underline the project name
    // to suggest that navigation will happen on click.
    &[data-field='name']:hover {
      text-decoration-color: colors.$kobo-alt-blue;
    }
    // Big friendly checkbox outline when directly hovering the checkbox cell
    &[data-field='checkbox']:hover {
      :global .checkbox {
        outline-width: sizes.$x3;
      }
    }
  }
}

.row.rowTypeHeader {
  .cell {
    @include mixins.centerRowFlex;
    color: colors.$kobo-gray-40;
    border-top: 0;
    cursor: pointer;
    height: sizes.$x36;
    line-height: sizes.$x16;
    padding-top: sizes.$x12;
    padding-bottom: sizes.$x12;
    background-color: colors.$kobo-white;

    // performance hints for resizing
    contain: inline-size style;

    &:hover {
      color: colors.$kobo-gray-14 !important;
    }
  }
}

.row.rowTypeMessage {
  padding: sizes.$x40;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;

  .proTip {
    font-size: 1rem;
    margin-top: sizes.$x20;
  }
}

.headerLabel {
  font-weight: 700;
  font-size: sizes.$x13;
}

// Highlighted columns:

.row.rowTypeProject .cell.cellHighlighted {
  background-color: color.change(colors.$kobo-light-blue, $alpha: 0.3);
}

.row.rowTypeHeader .cell.cellHighlighted {
  background-color: colors.$kobo-light-blue;
  color: colors.$kobo-dark-blue;
}
