@use 'scss/sizes';
@use 'scss/colors';
@use 'scss/variables';
@use 'scss/libs/mdl';
@use 'scss/z-indexes';

$projects-table-min-width: 820px;

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: colors.$kobo-white;
  overflow: auto;

  &.fullscreen {
    position: fixed;
    z-index: z-indexes.$z-fullscreen;
    border: sizes.$x5 solid mdl.$root-background;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: z-indexes.$z-table-row-header;
}

.header,
.body {
  min-width: 800px;
  width: 100%;
}

.body {
  flex: 1;
}

.body > .loading {
  margin: sizes.$x40 auto;
}
