@use 'scss/colors';
@use 'scss/z-indexes';

$projects-table-min-width: 820px;

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: colors.$kobo-white;
  overflow: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: z-indexes.$z-table-row-header;
}

.header,
.body {
  min-width: 800px;
  width: 100%;
}

.body {
  flex: 1;

  :global {
    // The loading message of the ProjectsTable component
    .loading:first-of-type {
      margin: 40px auto;
    }

    // The loading spinner of the react-infinite-scroller plugin
    .loading:last-of-type {
      padding: 10px 0 20px;
    }
  }
}
