@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';
@use 'scss/mixins';

.root {
  @include mixins.centerRowFlex;
}

.menu {
  @include mixins.floatingRoundedBox;
  padding: sizes.$x6;
  min-width: sizes.$x180;

  // There is a `isFullWidth` property on Button component, but it also has text
  // centering styles on it, so we can't use it.
  :global .k-button {
    width: 100%;
  }
}

