@use 'sass:color';
@use 'sass:math';
@use 'scss/mixins';
@use 'scss/colors';
@use 'js/components/common/icon';
@use './projectsTableRow.module';

// This file contains all the styles that are being used exclusively in
// `ProjectsTableHeader` component. Most of styles it is using are coming
// from `projectsTableRow.module.scss` file.

// Column Resizer handle styles are here, too.

.columnRoot {
  // For column width resizers
  position: relative; // Be a positioned ancestor for resize handles
  user-select: none;  // Prevent accidental text selection

  // Make the whole header cell clickable for the dropdown trigger.
  :global .kobo-dropdown,
  :global .kobo-dropdown__trigger {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.trigger {
  @include mixins.centerRowFlex;

  padding-top: 0;
  padding-bottom: 0;
  padding-right: projectsTableRow.$projects-table-row-padding;
  // 10 px is a magic number that puts the caret icon in the same line as the
  // content of the cells below
  padding-left: projectsTableRow.$projects-table-row-padding + 10px;

  cursor: pointer;
  line-height: projectsTableRow.$projects-table-row-height;

  :global {
    // Dropdown arrow
    .k-icon:first-child {
      // Pull the dropdown label and arrow to the left somewhat.
      // This measurement isn't scientific, it's just supposed to look good.
      margin-left: 0 - icon.$s-icon-xxs - 2px;
      padding-right: 3px;
      opacity: 0.6;
    }

    // Dropdown Label
    label {
      @include mixins.textEllipsis;
    }

    // Sorting indicator
    .k-icon:not(:first-child) {
      margin-left: 6px;
      color: colors.$kobo-teal; // make it stand out
    }
  }
}

.isMenuVisible .trigger {
  color: colors.$kobo-blue;
}

.dropdownContent {
  @include mixins.floatingRoundedBox;
  padding: 10px;
  min-width: 120px;

  :global {
    .k-button {
      width: 100%;
      white-space: nowrap;

      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }
}

// Resizers

$line-width: 1px;
// Resizer "pad" should be at least 10px wide for ease of use.
// If $line-width is odd, $resizer-width should be odd, too.
$resizer-width: 16px + $line-width;

// Resizer "pad" - interactive area
.resizer {
  cursor: ew-resize; // col-resize <-|->   ew-resize <->
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: math.div($resizer-width - $line-width, -2);
  width: $resizer-width;
  z-index: 2; // Overlap adjacent column header and cell width indicator
  background-color: colors.$kobo-bg-blue; // Resizer "pad" color
  opacity: 0;

  &:hover {
    opacity: 1;
  }
  // performance hints
  contain: inline-size layout paint style;
}

// Active resizer "line" - visible when hovering
.resizer::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 4px; // $resizer-line-vertical-offset;
  bottom: 4px;
  right: math.div($resizer-width - $line-width, 2);
  width: $line-width;
  background-color: colors.$kobo-blue;
  opacity: 0;
  z-index: 2; // Layer above gray lines and above adjacent column header
}

.resizer:hover::after {
  opacity: 1;
}

// Thin gray vertical lines
// Appear on either side of the header cell, indicating
// the width of the cell you're going to resize.
.columnRoot,
.columnRoot:hover {
  &::before,
  &::after {
    top: 6px;
    bottom: 6px;
    display: inline-block;
    position: absolute;
    background-color: colors.$kobo-gray-500;
    // Give a little fade
    border-top: 1px solid colors.$kobo-gray-300;
    border-bottom: 1px solid colors.$kobo-gray-300;
    box-shadow:
      0 -1px 0 colors.$kobo-gray-200,
      0  1px 0 colors.$kobo-gray-200;
    width: $line-width;
    content: '';
    z-index: 1; // Layer below the resizer "pad" but above adjacent column headers
    pointer-events: none;
    transition: opacity 0.2s;
  }

  &::before {
    left: (-$line-width);
  }

  &::after {
    right: 0;
  }
}

.columnRoot::before,
.columnRoot::after {
  opacity: 0;
}

.columnRoot:hover::before,
.columnRoot:hover::after {
  opacity: 1;
}
// Always hide leftmost width indicator
// nth-child(2) because of checkbox column
.columnRoot:nth-child(2)::before {
  display: none;
}
