@use '~kobo-common/src/styles/colors';
@use 'scss/sizes';
@use 'scss/libs/_mdl';

.account-settings {
  width: 100%;
  height: 100%;
  background: colors.$kobo-white;
  overflow-y: auto;
  position: relative;
  padding-top: sizes.$x50;

  h4 {
    margin: 0;
    font-weight: 400;
    color: colors.$kobo-gray-24;
  }

  .kobo-select {
    font-size: 15px;
  }

  .form-modal__item--column {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    .form-modal__item--fields {
      height: calc(100% - #{sizes.$x50});
      padding-right: 40px;
      padding-left: sizes.$x50;
      padding-bottom: sizes.$x30;
      overflow: auto;

      > *:last-child {margin-bottom: 20px;}
    }

    .form-modal__item--username {
      min-height: 32px;
      padding-left: sizes.$x50;

      .account-box__initials {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
      }

      h4 {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
      }
    }

    .form-modal__item--anonymous-submission-notice {
      display: flex;
      line-height: sizes.$x24;
      background-color: colors.$kobo-light-amber;
      margin-top: sizes.$x12;
      padding: sizes.$x18;
      border-radius: sizes.$x8;

      .anonymous-submission-notice-copy {
        padding-left: sizes.$x16;
        padding-right: sizes.$x8;
        > * {
          display: inline;
        }
      }
    }
  }

  .account-settings__actions {
    position: absolute;
    top: sizes.$x50;
    right: 0;

    .account-settings-save:last-child {
      margin-right: sizes.$x50;
    }

    .account-settings-close {
      padding: 0 12px;
    }
  }

  .form-modal__item {
    &.form-modal__item--primary-sector {
      width: 46%;
      margin-right: 2%;
      float: left;
    }

    &.form-modal__item--gender {
      width: 50%;
    }

    &.form-modal__item--bio {
      clear: both;
    }

    &.form-modal__item--country {
      width: 50%;
      margin-right: 4%;
      float: left;
    }

    &.form-modal__item--city {
      width: 46%;
      float: left;
    }
  }
}

.account-settings-social-row:not(:first-child) {
  margin-top: sizes.$x5;
}
