@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.root {
  padding: sizes.$x40;
}

h2 {
  margin-bottom: sizes.$x28;
}

.article {
  p {
    display: inline;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: sizes.$x12;
}

.box {
  // TODO: Should we add this size or try some flex magic to make the width work?
  width: 250px;
  border: sizes.$x1 solid;
  border-color: colors.$kobo-gray-92;
  border-radius: 5%;
  margin-right: sizes.$x12;
  padding: sizes.$x24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: sizes.$x2;
  overflow-wrap: break-word;
}

.usage {
  display: flex;
  margin-top: sizes.$x18;
}

.title {
  font-size: sizes.$x16;
  color: colors.$kobo-gray-40;
}

.date {
  font-size: sizes.$x14;
}

.description {
  margin-right: sizes.$x60;
  color: colors.$kobo-storm;
}
