{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <form method="post" action="{% url 'mfa_token' %}" class="registration registration--login">
    <div class="registration--logo">
      <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
      </a>
    </div>
    {% csrf_token %}
    <p>{{ mfa_help_text | safe }}</p>
    {{ form.as_p }}
    <button type="submit" name="Login" class="kobo-button kobo-button--blue kobo-button--fullwidth">
      {% trans "Login" %}
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
