{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/query_parser_filter.css' %}"/>

<h3>Advanced query search</h3>

<ul>
  <li>You can use django <a
    class="hub-queryparser--d-inline"
    href="https://docs.djangoproject.com/en/3.2/ref/models/querysets/#field-lookups">
    field lookups</a> to perform advanced searches
  </li>
  <li><b>Some examples:</b></li>
  <li>Users who have not changed their password since last admin’s request (on March 1, 2023):
    <pre>extra_details__password_date_changed__date__lt:2023-03-01</pre>
  </li>
  <li>Same as above with users’ account creation prior to admin’s request:
    <pre>extra_details__password_date_changed__date__lt:2023-03-01</pre>
    <pre>AND date_joined__date__lt:2023-03-01</pre>
  </li>
  <li>Same as above, but more accurate version with time:
    <pre>extra_details__password_date_changed__lt:2023-03-01T12:00:00</pre>
    <pre>AND date_joined__date__lt:2023-03-01:2023-03-01T12:00:00</pre>
  </li>
  <li><b>Fields:</b></li>
  <li>
    <pre class="hub-queryparser--pre-inline">username</pre>,
    <pre class="hub-queryparser--pre-inline">email</pre>,
    <pre class="hub-queryparser--pre-inline">date_joined</pre>,
    <pre class="hub-queryparser--pre-inline">last_login</pre>,
    <pre class="hub-queryparser--pre-inline">extra_details__password_date_changed</pre>,
    <pre class="hub-queryparser--pre-inline">extra_details__validated_password</pre>
  </li>
</ul>
