{% extends "base_no_static.html" %}

{% block title %}DataUMSA API{% endblock %}

{% block body %}
    <h1>DataUMSA API</h1>
    <p>Para una introducción a la API de DataUMSA e integración en vivo, visita <a href="https://data.umsa.bo/docs/guides/integracion-powerbi-excel/">la documentación de DataUMSA</a>.</p>
    <p>You can also <a href="{% url 'swagger-ui' %}?q={{ q_param }}">check the official API documentation</a> for a detailed documentation of all available endpoints.</p>
    <hr>
    {% if root %}
        <p>This is the root of the API. Please access an endpoint for a meaningful response.</p>
    {% else %}
        {% autoescape on %}
        <pre>{{ pretty|urlize }}</pre>
        {% endautoescape %}
    {% endif %}
{% endblock %}
