{% block title %}KoboToolbox API{% endblock %}

{% block navbar %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <h1>KoboToolbox API</h1>
    <p>For a general introduction to the KoboToolbox API, please visit <a href="https://support.kobotoolbox.org/api.html">the KoboToolbox help center</a>.</p>
    <p>You can also <a href="{% url 'swagger-ui' %}?q={{ q_param }}">check the official API documentation</a> for a detailed documentation of all available endpoints.</p>
    <hr>
    {% if root %}
        <p>This is the root of the API. Please access an endpoint for a meaningful response.</p>
    {% else %}
        {% autoescape on %}
        <pre>{{ pretty|urlize }}</pre>
        {% endautoescape %}
    {% endif %}
{% endblock %}
