{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <form action="." method="post" class="registration">
    <div class="registration--logo">
      <a href="/">
        {% block logo %}{{ block.super }}{% endblock %}
      </a>
      <h1>{% trans "Activation failed" %}</h1>
    </div>

    <p class="registration__message">
      {% trans "Sorry, we couldn't activate your account. The link we sent you has expired." %}
    </p>
    <p class="registration__message">
      <a href="{% url 'registration_register' %}">
        {% trans "Click here to create a new account" %}
      </a>
    </p>

  </form>
{% endblock %}
