{% extends "registration.html" %}

{% block content %}
<div class="registration__bg">

  <form action="." method="post" class="registration">
    <div class="registration--logo"><a href="/"><img src="/static/kobo/images/kobologo.svg"/></a></div>

    <p class="registration__message">Sorry, we couldn't activate your account. The link we sent you has expired.</p>
    <p class="registration__message"><a href="{% url 'registration_register' %}"></a>Click here to create a new account.</a></p>

  </form>

  <div class="registration__credit"><a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a></div>
</div>

{% endblock %}