{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/"><img src="{% static 'img/kobologo.svg' %}"/></a></div>
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'auth_password_reset' %}" class="registration__forgot">Forgot?</a>

    <input type="submit" value="Login" class="registration__action" />
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="registration__footer">
      or <a href="{% url 'registration_register' %}">create an account</a>
    </div>
  </form>
{% endblock %}
