{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'auth_password_reset' %}" class="registration__forgot">
      {% trans "Forgot?" %}
    </a>
    <input type="submit" value="Login" class="registration__action" />
    <input type="hidden" name="next" value="{{ next }}" />

    {% if config.REGISTRATION_OPEN %}
      <div class="registration__footer">
        {% trans "or" %} <a href="{% url 'registration_register' %}">{% trans "create an account" %}</a>
      </div>
    {% endif %}
  </form>
{% endblock %}

