{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<form method="post" action="." class="registration registration--login">
  <div class="registration--logo">
    <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
    </a>
    <h1>{% trans "Password Reset" %}</h1>
  </div>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Reset Password' %}" class="registration__action passwordreset__action"/>
  <div style="clear:both"></div>
</form>
{% endblock %}
