{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>

  {% if validlink %}

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="registration__action"/>

  {% else %}

    <p>Password reset failed</p>

  {% endif %}


  </form>

  {% block background_credit %}
  {{ block.super }}
  {% endblock %}
</div>

{% endblock %}
