{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/"><img src="{% static 'img/logo.svg' %}"/></a></div>

  {% if validlink %}

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="registration__action"/>

  {% else %}

    <p>Password reset failed</p>

  {% endif %}


  </form>
</div>

{% endblock %}
