{% extends "registration.html" %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/"><img src="/static/kobo/images/kobologo.svg"/></a></div>    

    <p style="text-align:center;padding-top:20px;">Email with password reset instructions has been sent.</p>

  </form>

  <div class="registration__credit"><a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a></div>
</div>

{% endblock %}
