{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>
    {% csrf_token %}
    {{ form.as_p }}

    <a class="passwordreset__cancel" href="/">Cancel</a>
    <input type="submit" value="Reset Password" class="registration__action passwordreset__action"/>
    <div style="clear:both"></div>
  </form>

  {% block background_credit %}
  {{ block.super }}
  {% endblock %}
</div>

<script>
  $(function () {
    $('form.registration input#id_email').attr('placeholder', 'Email');
    $('form.registration p label').addClass('hidden');
  });
</script>
{% endblock %}
