{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>

    <p style="text-align:center;padding-top:20px;">Email with password reset instructions has been sent.</p>

  </form>

  {% block background_credit %}
  {{ block.super }}
  {% endblock %}
</div>

{% endblock %}
