{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>

  <p style="text-align:center;">Password reset successfully</p>

  <p style="text-align:center;">
    <a href="{% url 'auth_login' %}">Log in</a>
  </p>

  </form>

  {% block background_credit %}
  {{ block.super }}
  {% endblock %}
</div>

{% endblock %}
