{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<form action="." method="post" class="registration registration--complete">
  <div class="registration--logo">
    <a href="/">{% block logo %}{{ block.super }}{% endblock %}</a>
    <h1>{% trans "Account created!" %}</h1>
  </div>
  <p class="registration__message registration__message--complete">
    {% trans "Thanks for creating a KoBoToolbox account." %}
  </p>
  <p class="registration__message registration__message--complete">
    {% trans "Please click the activation link in the email just sent to you." %}
  </p>
</form>
{% endblock %}
