{% extends "registration.html" %}

{% block content %}
<div class="registration__bg">

  <form action="." method="post" class="registration">
    <div class="registration--logo"><a href="/"><img src="/static/kobo/images/kobologo.svg"/></a></div>    

    <p class="registration__message  registration__message--complete">Thanks for creating a KoBoToolbox account.</p>
    <p class="registration__message  registration__message--complete">Please click the activation link in the email just sent to you.</p>

  </form>

  <div class="registration__credit"><a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a></div>
</div>

{% endblock %}