{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<form action="." method="post" class="registration registration--complete">
  <div class="registration--logo">
    <a href="/"><img src="{% static 'img/kobologo.svg' %}"/></a>
    <h1>Account created!</h1>
  </div>

  <p class="registration__message registration__message--complete">
    Thanks for creating a KoBoToolbox account.
  </p>
  <p class="registration__message registration__message--complete">
    Please click the activation link in the email just sent to you.
  </p>
</form>
{% endblock %}
