@use 'scss/mixins';
@use 'scss/breakpoints';
@use 'scss/colors';

// For now we just mimick the dropdown option sizing
$option-height: 36px;
$menu-padding: 6px;

.root {
  @include mixins.centerRowFlex;
  justify-content: space-between;
  background-color: colors.$kobo-white;
  border-bottom: 1px solid colors.$kobo-light-storm;
  position: sticky;
  top: 0;
  z-index: 1;
}

.addQuestionMenu {
  // We want to show at least three options at a time, with half of the next one
  // visible to suggest that there are more options.
  min-height: ($option-height * 3.5) + $menu-padding;
  max-height: 50vh;
  min-width: 180px;
  overflow-y: auto;
}

@include breakpoints.breakpoint(veryNarrow) {
  .root {
    padding: 20px 0 10px;
  }
}

@include breakpoints.breakpoint(narrowAndUp) {
  .root {
    padding: 30px 0 16px;
  }
}
