@use 'scss/mixins';
@use 'scss/colors';

.root {
  @include mixins.centerRowFlex;
  align-items: flex-start;
  gap: 10px;
}

.sideLabel {
  color: colors.$kobo-storm;
  font-size: 12px;
  font-weight: 700;
  line-height: 200%;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: bottom;
}

.left {
  flex: 3;
}

.right {
  flex: 2;
}

.helpLink {
  @include mixins.centerRowFlex;
  color: colors.$kobo-dark-blue;
  float: right;

  &:hover {
    text-decoration: underline;
  }
}
