@use 'scss/mixins';
@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.root {
  @include mixins.centerRowFlex;
  background-color: colors.$kobo-white;
  border-bottom: sizes.$x1 solid colors.$kobo-cloud;
  padding: sizes.$x30 0 sizes.$x16;
  position: sticky;
  top: 0;
  z-index: 1;
}
