@use 'scss/mixins';
@use 'scss/sizes';
@use '~kobo-common/src/styles/colors';

.header {
  @include mixins.centerRowFlex;
  gap: sizes.$x8;
  margin-bottom: sizes.$x10;
}

.label {
  color: colors.$kobo-gray-40;
  font-size: sizes.$x16;
  font-weight: 600;
  flex: 1;
}

.icon {
  background-color: colors.$kobo-light-teal;
  color: colors.$kobo-teal;
  border-radius: sizes.$x6;
  width: sizes.$x32;
  height: sizes.$x32;
  line-height: sizes.$x32;
  text-align: center;
}
