{% extends "registration.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="registration__bg">

  <form method="POST" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/"><img src="{% static 'img/kobologo.svg' %}"/></a></div>
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% endif %}
    {% if form %}
      {% csrf_token %}
      {{ form.as_p }}

      <a class="passwordreset__cancel" href="{% url 'account_login' %}">Cancel</a>
      <input type="submit" value="Reset Password" class="registration__action passwordreset__action"/>
    {% endif %}
    <div style="clear:both"></div>
  </form>

  <div class="registration__credit"><a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a></div>
</div>

<script>
  $(function () {
    $('form.registration input#id_email').attr('placeholder', 'Email');
    $('form.registration p label').addClass('hidden');
  });
</script>
{% endblock %}
