.card__kobomatrix {
  border: 1px solid $kobo-gray-65;
  border-top: none;
}

.survey__row--selected {
  > .survey__row__item > .card__kobomatrix {
    border-color: $kobo-blue-light;
    border-top: none;
  }
}

.kobomatrix {
  width: 100%;
  padding: 23px 50px 23px 20px;
  position: relative;
  background: $kobo-white;

  .matrix-items-new {
    margin: 23px 0px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50px;
    text-align: center;
    padding-top: 10px;

    i {
      font-size: 18px;
      cursor: pointer;

      &:hover {
        color: $kobo-blue;
      }
    }
  }
}

.matrix-cols--header {
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid $kobo-gray-92;
  border-left: 1px solid $kobo-gray-92;

  .matrix-cols__col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 20px;
    text-align: center;
    border-right: 1px solid $kobo-gray-92;
    position: relative;
    padding-right: 30px;
    vertical-align: middle;
    border-top: 1px solid transparent;
    margin-bottom: -1px;

    &.active {
      background: $kobo-gray-96;
      border-bottom: 1px solid $kobo-gray-96;
    }

    .matrix-cols__colattr--type {
      opacity: 0.3;
      display: none;
    }

    i {
      font-size: 20px;
      opacity: 0.75;
      position: absolute;
      right: 8px;
      top: 9px;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: $kobo-blue;
      }
    }
  }
}

.matrix-cols__settings {
  width: 100%;
  background: $kobo-gray-96;
  border: 1px solid $kobo-gray-92;
  border-bottom: none;
  padding: 15px;
  display: none;

  &.expanded {
    display: block;
  }
}

.matrix-cols__settings_inner {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding: 0px 20px;

  .checkbox {
    display: inline-block;
  }

  label {
    display: block;
    margin-bottom: 10px;

    > span {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
    }

    > .kobo-select,
    > input {
      width: 310px;
      display: inline-block;
      vertical-align: middle;
    }

    > input[type="text"] {
      padding: 4px 8px;
      border: 1px solid $kobo-gray-65;
      border-radius: 4px;
    }

    > label {
      display: inline-block;
    }
  }

  .matrix-cols__delete {
    width: 100%;
    text-align: right;
    padding: 10px 0px 10px;

    span {
      color: $kobo-red;
      cursor: pointer;
    }

    i {
      font-size: 20px;
      color: $kobo-red;
      cursor: pointer;
      vertical-align: -5px;
    }
  }
}

.matrix-cols__options {
  background: $kobo-gray-96;
  border: 1px solid $kobo-gray-92;
  padding: 10px;
  margin: 20px 0px;
  clear: both;
}

.matrix-cols__options--row-head,
.matrix-cols__options--row {
  span {
    width: 44%;
    display: inline-block;
    margin: 5px;

    input {
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid $kobo-gray-92;
    }

    &.matrix-options__value {
      opacity: 0.75;
    }

    &.matrix-options__delete {
      width: 5%;
      text-align: right;
      margin-right: 0px;

      i {
        font-size: 24px;
        color: $kobo-red;
        cursor: pointer;
      }
    }
  }
}

.matrix-cols__options--row-foot {
  i {
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: $kobo-blue;
    }
  }
}

.matrix-items__item {
  .matrix-items__itemrow {
    display: flex;
    flex-wrap: nowrap;
  }

  .matrix-items__itemattr,
  .matrix-cols__col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
    border-top: 1px solid $kobo-gray-92;
    vertical-align: middle;
    position: relative;
  }

  .matrix-cols__col {
    border-right: 1px solid $kobo-gray-92;
    text-align: center;
  }

  .matrix-items__itemattr {
    border-right: 1px solid $kobo-gray-92;
    border-left: 1px solid $kobo-gray-92;
    position: relative;
    line-height: 28px;

    label {
      margin-left: 5px;
      width: calc(100% - 40px);
      display: inline-block;
    }

    i {
      font-size: 20px;
      opacity: 0.75;
      position: absolute;
      right: 4px;
      top: 6px;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: $kobo-blue;
      }
    }
  }

  &--new {
    border-top: 1px solid $kobo-gray-92;

    i {
      font-size: 20px;
      margin: 4px;
      opacity: 0.75;
      display: inline-block;
      cursor: pointer;
      color: $kobo-gray-40;

      &:hover {
        color: $kobo-blue;
      }
    }
  }

  .matrix-items__itemsettings {
    width: 100%;
    background: $kobo-gray-96;
    border: 1px solid $kobo-gray-92;
    border-bottom: none;
    padding: 15px;
    display: none;

    &.expanded {
      display: block;
    }
  }
}
