{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}


  <form method="post" action="{% url 'account_login' %}" class="registration registration--login">
    {#  KoboToolbox Logo #}
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>

    {# SSO Providers, Username, and Password #}
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}


    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {# Login Button #}
    <button
      type="submit"
      name="Login"
      class="kobo-button kobo-button--blue kobo-button--fullwidth"
    >
      {% trans "Login" %}
    </button>

    {# Create an account, Forgot Password? #}
    <div class="registration__create-or-forgot">
      {% if config.REGISTRATION_OPEN %}
        <a href="{{ signup_url }}" class="registration__create-account">
          {% trans "Create an account" %}
        </a>
      {% endif %}

      <a href="{% url 'account_reset_password' %}" class="registration__forgot-password">
        {% trans "Forgot password?" %}
      </a>
    </div>

    {# SSO section #}
    {# TODO: Use Django template logic instead of CSS/JS for this section #}
    {# TODO: If there is more than one provider, draw a button for each. #}
    <div class="registration__sso registration__sso--hidden">
      <hr></hr>
      <h2>{% trans "Log in using SSO" %}</h2>
      <p>
        {% trans "If you set up Single Sign On in your account settings, you will only be able to log in through this method." %}
        {# TODO: Link to documentation #}
        {# <a href="#">{% trans "Learn more" %}</a> #}
      </p>
      <a
        name="SSO Login"
        {# HACK: Uses a hardcoded URL at first #}
        href="/accounts/microsoft/login/?process=login"
        class="kobo-button kobo-button--sso-login kobo-button--fullwidth"
      >
          {% trans "SSO Login" %}
      </a>
    </div>

    <script>
      // {# TODO: Modify the Django templates instead of this. #}

      jQuery(function () {
        // {# Cosmetic: Remove colons from Username, Password #}
        document.querySelectorAll('label[for="id_login"],label[for="id_password"]'
          ).forEach((el)=>{ el.innerText = el.innerText.replaceAll(':', '')})

        // {# HACK: Setup SSO section with JS #}
        var providers = document.querySelectorAll('a.socialaccount_provider')
        if (providers.length > 0 ) {
          // {# HACK: Unhide the SSO section #}
          document.querySelector('.registration__sso').classList.remove('registration__sso--hidden')

          // {# HACK: Grab link from first provider and use it for SSO login  #}
          // {# TODO: Handle more than 1 provider by making multiple labeled buttons #}
          document.querySelector('a[name="SSO Login"]').href = providers[0].href
        }
      })
    </script>

  </form>
{% endblock %}
