{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>

    <p style="text-align:center;">
      {% trans "Password reset successfully" %}
    </p>
    <p style="text-align:center;">
      <a href="{% url 'account_login' %}">{% trans "Log in" %}</a>
    </p>
  </form>
{% endblock %}
