{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<form method="post" action="." class="registration registration--login">
  <div class="registration--logo">
    <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
    </a>
    <h1>{% trans "Password Reset" %}</h1>
  </div>
  {% csrf_token %}
  {{ form.as_p }}
  <button
    type="submit"
    name="Reset Password"
    class="kobo-button kobo-button--blue kobo-button--fullwidth"
  >
    {% trans "Reset Password" %}
  </button>

  <div style="clear:both"></div>
</form>
{% endblock %}
