{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<form method="post" action="." class="registration registration--login">
  <div class="registration--logo">
    <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
    </a>
  </div>
  <p style="text-align:center;padding-top:20px;">
    {% trans "Your request has been received. If the email address you entered corresponds to an account on this service, a message has been sent with password reset instructions. If you do not receive an email, your account might be registered under a different address, or you might have entered your address incorrectly." %}
  </p>
</form>
{% endblock %}
