{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account get_provider_appname socialaccount %}

{% block content %}
<form action="." method="post" class="registration registration--register">
  <div class="registration--logo">
    <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
    </a>
  </div>
  <div class="registration__first-half">
    <h1>{% trans "Create an account" %}</h1>
      {% csrf_token %}
      {% for field in form %}
        <div class="field {{ field.name }}">
          {% if field.name == 'password1' %}
            {% if custom_guidance_text %}
              <div class="field">{{ custom_guidance_text|safe }}</div>
            {% endif %}
          {% endif %}
          {{ field.label_tag }}
          {% if field.field.required %}
            <span class="required">*</span>
          {% endif %}

          {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
          {{ field.errors }}
        </div>

        {% if field.name == 'password1' %}
          <div class="field" id="registration-password-app"></div>
        {% endif %}
      {% endfor %}

      <script src="{% static 'js/organization_type_skiplogic.js' %}"></script>

      <button
        type="submit"
        name="Create Account"
        class="kobo-button kobo-button--blue kobo-button--fullwidth"
      >
        {% trans "Create Account" %}
      </button>

      <div class="registration__orlogin">
        {% trans "or" %} <a href="{{ login_url }}">{% trans "login" %}</a>
      </div>
  </div>

  <div class="registration__second-half">
      {# SSO section #}

      {% get_social_apps as social_apps %}
      {% if social_apps %}
      <div class="registration__sso registration__sso--signup">
        <h2>{% trans "Register using SSO" %}</h2>
        <p>
          {% trans "If you set up Single Sign On in your account settings, you will only be able to log in through this method." %}
          {# TODO: Link to documentation #}
          {# <a href="#">{% trans "Learn more" %}</a> #}
        </p>
        <div class="registration__sso-buttons">
          {# SSO Provider buttons #}
          <ul class="socialaccount_providers">
            {% for social_app in social_apps %}
              <li>
                <a title="{{ social_app.name }}"
                  class="socialaccount_provider {{ social_app.provider_id }} kobo-button kobo-button--sso kobo-button--fullwidth"
                  href="{% provider_login_url social_app.provider_id process='login' scope=scope auth_params=auth_params %}"
                  >{% trans "Register with SSO" %}</a>
                  {# "Register with {{social_app.name}}" when supporting social_apps|length>1 #}
              </li>
            {% endfor %}
          </ul>
          {# for stability with upstream #}
          {% include "socialaccount/snippets/login_extra.html" %}
        </div>
      </div>
      <script src="{% static 'js/sso_buttons.js' %}"></script>
      {% endif %}

      {% if welcome_message %} {{ welcome_message|safe }} {% else %}
      <p>KoboToolbox is an integrated set of tools for building forms and collecting interview responses. It is built for easy and reliable use in difficult field settings, such as humanitarian emergencies or
          post-conflict environments. <a href="http://www.kobotoolbox.org">Read more</a></p>
      {% endif %}
  </div>
  <div style="clear:both;"></div>
  {% include "../legal/registration_legal.html" with config=config %}
</form>
{% endblock %}
