{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<form action="." method="post" class="registration registration--complete">
  <div class="registration--logo">
    <a href="/">{% block logo %}{{ block.super }}{% endblock %}</a>
    <h1>{% trans "Confirm your email address" %}</h1>
  </div>
  <p class="registration__message registration__message--complete">
    {% trans "We have sent you a new activation link. Please check your inbox (and spam folder) and click the link to activate your account." %}
  </p>
  <p class="registration__message">
    {% trans "Didn’t receive the email?" %}
    <a href="https://www.kobotoolbox.org/contact/?reason=support&support=account_support">
      {% trans "Contact support" %}
    </a>
    {% trans "if you're having trouble accessing your account." %}
  </p>
</form>
{% endblock %}
