@import "scss/_colors";

.form-sidebar.form-sidebar--account {
  padding: 14px 20px 20px 0;

  .form-sidebar__label {
    padding: 0 0 0 18px !important;
    border-left: 3px solid transparent;
    margin-bottom: 18px;
  }

  .form-sidebar__label[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  .form-sidebar__label--selected {
    border-left: 3px solid $kobo-teal;
  }

  i.k-icon {
    margin: 0 6px 0 1px !important;
  }
}
