@use 'scss/mixins';
@use 'scss/_colors';
@use 'scss/sizes';

// TODO: Create a basic unified frame for account settings. These styles are identical to securityRoute.scss and are wrong.
// See: https://www.figma.com/file/dyA3ivXUxmSjjFruqmW4T4/Data-storage-and-billing-options?node-id=0%3A1
// There will be repeated styles in elements such as the header, title, and the containing div for the component.
// Every component except for `profile` should share this frame.

 @import "scss/_colors";
 
.plan {
  padding: 30px 40px;
  display: flex;
}

.data-row__data {
  display: flex;
}

.plan__description {
  flex: 1;
  padding-left: 14px;
}

.plan__data {
  flex: 1;
  padding-right: 14px;
}

.kobo-range {
  flex: 85;
}

.kobo-range__number {
  font-size: 14px !important;
}

.kobo-range__unit {
  font-size: 12px !important;
}

.kobo-dropdown {
  flex: 15;
  margin-left: 12px;
  top: 10px;
  font-size: 14px !important;
}

.submissions-title-wrapper {
  display: inline;
  margin-right: 12px;
  color: $kobo-gray-40;
  font-weight: 700;
}

.submissions-hint-wrapper {
  display: inline;
  color: $kobo-gray-24;
}

i.k-icon {
  position: relative;
  top: 3px;
}

// TODO: replace icon with proper one from mockups
i.k-icon-spinner {
  top: 2px;
  margin-right: 1px !important;
}

label.count {
  font-size: 12px !important;
}
