@use 'scss/mixins';
@use 'scss/_colors';
@use 'scss/sizes';

.security-section {
  padding: sizes.$x50;
  overflow-y: auto;
  height: 100%;
}

.security-row {
  .security-row__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: sizes.$x14;
    border-bottom: sizes.$x1 solid;
    border-color: colors.$kobo-gray-85;
  }

  .security-row__title {
    color: colors.$kobo-gray-40;
    font-weight: 600;
  }

  .security-row__buttons {
    margin: sizes.$x20 sizes.$x20 sizes.$x14 0;

    .toggle-switch__label {
      font-weight: 600;
      color: colors.$kobo-gray-40;
    }
  }
}

.mfa-options {
  .mfa-options__buttons {
    margin: sizes.$x14 0;
    padding: 0 sizes.$x14 0 sizes.$x28;
  }

  .mfa-options__row {
    @include mixins.centerRowFlex;

    margin: sizes.$x14 0;
    padding: 0 sizes.$x14 0 sizes.$x28;
    justify-content: space-between;
    background-color: colors.$kobo-gray-92;
  }

  .mfa-options__label {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: sizes.$x16;
  }
}
