name: CI of a PR

on: pull_request


jobs:
  changes:
    runs-on:     ubuntu-24.04
    permissions: { pull-requests: read }
    steps:
      - uses: actions/checkout@v6
      - id:   filter
        uses: dorny/paths-filter@v3
        name: Detect changed files
        with: { filters: .github/filters.yml }
    outputs:
      all:      ${{ steps.filter.outputs.all      }}
      darker:   ${{ steps.filter.outputs.darker   }}
      biome:    ${{ steps.filter.outputs.biome    }}
      openapi:  ${{ steps.filter.outputs.openapi  }}
      pytest:   ${{ steps.filter.outputs.pytest   }}
      npm-test: ${{ steps.filter.outputs.npm-test }}

  darker:
    needs: changes
    if: needs.changes.outputs.all == 'true' || needs.changes.outputs.darker == 'true'
    uses: ./.github/workflows/darker.yml

  biome:
    needs: changes
    if: needs.changes.outputs.all == 'true' || needs.changes.outputs.biome == 'true'
    uses: ./.github/workflows/biome.yml

  openapi:
    needs: changes
    if: needs.changes.outputs.all == 'true' || needs.changes.outputs.openapi == 'true'
    uses: ./.github/workflows/openapi.yml

  pytest:
    needs: changes
    if: needs.changes.outputs.all == 'true' || needs.changes.outputs.pytest == 'true'
    uses: ./.github/workflows/pytest.yml

  npm-test:
    needs: changes
    if: needs.changes.outputs.all == 'true' || needs.changes.outputs.npm-test == 'true'
    uses: ./.github/workflows/npm-test.yml
