name: 'CD: tag'


# Note: tag is in the "$GITHUB_REF" variable.
on:
  push:
    tags:
      - 2.0**

jobs:


  version:
    secrets: inherit
    uses: './.github/workflows/find-releases.yml'


  verify:
    runs-on: ubuntu-24.04
    needs:
      - version
    env:
      current_patch: ${{ needs.version.outputs.current_patch }}
      next_major: ${{ needs.version.outputs.next_major }}
    steps:
    - uses: actions/checkout@v5
    - name: Verify whether version tag is either next major or next patch
      run: |
        if [[ $current_patch == "$GITHUB_REF" ]]; then
          exit 0
        fi

        if [[ $next_major == "$GITHUB_REF" ]]; then
          exit 0
        fi

        echo "GITHUB_REF: $GITHUB_REF"
        echo "current_patch: $current_patch"
        echo "next_major: $next_major"
        echo "ERROR: Tag is neither next patch nor major bump."


  deploy-to-master:
    runs-on: ubuntu-24.04
    needs:
      - version
      - verify
    steps:
    - uses: actions/checkout@v5

    - name: deploy to master
      run: |
        echo 'TODO, for now deploy manually on kf.master.kbtdev'
        ## see https://github.com/kobotoolbox/kobo-deployments
        ## see https://chat.kobotoolbox.org/#narrow/stream/4-Kobo-Dev/topic/2.2E024.2E33.20Release/near/472818
        ## Note: script does two things - deploys and updates docker-compose - see if can seperate that for easier reruns
        ## Note: this server has lots of data, run migrations or smtg with a 1 minute timeout to flag if some migrations run too long
        # pipenv shell
        # fab update_kpi:$VERSION
        # fab dev_deploy:master,kpi,$GITHUB_REF


  bump-kobo-docker:
    runs-on: ubuntu-24.04
    needs:
      - deploy-to-master
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/checkout-with-github-app-token
      with:
        app-id: ${{ secrets.KOBO_BOT_APP_ID }}
        private-key: ${{ secrets.KOBO_BOT_PRIVATE_KEY }}
        repository: 'https://github.com/kobotoolbox/kobo-docker'

    - name: Upgrade kobo-docker
      run: |
        sed -iE "s/image: kobotoolbox\/kpi:.*/image: kobotoolbox\/kpi:$GITHUB_REF/" docker-compose.frontend.yml
        git add -f docker-compose.frontend.yml
        git commit -m "chore(deps): upgrade KPI to $GITHUB_REF"
        git tag "$GITHUB_REF"
        git push --tags


  bump-kobo-install:
    runs-on: ubuntu-24.04
    needs:
      - deploy-to-master
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/checkout-with-github-app-token
      with:
        app-id: ${{ secrets.KOBO_BOT_APP_ID }}
        private-key: ${{ secrets.KOBO_BOT_PRIVATE_KEY }}
        repository: 'https://github.com/kobotoolbox/kobo-install'

    - name: Upgrade kobo-install
      run: |
        sed -iE "s/KOBO_DOCKER_BRANCH = .*/KOBO_DOCKER_BRANCH = '$GITHUB_REF'/" helpers/config.py
        git add -f helpers/config.py
        git commit -m "chore(deps): upgrade kobo-docker to $GITHUB_REF"
        git tag "$GITHUB_REF"
        git push --tags


  notify:
    needs:
      - version
      - verify
      - bump-kobo-docker
      - bump-kobo-install
    uses: './.github/workflows/zulip.yml'
    secrets: inherit
    with:
      topic: "${{ needs.version.outputs.current_minor }} release"
      content: |
        :label: Release branch tagged and passes CI. Please deploy to master, bump and tag kobo-docker and kobo-install, and deploy to production. (TODO: automate)


  on-failure:
    needs:
      - version
      - verify
      - bump-kobo-docker
      - bump-kobo-install
    if: ${{ !cancelled() && failure() }}
    secrets: inherit
    uses: './.github/workflows/zulip.yml'
    with:
      topic: "${{ needs.version.outputs.current_minor }} release"
      content: ":warning: [run #${{github.run_number}}](${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}) release candidate tagging failed."
