name: 'CD: branch'


on:
  workflow_dispatch:
  schedule:
    # It's good to deploy early in week:
    # - In the best case, will QA, tag and deploy on the same Tuesday or Wednesday.
    # - In an ok case, will QA, tag and deploy on the next Monday-Wednesday.
    # - In the worst case, the last chance is to deploy on after-next Monday.
    - cron: '17 5 * * 2'


jobs:


  current-branch:
    runs-on: ubuntu-24.04
    outputs:
      current_branch: ${{ steps.branch.outputs.current_branch }}
    steps:
    - name: determine current release branch name
      id: branch
      run: |
        set -xe
        NEW_VERSION="2.$(date +"%Y" | tail -c4).$(date +"%V")"
        NEW_BRANCH="release/$NEW_VERSION"
        echo "current_branch=${NEW_BRANCH}" >> $GITHUB_OUTPUT


  version:
    needs:
      - current-branch
    secrets: inherit
    uses: './.github/workflows/find-releases.yml'
    with:
      current_branch: ${{ needs.current-branch.outputs.current_branch }}


  create-current-branch:
    needs:
      - version
    if: ${{ needs.version.outputs.prev_released == 'true' }}
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/checkout-with-github-app-token
      with:
        app-id: ${{ secrets.KOBO_BOT_APP_ID }}
        private-key: ${{ secrets.KOBO_BOT_PRIVATE_KEY }}
    - name: create next RC branch
      id: branch
      env:
        NEW_BRANCH: ${{ steps.version.outputs.current_branch }}
      run: |
        set -xe
        git checkout -b $NEW_BRANCH
        git push origin $NEW_BRANCH


  changelog:
    needs:
      - version
      - create-current-branch
    runs-on: ubuntu-24.04
    steps:
    - name: create Linear ticket to track a draft of changelog
      run: |
        echo 'TODO, for now do it manually'


  notify-current:
    needs:
      - version
      - changelog
    uses: './.github/workflows/zulip.yml'
    secrets: inherit
    with:
      topic: "${{ needs.version.outputs.current_minor }} release"
      content: |
        :seedling: `${{ needs.version.outputs.current_branch }}` branch created! Checklist:
        - @*QA* & @*product*: the release window is as long as it takes to tag the release version. If you want to "scrap" this release then ask devs to manually delete the branch.
        - @_**Kalvis Kalniņš**: check Linear cycles whether now-past cycle `v${{ needs.version.outputs.current_minor }}` closed today and the upcoming cycle has started.
        - @*devs*: if you merge a PR or cherry-pick a commit into `${{ needs.version.outputs.current_branch }}` branch, then please manually set issue's cycle to the `v${{ needs.version.outputs.current_minor }}` cycle (Linear automatically sets for next one).


  notify-prev:
    needs:
      - version
    uses: './.github/workflows/zulip.yml'
    secrets: inherit
    with:
      topic: "${{ needs.version.outputs.prev_minor }} release"
      content: |
        ${{ needs.version.outputs.prev_released == 'false'
          && format(':repeat: current release is not tagged yet, therefore lets skip the next release "{0}"', needs.version.outputs.current_minor)
          || format(':race: current release is tagged, therefore lets move on to a new release branch for the next release "{0}"', needs.version.outputs.current_minor)
        }}


  on-failure:
    needs:
      - current-branch
      - version
      - create-current-branch
      - changelog
      - notify-prev
      - notify-current
    if: ${{ failure() }}
    uses: './.github/workflows/zulip.yml'
    secrets: inherit
    with:
      topic: "${{ needs.version.outputs.current_minor }} release"
      content: ":warning: [run #${{github.run_number}}](${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}) something went wrong."
