@use "scss/mixins";
@use 'scss/colors';
@use "scss/libs/_mdl";
@use "scss/_variables";

// nested selector needed for specificity
.kobo-dropdown[data-name='columns-hide-dropdown']  {
  @include mixins.centerRowFlex;
  margin-right: 20px;

  .kobo-dropdown__menu {
    color: colors.$kobo-gray-700;
    background-color: colors.$kobo-white;
    @include mdl.box-shadow;
    padding: 9px 0;
    text-align: initial;
    line-height: 20px;
    min-width: 150px;
  }
}

.columns-hide-form {
  padding: 6px 15px;
  width: 360px;

  .columns-hide-form__message {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: colors.$kobo-gray-700;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .columns-hide-form__list {
    max-height: 200px;
    margin: 10px 0;
    overflow-y: auto;
    padding: 0;

    .columns-hide-form__list-item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  .columns-hide-form__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > *:not(:first-child) {
      margin-left: 10px;
    }
  }
}
