@use 'scss/mixins';

.repeatGroupCell {
  @include mixins.textEllipsis;

  width: 100%;
  height: 100%;
  align-content: center;

  > * {
    display: inline;
  }
}

@media print {
  .repeatGroupCell {
    // Avoid trimming data from cells
    @include mixins.undoTextEllipsis;
  }
}
