@use '~kobo-common/src/styles/colors';
@use "scss/libs/_mdl";
@use "scss/mixins";
@use "scss/sizes";

$submission-data-table-space: sizes.$x12;

.submission-data-table {
  text-align: initial;

  .checkbox + .submission-data-table__row {
    margin-top: $submission-data-table-space;
  }
}

.submission-data-table__row {
  background-color: colors.$kobo-gray-96;

  &.submission-data-table__row--type-group_root + &.submission-data-table__row--metadata {
    border-top: sizes.$x3 solid colors.$kobo-gray-92;
  }

  &.submission-data-table__row--response,
  &.submission-data-table__row--group,
  &.submission-data-table__row--group-label {
    border-bottom: sizes.$x1 solid colors.$kobo-gray-92;
  }

  &.submission-data-table__row--response,
  &.submission-data-table__row--group {
    border-left: sizes.$x1 solid colors.$kobo-gray-92;
    border-right: sizes.$x1 solid colors.$kobo-gray-92;
  }

  &.submission-data-table__row--columns {
    @include mixins.centerRowFlex;
  }

  &.submission-data-table__row--column-names {
    font-weight: bold;
    background-color: colors.$kobo-gray-40;
    color: colors.$kobo-white;
  }

  &.submission-data-table__row--group-label {
    padding: $submission-data-table-space 0;
  }

  &.submission-data-table__row--group {
    padding: 0 $submission-data-table-space $submission-data-table-space;
  }

  &.submission-data-table__row--type-group_root {
    padding: 0;
    border: none;
  }

  &.submission-data-table__row--type-select_multiple .submission-data-table__column--data {
    ul {
      list-style: disc;
      padding-left: 1.25em;
    }
  }

  &.submission-data-table__row--response,
  &.submission-data-table__row--point {
    background-color: colors.$kobo-white;
  }

  &.submission-data-table__row--point {
    & + & {
      border-top: sizes.$x1 dotted colors.$kobo-gray-92;
    }

    &:first-child .submission-data-table__column {
      padding-top: 0;
    }

    &:last-child .submission-data-table__column {
      padding-bottom: 0;
    }

    .submission-data-table__column:first-child {
      padding-left: 0;
    }

    .submission-data-table__column:last-child {
      padding-right: 0;
    }
  }
}

.submission-data-table__column {
  padding: $submission-data-table-space;

  &.submission-data-table__column--type {
    width: 15%;

    .k-icon {
      font-size: sizes.$x20;
      display: block;
    }
  }

  &.submission-data-table__column--label {
    width: 35%;
  }
}

.submission-data-table__row--response .submission-data-table__column.submission-data-table__column--data {
  @include mixins.centerRowFlex;

  flex: 1;

  .audio-player:first-child {
    padding-right: sizes.$x30;
  }

  > *:first-child {
    flex: 1;
  }

  > *:not(:last-child) {
    margin-right: sizes.$x20;
  }
}

.submission-data-table__xml-name {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
  line-height: 1;
  color: colors.$kobo-gray-40;
  font-family: mdl.$font_mono;
}

.submission-data-table__value {
  color: colors.$kobo-gray-24;
  display: inline-block;
  font-family: mdl.$font_mono;
}
