@use 'scss/colors';
@use "scss/libs/_mdl";
@use "scss/mixins";

$submission-data-table-space: 12px;

.submission-data-table {
  text-align: initial;

  .checkbox + .submission-data-table__row {
    margin-top: $submission-data-table-space;
  }
}

.submission-data-table__row {
  background-color: colors.$kobo-gray-200;

  &.submission-data-table__row--type-group_root + &.submission-data-table__row--metadata {
    border-top: 3px solid colors.$kobo-gray-300;
  }

  &.submission-data-table__row--response,
  &.submission-data-table__row--group,
  &.submission-data-table__row--group-label {
    border-bottom: 1px solid colors.$kobo-gray-300;
  }

  &.submission-data-table__row--response,
  &.submission-data-table__row--group {
    border-left: 1px solid colors.$kobo-gray-300;
    border-right: 1px solid colors.$kobo-gray-300;
  }

  &.submission-data-table__row--columns {
    @include mixins.centerRowFlex;
  }

  &.submission-data-table__row--column-names {
    font-weight: bold;
    background-color: colors.$kobo-gray-700;
    color: colors.$kobo-white;
  }

  &.submission-data-table__row--group-label {
    padding: $submission-data-table-space 0;
  }

  &.submission-data-table__row--group {
    padding: 0 $submission-data-table-space $submission-data-table-space;
  }

  &.submission-data-table__row--type-group_root {
    padding: 0;
    border: none;
  }

  &.submission-data-table__row--type-select_multiple .submission-data-table__column--data {
    ul {
      list-style: disc;
      padding-left: 1.25em;
    }
  }

  &.submission-data-table__row--response {
    background-color: colors.$kobo-white;
  }
}

.submission-data-table__column {
  padding: $submission-data-table-space;

  &.submission-data-table__column--type {
    width: 15%;

    .k-icon {
      font-size: 20px;
      display: block;
    }
  }

  &.submission-data-table__column--label {
    width: 35%;
  }
}

.submission-data-table__row--response .submission-data-table__column.submission-data-table__column--data {
  @include mixins.centerRowFlex;
  gap: 10px;
  flex: 1;

  .audio-player:first-child {
    margin-right: 30px;
    flex: 1;
  }

  video {
    max-width: 100%;
    object-fit: contain;
  }
}

.submission-data-table__column.submission-data-table__column--data.submission-data-table__column--type-audio,
.submission-data-table__column.submission-data-table__column--data.submission-data-table__column--type-image,
.submission-data-table__column.submission-data-table__column--data.submission-data-table__column--type-video {
  justify-content: flex-end;

  img {
    // We don't want the image to take too much space, as it's making the UI
    // harder to follow. There are other ways to see full image, and
    // `SubmissionDataTable` is more about the full picture.
    max-height: 250px;
  }
}

.submission-data-table__xml-name {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
  line-height: 1;
  color: colors.$kobo-gray-700;
  font-family: mdl.$font_mono;
}

.submission-data-table__value {
  color: colors.$kobo-gray-800;
  display: inline-block;
  font-style: italic;
}
