@use "scss/mixins";
@use "scss/sizes";
@use '~kobo-common/src/styles/colors';
@use "scss/libs/_mdl";

// nested selector needed for specificity
.kobo-dropdown[data-name='table-column-sort']  {
  @include mixins.centerRowFlex;
  display: block;
  width: 100%;

  .kobo-dropdown__menu {
    color: colors.$kobo-white;
    background-color: colors.$kobo-gray-40;
    @include mdl.box-shadow;
    padding: sizes.$x8 0;
    text-align: left;
    line-height: sizes.$x20;
    min-width: sizes.$x150;

    .sort-dropdown-menu-button:hover {
      background-color: colors.$kobo-gray-24;
    }
  }

  .kobo-dropdown__trigger {
    display: block;
    width: 100%;
    padding: 0;

    &:hover,
    &:hover .k-icon {
      color: colors.$kobo-blue !important;
    }
  }

  &.kobo-dropdown--menu-visible .table-column-sort-dropdown-trigger .k-icon.k-icon-caret-down {
    display: none;
  }

  &.kobo-dropdown--menu-hidden .table-column-sort-dropdown-trigger .k-icon.k-icon-caret-up {
    display: none;
  }

  .table-column-sort-dropdown-trigger {
    @include mixins.centerRowFlex;
    align-items: flex-start;
    text-align: left;
    line-height: sizes.$x20;

    .column-header-title {
      flex: 1;

      &:not(:last-child) {
        margin-right: sizes.$x5;
      }

      &:not(:first-child) {
        margin-left: sizes.$x5;
      }
    }

    .k-icon.k-icon-sort-up,
    .k-icon.k-icon-sort-down {
      color: colors.$kobo-teal;
    }
  }

  .kobo-dropdown__menu {
    .sort-dropdown-menu-button {
      .table-column-sort-dropdown-clear {
        color: colors.$kobo-white !important;
        float: right;

        &.k-icon {
          font-size: sizes.$x18;
        }
      }

      &.sort-dropdown-menu-button--active {
        color: colors.$kobo-teal;
        background-color: colors.$kobo-gray-24; // Assuming we are using `dark` option
      }
    }
  }
}

.sort-dropdown-menu-button {
  @include mixins.buttonReset;

  display: block;
  width: 100%;
  padding: sizes.$x5 sizes.$x10;
  text-align: left;
  font-size: sizes.$x12;
  line-height: inherit;

  .k-icon {
    color: inherit;
    font-size: sizes.$x20;
    vertical-align: top;

    &:first-child:not(:only-child) {
      margin-right: sizes.$x5;
    }

    &:last-child:not(:only-child) {
      margin-left: sizes.$x5;
    }
  }
}
