@use "scss/mixins";
@use 'scss/colors';
@use "scss/libs/_mdl";

// nested selector needed for specificity
.kobo-dropdown[data-name='table-column-sort']  {
  @include mixins.centerRowFlex;
  display: block;
  width: 100%;

  .kobo-dropdown__menu {
    color: colors.$kobo-white;
    background-color: colors.$kobo-gray-700;
    @include mdl.box-shadow;
    padding: 8px 0;
    text-align: initial;
    line-height: 20px;
    min-width: 150px;

    .sort-dropdown-menu-button:hover {
      background-color: colors.$kobo-gray-800;
    }
  }

  .kobo-dropdown__trigger {
    display: block;
    width: 100%;
    padding: 0;

    &:hover,
    &:hover .k-icon {
      color: colors.$kobo-blue !important;
    }
  }

  &.kobo-dropdown--menu-visible .table-column-sort-dropdown-trigger .k-icon.k-icon-caret-down {
    display: none;
  }

  &.kobo-dropdown--menu-hidden .table-column-sort-dropdown-trigger .k-icon.k-icon-caret-up {
    display: none;
  }

  .table-column-sort-dropdown-trigger {
    @include mixins.centerRowFlex;
    align-items: flex-start;
    // We need to override the default "center" from react-table, but it also
    // needs to work with `dir="auto"`
    text-align: initial;
    line-height: 20px;
    gap: 5px;

    .column-header-title {
      flex: 1;
    }

    .k-icon.k-icon-sort-ascending,
    .k-icon.k-icon-sort-descending {
      color: colors.$kobo-teal;
    }
  }

  .kobo-dropdown__menu {
    .sort-dropdown-menu-button {
      .table-column-sort-dropdown-clear {
        color: colors.$kobo-white !important;
        float: right;

        &.k-icon {
          font-size: 18px;
        }
      }

      &.sort-dropdown-menu-button--active {
        color: colors.$kobo-teal;
        background-color: colors.$kobo-gray-800; // Assuming we are using `dark` option
      }
    }
  }
}

.sort-dropdown-menu-button {
  @include mixins.buttonReset;

  display: block;
  width: 100%;
  padding: 5px 10px;
  text-align: initial;
  font-size: 12px;
  line-height: inherit;

  .k-icon {
    color: inherit;
    font-size: 20px;
    vertical-align: top;

    &:first-child:not(:only-child) {
      margin-right: 5px;
    }

    &:last-child:not(:only-child) {
      margin-left: 5px;
    }
  }
}
