@import "scss/_colors";

.tableColumn-modal {
  .form-view__cell--label {
    padding-bottom: 10px;
  }

  .form-modal__item {
    margin-bottom: 20px;

    &--advanced-table-options {
      border: 1px solid $kobo-gray-92;
      padding: 20px;
      background: $kobo-gray-96;

      .form-view__cell--note {
        padding-bottom: 20px;
      }

      .form-modal__item:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .form-modal__item--translation-radios {
    .radio__row--title {
      font-size: inherit;
      color: inherit;
      font-weight: 500;
    }
  }

  ul {
    max-height: 160px;
    overflow: auto;
    border: 1px solid $kobo-gray-92;
    padding: 10px;
    background: $kobo-white;

    li {
      margin-bottom: 5px;
      max-width: 100%;
    }
  }
}
