@use 'scss/mixins';

.cell {
  @include mixins.centerRowFlex;
  height: 100%; // To make it nicely aligned in the Data Table
}

.textContent {
  @include mixins.textEllipsis;

  flex: 1;
}

.modalContent {
  white-space: preserve;
}

.modalOpener {
  float: right;
}

.modalHeaderText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  line-height: 20px;
  max-width: 100%;
  flex: 1;
}
