@import "scss/_colors";

// A custom react-select for validation status
.kobo-select.kobo-select--validation {
  .kobo-select__menu {
    left: -10px;
    width: calc(100% + 20px);
  }

  .kobo-select__menu-list {
    text-align: left;
    line-height: 20px;

    // override padding for first and last item so it looks like the menu has
    // more space to breathe
    > *:first-child {
      margin-top: 10px;
    }

    > *:last-child {
      margin-bottom: 10px;
    }
  }

  .kobo-select__control {
    padding: 0;
    color: $kobo-gray-40;
    background: transparent;
    height: 28px;
    min-height: 28px;
    cursor: pointer;

    .kobo-select__value-container {
      padding: 0;

      .kobo-select__option-badge {
        font-weight: 400;
      }
    }
  }

  // used together with kobo-select__option-badge
  .kobo-select__option-wrapper {
    padding: 4px 10px;
    position: relative;

    &:hover {
      background-color: $kobo-gray-96;
    }
  }

  .kobo-select__indicator {
    margin-left: 5px;
  }

  .kobo-select__indicator,
  .kobo-select__option-badge .kobo-select__option {
    padding: 0;

    // used to make the clickable area take the whole space
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
    }
  }

  &.kobo-select--for-nonwhite-background {
    .kobo-select__control {
      background: $kobo-white;
      border-radius: 3px;
      padding-right: 5px;

      .kobo-select__option-badge {
        background: $kobo-white !important;
      }
    }

  }

  // custom option badge, mostly for validation status select
  .kobo-select__option-badge {
    font-weight: 500;
    line-height: 1;
    font-size: 12px;
    height: 24px;
    padding: 4px 8px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // This dummy input is used by react-select to close menu onBlur event and
    // other. But it causes the caret indicator to be weirdly positioned when
    // ellipsis overflow kicks in
    & + [class*="dummyInput-DummyInput"] {
      position: absolute;
    }

    // reset the styles of single value
    .kobo-select__single-value {
      display: inline;
      position: static;
      margin: 0;
      color: inherit;
      overflow: visible;
      text-overflow: initial;
      white-space: initial;
      transform: none;
      top: auto;
    }

    .kobo-select__option.kobo-select__option--is-focused,
    .kobo-select__option.kobo-select__option--is-selected {
      background-color: transparent;
      color: inherit;
      font-weight: inherit;
    }

    // when selected add colored border for those options
    &.kobo-select__option-badge--validation_status_not_approved,
    &.kobo-select__option-badge--validation_status_approved,
    &.kobo-select__option-badge--validation_status_on_hold {
      &.kobo-select__option-badge--selected {
        border-color: currentColor;
      }
    }

    &.kobo-select__option-badge--validation_status_not_approved {
      color: $kobo-red-pale-dark;
      background-color: $kobo-red-pale;
    }

    &.kobo-select__option-badge--validation_status_approved {
      color: $kobo-teal-pale-dark;
      background-color: $kobo-teal-pale;
    }

    &.kobo-select__option-badge--validation_status_on_hold {
      color: $kobo-orange-pale-dark;
      background-color: $kobo-orange-pale;
    }
  }
}
